<div class="box1 fright">	
		<h3>Guide:</h3>
		<div class="box1-foot pbottom15">
		<p>This is no longer a compulsory appointment. If you do not wish to add a secretary you can click 'Continue'.</p>
		</div>
</div>