
{* DISABLE LEFT COLUMN *}
<div id="leftCol">
    <div class="urbangreymenu">       
        <h3 class="headerbar">Affiliate Program</h3>
        <ul class="treeview">
            <li><a href="{$this->router->link("AffiliateLoggedControler::DASHBOARD_PAGE")}">DashBoard</a></li>
            <!--<li><a href="{$this->router->link("AffiliateLoggedControler::WHITE_LABEL_PAGE")}">White Label</a>
                {if $this->node->getId() == 978 || 
                    $this->node->getId() == 1002 ||
                    $this->node->getId() == 1000}
                <ul class="treeview2">
                    <li><a href="{$this->router->link("1002")}">White Label FAQs</a></li>
                    <li><a href="{$this->router->link("AffiliateLoggedControler::MY_MARKUP")}">My Mark Up</a></li> 
                </ul>
               {/if}
            </li>-->
            <li><a href="{$this->router->link("AffiliateLoggedControler::SOLE_V_LTD_PAGE")}">Sole v Limited</a></li>
            <li><a href="{$this->router->link("AffiliateLoggedControler::AFFILIATE_LINKS_PAGE")}">Affiliate Links</a></li>
            <li><a href="{$this->router->link("AffiliateLoggedControler::CUSTOMIZE_PAGE")}">Customise</a></li>
            <li><a href="{$this->router->link("AffiliateLoggedControler::MY_DETAILS_PAGE")}">My Details</a></li>
            <li><a href="{$this->router->link("AffiliateLoggedControler::MY_REPORTS")}">My Reports</a>
                {if $this->node->getId() == 986 || 
                    $this->node->getId() == 998 ||
                    $this->node->getId() == 999 ||
                    $this->node->getId() == 1006 ||
                    $this->node->getId() == 1393}
                <ul class="treeview2">
                    <li><a href="{$this->router->link("AffiliateLoggedControler::ORDERS_PAGE")}">Orders</a></li>
                    <li><a href="{$this->router->link("AffiliateLoggedControler::CUSTOMERS_PAGE")}">Customers</a></li>
                    <li><a href="{$this->router->link("AffiliateLoggedControler::ANALYTICS_PAGE")}">Affiliate Links Report</a></li>
                    <li><a href="{$this->router->link("AffiliateLoggedControler::SOLE_V_LTD_REPORT_PAGE")}">Sole v Ltd Report</a></li>
                </ul>
               {/if}
            </li>	
        </ul>
    </div>
</div>
