{include file="@header.tpl"}
<div class="padding20">
    {if $visibleTitle}
        <h1 class="mbottom30">{$title}</h1>
    {/if}

    {$bankSelector nofilter}
</div>

{include file="@footer.tpl"}
