    </div>
</div>

{ui name="footer_bt" data=$footer}
{ui name="global_footer_bt" data=$gbrandlinks}

{if isset($isProduction) && $isProduction == 1}
    {literal}
        <!--Start Google Plus-->
        <script type="text/javascript">
            (function() {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>
    {/literal}
{/if}
    </body>
</html>

