{include file="@header.tpl"}



<div id="maincontent2">
{if $visibleTitle}
    <h1>{$title}</h1>
    {/if}
<div style="text-align: right; margin-bottom: 5px;"><a href="/">Back to Homepage</a></div>
{if isset($company)}
<div style="width: 300px; height: 250px; float: right;">
    <script type="text/javascript"><!--
    google_ad_client = "pub-2839288179919014";
    /* CMS Reports */
    google_ad_slot = "9769946549";
    google_ad_width = 300;
    google_ad_height = 250;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
{/if}
{*
<div class="rssfeed">
<h2>Latest News</h2>
{foreach from=$rssfeed item=rss}
<a href="{$rss.link}"><h4 style="font-size:12px">{$rss.title}</h4></a>
<p>{$rss.description}</p><br />
{/foreach} 
</div>
*}
{if isset($company)}

<br /><br />
<table cellspacing="10">
<tbody>
<tr><td>Company Name:</td><td><b>{$company.CompanyName}</b></td></tr>
<tr><td>Company Number:</td><td>{$company.CompanyNumber}</td></tr>
<tr><td>Company Address:</td><td>{if !empty($address.AddressLine.0)}{$address.AddressLine.0}{/if}<br />{if !empty($address.AddressLine.1)}{$address.AddressLine.1}{/if}<br />{if !empty($address.AddressLine.2)}{$address.AddressLine.2}{/if}<br />{if !empty($address.AddressLine.3)}{$address.AddressLine.3}{/if}</td></tr>
<tr><td>Company Type:</td><td>{$company.CompanyCategory}</td></tr>
<tr><td>Company Status:</td><td>{$company.CompanyStatus}</td></tr>
<tr><td>Company Industry:</td><td>{$industry.SicText}</td></tr>
</tbody>
</table>

<br /><br />
<h1 style="font-size:12px">{$company.CompanyName}</h1>
<p>To view the most up to date company information on {$company.CompanyName} or obtain a company credit check, Companies House document, company search, annual report, company accounts, company profile or company director report on {$company.CompanyName}, please click on the 'Buy Now' button below:</p>
<br /><a class="btn_forward2" href="{$buyNowLink}">Buy Now</a>
<br />
{*<a href="{$controler->link(122)}?company_name={$company.CompanyName}&submit=Search&company_type=0&submited_search_company=1"><img src="{$imgsRoot}main/searchbyurl2.gif" /></a>*}
<br /><br />
	{if isset($files)}
	
	<p><b>Companies House documents and credit reports <br />Examples only - available instantly online for all UK companies<br /></b></p>
	<br />
	<table width="100%">	
	<tbody>
	{foreach from=$files item=f}	
	<tr><td style="border-bottom:1px dotted #cccccc;">{$f.DocumentDesc}</td><td style="border-bottom:1px dotted #cccccc;">{$f.DocumentDate}</td><td style="border-bottom:1px dotted #cccccc;">{$f.FormType}</td></tr>
	{/foreach}
	</tbody>
	</table>
	{/if}

<br />
<a class="btn_back2 mtop fleft clear" href="javascript:history.go(-1)">Back</a>
<br /><br /><br /><br />
{/if}


{if isset($list)}
<br /><br />
	<table width="100%">	
	<tbody>
	{foreach from=$list item=f}	
	<tr><td style="border-bottom:1px dotted #cccccc;"><a href="{$this->router->link(587)}{$f.urlName}">{$f.CompanyName}</a></td><td style="border-bottom:1px dotted #cccccc;">{$f.CompanyNumber}</td><td style="border-bottom:1px dotted #cccccc;">{$f.DataSet}</td></tr>
	{/foreach}
	</tbody>
	</table>
	<br />
			<table width="100%">
			<col width="33%"/>
			<col width="34%"/>
			<col width="33%"/>
		<tbody>		
		<tr>
			<td>{if !isset($flag)}<a class="btn_back2 mtop fleft clear" href="{$this->router->link(583)}{$letter}{$previousLink}">Previous</a>{/if}</td>
			<td>&nbsp;</td>
			<td><a class="btn_forward2" href="{$this->router->link(583)}{$letter}{$nextLink}">Next</a></td>
		</tr>
		</tbody>
		</table>
	
{/if}
<br />
<table class="htmltable" style="width:780px; font-size: 10px;">
{foreach from=$alphabetLinks item=al}
<tr>
	{foreach from=$al item=linksAl}
		<td style="padding-right:1px;"><a href="{$this->router->link(583)}{$linksAl}">{$linksAl}</a></td>
	{/foreach}
</tr>
{/foreach}
</table>
<br /><br />
</div>
{include file="@footer.tpl"}
