{include file="@header.tpl"}
<script>
(function() {
var cx = '004293338795185150162:j-metbixcs0';
var gcse = document.createElement('script');
gcse.type = 'text/javascript';
gcse.async = true;
gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(gcse, s); })();
</script>
<gcse:search></gcse:search>
{include file="@footer.tpl"}