<link rel="stylesheet" type="text/css" href="{$urlCss}newhome2014.css"/>
<link rel="stylesheet" type="text/css" href="{$urlCss}megamenu.css"/>
{if isset($header)}
    <div id="header2014">
    <div id="headwrap">
        <span><a id="msglogo" href="/"></a></span>
                <span id="facebook">
                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMadeSimpleGroup&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21"
                            scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;"
                            allowTransparency="true"></iframe>
                </span>
                <span id="googleplus">
                    <div class="g-plusone" data-size="medium" data-href="/"></div>
                </span>

        <div id="contact">
            <span class="number">0207 608 5500</span>
            <span class="open">Monday - Friday 9am - 5.30pm</span>
        </div>
        
        <div class="form-left-top">
            <form action="/search/" id="cse-search-box" name="cse-search-box">
                <input type="text" name="q" placeholder="Site and product search..." size="15"> <input type="submit"
                                                                                                       name="sa"
                                                                                                       value="Search"
                                                                                                       style="height: 22px; width: 60px">
            </form>
        </div>
    </div>
</div>
    {include '@blocks/headerMenu.tpl'}
{/if}

{if isset($footer)}
    {include '@blocks/footerMenu.tpl'}
{/if}
