<div id="gfooter">
    <div class="holder">
        <div class="leftblock">
            <h1>Your business essentials</h1>
            <h2><a href="{{footer.cms}}" rel="nofollow" target="_blank">Company Formation</a></h2>
            <p>Prepare for your business adventure</p>
            <h2><a href="{{footer.vo}}" rel="nofollow" target="_blank">Virtual Office</a></h2>
            <p>Calls, packages, mail. Sorted.</p>
            <h2><a href="{{footer.csms}}" rel="nofollow" target="_blank">Company Search</a></h2>
            <p>Find what you need at the touch of a button</p>
            <h2><a href="{{footer.btms}}" rel="nofollow" target="_blank">Business Training</a></h2>
            <p>Fitter business for a digital world</p>
            <h2><a href="{{footer.wsms}}" rel="nofollow" target="_blank">Websites</a></h2>
            <p>Create a professional website the simple way</p>
        </div>
        <div class="centerblock">
            <h1>Group contact details</h1>
            <img class="msgiconft" src="{{UI_SERVER_URL}}/imgs/msg-icon.png" alt="MSG" height="40px" width="40px">
            <h2><a href="{{footer.msg}}" rel="nofollow" target="_blank">{{footer.msgname}}</a></h2>
            <p>www.madesimplegroup.com</p>
            <p><strong>Registered office:</strong><br />20-22 Wenlock Road<br />London<br />N1 7GU</p>
            <p><strong>Company number: </strong>{{footer.cnumber}}</p>
            <p><strong>VAT number: </strong>{{footer.vat}}</p>
        </div>
        <div class="rightblock">
            <p>Copyright &copy; MadeSimple&#8482; 2015</p>
        </div>
    </div>
    <!--<div class="gchat">
        <a href="#" onClick="Chat=window.open('{{footer.chat}}','Chat','toolbar=no,menubar=no,resizable=yes,width=450,height=550'); return false;"><i class="fa fa-comment"></i> Chat with us</a>
    </div>-->
</div>
