<div id="gheader" class="menu_container global full_width">
    <ul>
        <li class="holder">
            <a href="#"><i class="fa fa-caret-down"></i></a>
            <div class="menu_dropdown_block">
                <div class="holder">
                    <ul class="menu_submenu">
                        <li><a href="{{header.msg}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/msg-icon.png" alt="icon" width="35" height="35" /><span>MadeSimple Group</span></a></li>
                        <li><a href="{{header.cms}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/cms-icon.png" alt="icon" width="35" height="35" /><span>Company Formation</span></a></li>
                        <li><a href="{{header.vo}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/vo-icon.png" alt="icon" width="35" height="35" /><span>Virtual Office</span></a></li>
                        <li><a href="{{header.csms}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/csms-icon.png" alt="icon" width="35" height="35" /><span>Company Search</span></a></li>
                        <li><a href="{{header.btms}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/btms-icon.png" alt="icon" width="35" height="35" /><span>Business Training</span></a></li>
                        <li><a href="{{header.wsms}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/wsms-icon.png" alt="icon" width="35" height="35" /><span>Websites</span></a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="clear"></div>
