<div class="clear"></div>
<div id="cfooter">
    <div class="holder">
        <div>
            <h1>Main</h1>
            {{#footerMenu}}
            {{#mainMenu}}
            <p><a href="{{link}}">{{name}}</a></p>
            {{/mainMenu}}
            {{/footerMenu}}
        </div>
        <div>
            <h1>Info & Assistance</h1>
            {{#footerMenu}}
            {{#support}}
            <p><a href="{{link}}">{{name}}</a></p>
            {{/support}}
            {{/footerMenu}}
        </div>
        <div>
            <h1>Social</h1>
            <p><a href="{{socialTwitter}}"><i class="fa fa-twitter"></i>&nbsp;Twitter</a></p>
            <p><a href="{{socialFacebook}}"><i class="fa fa-facebook-square"></i>&nbsp;Facebook</a></p>
            <p><a href="{{socialGoogleplus}}"><i class="fa fa-google-plus"></i>&nbsp;Google+</a></p>
            {{#socialYoutube}}
            <p><a href="{{socialYoutube}}"><i class="fa fa-youtube-play"></i>&nbsp;YouTube</a></p>
            {{/socialYoutube}}
        </div>
        <div class="contactdts">
            <h1>Call us <span class="phbig">{{sitePhone}}</span></h1>
            <p class="lgrey">Outside UK +{{sitePhoneOutUK}}</p>
            <p style="text-align:right;">Monday - Thursday 9am - 5.30pm<br />Friday 9am - 4.30pm
            </p> 
        </div>
        <div class="feefo right">
            {{#feefo}}
            <a href="{{link}}" onclick="window.open(this.href, 'Feefo', 'width=1000,height=600,scrollbars,resizable');
                    return false;">
                <img alt="Feefo logo" border="0" src="{{source}}" title="See what our customers say about us">
            </a>
            {{/feefo}}
        </div>
        <div class="paymentcards right"></div>
    </div>
</div>
