<div id="megamenu" class="menu_container green_glass full_width">
    <div class="mobile_collapser">
        <label for="hidden_menu_collapser">
            <span class="mobile_menu_icon"></span> Menu
        </label>
    </div>
    <input id="hidden_menu_collapser" type="checkbox">

    <ul>
        {{#megaMenuItems}}
        <li>
            <a href="{{link}}">{{name}}<i class="fa fa-caret-up"></i></a>
            {{#hasChilds}}
            <div class="menu_dropdown_block{{#columnCount}} column-{{columnCount}}{{/columnCount}}">
                <div class="holder">
                    {{#childs}}
                    <div class="column">
                        {{#childs}}
                        <div class="content">
                            {{#name}}<h2>{{.}}</h2>{{/name}}
                            <ul class="menu_submenu">
                                {{#childs}}
                                <li><a href="{{link}}">{{name}}</a></li>
                                {{/childs}}
                            </ul>
                        </div>
                        {{/childs}}
                    </div>
                    {{/childs}}
                    <div style="clear:both;"></div>
                </div>
            </div>
            {{/hasChilds}}
        </li>
        {{/megaMenuItems}}
        
        <li class="basket pull-right">
            <a href="{{generalLinks.basket.link}}"><i class="fa fa-shopping-cart"></i>&nbsp;{{generalLinks.basket.name}}{{#basketCount}}&nbsp;<span id="basketCount">{{basketCount}}</span>{{/basketCount}}<i class="fa fa-caret-up"></i></a>
        </li>
        {{#isLoggedIn}}
        <li class="pull-right nopipe">
            <a href="{{generalLinks.dashboard.link}}">{{generalLinks.dashboard.name}}<i class="fa fa-caret-up"></i></a>
            <div class="menu_dropdown_block">
                <div class="holder">
                    <div class="column">
                        <div class="content">
                            <ul class="menu_submenu">
                                {{#myAccountLinks}}
                                <li><a href="{{link}}">{{name}}</a></li>
                                {{/myAccountLinks}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {{/isLoggedIn}}
        {{^isLoggedIn}}
        <li class="basket pull-right nopipe"><a href="{{generalLinks.login.link}}">{{generalLinks.login.name}}<i class="fa fa-caret-up"></i></a></li>
        {{/isLoggedIn}}
    </ul>
</div>
<div class="clear"></div>
