<style type="text/css">
    .openinghrs .popover {
        width: 600px;
    }
</style>
<div id="cheader">
    <div class="left-container">
        <div class="site-logo">
            <a href="{{siteLink}}"><img src="{{siteLogo}}" /></a>
        </div>
        <h1><a href="{{siteLink}}">{{siteName}}</a></h1>
        <div class="msg-logo"></div>
    </div>
    <div class="right-container">
        <p class="telnumber">{{sitePhone}}</p>
        <p class="openinghrs">
            <span data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom">
                {{openingHours}}
            </span>
        </p>

        <div class="openinghrs-popover-title hidden">
            <div class="text-center">
                Office opening times
            </div>
        </div>
        <div class="openinghrs-popover hidden">
            <p class="text-right">Monday - Thursday: 9am - 5.30pm<br />Friday: 9am - 4.30pm</p>
            <p>&nbsp;</p>
            <p class="text-right small">We are closed on bank holidays.</p>
        </div>

        <script>
            $(document).ready(function(){
                $('.openinghrs [data-toggle="popover"]').popover({
                    title: function () {
                        return $('.openinghrs-popover-title').html()
                    }, content: function () {
                        return $('.openinghrs-popover').html()
                    }
                });
            });
        </script>
    </div>
</div>
<div class="clear"></div>
