<button class="ladda-button{{#classAttr}} {{classAttr}}{{/classAttr}}"
        {{#idAttr}}id="{{idAttr}}"{{/idAttr}}
        {{#nameAttr}}name="{{nameAttr}}"{{/nameAttr}}
        {{#loading}}data-style="{{loading}}"{{/loading}}
        data-color="{{colour}}{{^colour}}orange{{/colour}}"
        data-size="{{size}}{{^size}}s{{/size}}">
    <span class="ladda-label">
        {{text}}{{^text}}Button{{/text}}
    </span>
</button>
