<form action="{{actionUrl}}" method="post">
    {{> button}}
    <input type="hidden" name="{{#inputName}}{{inputName}}{{/inputName}}{{^inputName}}productId{{/inputName}}" value="{{productId}}">
    <input type="hidden" name="do" value="add">
</form>
