<div>
    <h4 class="text-center margin0 top20 btm30">{{{title}}}</h4>

    <div class="panel-group btm30" id="faqs" aria-multiselectable="true">
        {{#questions}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-{{collapseId}}">
                            {{{question}}}
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{collapseId}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{{answer}}}
                    </div>
                </div>
            </div>
        {{/questions}}
    </div>
</div>
