<div class="jumbotron bg-white">
    <div class="container marketing">
        <div class="row">
            <div class="col-sm-2">
                <h5 class="font-300 blue font115">Main</h5>
                <h5 class="font-200 font115">
                    <a href="/about-us" class="grey3">About us</a><br />
                    <a href="/our-people" class="grey3">Our people</a><br />
                    <a href="/join-us" class="grey3">Join our team</a><br />
                    <a href="/partners" class="grey3">Partners</a><br />
                    <a href="/blog" class="grey3">Blog</a><br />
                    <a href="/tell-our-ceo" class="grey3">Tell our CEO</a><br />
                    <a href="/contact-us" class="grey3">Contact us</a>
                </h5>
            </div>
            <div class="col-sm-2">
                <h5 class="font-300 blue font115">Social</h5>
                <h5 class="font-200 font115">
                    <i class="fa fa-twitter"></i>
                    <a href="http://www.twitter.com/madesimplegroup" class="grey3"> Twitter</a><br />
                    <i class="fa fa-facebook-square"></i>
                    <a href="https://www.facebook.com/MadeSimpleGroup" class="grey3"> Facebook</a><br />
                    <i class="fa fa-google-plus"></i>
                    <a href="https://plus.google.com/117583399482954442830/posts" class="grey3"> Google+</a><br />
                    <i class="fa fa-linkedin-square"></i>
                    <a href="http://www.linkedin.com/company/made-simple-group" class="grey3"> LinkedIn</a><br />
                    <i class="fa fa-pinterest"></i>
                    <a href="http://www.pinterest.com/madesimplegroup" class="grey3"> Pinterest</a><br />
                    <i class="fa fa-instagram"></i>
                    <a href="http://www.instagram.com/themadesimplegroup" class="grey3"> Instagram</a>
                </h5>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <h4><strong>Call us <span class="font115">0203 217 0999</span></strong></h4>
                <h5>Monday - Friday 9am - 5.30pm<br/>
                <span class="grey6">Outside UK +442032170999</span></h5>
            </div>
        </div>
    </div>
</div>