<div class="jumbotron bg-white">
    <div class="container marketing">
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <h5 class="font-300 blue font115">Main</h5>
                {{#mainMenu}}
                <a href="{{link}}" class="grey3">{{name}}</a><br />
                {{/mainMenu}}
            </div>
            <div class="col-xs-6 col-sm-2">
                <h5 class="font-300 blue font115">{{supportMenuHelpName}}</h5>
                {{#supportMenu}}
                <a href="{{link}}" class="grey3">{{name}}</a><br />
                {{/supportMenu}}
            </div>
            <div class="col-xs-6 col-sm-2">
                <h5 class="font-300 blue font115">Social</h5>
                    <i class="fa fa-twitter fa-fw"></i>
                    <a href="{{social.twitter}}" class="grey3"> Twitter</a><br />
                    <i class="fa fa-facebook-square fa-fw"></i>
                    <a href="{{social.facebook}}" class="grey3"> Facebook</a><br />
                    <i class="fa fa-google-plus fa-fw"></i>
                    <a href="{{social.googlePlus}}" class="grey3"> Google+</a><br />
            </div>
            <div class="col-xs-12 col-sm-3">
                <h4><strong>Call us <span class="font115">{{sitePhone}}</span></strong></h4>
                <span class="grey6">Outside UK {{sitePhoneOutsideUk}}</span>
                <div class="small font-300 text-right">Monday - Thursday 9am - 5.30pm<br />Friday 9am - 4.30pm</div>
            </div>
            <div class="col-xs-12 col-sm-3 text-right">
                {{#feefo}}
                <a href="{{link}}" onclick="window.open(this.href, 'Feefo', 'width=1000,height=600,scrollbars,resizable');
                        return false;">
                    <img alt="Feefo logo" border="0" src="{{image}}" title="See what our customers say about us">
                </a>
                {{/feefo}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 pull-right">
                <div class="cfooter-paymentcards"></div>
            </div>
        </div>
    </div>
</div>