<div class="navbar msg-sites navbar-static-top hidden-xs" role="navigation">
    <div class="navbar-header">       
        <ul class="nav navbar-nav margin0">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="../bundles/msgsite/imgs/msg-sites.png" alt="MadeSimple" class="img-responsive display-inline">
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://www.madesimplegroup.com/?utm_source=global-header-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">
                            <img src="../bundles/msgsite/imgs/msg-icon.png" alt="MSG" class="">
                            MadeSimple Group</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.companiesmadesimple.com/?utm_source=global-header-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">
                            <img src="../bundles/msgsite/imgs/cms-icon.png" alt="CMS" class="">
                            Company Formation</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.londonpresence.com/?utm_source=global-header-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">
                            <img src="../bundles/msgsite/imgs/vo-icon.png" alt="VO" class="">
                            Virtual Office</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.companysearchesmadesimple.com/?utm_source=global-header-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">
                            <img src="../bundles/msgsite/imgs/csms-icon.png" alt="CSMS" class="">
                            Company Search</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.businesstrainingmadesimple.co.uk/?utm_source=global-header-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">
                            <img src="../bundles/msgsite/imgs/btms-icon.png" alt="BTMS" class="">
                            Business Training</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.websites-madesimple.co.uk/?utm_source=global-header-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">
                            <img src="../bundles/msgsite/imgs/wsms-icon.png" alt="WSMS" class="">
                            Websites</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>  