<div class="jumbotron bg-grey5">
    <div class="container marketing">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-3 pad0">
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9 pad0">
                        <h5 class="font-500 grey6 font11">Your business essentials</h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-2 col-xs-3 pad0 text-center">
                        <img src="{{UI_SERVER_URL}}/imgs/cms-icon.png" alt="CMS" class="">
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9 pad0">
                        <h5 class="font-500 font11 top0"><a href="{{footer.cms}}" target="_blank">Company Formation</a><br />
                            <span class="font-200 grey6">Prepare for your business adventure</span>
                        </h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-2 col-xs-3 pad0 text-center">
                        <img src="{{UI_SERVER_URL}}/imgs/vo-icon.png" alt="VO" class="">
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9 pad0">
                        <h5 class="font-500 font11 top0"><a href="{{footer.vo}}" rel="nofollow" target="_blank">Virtual Office</a><br />
                            <span class="font-200 grey6">Calls, packages, mail. Sorted</span>
                        </h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-2 col-xs-3 pad0 text-center">
                        <img src="{{UI_SERVER_URL}}/imgs/csms-icon.png" alt="CSMS" class="">
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9 pad0">
                        <h5 class="font-500 font11 top0"><a href="{{footer.csms}}" rel="nofollow" target="_blank">Company Search</a><br />
                            <span class="font-200 grey6">Find what you need at the touch of a button</span>
                        </h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-2 col-xs-3 pad0 text-center">
                        <img src="{{UI_SERVER_URL}}/imgs/btms-icon.png" alt="BTMS" class="">
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9 pad0">
                        <h5 class="font-500 font11 top0"><a href="{{footer.btms}}" rel="nofollow" target="_blank">Business Training</a><br />
                            <span class="font-200 grey6">Fitter business for a digital world</span>
                        </h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-2 col-xs-3 pad0 text-center">
                        <img src="{{UI_SERVER_URL}}/imgs/wsms-icon.png" alt="WSMS" class="">
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9 pad0">
                        <h5 class="font-500 font11 top0"><a href="{{footer.wsms}}" rel="nofollow" target="_blank">Websites</a><br />
                            <span class="font-200 grey6">Create a professional website the simple way</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="font-500 grey6 font11">Group contact details</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-3 pad0 text-center">
                        <img src="{{UI_SERVER_URL}}/imgs/msg-icon.png" alt="MSG" class="">
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9 pad0">
                        <h5 class="font-500 font11 top0"><a href="{{footer.msg}}" rel="nofollow" target="_blank">Made Simple Group Ltd</a><br />
                            <span class="font-200 grey6">www.madesimplegroup.com</span>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="font-200 grey6 font11"><strong>Registered office:</strong><br />
                        20-22 Wenlock Road<br />London<br />N1 7GU<br />United Kingdom</h5>
                        <h5 class="font-200 grey6 font11"><strong>Company number: </strong>04214713</h5>
                        <h5 class="font-200 grey6 font11"><strong>VAT number: </strong>GB820956327</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <img src="{{UI_SERVER_URL}}/imgs/best100.png" alt="Top100" class="center-block">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <h5 class="font-200 grey6 font11">Copyright © MadeSimple™ 2016</h5>
            </div>
        </div>
    </div>
</div>