<div class="navbar msg-sites navbar-static-top hidden-xs" role="navigation">
    <div class="navbar-header">       
        <ul class="nav navbar-nav margin0">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{UI_SERVER_URL}}/imgs/msg-sites.png" alt="MadeSimple" class="img-responsive display-inline">
                    <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                        <li><a href="{{header.msg}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/msg-icon.png" alt="icon" width="35" height="35" /><span>MadeSimple Group</span></a></li>
                        <li><a href="{{header.cms}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/cms-icon.png" alt="icon" width="35" height="35" /><span>Company Formation</span></a></li>
                        <li><a href="{{header.vo}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/vo-icon.png" alt="icon" width="35" height="35" /><span>Virtual Office</span></a></li>
                        <li><a href="{{header.csms}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/csms-icon.png" alt="icon" width="35" height="35" /><span>Company Search</span></a></li>
                        <li><a href="{{header.btms}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/btms-icon.png" alt="icon" width="35" height="35" /><span>Business Training</span></a></li>
                        <li><a href="{{header.wsms}}" rel="nofollow" target="_blank"><img src="{{UI_SERVER_URL}}/imgs/wsms-icon.png" alt="icon" width="35" height="35" /><span>Websites</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>  