<div class="jumbotron bg-grey5">
    <div class="container marketing">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-2 col-sm-1 col-xs-2 pad0">
                    </div>
                    <div class="col-md-10 col-sm-11 col-xs-10 pad0">
                        <h5 class="font-500 grey6 font11">Your business essentials</h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-1 col-xs-2 pad0 text-center">
                        <img src="../bundles/msgsite/imgs/cms-icon.png" alt="CMS" class="">
                    </div>
                    <div class="col-md-10 col-sm-11 col-xs-10 pad0">
                        <h5 class="font-500 font11 top0"><a href="https://www.companiesmadesimple.com/?utm_source=global-footer-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">Company Formation</a><br />
                            <span class="font-200 grey6">Prepare for your business adventure</span>
                        </h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-1 col-xs-2 pad0 text-center">
                        <img src="../bundles/msgsite/imgs/vo-icon.png" alt="VO" class="">
                    </div>
                    <div class="col-md-10 col-sm-11 col-xs-10 pad0">
                        <h5 class="font-500 font11 top0"><a href="https://www.londonpresence.com/?utm_source=global-footer-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">Virtual Office</a><br />
                            <span class="font-200 grey6">Calls, packages, mail. Sorted</span>
                        </h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-1 col-xs-2 pad0 text-center">
                        <img src="../bundles/msgsite/imgs/csms-icon.png" alt="CSMS" class="">
                    </div>
                    <div class="col-md-10 col-sm-11 col-xs-10 pad0">
                        <h5 class="font-500 font11 top0"><a href="https://www.companysearchesmadesimple.com/?utm_source=global-footer-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">Company Search</a><br />
                            <span class="font-200 grey6">Find what you need at the touch of a button</span>
                        </h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-1 col-xs-2 pad0 text-center">
                        <img src="../bundles/msgsite/imgs/btms-icon.png" alt="BTMS" class="">
                    </div>
                    <div class="col-md-10 col-sm-11 col-xs-10 pad0">
                        <h5 class="font-500 font11 top0"><a href="https://www.businesstrainingmadesimple.co.uk/?utm_source=global-footer-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">Business Training</a><br />
                            <span class="font-200 grey6">Fitter business for a digital world</span>
                        </h5>
                    </div>
                </div>
                <div class="row btm10">
                    <div class="col-md-2 col-sm-1 col-xs-2 pad0 text-center">
                        <img src="../bundles/msgsite/imgs/wsms-icon.png" alt="WSMS" class="">
                    </div>
                    <div class="col-md-10 col-sm-11 col-xs-10 pad0">
                        <h5 class="font-500 font11 top0"><a href="http://www.websites-madesimple.co.uk//?utm_source=global-footer-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">Websites</a><br />
                            <span class="font-200 grey6">Create a professional website the simple way</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="font-500 grey6 font11">Group contact details</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-1 col-xs-2 pad0 text-center">
                        <img src="../bundles/msgsite/imgs/msg-icon.png" alt="MSG" class="">
                    </div>
                    <div class="col-md-10 col-sm-11 col-xs-10 pad0">
                        <h5 class="font-500 font11 top0"><a href="http://www.madesimplegroup.com/?utm_source=global-footer-msg&utm_medium=globalbrandlinks&utm_campaign=globalbranding" rel="nofollow" target="_blank">Made Simple Group Ltd</a><br />
                            <span class="font-200 grey6">www.madesimplegroup.com</span>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="font-200 grey6 font11"><strong>Registered office:</strong><br />
                        20-22 Wenlock Road<br />London<br />N1 7GU<br />United Kingdom</h5>
                        <h5 class="font-200 grey6 font11"><strong>Company number: </strong>04214713</h5>
                        <h5 class="font-200 grey6 font11"><strong>VAT number: </strong>GB820956327</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <h5 class="font-200 grey6 font11">Copyright © MadeSimple™ 2015</h5>
            </div>
        </div>
    </div>
    <div class="gchat">
        <a href="#" onClick="Chat=window.open('https://public.mc.hostedcc.com/msg/forms/Chat/MSG','Chat','toolbar=no,menubar=no,resizable=yes,width=450,height=650'); return false;"><i class="fa fa-comment"></i> Chat with us</a>
    </div>
</div>
