<div id="cheader">
    <div class="left-container">
        <div class="site-logo">
            <a href="{{siteLink}}"><img src="{{siteLogo}}" /></a>
        </div>
        <h1><a href="{{siteLink}}">{{siteName}}</a></h1>
        <div class="msg-logo"></div>
    </div>
    <div class="right-container">
        <div id="myaccount" class="menu_container myaccount full_width">
            <ul>
                {{#isLoggedIn}}
                <li class="container">
                    <a class="myaccount" href="{{generalLinks.dashboard.link}}">{{generalLinks.dashboard.name}}&nbsp;<i class="fa fa-caret-down"></i></a>
                    <div class="menu_dropdown_block">
                        <div class="container">
                            <ul class="menu_submenu">
                                {{#myAccountLinks}}
                                <li><a href="{{link}}"><span>{{name}}</span></a></li>
                                {{/myAccountLinks}}
                            </ul>
                        </div>
                    </div>
                </li>
                {{/isLoggedIn}}
                {{^isLoggedIn}}
                <li class="basket"><a href="{{generalLinks.login.link}}">{{generalLinks.login.name}}</a></li>
                {{/isLoggedIn}}
                <li class="pipe">&nbsp;&#124;&nbsp;</li>
                <li class="basket"><a href="{{generalLinks.basket.link}}"><i class="fa fa-shopping-cart"></i>&nbsp;{{generalLinks.basket.name}}{{#basketCount}}&nbsp;<span id="basketCount">{{basketCount}}</span>{{/basketCount}}</a></li>
            </ul>
        </div>
        <p class="contact"><a href="{{generalLinks.contact.link}}">{{generalLinks.contact.name}}&nbsp;<i class="fa fa-caret-right"></i></a></p>
        <p class="telnumber">{{sitePhone}}</p>
        <p class="openinghrs">
            {{openingHours}}
        </p>
    </div>
</div>
<div class="clear"></div>
