<div class="header-top content hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="row">
                    <div class="col-xs-5 col-sm-3 col-md-2">
                        <a href="{{siteLink}}"><img src="{{siteLogo}}" /></a>
                    </div>
                    <div class="col-xs-7 col-sm-9 col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <p id="siteHead"><a href="{{siteLink}}">{{siteName}}</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{{groupLogo}}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3" style="margin-top: 2rem;">
                <p>
                    {{#showContactLink}}
		        <span><strong><a href="{{generalLinks.contact.link}}">{{generalLinks.contact.title}}&nbsp;<i class="fa fa-caret-right"></i></a></strong></span><br />
                    {{/showContactLink}}
                    <span class="font115"><strong>{{sitePhone}}</strong></span><br />
                    <span class="small">{{openingHours}}</span>
                </p>
            </div>
        </div>
    </div>
</div>