<div class="jumbotron bg-white hidden-xs">
    <div class="container marketing">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <a href="/">
                    <img src="../bundles/msgsite/imgs/msg-home.png" alt="MadeSimple" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 text-right">
                <h5 class="font-500 font115">Phone us<br />0203 217 0999</h5>
            </div>
        </div>
    </div>
</div>