{{#title}}
<h3 class="icon-list-title">{{title}}</h3>
{{/title}}

<table class="icon-list-item-list">
    {{#items}}
    <tr>
        <td>
            <img class="icon-list-item-image" src="{{image.url}}">
        </td>

        <td>
            {{#title}}
                <h4 class="icon-list-item-title">{{title}}</h4>
            {{/title}}
            <p class="icon-list-item-body">{{{body}}}</p>
        </td>
    </tr>
    {{/items}}
</table>
