<div id="megamenu" class="menu_container green_glass full_width">
    <div class="mobile_collapser">
        <label for="hidden_menu_collapser">
            <span class="mobile_menu_icon"></span> Menu
        </label>
    </div>
    <input id="hidden_menu_collapser" type="checkbox">

    <ul>
        {{#megaMenuItems}}
        <li>
            <a href="{{link}}">{{name}}<i class="fa fa-caret-up"></i></a>
            {{#hasChilds}}
            <div class="menu_dropdown_block{{#columnCount}} column-{{columnCount}}{{/columnCount}}">
                <div class="container">
                    {{#childs}}
                    <div class="column">
                        {{#childs}}
                        <div class="content">
                            {{#name}}<h2>{{.}}</h2>{{/name}}
                            <ul class="menu_submenu">
                                {{#childs}}
                                <li><a href="{{link}}">{{name}}</a></li>
                                {{/childs}}
                            </ul>
                        </div>
                        {{/childs}}
                    </div>
                    {{/childs}}
                    <div style="clear:both;"></div>
                </div>
            </div>
            {{/hasChilds}}
        </li>
        {{/megaMenuItems}}
        {{#enableSearch}}
        <li class="right">
            <div id="mmSearch">
                <form action="/search/" id="cse-search-box" name="cse-search-box">
                    <input type="text" name="q" placeholder="Site Search" size="15">
					<input type="submit" name="sa" value="Search" style="height: 22px; width: 60px">
                </form>
            </div>
        </li>
        {{/enableSearch}}
    </ul>
</div>
<div class="clear"></div>
