<nav class="navbar meganavbar_msg dropdown-onhover hidden-sm hidden-md hidden-lg" id="main_navbar" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <p id="siteHead"><a href="{{siteLink}}">{{siteName}}<img src="{{groupLogo}}"/></a></p>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MegaNavbarID">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="MegaNavbarID">
            <!-- regular link -->
            <ul class="nav navbar-nav navbar-left">
                <!-- dropdown short. Forced show on small devices on hover  -->
                {{#menuItems}}
                    <li class="dropdown xs-hover">
                        {{^hasChildren}}<a href="{{link}}">{{title}}</a>{{/hasChildren}}

                        {{#hasChildren}}
                            <a href="javascript:void(0);" class="dropdown-toggle">{{title}}</a>
                            <ul class="dropdown-menu">
                                {{#children}}
                                    <li class="dropdown xs-hover">
                                        {{^hasChildren}}<a href="{{link}}">{{title}}</a>{{/hasChildren}}

                                        {{#hasChildren}}
                                            <a href="javascript:void(0);" class="dropdown-toggle">{{title}}</a>
                                            <ul class="dropdown-menu">
                                                {{#children}}
                                                    <li><a href="{{link}}">{{title}}</a></li>
                                                {{/children}}
                                            </ul>
                                        {{/hasChildren}}
                                    </li>
                                {{/children}}
                            </ul>
                        {{/hasChildren}}
                    </li>
                    <li class="divider"></li>
                {{/menuItems}}

                <li class="dropdown-short xs-hover">
                    <a class="dropdown-toggle" href="{{generalLinks.basket.link}}"><i class="fa fa-shopping-cart"></i>&nbsp;{{generalLinks.basket.title}}</a>
                </li>

                {{#isLoggedIn}}
                    <li class="dropdown-short xs-hover">
                        <a href="javascript:void(0);" class="dropdown-toggle"><i class="fa fa-user"></i>&nbsp;{{generalLinks.dashboard.title}}</a>
                        <ul class="dropdown-menu">
                            {{#myAccountLinks}}
                                <li><a href="{{link}}"><span>{{title}}</span></a></li>
                            {{/myAccountLinks}}
                        </ul>
                    </li>
                {{/isLoggedIn}}
                {{^isLoggedIn}}
                    <li class="dropdown-short xs-hover">
                        <a href="{{generalLinks.login.link}}" class="dropdown-toggle"><i class="fa fa-sign-in"></i>&nbsp;{{generalLinks.login.title}}</a>
                    </li>
                {{/isLoggedIn}}
            </ul>
        </div>
    </div>
</nav>
