<!-- Static navbar -->
<div class="navbar msg-megamenu" role="navigation">
    <div class="container-fluid text-center">
        <div class="navbar-header">
            <a id="msg-mobile-head" class="hidden-sm hidden-md hidden-lg" href="/"><img src="../bundles/msgsite/imgs/msg-home.png" alt="MadeSimple"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about-us" class="mm-rb">About us</a></li>
                <li><a href="/our-people" class="mm-rb">Our people</a></li>
                <li><a href="/join-us" class="mm-rb">Join our team</a></li>
                <li><a href="/partners" class="mm-rb">Partners</a></li>
                <li><a href="/startup-tv" class="mm-rb">StartUp TV</a></li>
                <li><a href="/blog" class="mm-rb">Blog</a></li>
                <li><a href="/tell-our-ceo" class="mm-rb">Tell our CEO</a></li>
                <li><a href="/contact-us">Contact us</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</div>