<div id="megamenu-desktop" class="menu_container green_glass full_width hidden-xs">
    <ul>
        <li>
            <a href="/company-formation-name-search.html">Company Formation<i class="fa fa-caret-up"></i></a>
            <div class="menu_dropdown_block column-2">
                <div class="holder">
                    <div class="column">
                        <div class="content">

                            <ul class="menu_submenu">
                                <li><a href="/company-formation-name-search.html">Company Formation Packages</a></li>
                                <li><a href="/how-it-works.html">How it works</a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <h2>Company Types</h2>
                            <ul class="menu_submenu">
                                <li><a href="/uk-limited-company-formation.html">UK Limited Company Formation</a></li>
                                <li><a href="/company-formation-limited-by-guarantee.html">Limited by Guarantee Company</a></li>
                                <li><a href="/company-formation-limited-by-shares.html">Limited by Shares Company</a></li>
                                <li><a href="/limited-liability-partnership.html">Limited Liability Partnership</a></li>
                                <li><a href="/public-limited-company-formation.html">Public Limited Company</a></li>
                                <li><a href="/flat-managment-company-formation.html">Flat Management Company</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content">
                            <h2>Other company services</h2>
                            <ul class="menu_submenu">
                                <li><a href="/company-formation-non-uk-residents.html">International Packages</a></li>
                                <li><a href="/offshore-company-formation-information.html">Offshore Formation</a></li>
                                <li><a href="/reserve-a-company-name.html">Reserve a Company Name</a></li>
                                <li><a href="/shelf-companies.html">Shelf Companies</a></li>
                                <li><a href="/sole-trader-start-up-pack.html">Sole Trader Start Up Pack</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </li>
        <li>
            <a href="/additional-services.html">Additional Services<i class="fa fa-caret-up"></i></a>
            <div class="menu_dropdown_block column-3">
                <div class="holder">
                    <div class="column">
                        <div class="content">
                            <h2>Renewals</h2>
                            <ul class="menu_submenu">
                                <li><a href="/renewal-fees.html">Renewal fees</a></li>
                                <li><a href="/reserve-a-company.html">Reserve a Company</a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <h2>Office &amp; Address Services</h2>
                            <ul class="menu_submenu">
                                <li><a href="/mail-forwarding-service.html">Mail Forwarding</a></li>
                                <li><a href="/company-services-registered-office.html">Registered Office</a></li>
                                <li><a href="/service-address.html">Service Address</a></li>
                                <li><a href="/virtual-office.html">Virtual Office</a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <h2>Documents</h2>
                            <ul class="menu_submenu">
                                <li><a href="/apostilled-document.html">Apostille Documents Service</a></li>
                                <li><a href="/certificate-of-good-standing.html">Certificate of Good Standing</a></li>
                                <li><a href="/supplementary-company-documents.html">Supplementary Company Documents</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content">
                            <h2>Accountancy and Legal</h2>
                            <ul class="menu_submenu">
                                <li><a href="/accountancy-services.html">Accountancy Consultation</a></li>
                                <li><a href="/confirmation-statement.html">Confirmation Statement Service (formerly Annual Return)</a></li>
                                <li><a href="/psc-online-register.html">PSC Services</a></li>
                                <li><a href="/fast-track-business-banking.html">Barclays Business Bank Account</a></li>
                                <li><a href="/accounting-reference-date.html">Change of Accounting Reference Date</a></li>
                                <li><a href="/company-name-change.html">Company Name Change Service</a></li>
                                <li><a href="/general-company-services.html">Company Dissolution</a></li>
                                <li><a href="/vat-and-paye-registration-assistance.html">VAT and PAYE Registration Assistance</a></li>
                                <li><a href="/dormant-company-accounts.html">Dormant Company Accounts Service</a></li>
                                <li><a href="/share-services.html">Share Services</a></li>
                                <li><a href="/tsb-business-current-account.html">TSB Business Current Account</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content">
                            <h2>Official Company Products</h2>
                            <ul class="menu_submenu">
                                <li><a href="/general-company-products.html">Company Pack (Register, Seal &amp; Stamp)</a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <h2>Partners and Affiliates</h2>
                            <ul class="menu_submenu">
                                <li><a href="/affiliate/">Affiliate Program</a></li>
                                <li><a href="/white-label/">White Label Company Formation</a></li>
                                <li><a href="/professional/">Wholesale</a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <h2>Other</h2>
                            <ul class="menu_submenu">
                                <li><a href="/business-apps/">Business Apps</a></li>
                                <li><a href="/business-guides-resources.html">Guides</a></li>
                                <li><a href="/business-forms.html">Business Templates/Forms</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </li>
        <li>
            <a href="/about-us.html">About Us<i class="fa fa-caret-up"></i></a>
            <div class="menu_dropdown_block column-1">
                <div class="holder">
                    <div class="column">
                        <div class="content">

                            <ul class="menu_submenu">
                                <li><a href="/choosing-a-company-formation-agent.html">Why choose us?</a></li>
                                <li><a href="/reviews.html">Reviews</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </li>
        <li><a href="/blog/">Blog<i class="fa fa-caret-up"></i></a></li>
        <li>
            <a href="http://support.companiesmadesimple.com" target="_blank">Help and Advice<i class="fa fa-caret-up"></i></a>
            <div class="menu_dropdown_block column-1">
                <div class="holder">
                    <div class="column">
                        <div class="content">
                            <h2>Help</h2>
                            <ul class="menu_submenu">
                                <li><a href="http://support.companiesmadesimple.com" target="_blank">Support Home</a></li>
                                <li><a href="http://support.companiesmadesimple.com/category/132-frequently-asked-questions" target="_blank">FAQs</a></li>
                                <li><a href="#open-zopim">Chat with us</a></li>
                                <li><a href="#open-beacon">Email us</a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <h2>Advice</h2>
                            <ul class="menu_submenu">
                                <li><a href="/small-business-advisor.html">Small Business Advisor</a></li>
                                <li><a href="/sole-trader-v-limited-company.html">Sole Trader v Limited Company</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </li>
        <li class="right">&nbsp;|&nbsp;&nbsp;&nbsp;
            <a class="basket-counter-container dropdown-toggle" href="{{generalLinks.basket.link}}">
                <i class="fa fa-shopping-cart"></i>&nbsp;{{generalLinks.basket.title}}{{#basketCount}}&nbsp;<span class="basket-counter">{{basketCount}}</span>{{/basketCount}}
            </a>
        </li>
        {{#isLoggedIn}}
            <li class="right">
                <a href="{{generalLinks.dashboard.link}}" class="dropdown-toggle">{{generalLinks.dashboard.title}}<i class="fa fa-caret-up"></i></a>
                <div class="menu_dropdown_block column-1">
                    <div class="holder">
                        <div class="column">
                            <div class="content">
                                <ul class="menu_submenu">
                                {{#myAccountLinks}}
                                    <li><a href="{{link}}"><span>{{title}}</span></a></li>
                                {{/myAccountLinks}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {{/isLoggedIn}}
        {{^isLoggedIn}}
            <li class="right">
                <a href="{{generalLinks.login.link}}" class="dropdown-toggle">{{generalLinks.login.title}}</a>
            </li>
        {{/isLoggedIn}}
    </ul>
</div>
<div class="clear"></div>
