<div class="">
     <nav class="navbar meganavbar_msg dropdown-onhover no-fix" id="main_navbar" role="navigation">
        	<div class="container">
        		<!-- Brand and toggle get grouped for better mobile display -->
        		<div class="navbar-header">
                                <p id="siteHead"><a href="{{siteLink}}">{{siteName}}<img src="{{groupLogo}}"/></a></p>
        			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MegaNavbarID">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        			</button>
        		</div>
        		<!-- Collect the nav links, forms, and other content for toggling -->
        		<div class="collapse navbar-collapse" id="MegaNavbarID">
        			<!-- regular link -->
        			<ul class="nav navbar-nav navbar-left">
        				<!-- dropdown short. Forced show on small devices on hover  -->
                        {{#megaMenuItems}}
        				<li class="dropdown-short xs-hover">
        					<a href="{{link}}" class="dropdown-toggle">{{name}}</a>
                            {{#hasChilds}}
        					<ul class="dropdown-menu">
                                {{#childs}}
                                    {{#childs}}
                                        {{#name}}<li class="dropdown-header">{{.}}</li>{{/name}}
                                            {{#childs}}
                                                <li><a href="{{link}}">{{name}}</a></li>
                                            {{/childs}}
                                    {{/childs}}
                                {{/childs}}
        					</ul>
                            {{/hasChilds}}
        				</li>
                        <li class="divider"></li>
                        {{/megaMenuItems}}

                        {{#isLoggedIn}}
                           <li class="dropdown-short xs-hover">
                             <a href="{{generalLinks.dashboard.link}}" class="dropdown-toggle">{{generalLinks.dashboard.name}}</a>
                             <ul class="dropdown-menu">
                                 {{#myAccountLinks}}
                                     <li><a href="{{link}}"><span>{{name}}</span></a></li>
                                 {{/myAccountLinks}}
                             </ul>
                           </li>
                        {{/isLoggedIn}}
                        {{^isLoggedIn}}
                            <li class="dropdown-short xs-hover">
                                <a href="{{generalLinks.login.link}}" class="dropdown-toggle">{{generalLinks.login.name}}</a>
                            </li>
                        {{/isLoggedIn}}
        			</ul>
        		</div>
        	</div>
        </nav>
</div>