<div id="overlay-notice-wrapper">
    <div id="overlay-notice">
        <a id="overlay-notice-cross" href="javascript:">x</a>
        <p id="overlay-notice-header">
            {{caption}}
        </p>
        <p id="overlay-notice-text">
            {{text}} <a id="overlay-notice-text-link" href="{{linkUrl}}" target="_blank">{{linkText}}</a>
        </p>
        <a id="overlay-notice-link" href="javascript:">
            {{buttonText}}
        </a>
    </div>
</div>
