<div class="col-xs-12 bg-blue text-center pad50 {{^recommendation}}recommended-package{{/recommendation}}">
    <h2 class="margin0 white top5 btm12">{{title}}</h2>
    <h4 class="margin0 white font-300 pbtm5">{{type}}</h4>
</div>

{{#recommendation}}
    <div class="col-xs-12 small bg-green text-center margin0 pad50 white">{{recommendation}}</div>
{{/recommendation}}

<div class="col-xs-12 bg-blue2 text-center pad025 border-rl">
    <p class="top45 btm20 pad50"><dfn>{{{description}}}</dfn></p>
</div>

<div class="col-xs-12 bg-white text-center pad025 border-rl price-box">
    <h1 class="blue top30 btm20">&pound;{{price}}<span class="font-300">+VAT</span></h1>
    {{#buyButton}}
        {{{buyButton}}}
    {{/buyButton}}
    <p class="btm20"><a class="more-information" href="{{detailsUrl}}">More information</a></p>
</div>

{{#contains}}
<div class="col-xs-12 bg-grey4 text-center pad025 border-rl pckg-info-block">
    <h4 class="blue top20 pad50">{{title}}</h4>
    {{{detail}}}
</div>
{{/contains}}

{{#additionallyContains}}
<div class="col-xs-12 bg-white text-center">
    <h4 class="green top20 btm20">{{title}}</h4>
</div>
<div class="col-xs-12 bg-grey4 text-center pad025 border-t border-rl border-b">
    {{#items}}
    <div class="col-xs-12 bg-grey4 text-center pad025">
        <h4 class="blue top20 pad50">{{title}}</h4>
        {{{detail}}}
    </div>
    {{/items}}
</div>
{{/additionallyContains}}

<div class="col-xs-12 bg-white text-center padcard price-box">
    <h1 class="blue top30 btm20">&pound;{{price}}<span class="font-300">+VAT</span></h1>
    {{#buyButton}}
        {{{buyButton}}}
    {{/buyButton}}
    <p class="btm20"><a href="{{detailsUrl}}">More information</a></p>
</div>
