<div class="row btm30">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <h1 class="margin0">{{title}}</h1>
        <p class="lead margin0 top20">{{{description}}}</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        {{#image}}
        <img class="img-responsive img-center"
             src="{{url}}"
             title="{{title}}"
             alt="{{alt}}">
        {{/image}}
    </div>
</div>
