<button class="{{classAttr}} {{^classAttr}}width100 btn btn-default{{/classAttr}}"
        {{typeAttr}}type="{{^typeAttr}}submit"{{/typeAttr}}
        id="submit" name="submit">
    <span>
        {{#icon}}<i class="fa {{icon}}"></i>&nbsp;{{/icon}}
        {{text}}{{^text}}Search{{/text}}
    </span>
</button>