{include file="WidgetWhiteLabel/@header.tpl"}

<div style="width: 730px;">
	<div style="float: left; width: 360px;">
		<h2>Register here or Login below</h2>
		{$registrationForm nofilter}

		<h2>Login</h2>
		{$loginForm nofilter}		
	</div>
	<div style="clear: both;"></div>
</div>

{include file="WidgetWhiteLabel/@footer.tpl"}