{include file="@header.tpl"}

<div id="maincontent-full" class="reviews-testimonials-page">

	{if $visibleTitle}
        <h1>{$title}</h1>
    {/if}

    {$replacedText nofilter}

</div> <!-- #maincontent1 -->
 
{include file="@footer.tpl"}
