<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
	<title>{$affiliate->name nofilter}</title>
</head> 
<body>
    <h1>{$affiliate->name nofilter}</h1>
    {$text nofilter}
    
	<iframe src="{$iframeUrl}" width="500" height="430" frameborder="1">
    	<p>Your browser does not support iframes.</p>
	</iframe>    
</body>
</html>