			{* 	JAVASCRIPT TO ALERT CHANGES ON PAGE BEFORE LEAVING *}
			{*include file="@blocks/page_changes_alert.js"*}
		</div> <!-- #main_text -->
		<div class="clear"></div>
	</div> <!-- #container1 -->
	<div id="footer">
		<strong>Id:</strong> {$this->node->getId()} | 
		<strong>Front:</strong>  {$this->node->frontControler} | 
		<strong>Admin:</strong>  {$this->node->adminControler} |
		<strong>Action:</strong> {$this->action} |
		<strong>Created:</strong> {$this->node->dtc|df:"j M Y G:i"} |
		<strong>Edited:</strong> {$this->node->dtc|df:"j M Y G:i"} |
		<strong>Status:</strong> {$this->node->status}
	</div>
</div> <!-- #envelope -->

</body>
</html>