{include file="@header.tpl"}

<table>
<tr>
	<td valign="top">{$customersForm nofilter}</td>
	<td valign="top">{$companyForm nofilter}</td>
</tr>
<tr>
	<td valign="top">{$orderForm nofilter}</td>
	<td></td>
</tr>
</table>

{include file="@footer.tpl"}