<html>
    <head> 
        <title>{$emailTitle}</title>
    </head>
    <body>
        {block content}{/block}

        <p>
            Please get in touch if you have any questions
        </p>
        <p>
            Best wishes,
        </p>
        <p>
            The Team @ Company Formation MadeSimple<br>
            <a href="https://www.companiesmadesimple.com" target="_blank">www.companiesmadesimple.com</a><br>
        </p>
        <p>
            Telephone: 0207 608 5500<br>
            Email: theteam@madesimplegroup.com
        </p>
        <p>
            Your business essentials MadeSimple.
        </p>
    </body>
</html>
