<html>
    <head> 
        <title>{$emailView->getEmailTitle()}</title>
    </head>
    <body>
        {block content}{/block}

        <br>
        <br>
        The Team @ Companies Made Simple<br>
        <a href="https://www.companiesmadesimple.com" target="_blank">www.companiesmadesimple.com</a><br>
        <br>
        Telephone: 0207 608 5500<br>
        Email: theteam@madesimplegroup.com<br>
        <br>
        Made Simple Group. Your Business Essentials Made Simple
    </body>
</html>
