{include file="@header.tpl"}

{literal}
<style type="text/css">
<!--
fieldset {
	background-color: #F3F3F3;
}
-->
</style>
{/literal}

<div style="width: 350px; float: right; margin-top: 43px;">
	<p style="color: #FF6600; font-size: 16px; font-weight: bold; margin-bottom: 12px; text-align: center;">Download Our Free White Paper</p>
	{$form nofilter}
	<p style="font-size: 10px; font-style: italics; line-height: 12px; text-align: center; padding-top: 0; margin-bottom: 16px; color: #666666;">We hate spam too; we'll never sell your details. We'll send you our Newswire (it has some cool stuff) but you can easily unsubscribe!</p>

    {if isset($displayLink)}
        <div class="flash info2" style="margin-left: 0; font-size: 14px; width: 320px;">
			<p style="margin: 0; padding: 0; text-align: center;">
				<a href="{$this->router->link(null, 'pdf=1')}"><strong>Download White Paper</strong></a>
			</p>
        </div>
    {/if}	
	
	<div style="width: 350px; margin: 32px 0 0 75px;">
		<div style="height: 25px; width: 100px; float: left;">
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		</div>

		<div style="height: 25px; width: 250px; float: left;">
		<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.companiesmadesimple.com%2Fstarting-a-business.html&amp;layout=button_count&amp;show_faces=false&amp;width=250&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:21px;" allowTransparency="true"></iframe></div>
	</div>
	
</div>

<div id="maincontent1">
   


    {if $visibleTitle}
    <h1>{$title}</h1>
    {/if}

    {$text nofilter}

    <div class="clear"></div>   
   
	
</div>
{include file="@footer.tpl"}
