{include file="@header.tpl"}

<div id="maincontent2" style="padding: 0 0 30px 0;">

	{if $visibleTitle}
    <h1>{$title}</h1>
    {/if}
	
	{$form nofilter}

	
</div> <!-- #maincontent2 -->

{include file="@footer.tpl"}