{include file="@AffiliateHeader.tpl"}
{include file="@blocks/affiliateLeftMenu.tpl"}
{if $visibleTitle}
    <h1>{$title}</h1>
    {/if}
<div style="margin-left:200px;">
    {$text nofilter}

    {assign var="hash" value=$affiliate->hash}
    {assign var="web" value=$affiliate->web}
    {assign var="link" value=$this->router->absoluteFrontLink("HomeControler::HOME_PAGE", "utm_source=$web","utm_medium=affiliate","utm_campaign=affiliate-link")}

	 <table id="affLinksBanners">
        <tr>
            <td>
                <div class="affImg">
                    <a href="{$link}">company formation</a>
                </div>    
            </td>
            <td>
                <div class="linkframeCode">
                    <textarea rows="2" cols="42" readonly="readonly" onclick="this.select();"><a href="{$link}">company formation</a></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="affImg">
                    <a href="{$link}"><img src="{$urlImgs}affiliate/img404.jpg" alt="form your company"></a>
                </div>    
            </td>
            <td>
                <div class="linkframeCode">
                    <textarea rows="6" cols="42" readonly="readonly" onclick="this.select();"><a href="{$link}"<img  src="{$urlImgs}affiliate/img404.jpg" alt="form your company"></a></textarea>
                </div>
            </td>
        </tr>  
    </table>
</div>
{include file="@AffiliateFooter.tpl"}
