{include file="@AffiliateHeader.tpl"}
{include file="@blocks/affiliateLeftMenu.tpl"}
{if $visibleTitle}
    <h1>{$title}</h1>
    {/if}
<div style="margin-left:200px;">
{$text nofilter}
{$form nofilter}
</div>
{include file="@AffiliateFooter.tpl"}
