{include file="@AffiliateHeader.tpl"}

<div style="width: 955px;margin:0;" id="maincontent1">
{if $visibleTitle}
    <h1>{$title}</h1>
    {/if}
	{$text nofilter}
</div>
{include file="@AffiliateFooter.tpl"}
