.ladda-button,
.ladda-button.btn {
    background: #666;
    padding: 14px 18px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    border: 0;
    height: inherit;
    font-weight: inherit;
    vertical-align: inherit;
    transition: 0s !important;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
/*.ladda-button:hover {
    border-color: rgba(0, 0, 0, 0.07);
    background-color: #888;
}*/
.ladda-button[data-color=green] {
    background: linear-gradient(#88C444, #7AB03D);
}
.ladda-button[data-color=green]:hover {
    background: #7AB03D;
}
.ladda-button[data-color=blue] {
    background: linear-gradient(#009FDA, #008fc4);
}
.ladda-button[data-color=blue]:hover {
    background: #008fc4;
}
.ladda-button[data-color=orange] {
    background: linear-gradient(#FF7900, #F47400);
}
.ladda-button[data-color=orange]:hover {
    background: #F47400;
}
.ladda-button[data-color=red] {
    background: linear-gradient(#BF0000, #AC0000);
}
.ladda-button[data-color=red]:hover {
    background: #AC0000;
}
.ladda-button[data-color=purple] {
    background: #9973C2;
}
.ladda-button[data-color=purple]:hover {
    background: #a685ca;
}
.ladda-button[data-color=mint] {
    background: #16a085;
}
.ladda-button[data-color=mint]:hover {
    background: #19b698;
}
.ladda-button[disabled], .ladda-button[data-loading] {
    border-color: rgba(0, 0, 0, 0.07);
    cursor: default;
    background: #999;
    box-shadow: none;
}
.ladda-button[disabled]:hover, .ladda-button[data-loading]:hover {
    cursor: default;
    background: #999;
}
.ladda-button[data-size=xs] {
    padding: 4px 8px;
}
.ladda-button[data-size=xs] .ladda-label {
    font-size: 0.7em;
}
.ladda-button[data-size=s] {
    padding: 6px 10px;
}
.ladda-button[data-size=s] .ladda-label {
    font-size: 0.9em;
}
.ladda-button[data-size=l] .ladda-label {
    font-size: 1.2em;
}
.ladda-button[data-size=xl] .ladda-label {
    font-size: 1.5em;
}
