/* MSG SITES - General Header */
.msg-sites {
    margin: 0px;
    border: 0px;
    background-color: #262626;
    min-height:40px;
}
.msg-sites .open .dropdown-menu {
    background-color: #009fda;
    border: 0px;
    padding: 0px;
    border-radius: 0;
}
.msg-sites .nav .open > a,
.msg-sites .nav .open > a:hover,
.msg-sites .nav .open > a:focus {
    background-color: #262626;
    border: 0px;
}
.msg-sites .nav > li > a,
.msg-sites .nav > li > a:hover,
.msg-sites .nav > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #262626;
    padding: 10px 15px;
}
.msg-sites .dropdown-menu>li>a {
    color: #fff;
    line-height: 2.7em;
    font-size: 1.15em;
    font-weight: 300;
    padding: 0 20px;
}
.msg-sites .dropdown-menu img {
    margin-right: 10px;
    width: 35px;
    height: 35px;
}
.msg-sites .dropdown-menu>li>a:hover{
    background-color: #4d4d4d;
}
.msg-sites .dropdown-menu .divider {
    margin: 0px;
    background-color: #2caddf;
}
.msg-sites .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* MY ACCOUNT NAVBAR */
nav.navbar.nav-account {
    min-height: inherit;
    padding: 20px 0;
}
nav.navbar.nav-account div.container {
    border: none;
}
nav.navbar.nav-account .nav>li>a {
    color: #333;
    border: 0;
    margin: 0;
    padding: 0;
}
nav.navbar.nav-account .nav>li:hover>a {
    color: #26ace7;
    background: none;
    border-style: hidden !important;
}
nav.navbar.nav-account .navbar-collapse {
    padding: 0;
}
nav.navbar.nav-account .navbar-nav>li.dropdown-short>.dropdown-menu {
    padding: 0;
    background-color: #f2f2f2;
}
nav.navbar.nav-account .dropdown-menu li>a {
    font-weight: 300;
    line-height: 18px;
}
nav.navbar.nav-account .dropdown-menu li>a:hover {
    color: #fff;
    background-color: #4d4d4d;
}
.navbar.nav-account .navbar-toggle {
    border-color: #acacac !important;
    background-color: transparent;
}
.navbar.nav-account .navbar-toggle .icon-bar {
    background-color: #acacac;
}
#basketCount,.basket-counter {
    background: #009fda;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0px;
    text-align: center;
    width: 1.5em;
    font-size: 0.8em;
}

/* MEGANAVBAR FIX  */

@media (min-width: 768px) {
    .navbar.meganavbar_msg.dropdown-onhover .navbar-nav> li > a, .navbar.meganavbar_msg .navbar-nav.dropdown-onhover> li > a {
        color: #4d4d4d;
        background: none;
        font-weight: 300;
        font-size: 15px;
    }
    .navbar.meganavbar_msg .navbar-nav>li[class*="dropdown"].dropdown-onhover:hover, .navbar.meganavbar_msg.dropdown-onhover .navbar-nav>li[class*="dropdown"]:hover,
    .navbar.meganavbar_msg .navbar-nav > li[class*="dropdown"].dropdown-onhover:hover > a, .navbar.meganavbar_msg.dropdown-onhover .navbar-nav > li:hover > a[class*="dropdown"]{
        background: none;
    }
    .navbar.meganavbar_msg:not(.no-border).dropdown-onhover .navbar-nav>li:hover>a, .navbar:not(.no-border) li.dropdown-onhover:hover>a, .navbar:not(.no-border) .navbar-nav.dropdown-onhover>li:hover>a {
        border: hidden;
    }
    .navbar.meganavbar_msg:not(.navbar-fixed-bottom).dropdown-onhover .navbar-nav>li:not(.disabled):hover>a:after {
        border-bottom-color: #009fda;
    }
    .navbar.meganavbar_msg .navbar-nav>li.divider {
        background-color: #858585;
    }
    .navbar.meganavbar_msg .navbar-nav>li.divider {
        height: 15px;
        top: 22px;
    }
    .navbar.meganavbar_msg .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .navbar.meganavbar_msg .navbar-nav>li .dropdown-menu:not([class*="collaps"]) {
        border-top: 4px solid #009fda;
        border-left: hidden;
        border-right: hidden;
        background: #f2f2f2;
    }
    .navbar.meganavbar_msg .dropdown-menu li>a {
        display: block;
        padding: 1px 20px;
        text-decoration: none;
        color: #666;
        margin: 0px;
        font-size: 15px;
        line-height: 23px;
    }
    .navbar.meganavbar_msg .navbar-nav .dropdown-menu li:not(.list-group) > a, .navbar.meganavbar_msg .dropdown-menu>li>a {
        background: none;
        color: #575757;
        font-weight: 300;
        padding: 1px 10px;
    }
    .navbar.meganavbar_msg .navbar-nav .dropdown-menu li:not(.list-group) > a:hover, .navbar.meganavbar_msg .navbar-nav .dropdown-menu li:not(.list-group) > a:focus {
        color: #fff;
        background-color: #4d4d4d;
    }
    .navbar.meganavbar_msg .dropdown-menu li.dropdown-header {
        font-weight: 300;
        color: #009fda;
        padding: 5px 10px;
    }
    .navbar.meganavbar_msg .navbar-nav>li.dropdown-short>.dropdown-menu {
        padding: 15px 0;
    }
    .navbar.meganavbar_msg ul.dropdown-menu.desktop {
        max-width: 500%;
        max-height: 800%;
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        -webkit-column-rule: 1px solid #ddd;
        -moz-column-rule: 1px solid #ddd;
        column-rule: 1px solid #ddd;
    }
    .navbar.meganavbar_msg ul.dropdown-menu.desktop li {
        display: block;
    }
    p#siteHead {font-weight: 100; letter-spacing: -0.025em; font-size: 48px; padding: 0; margin-top: 20px; margin-bottom: 10px; line-height: 1.1;}
}

@media (max-width: 767px) {
    .navbar.meganavbar_msg .navbar-nav li.xs-hover > a {
        color: #4d4d4d;
        background-color: transparent;
        font-weight: 300;
    }
    .navbar.meganavbar_msg .navbar-nav li.xs-hover > a:hover {
        color: #009fda;
        background-color: #dfdfdf;
    }
    .navbar.meganavbar_msg .navbar-nav li.xs-hover > a {
        color: #4d4d4d;
        background-color: transparent;
    }
    .navbar.meganavbar_msg .navbar-nav li.xs-hover > a:hover {
        color: #009fda;
        background-color: #dfdfdf;
    }
    .navbar.meganavbar_msg .navbar-nav .dropdown-menu .divider {
        background-color: #e6e6e6;
    }
    .navbar.meganavbar_msg .navbar-nav .dropdown-menu > li > a {font-weight: 300;}
    .navbar.meganavbar_msg .navbar-collapse>.navbar-form,
    .navbar.meganavbar_msg .navbar-collapse>a.navbar-link,
    .navbar.meganavbar_msg .navbar-collapse>.navbar-text,
    .navbar.meganavbar_msg .navbar-collapse .navbar-nav>.navbar-form,
    .navbar.meganavbar_msg .navbar-collapse .navbar-nav>li,
    .navbar.meganavbar_msg .navbar-collapse .navbar-nav>.navbar-text,
    .navbar.meganavbar_msg .navbar-collapse .navbar-nav>a.navbar-link,
    .navbar.meganavbar_msg .navbar-collapse .navbar-nav>.navbar-form {
        border-bottom-color: #6f6f6f !important;

    }
    .navbar.meganavbar_msg .navbar-nav>li>.dropdown-grid-wrapper>.dropdown-menu,
    .navbar.meganavbar_msg .navbar-nav>li>.dropdown-menu {
        border-top-color: #e6e6e6 !important;
        -webkit-box-shadow: 0 -1px 0 #dfdfdf !important;
        box-shadow: 0 -1px 0 #dfdfdf !important;
    }
    p#siteHead {
        font-weight: 300; 
        letter-spacing: -0.025em; 
        font-size: calc(2vw + 2vh + 2vmin); 
        padding: 0; 
        margin: 8px 15px;
        line-height: 28px;
        float: left;
    }
    p#siteHead a {
        text-decoration: none;
    }
    p#siteHead img {
        width: 55%;
        display: block;
    }
    .navbar.meganavbar_msg button.navbar-toggle{
        margin-top: 17px;
    }
}
/*Megamenu - Desktop version*/
#megamenu-desktop {
    min-width: 980px;
    width: 100%;
    font-family: 'Foundry Sterling W01';
    font-weight: 300;
    font-style: normal;
}
#megamenu-desktop .container,#megamenu-desktop .holder {margin: 0 auto;}
#megamenu-desktop .hidden {display: none;}
#megamenu-desktop .center {text-align: center;}
#megamenu-desktop .overflow {overflow: hidden;}
#megamenu-desktop *.normal {font-weight: 300;}
#megamenu-desktop *.bold {font-weight: 500;}
#megamenu-desktop *.italic {font-style: italic;}
#megamenu-desktop.menu_container {
    height: 50px;
    padding: 20px 0 0 0;
}
#megamenu-desktop.menu_container > ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1000px;
    height: 33px;
    z-index: 9;
    border-bottom: 4px solid #009fda;
    /*& > li.last {*/
    /*box-shadow:none;*/
    /*border-right:0px;*/
    /*& > a {*/
    /*box-shadow:none;*/
    /*border-right:0px;*/
    /*}*/
    /*}*/
}
#megamenu-desktop.menu_container > ul > li {
    display: block;
    float: left;
    padding: 0 7px 0 7px;
    margin: 0;
    height: 34px;
    border-right: 0px;
    background: none;
    /*& > .menu_dropdown_block.half_width {*/
    /*width:50%;*/
    /*}*/
}
#megamenu-desktop.menu_container > ul > li > a {
    line-height: 1.6em;
    padding: 0;
    text-align: center;
    color: #4d4d4d;
    text-decoration: none;
    font-size: 15px;
}
#megamenu-desktop.menu_container > ul > li > a > i.fa-caret-up {
    line-height: 0.5em;
    padding: 0;
    text-align: center;
    display: none;
    color: #009fda;
    text-decoration: none;
    font-size: 15px;
}
#megamenu-desktop.menu_container > ul > li > form {
    margin: -1px 0 0px 0;
}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block {
    visibility: hidden;
    position: absolute;
    border: 0px solid #ddd;
    background: #f2f2f2;
    top: 34px;
    color: #575757;
    opacity: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    z-index: 30;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.62);
    -moz-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.62);
    box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.62);
}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block p {
    padding: 5px 5px;
    margin-bottom: 10px;
    line-height: 1.7em;
}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block *.small {
    font-size: 11px;
    color: #666;
}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block p.links a {
    text-decoration: none;
}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .container,
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .holder {
    padding: 10px 0px 5px 0px;
    display: table;
}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: table-cell;
    width: 250px;
    padding: 0px;
    margin: 0px;
}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column .content {padding: 0px;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column + .column {border-left: 1px solid #b2b2b2;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span1 {width: 100%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span2 {width: 50%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span3 {width: 33%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span4 {width: 25%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span5 {width: 20%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span6 {width: 16%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span10per {width: 10%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span20per {width: 20%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span30per {width: 30%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span40per {width: 40%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span50per {width: 50%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span60per {width: 60%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span70per {width: 70%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span80per {width: 80%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block .column.span90per {width: 90%;}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block h1 {
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #555;
    border-bottom: 2px solid #888;
    padding: 5px 0 5px 5px;
}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block h2 {
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 20px 0px 20px;
    margin: 0px;
    color: #009fda;
}
#megamenu-desktop.menu_container > ul > li > .menu_dropdown_block.column-4 {
    left: 0;
    width: 100%;
    margin-left: 0;
}
#megamenu-desktop.menu_container > ul > li + li:before {
    content: "|";
    padding: 0 15px 0 0;
}
#megamenu-desktop.menu_container > ul > li.right:before {
    content: " ";
    padding: 0;
}
#megamenu-desktop.menu_container > ul > li.right {
    float: right;
}
#megamenu-desktop.menu_container > ul > li.right > .menu_dropdown_block {
    right: 0;
}
#megamenu-desktop.menu_container > ul > li.search {
    box-shadow: none;
    border-right: 0px;
    padding: 0px;
}
#megamenu-desktop.menu_container > ul > li:hover > .menu_dropdown_block {
    visibility: visible;
    opacity: 1;
}
#megamenu-desktop.menu_container #mmSearch {display: inline-block;}
#megamenu-desktop.menu_container #mmSearch input[name="q"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0px 3px;
    height: 24px;
}
#megamenu-desktop ul.menu_submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
#megamenu-desktop ul.menu_submenu li {
    display: block;
    background: none;
    padding: 0;
    margin: 0;
}
#megamenu-desktop ul.menu_submenu li a {
    display: block;
    padding: 1px 20px;
    text-decoration: none;
    color: #666;
    margin: 0px;
    font-size: 15px;
    line-height: 23px;
}
#megamenu-desktop ul.menu_submenu li a:hover {
    background-color: #4d4d4d;
    color: #fff;
}
#megamenu-desktop ul.menu_submenu_block {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 10px 0 10px 0;
}
#megamenu-desktop ul.menu_submenu_block li {display: block;}
#megamenu-desktop ul.menu_submenu_block li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #666;
    margin: 0;
}
#megamenu-desktop ul.menu_submenu_block li a:hover {color: #fff;}
#megamenu-desktop .mobile_collapser {display: none;}
#megamenu-desktop .mobile_collapser > label {
    display: block;
    height: 22px;
    padding: 12px 25px;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
}
#megamenu-desktop .mobile_collapser .mobile_menu_icon {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
#hidden_menu_collapser {display: none;}
#hidden_menu_collapser:checked + ul {
    height: auto;
    min-height: 40px;
    max-height: 2999px;
}
#megamenu-desktop.menu_container.topfixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#megamenu-desktop.menu_container.centered > ul {
    float: none;
    height: inherit;
    margin: 0 auto;
    max-width: 1000px;
}

#megamenu-desktop.menu_container.green_glass > ul > li:hover > a {color: #009fda;}
#megamenu-desktop.menu_container.green_glass > ul > li:hover > a > i.fa-caret-up {
    display: block;
    padding: 0 0 0 15px;
    bottom: 2px;
    position: relative;
}
#megamenu-desktop.menu_container.green_glass > ul > li > .menu_dropdown_block p.links a {
    color: #72aa00;
}
#megamenu-desktop.menu_container.green_glass > ul > li > .menu_dropdown_block p.links a:hover {
    color: #70891f;
    border-bottom: 1px dotted #70891f;
}
#megamenu-desktop.menu_container.green_glass ul.menu_submenu_block li a:hover {
    background: #70891f;
}
.header-top.content {
    padding-top: 20px;
}
.recommended-package {
    margin-top: 25px;
}
.more-information {
    text-decoration: underline;
}

.container.marketing .footer-phone-numbers h4 {
    margin-bottom: 0;
}

.container.marketing .footer-phone-numbers h4 span {
    font-size: 18px;
    font-weight: bold;
}