@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=f711780c-6e6a-4e69-90c7-63c922c18697");
@font-face {
  font-family: "Foundry Sterling W01_n5";
  src: url("../fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Foundry Sterling W01";
  src: url("../fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix");
  src: url("../fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix") format("eot"), url("../fonts/811fbecc-62c1-4b3d-8542-db71a661e012.woff") format("woff"), url("../fonts/70189f1b-eed0-4625-992e-f4867c80eb5c.ttf") format("truetype"), url("../fonts/babf4e66-b5fc-48af-a276-77c327d9ac9a.svg#babf4e66-b5fc-48af-a276-77c327d9ac9a") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Foundry Sterling W01_n2";
  src: url("../fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Foundry Sterling W01";
  src: url("../fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix");
  src: url("../fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix") format("eot"), url("../fonts/1c874867-515c-4fdd-9fae-7c37237fba27.woff") format("woff"), url("../fonts/a5c117b0-930c-40ac-b4b7-1fac7ea445f7.ttf") format("truetype"), url("../fonts/7c3bed3a-232e-4f9b-9013-16f12661a829.svg#7c3bed3a-232e-4f9b-9013-16f12661a829") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Foundry Sterling W01_n1";
  src: url("../fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Foundry Sterling W01";
  src: url("../fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix");
  src: url("../fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix") format("eot"), url("../fonts/a48c29e8-8de1-4e90-82a1-5e025a284ae5.woff") format("woff"), url("../fonts/cde1f0bd-b628-489b-a95d-2048acf1460a.ttf") format("truetype"), url("../fonts/c5b9070a-700b-425a-84a5-9fd846ba5455.svg#c5b9070a-700b-425a-84a5-9fd846ba5455") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Foundry Sterling W01_n3";
  src: url("../fonts/8af41afe-9f54-4583-9674-bc1303e3ff13.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Foundry Sterling W01";
  src: url("../fonts/8af41afe-9f54-4583-9674-bc1303e3ff13.eot?#iefix");
  src: url("../fonts/8af41afe-9f54-4583-9674-bc1303e3ff13.eot?#iefix") format("eot"), url("../fonts/13371dca-3ac8-4bab-b52d-4e1d2efa82f9.woff") format("woff"), url("../fonts/0d4f9295-fafe-4a02-ab19-b161494f81e2.ttf") format("truetype"), url("../fonts/db2dcdc1-bbb3-414f-b352-c38fff8db0d7.svg#db2dcdc1-bbb3-414f-b352-c38fff8db0d7") format("svg");
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(#efecea, #eae4e2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#efecea, #eae4e2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#efecea, #eae4e2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#efecea, #eae4e2);
  /* Standard syntax */
}
#gheader.menu_container {
  margin-bottom: 23px;
  height: 40px;
  clear: both;
  float: left;
  padding-left: 0px;
  padding-right: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Foundry Sterling W01';
  font-weight: 300;
  font-style: normal;
}
#gheader.menu_container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  width: 100%;
  height: inherit;
}
#gheader.menu_container > ul > li {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  background: none;
  height: 40px;
}
#gheader.menu_container > ul > li > a {
  line-height: 1em;
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  font-size: 13px;
  padding: 14px 0 0 192px;
}
#gheader.menu_container > ul > li > a > .fa {
  color: #fff;
}
#gheader.menu_container > ul > li > .menu_dropdown_block {
  visibility: hidden;
  position: absolute;
  background: #009fda;
  top: 40px;
  color: #575757;
  opacity: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 30;
}
#gheader.menu_container > ul > li > .menu_dropdown_block p {
  padding: 5px 5px;
  margin-bottom: 10px;
  line-height: 1.7em;
}
#gheader.menu_container > ul > li > .menu_dropdown_block .container,
#gheader.menu_container > ul > li > .menu_dropdown_block .holder {
  padding: 0px;
}
#gheader.menu_container > ul > li:hover > .menu_dropdown_block {
  visibility: visible;
  opacity: 1;
}
#gheader.menu_container.full_width {
  width: 100%;
}
#gheader.menu_container.global {
  background: #262626 url("../imgs/msg-sites.png") 15px 50% no-repeat;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block p.links a {
  color: #72aa00;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block p.links a:hover {
  color: #70891f;
  border-bottom: 1px dotted #70891f;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  width: auto;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu li {
  display: block;
  border-bottom: 1px solid #33b2e1;
  background: none;
  padding: 0;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu li a {
  display: block;
  height: 40px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 17px;
  margin: 0px;
  padding: 0px 20px;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu li a > img {
  float: left;
  display: inline-block;
  margin-top: 2px;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu li a > span {
  margin: 0px 10px;
  position: relative;
  top: 0;
  float: left;
  display: inline-block;
  line-height: 40px;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu li a:hover {
  background-color: #4d4d4d;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu_block {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 10px 0 10px 0;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu_block li {
  display: block;
  background: none;
  padding: 0;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu_block li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #666;
  margin: 0;
}
#gheader.menu_container.global > ul > li > .menu_dropdown_block ul.menu_submenu_block li a:hover {
  color: #fff;
}
#gheader.menu_container.global ul.menu_submenu_block li a:hover {
  background: #70891f;
}

#cheader {
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  width: 980px;
  height: 130px;
  font-family: 'Foundry Sterling W01';
  font-weight: 300;
  font-style: normal;
}
#cheader div.left-container {
  width: 600px;
  height: 130px;
  float: left;
}
#cheader div.right-container {
  width: 350px;
  text-align: right;
  float: right;
  position: relative;
}
#cheader div.site-logo {
  width: 130px;
  height: 130px;
  padding: 0px;
  float: left;
}
#cheader div.site-logo img {
  width: 130px;
  height: 130px;
}
#cheader div.msg-logo {
  width: 250px;
  height: 33px;
  background: url("../imgs/msg-logo.png") no-repeat;
  float: left;
}
#cheader h1 {
  font-size: 50px;
  font-family: inherit;
  margin: 20px 0 5px 0;
  font-weight: 100;
  color: #009fda;
  text-shadow: none;
  line-height: 56px;
}
#cheader h1 a {
  color: inherit;
  text-decoration: none;
}
#cheader p {
  margin: 3px 0px;
  clear: both;
  padding: 0;
  line-height: normal;
}
#cheader p.contact {
  font-size: 15px;
  font-weight: 500;
}
#cheader p.contact a {
  color: #009fda;
  text-decoration: none;
}
#cheader p.contact a:hover {
  color: #ff7900;
  text-decoration: none;
}
#cheader p.telnumber {
  font-size: 20px;
  color: #4d4d4d;
  font-weight: 500;
}
#cheader p.openinghrs {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 300;
}
#cheader .menu_container {
  height: 45px;
  clear: both;
  float: right;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#cheader .menu_container > ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 30px;
  z-index: 35;
}
#cheader .menu_container > ul > li {
  display: block;
  float: left;
  padding: 0px 5px;
  margin: 0;
  height: 34px;
  background: none;
  line-height: 14px;
}
#cheader .menu_container > ul > li > a {
  line-height: 14px;
  padding: 5px;
  text-align: center;
  display: block;
  color: #4d4d4d;
  text-decoration: none;
  font-size: 15px;
}
#cheader .menu_container > ul > li > a > i.fa-caret-up {
  line-height: 0.5em;
  padding: 0;
  text-align: center;
  display: none;
  color: #009fda;
  text-decoration: none;
  font-size: 15px;
}
#cheader .menu_container > ul > li > form {
  margin: -1px 0 0px 0;
}
#cheader .menu_container > ul > li > .menu_dropdown_block {
  visibility: hidden;
  position: absolute;
  border: 0px solid #ddd;
  background: #f2f2f2;
  top: 25px;
  color: #575757;
  opacity: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  z-index: 30;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.62);
  -moz-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.62);
  box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.62);
}
#cheader .menu_container > ul > li > .menu_dropdown_block p {
  padding: 5px;
  margin-bottom: 10px;
  line-height: 1.7em;
}
#cheader .menu_container > ul > li > .menu_dropdown_block .container,
#cheader .menu_container > ul > li > .menu_dropdown_block .holder {
  padding: 5px 0px 5px 0px;
}
#cheader .menu_container > ul > li.pipe {
  padding: 5px;
  font-weight: 100;
}
#cheader .menu_container > ul > li.basket {
  padding: 0px 0px 5px 5px;
}
#cheader .menu_container > ul > li.basket #basketCount {
  background: #009fda;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0px;
  text-align: center;
  width: 1.5em;
  font-size: 0.8em;
}
#cheader .menu_container > ul > li:hover > a.myaccount {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.62);
  -moz-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.62);
  box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.62);
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
#cheader .menu_container > ul > li:hover > .menu_dropdown_block {
  visibility: visible;
  opacity: 1;
}
#cheader .menu_container.myaccount {
  border-bottom: 0px solid #009fda;
}
#cheader .menu_container.myaccount > ul > li:hover > a.myaccount {
  color: #009fda;
}
#cheader .menu_container.myaccount > ul > li:hover > a.myaccount > i.fa-caret-up {
  display: block;
}
#cheader .menu_container.myaccount > ul > li.basket > a {
  padding-right: 0px;
}
#cheader .menu_container.myaccount > ul > li.basket > a:hover {
  color: #009fda;
  border-radius: 0px;
  padding-right: 0px;
}
#cheader .menu_container.myaccount > ul > li > .menu_dropdown_block p.links a {
  color: #72aa00;
}
#cheader .menu_container.myaccount > ul > li > .menu_dropdown_block p.links a:hover {
  color: #70891f;
  border-bottom: 1px dotted #70891f;
}
#cheader .menu_container.myaccount ul.menu_submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
#cheader .menu_container.myaccount ul.menu_submenu li {
  display: block;
  text-align: left;
  background: none;
  padding: 0;
  line-height: normal;
}
#cheader .menu_container.myaccount ul.menu_submenu li a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  color: #666;
  margin: 0px;
  font-size: 14px;
  line-height: 22px;
}
#cheader .menu_container.myaccount ul.menu_submenu li a:hover {
  background-color: #4d4d4d;
  color: #fff;
}
#cheader .menu_container.myaccount ul.menu_submenu_block li a:hover {
  background: #70891f;
}

#megamenu {
  min-width: 980px;
  width: 100%;
  font-family: 'Foundry Sterling W01';
  font-weight: 300;
  font-style: normal;
}
.container,
.holder {
  margin: 0 auto;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.overflow {
  overflow: hidden;
}
*.normal {
  font-weight: 300;
}
*.bold {
  font-weight: 500;
}
*.italic {
  font-style: italic;
}
#megamenu.menu_container {
  height: 40px;
  clear: both;
  float: left;
  padding: 5px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#megamenu.menu_container > ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 1000px;
  height: 30px;
  z-index: 9;
  border-bottom: 4px solid #009fda;
  /*& > li.last {*/
  /*box-shadow:none;*/
  /*border-right:0px;*/
  /*& > a {*/
  /*box-shadow:none;*/
  /*border-right:0px;*/
  /*}*/
  /*}*/
}
#megamenu.menu_container > ul > li {
  display: block;
  float: left;
  padding: 0 7px 0 7px;
  margin: 0;
  height: 34px;
  border-right: 0px;
  background: none;
  /*& > .menu_dropdown_block.half_width {*/
  /*width:50%;*/
  /*}*/
}
#megamenu.menu_container > ul > li > a {
  line-height: 1.6em;
  padding: 0;
  text-align: center;
  color: #4d4d4d;
  text-decoration: none;
  font-size: 15px;
}
#megamenu.menu_container > ul > li > a > i.fa-caret-up {
  line-height: 0.5em;
  padding: 0;
  text-align: center;
  display: none;
  color: #009fda;
  text-decoration: none;
  font-size: 15px;
}
#megamenu.menu_container > ul > li > form {
  margin: -1px 0 0px 0;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block {
  visibility: hidden;
  position: absolute;
  border: 0px solid #ddd;
  background: #f2f2f2;
  top: 34px;
  color: #575757;
  opacity: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  z-index: 30;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.62);
  -moz-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.62);
  box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.62);
}
#megamenu.menu_container > ul > li > .menu_dropdown_block p {
  padding: 5px 5px;
  margin-bottom: 10px;
  line-height: 1.7em;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block *.small {
  font-size: 11px;
  color: #666;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block p.links a {
  text-decoration: none;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .container,
#megamenu.menu_container > ul > li > .menu_dropdown_block .holder {
  padding: 10px 0px 5px 0px;
  display: table;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table-cell;
  width: 250px;
  padding: 0px;
  margin: 0px;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column .content {
  padding: 0px;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column + .column {
  border-left: 1px solid #b2b2b2;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span1 {
  width: 100%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span2 {
  width: 50%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span3 {
  width: 33%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span4 {
  width: 25%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span5 {
  width: 20%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span6 {
  width: 16%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span10per {
  width: 10%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span20per {
  width: 20%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span30per {
  width: 30%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span40per {
  width: 40%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span50per {
  width: 50%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span60per {
  width: 60%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span70per {
  width: 70%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span80per {
  width: 80%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block .column.span90per {
  width: 90%;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block h1 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #555;
  border-bottom: 2px solid #888;
  padding: 5px 0 5px 5px;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block h2 {
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 20px 0px 20px;
  margin: 0px;
  color: #009fda;
}
#megamenu.menu_container > ul > li > .menu_dropdown_block.column-4 {
  left: 0;
  width: 100%;
  margin-left: 0;
}
#megamenu.menu_container > ul > li + li:before {
  content: "|";
  padding: 0 15px 0 0;
}
#megamenu.menu_container > ul > li.right:before {
  content: " ";
  padding: 0;
}
#megamenu.menu_container > ul > li.right {
  float: right;
}
#megamenu.menu_container > ul > li.right > .menu_dropdown_block {
  right: 0;
}
#megamenu.menu_container > ul > li.search {
  box-shadow: none;
  border-right: 0px;
  padding: 0px;
}
#megamenu.menu_container > ul > li:hover > .menu_dropdown_block {
  visibility: visible;
  opacity: 1;
}
#megamenu.menu_container #mmSearch {
  display: inline-block;
}
#megamenu.menu_container #mmSearch input[name="q"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0px 3px;
  height: 24px;
}
#megamenu.menu_container.full_width {
  width: 100%;
}
#megamenu ul.menu_submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
#megamenu ul.menu_submenu li {
  display: block;
  background: none;
  padding: 0;
  margin: 0;
}
#megamenu ul.menu_submenu li a {
  display: block;
  padding: 1px 20px;
  text-decoration: none;
  color: #666;
  margin: 0px;
  font-size: 15px;
  line-height: 23px;
}
#megamenu ul.menu_submenu li a > span {
  font-size: 10px;
}
#megamenu ul.menu_submenu li a:hover {
  background-color: #4d4d4d;
  color: #fff;
}
#megamenu ul.menu_submenu_block {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 10px 0 10px 0;
}
#megamenu ul.menu_submenu_block li {
  display: block;
}
#megamenu ul.menu_submenu_block li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #666;
  margin: 0;
}
#megamenu ul.menu_submenu_block li a:hover {
  color: #fff;
}
#megamenu .mobile_collapser {
  display: none;
}
#megamenu .mobile_collapser > label {
  display: block;
  height: 22px;
  padding: 12px 25px;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
}
#megamenu .mobile_collapser .mobile_menu_icon {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
#hidden_menu_collapser {
  display: none;
}
#hidden_menu_collapser:checked + ul {
  height: auto;
  min-height: 40px;
  max-height: 2999px;
}
#megamenu.menu_container.topfixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
#megamenu.menu_container.centered > ul {
  float: none;
  height: inherit;
  margin: 0 auto;
  max-width: 1000px;
}
#megamenu.menu_container.green_glass {
  border-bottom: 0px solid #009fda;
}
#megamenu.menu_container.green_glass > ul > li:hover > a {
  color: #009fda;
}
#megamenu.menu_container.green_glass > ul > li:hover > a > i.fa-caret-up {
  display: block;
  padding: 0 0 0 15px;
}
#megamenu.menu_container.green_glass > ul > li > .menu_dropdown_block p.links a {
  color: #72aa00;
}
#megamenu.menu_container.green_glass > ul > li > .menu_dropdown_block p.links a:hover {
  color: #70891f;
  border-bottom: 1px dotted #70891f;
}
#megamenu.menu_container.green_glass ul.menu_submenu_block li a:hover {
  background: #70891f;
}
#megamenu #basketCount {
  background: #009fda;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0px;
  text-align: center;
  width: 1.5em;
  font-size: 0.8em;
}
#megamenu.menu_container > ul > li + li.nopipe:before {
  content: " ";
}

#cfooter {
  background-color: #fff;
  padding: 20px;
  font-family: 'Foundry Sterling W01';
  font-weight: 300;
  font-style: normal;
  margin: 30px 0 0 0;
}
#cfooter .container,
#cfooter .holder {
  margin: 0 auto;
  width: 960px;
  display: table;
}
#cfooter .container div.right,
#cfooter .holder div.right {
  float: right;
}
#cfooter .container div,
#cfooter .holder div {
  width: 150px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
#cfooter .container div h1,
#cfooter .holder div h1 {
  font-size: 15px;
  font-family: inherit;
  color: #009fda;
  font-weight: 500;
  margin: 0 0 5px 0;
}
#cfooter .container div p,
#cfooter .holder div p {
  font-size: 15px;
  font-family: inherit;
  color: #4d4d4d;
  font-weight: 300;
  margin: 0 0 5px 0;
  padding: 0;
  line-height: normal;
}
#cfooter .container div p a,
#cfooter .holder div p a {
  text-decoration: none;
  color: #4d4d4d;
}
#cfooter .container div p a:hover,
#cfooter .holder div p a:hover {
  text-decoration: none;
  color: #ff7900;
}
#cfooter .container div p.i-twitter,
#cfooter .holder div p.i-twitter {
  padding: 0 0 0 22px;
  background: url('../imgs/i-twitter.png') no-repeat;
}
#cfooter .container div p.i-fb,
#cfooter .holder div p.i-fb {
  padding: 0 0 0 22px;
  background: url('../imgs/i-fb.png') no-repeat;
}
#cfooter .container div p.i-gplus,
#cfooter .holder div p.i-gplus {
  padding: 0 0 0 22px;
  background: url('../imgs/i-gplus.png') no-repeat;
}
#cfooter .container div.contactdts,
#cfooter .holder div.contactdts {
  width: 230px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  line-height: 2em;
}
#cfooter .container div.contactdts h1,
#cfooter .holder div.contactdts h1 {
  font-size: 15.5px;
  color: #4d4d4d;
}
#cfooter .container div.contactdts h1 span.phbig,
#cfooter .holder div.contactdts h1 span.phbig {
  font-size: 1.4em;
}
#cfooter .container div.contactdts p,
#cfooter .holder div.contactdts p {
  font-size: 13px;
}
#cfooter .container div.contactdts p.lgrey,
#cfooter .holder div.contactdts p.lgrey {
  color: #7c7c7c;
}
#cfooter .container div.feefo,
#cfooter .holder div.feefo {
  width: 100px;
  height: 100px;
  clear: both;
  margin: 0;
  padding: 20px 0;
}
#cfooter .container div.paymentcards,
#cfooter .holder div.paymentcards {
  width: 244px;
  height: 24px;
  background: url('../imgs/paymentcards.png') no-repeat;
  clear: both;
  margin: 0;
  padding: 0;
}
#cfooter .tabs {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}
#cfooter .tabs span {
  padding: 5px 20px;
  margin: 0px;
  display: inline-block;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  font-size: 15px;
  width: auto;
}
#cfooter .tabs span a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
#cfooter .tabs span.feedback {
  background-color: #009fda;
}
#cfooter .tabs span.onlinechat {
  background-color: #ff7900;
}

#gfooter {
  background-color: #262626;
  padding: 40px;
  font-family: 'Foundry Sterling W01';
  font-weight: 300;
  font-style: normal;
}
#gfooter .container,
#gfooter .holder {
  margin: 0 auto;
  width: 960px;
  background: url('../imgs/msg-icons-bw.png') no-repeat 0px 30px;
}
#gfooter .container div.leftblock,
#gfooter .holder div.leftblock {
  vertical-align: top;
  width: 300px;
  padding: 0 0 0 65px;
}
#gfooter .container div.centerblock,
#gfooter .holder div.centerblock {
  vertical-align: top;
  width: 280px;
  padding: 0 0 0 30px;
}
#gfooter .container div.centerblock img.msgiconft,
#gfooter .holder div.centerblock img.msgiconft {
  float: left;
  margin-right: 10px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#gfooter .container div.rightblock,
#gfooter .holder div.rightblock {
  vertical-align: bottom;
  text-align: right;
  width: 250px;
}
#gfooter .container div,
#gfooter .holder div {
  display: inline-block;
}
#gfooter .container div h1,
#gfooter .holder div h1 {
  font-size: 15px;
  font-family: inherit;
  color: #b2b2b2;
  font-weight: 500;
  margin: 0 0 18px 0;
  text-shadow: none;
  line-height: 19px;
}
#gfooter .container div h1 > a,
#gfooter .holder div h1 > a {
  color: #b2b2b2;
  text-decoration: none;
}
#gfooter .container div h2,
#gfooter .holder div h2 {
  font-size: 15px;
  font-family: inherit;
  color: #1aa9de;
  font-weight: 500;
  margin: 0px;
}
#gfooter .container div h2 > a,
#gfooter .holder div h2 > a {
  color: #1aa9de;
  text-decoration: none;
}
#gfooter .container div h2 > a:hover,
#gfooter .holder div h2 > a:hover {
  color: #ff7900;
}
#gfooter .container div p,
#gfooter .holder div p {
  font-size: 15px;
  font-family: inherit;
  color: #b2b2b2;
  font-weight: 300;
  margin: 0 0 17px 0;
  padding: 0;
  line-height: normal;
}
#gfooter .container div p > strong,
#gfooter .holder div p > strong {
  color: inherit;
}
#gfooter .container div p > a,
#gfooter .holder div p > a {
  color: #b2b2b2;
  text-decoration: none;
}
#gfooter .container div p > a > strong,
#gfooter .holder div p > a > strong {
  color: inherit;
}
#gfooter .container div p > a:hover,
#gfooter .holder div p > a:hover {
  color: #ff7900;
}
#gfooter .gchat {
  margin: 0;
  position: fixed;
  padding: 8px 0px;
  bottom: 0px;
  right: 5px;
  font-size: 14px;
  z-index: 9999;
}
#gfooter .gchat > a {
  border: 1px solid #4d4d4d;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #eeeeee;
  text-decoration: none;
  color: #4d4d4d;
  padding: 8px 12px;
}
#gfooter .gchat > a:hover {
  border: 1px solid #4d4d4d;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
  color: #eeeeee;
  background-color: #4d4d4d;
  padding: 8px 12px;
}
