/* MSG SITES - General Header */
.msg-sites {
    margin: 0px;
    border: 0px;
    background-color: #262626;
    min-height:40px;
}
.msg-sites .open .dropdown-menu {
    background-color: #009fda;
    border: 0px;
    padding: 0px;
    border-radius: 0;
}
.msg-sites .nav .open > a,
.msg-sites .nav .open > a:hover,
.msg-sites .nav .open > a:focus {
    background-color: #262626;
    border: 0px;
}
.msg-sites .nav > li > a,
.msg-sites .nav > li > a:hover,
.msg-sites .nav > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #262626;
    padding: 10px 15px;
}
.msg-sites .dropdown-menu>li>a {
    color: #fff;
    line-height: 2.7em;
    font-size: 1.15em;
    font-weight: 300;
    padding: 0 20px;
}
.msg-sites .dropdown-menu img {
    margin-right: 10px;
    width: 35px;
    height: 35px;
}
.msg-sites .dropdown-menu>li>a:hover{
    background-color: #4d4d4d;
}
.msg-sites .dropdown-menu .divider {
    margin: 0px;
    background-color: #2caddf;
}
.msg-sites .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* MSG megamenu */
.msg-megamenu {
    margin: 0 0 10px 0;
    border: 0px;
    background-color: #fff;
}
.msg-megamenu .nav > li > a{
    text-decoration: none;
    font-weight: 200;
    color: #4d4d4d;
    background-color: transparent;
    font-size: 1.2em;
}
.msg-megamenu .nav > li > a:hover{
    text-decoration: underline;
    color: #ff7900;
    background-color: transparent;
}
.msg-megamenu .navbar-toggle .icon-bar {
    background-color: #4d4d4d;
}
.msg-megamenu .nav {
    float: none;
    display: inline-block;
}
.msg-megamenu button.navbar-toggle {
    margin-top: 4%;
}
a#msg-mobile-head {
    float: none;
    display: inline;
}
a#msg-mobile-head img {
    width: 50%;
    margin: 3% 0;
}


/** CHAT **/

.gchat {
    margin: 0;
    position: fixed;
    padding: 6px 0px;
    bottom: 0px;
    right: 10px;
    font-size: 14px;
    font-weight: 300;
    z-index: 9999;
}
.gchat a{
    border: 1px solid #4d4d4d;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #eeeeee;
    text-decoration: none;
    color: #4d4d4d;
    padding: 8px 12px;
}
.gchat a:hover{
    border: 1px solid #4d4d4d;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-decoration: none;
    color: #eeeeee;
    background-color: #4d4d4d;
    padding: 8px 12px;
}