/* MegaNavbar v2.1.0 (http://www.MegaNavbar.com) Copyright 2014 MegaNavbar.com. All Rights Reserved.
** Licensed under Regular License (http://codecanyon.net/licenses/regular) or Extended License (http://codecanyon.net/licenses/extended)
** We will take legal action against those who copy our HTML content, CSS style sheets and JavaScript functions without a license.
*/


.navbar.meganavbar_msg {
  background: transparent;
  border-color: transparent;
  color: #4d4d4d;
}
.navbar.meganavbar_msg .navbar-text {
  color: #4d4d4d;
}
.navbar.meganavbar_msg a.navbar-link {
  color: #4d4d4d;
  background-color: transparent;
}
.navbar.meganavbar_msg a.navbar-link:hover,
.navbar.meganavbar_msg a.navbar-link:focus {
  color: #5f5f5f;
  background-color: transparent;
}
.navbar.meganavbar_msg .navbar-brand {
  color: #4d4d4d;
  background-color: transparent;
}
.navbar.meganavbar_msg .navbar-brand:hover,
.navbar.meganavbar_msg .navbar-brand:focus {
  color: #009fda;
  background-color: transparent;
}
.navbar.meganavbar_msg .navbar-toggle {
  border-color: #acacac !important;
  background-color: transparent;
}
.navbar.meganavbar_msg .navbar-toggle .icon-bar {
  background-color: #acacac;
}
.navbar.meganavbar_msg .navbar-toggle:hover,
.navbar.meganavbar_msg .navbar-toggle:focus {
  border-color: #888888 !important;
  background-color: #dcdcdc !important;
}
.navbar.meganavbar_msg .navbar-toggle:hover .icon-bar,
.navbar.meganavbar_msg .navbar-toggle:focus .icon-bar {
  background-color: #888888;
}
.navbar.meganavbar_msg input::-webkit-input-placeholder,
.navbar.meganavbar_msg textarea::-webkit-input-placeholder {
  color: rgba(95,95,95,0.5);
}
.navbar.meganavbar_msg input:-moz-placeholder,
.navbar.meganavbar_msg textarea:-moz-placeholder {
  color: rgba(95,95,95,0.5);
}
.navbar.meganavbar_msg input::-moz-placeholder,
.navbar.meganavbar_msg textarea::-moz-placeholder {
  color: rgba(95,95,95,0.5);
}
.navbar.meganavbar_msg input:-ms-input-placeholder,
.navbar.meganavbar_msg textarea:-ms-input-placeholder {
  color: rgba(95,95,95,0.5);
}
.navbar.meganavbar_msg .form-control {
  color: #5f5f5f;
  background-color: #ffffff;
  border-color: #cdcdcd;
}
.navbar.meganavbar_msg .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 5px #dfdfdf;
  box-shadow: inset 0 1px 1px transparent, 0 0 5px #dfdfdf;
}
.navbar.meganavbar_msg .navbar-nav > li[class*="dropdown"].dropdown-onhover:hover > a,
.navbar.meganavbar_msg.dropdown-onhover .navbar-nav > li:hover > a[class*="dropdown"] {
  background-color: #dfdfdf;
}
.navbar.meganavbar_msg .navbar-nav> li > a {
  color: #4d4d4d;
  background-color: transparent;
}
.navbar.meganavbar_msg .navbar-nav> li > a:focus {
  color: #4d4d4d;
  background-color: transparent;
}
.navbar.meganavbar_msg .navbar-nav> li > a:hover {
  color: #009fda;
  background-color: transparent;
}
.navbar.meganavbar_msg .navbar-nav> li.open > a {
  color: #009fda;
  background-color: #dfdfdf;
}
.navbar.meganavbar_msg .navbar-nav> li.open > a:hover,
.navbar.meganavbar_msg .navbar-nav> li.open > a:focus {
  color: #009fda;
  background-color: #dfdfdf;
}
.navbar.meganavbar_msg .navbar-nav> li.active > a {
  color: #555555;
  background-color: #dfdfdf;
}
.navbar.meganavbar_msg .navbar-nav> li.active > a:hover,
.navbar.meganavbar_msg .navbar-nav> li.active > a:focus {
  color: #009fda;
  background-color: #dfdfdf;
}
.navbar.meganavbar_msg .navbar-nav> li.disabled > a {
  color: #c5c5c5;
  background-color: transparent;
}
.navbar.meganavbar_msg .navbar-nav> li.disabled > a:hover,
.navbar.meganavbar_msg .navbar-nav> li.disabled > a:focus {
  color: #c5c5c5;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li > a,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li > a {
    color: #4d4d4d;
    background-color: transparent;
  }
  .navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li > a:focus,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li > a:focus {
    color: #4d4d4d;
    background-color: transparent;
  }
  .navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li > a:hover,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li > a:hover {
    color: #009fda;
    background-color: transparent;
  }
  .navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li.open > a,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li.open > a {
    color: #4d4d4d;
    background-color: transparent;
  }
  .navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li.open > a:focus,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li.open > a:focus {
    color: #009fda;
    background-color: transparent;
  }
  /*.navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li.open > a:hover,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li.open > a:hover {
    color: #009fda;
    background-color: #dfdfdf;
  }*/
  .navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li.active > a,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li.active > a {
    color: #009fda;
    background-color: #dfdfdf;
  }
  .navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li.active > a:focus,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li.active > a:focus {
    color: #009fda;
    background-color: #dfdfdf;
  }
  /*.navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li.active > a:hover,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li.active > a:hover {
    color: #009fda;
    background-color: #dfdfdf;
  }*/
  .navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li.disabled > a,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li.disabled > a {
    color: #c5c5c5;
    background-color: transparent;
  }
  .navbar.meganavbar_msg.dropdown-onhover.no-fix .navbar-nav> li.disabled > a:hover,
  .navbar.meganavbar_msg .navbar-nav.dropdown-onhover.no-fix> li.disabled > a:hover {
    color: #c5c5c5;
    background-color: transparent;
  }
  .navbar.meganavbar_msg .navbar-nav>li:not(.active):not(.disabled).dropdown-onhover.no-fix>a {
    color: #4d4d4d;
    background-color: transparent;
  }
  .navbar.meganavbar_msg .navbar-nav>li:not(.active):not(.disabled).dropdown-onhover.no-fix>a:focus {
    color: #4d4d4d;
    background-color: transparent;
  }
  .navbar.meganavbar_msg .navbar-nav>li:not(.active):not(.disabled).dropdown-onhover.no-fix>a:hover {
    color: #009fda;
    background-color: #dfdfdf;
  }
}


.navbar.meganavbar_msg a>span.desc {
  color: #929292;
}
.navbar.meganavbar_msg a:hover>span.desc {
  color: #929292;
}
@media (min-width: 768px) {
  .navbar.meganavbar_msg:not(.no-border).dropdown-onhover .navbar-nav>li:hover>a,
  .navbar:not(.no-border) li.dropdown-onhover:hover>a,
  .navbar:not(.no-border) .navbar-nav.dropdown-onhover>li:hover>a {
    border-color: #dfdfdf;
  }
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav>.active>a:before {
    border-top-color: #dfdfdf;
  }
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav>.open>a:before,
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav>li.dropdown-onhover:not(.disabled):hover>a:before,
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav.dropdown-onhover>li:not(.disabled):hover>a:before {
    border-bottom-color: #dfdfdf;
  }
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom):not(.no-border).dropdown-onhover .navbar-nav>li:not(.disabled):hover>a:before {
    border-bottom-color: #dfdfdf;
  }
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom) .navbar-nav>.active>a:after {
    border-top-color: #dfdfdf;
  }
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom) .navbar-nav>.open>a:after,
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom) .navbar-nav>li.dropdown-onhover:not(.disabled):hover>a:after,
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom) .navbar-nav.dropdown-onhover>li:not(.disabled):hover>a:after {
    border-bottom-color: #ffffff;
  }
  .navbar.meganavbar_msg:not(.navbar-fixed-bottom).dropdown-onhover .navbar-nav>li:not(.disabled):hover>a:after {
    border-bottom-color: #ffffff;
  }
  .navbar.meganavbar_msg.navbar-fixed-bottom:not(.no-border) .navbar-nav>.active>a:before {
    border-bottom-color: #dfdfdf;
  }
  .navbar.meganavbar_msg.navbar-fixed-bottom:not(.no-border) .navbar-nav>.open>a:before,
  .navbar.meganavbar_msg.navbar-fixed-bottom:not(.no-border) .navbar-nav>li.dropdown-onhover:not(.disabled):hover>a:before,
  .navbar.meganavbar_msg.navbar-fixed-bottom:not(.no-border) .navbar-nav.dropdown-onhover>li:not(.disabled):hover>a:before {
    border-top-color: #dfdfdf;
  }
  .navbar.meganavbar_msg.navbar-fixed-bottom:not(.no-border).dropdown-onhover .navbar-nav>li:not(.disabled):hover>a:before {
    border-top-color: #dfdfdf;
  }
  .navbar.meganavbar_msg.navbar-fixed-bottom .navbar-nav>.active>a:after {
    border-bottom-color: #dfdfdf;
  }
  .navbar.meganavbar_msg.navbar-fixed-bottom .navbar-nav>.open>a:after,
  .navbar.meganavbar_msg.navbar-fixed-bottom .navbar-nav>li.dropdown-onhover:not(.disabled):hover>a:after,
  .navbar.meganavbar_msg.navbar-fixed-bottom .navbar-nav.dropdown-onhover>li:not(.disabled):hover>a:after {
    border-top-color: #ffffff;
  }
  .navbar.meganavbar_msg.navbar-fixed-bottom.dropdown-onhover .navbar-nav>li:not(.disabled):hover>a:after {
    border-top-color: #ffffff;
  }
  .navbar.meganavbar_msg.dropdown-onhover.no-fix {
    border-bottom: 4px solid #009fda;
    border-left: 0px;
    border-right: 0px;
  }
  .navbar {
    border-radius: 0;
  }
}
.navbar.meganavbar_msg .btn-default {
  color: #009fda;
  background-color: #ffffff;
  border-color: #cdcdcd;
}
.navbar.meganavbar_msg .btn-default:hover,
.navbar.meganavbar_msg .btn-default:focus,
.navbar.meganavbar_msg .btn-default:active,
.navbar.meganavbar_msg .btn-default.active {
  color: #009fda;
  background-color: #e9e9e9;
  border-color: #acacac;
}
.navbar.meganavbar_msg .dropdown-menu .btn-default {
  color: #009fda;
  background-color: #ffffff;
  border-color: #cdcdcd;
}
.navbar.meganavbar_msg .dropdown-menu .btn-default:hover,
.navbar.meganavbar_msg .dropdown-menu .btn-default:focus,
.navbar.meganavbar_msg .dropdown-menu .btn-default:active,
.navbar.meganavbar_msg .dropdown-menu .btn-default.active {
  color: #009fda;
  background-color: #e9e9e9;
  border-color: #acacac;
}
.navbar.meganavbar_msg .dropdown-menu li.dropdown-header {
  color: #4d4d4d;
}
.navbar.meganavbar_msg *:not(li)>a {
  color: #62A2D8;
}
.navbar.meganavbar_msg *:not(li)>a:hover,
.navbar.meganavbar_msg *:not(li)>a:focus {
  color: #44A5FF;
}
.navbar.meganavbar_msg .dropdown-menu>li>a {
  color: #4d4d4d;
  background-color: #ffffff;
}
.navbar.meganavbar_msg .dropdown-menu>li>a:hover,
.navbar.meganavbar_msg .dropdown-menu>li>a:focus {
  color: #4d4d4d;
  background-color: #f7f7f7;
}
.navbar.meganavbar_msg .navbar-nav>li .dropdown-menu:not([class*="collaps"]) {
  background-color: #ffffff;
  color: #4d4d4d;
  border-color: #dfdfdf;
  -webkit-box-shadow: 0 9px 12px rgba(0,0,0,0.17);
  box-shadow: 0 9px 12px rgba(0,0,0,0.17);
}
.navbar.meganavbar_msg.navbar-fixed-bottom .navbar-nav>li .dropdown-menu:not([class*="collaps"]) {
  -webkit-box-shadow: 0 -9px 12px rgba(0,0,0,0.17);
  box-shadow: 0 -9px 12px rgba(0,0,0,0.17);
}
.navbar.meganavbar_msg .dropdown-menu input::-webkit-input-placeholder,
.navbar.meganavbar_msg .dropdown-menu textarea::-webkit-input-placeholder {
  color: rgba(95,95,95,0.5);
}
.navbar.meganavbar_msg .dropdown-menu input:-moz-placeholder,
.navbar.meganavbar_msg .dropdown-menu textarea:-moz-placeholder {
  color: rgba(95,95,95,0.5);
}
.navbar.meganavbar_msg .dropdown-menu input::-moz-placeholder,
.navbar.meganavbar_msg .dropdown-menu textarea::-moz-placeholder {
  color: rgba(95,95,95,0.5);
}
.navbar.meganavbar_msg .dropdown-menu input:-ms-input-placeholder,
.navbar.meganavbar_msg .dropdown-menu textarea:-ms-input-placeholder {
  color: rgba(95,95,95,0.5);
}
.navbar.meganavbar_msg .dropdown-menu .form-control {
  color: #5f5f5f;
  background-color: #ffffff;
  border-color: #cdcdcd;
}
.navbar.meganavbar_msg .dropdown-menu .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 5px #dfdfdf;
  box-shadow: inset 0 1px 1px transparent, 0 0 5px #dfdfdf;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li:not(.list-group) > a {
  color: #4d4d4d;
  background-color: #ffffff;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li:not(.list-group) > a:hover,
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li:not(.list-group) > a:focus {
  color: #4d4d4d;
  background-color: #f7f7f7;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.active > a {
  color: #4d4d4d;
  background-color: #f7f7f7;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.active > a:hover,
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.active > a:focus {
  color: #4d4d4d;
  background-color: #f7f7f7;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li[class*="-onhover"]:hover>a {
  color: #4d4d4d;
  background-color: #f7f7f7;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.open > a,
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed) {
  color: #4d4d4d;
  background-color: #f7f7f7;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.open > a:hover,
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.open > a:focus,
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed):hover,
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed):focus {
  color: #4d4d4d;
  background-color: #f7f7f7;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.disabled > a {
  color: #b8b8b8;
  background-color: #ffffff;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.disabled > a>span.desc {
  color: #c5c5c5;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.disabled > a:hover>span.desc {
  color: #c5c5c5;
}
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.disabled > a:hover,
.navbar.meganavbar_msg .navbar-nav .dropdown-menu li.disabled > a:focus {
  color: #b8b8b8;
  background-color: #ffffff;
}
.navbar.meganavbar_msg .navbar-nav li:not(.dropdown)>ul.dropdown-menu.bordered:not(.no-padding):after,
.navbar.meganavbar_msg .navbar-nav li:not(.dropdown)>.dropdown-grid-wrapper>ul.dropdown-menu.bordered:not(.no-padding):after {
  outline-color: #e6e6e6;
}
.navbar.meganavbar_msg .navbar-nav>li.divider {
  background-color: #dfdfdf;
}
.navbar.meganavbar_msg .dropdown-menu li.divider,
.navbar.meganavbar_msg .navbar-nav .v-divided>*:before,
.navbar.meganavbar_msg .navbar-nav .v-divided>*:after,
.navbar.meganavbar_msg .navbar-nav .h-divided>*:after,
.navbar.meganavbar_msg .navbar-nav .h-divided>*:first-child:before,
.navbar.meganavbar_msg .navbar-nav .h-divider:after {
  background-color: #e6e6e6;
}
.navbar.meganavbar_msg .navbar-nav .divided>*:before {
  border-color: #e6e6e6;
}
@media (max-width: 767px) {
  .navbar.meganavbar_msg .navbar-nav li.xs-hover > a {
    color: #4d4d4d;
    background-color: transparent;
    font-weight: 300;
  }
  .navbar.meganavbar_msg .navbar-nav li.xs-hover > a:hover {
    color: #009fda;
    background-color: #dfdfdf;
  }
  .navbar.meganavbar_msg .navbar-nav li.xs-hover.no-fix > a {
    color: #4d4d4d;
    background-color: transparent;
  }
  .navbar.meganavbar_msg .navbar-nav li.xs-hover.no-fix > a:hover {
    color: #009fda;
    background-color: #dfdfdf;
  }
  .navbar.meganavbar_msg .navbar-nav .dropdown-menu .divider {
    background-color: #e6e6e6;
  }
  .navbar.meganavbar_msg .navbar-collapse>.navbar-form,
  .navbar.meganavbar_msg .navbar-collapse>a.navbar-link,
  .navbar.meganavbar_msg .navbar-collapse>.navbar-text,
  .navbar.meganavbar_msg .navbar-collapse .navbar-nav>.navbar-form,
  .navbar.meganavbar_msg .navbar-collapse .navbar-nav>li,
  .navbar.meganavbar_msg .navbar-collapse .navbar-nav>.navbar-text,
  .navbar.meganavbar_msg .navbar-collapse .navbar-nav>a.navbar-link,
  .navbar.meganavbar_msg .navbar-collapse .navbar-nav>.navbar-form {
    border-bottom-color: #6f6f6f !important;
    
  }
  .navbar.meganavbar_msg .navbar-nav>li>.dropdown-grid-wrapper>.dropdown-menu,
  .navbar.meganavbar_msg .navbar-nav>li>.dropdown-menu {
    border-top-color: #e6e6e6 !important;
    -webkit-box-shadow: 0 -1px 0 #dfdfdf !important;
    box-shadow: 0 -1px 0 #dfdfdf !important;
  }
}

/* Custom */

.navbar {margin: 0;}
.basket-counter-container {
    font-size: 0.9em;
    line-height: 3.1em;
    color: #333;
}