#envelope {
	width: 1220px;
	margin: auto;
}
	#envelope #header {
		border-top: 10px solid #464646;
		padding: 15px 0 15px 20px;
		background: #e4f2fd;
		color: #2683ae;
		position: relative;
		margin: 0 0 3px 0;
	}
		#envelope #header h1 {
		 	margin: 10px 0 10px 0;
		 	font-style: italic;
		 	border: 0;
		}
			#envelope #header h1 a {
				color: #2683ae;
				text-decoration: none;
			}
				#envelope #header h1 a:hover {
					text-decoration: underline;
				}
			#envelope #header .user_info {
				position: absolute;
				right: 10px;
				top: 10px;
			}
	#envelope #container1 #menu {
		width: 233px;
		float: left;
		margin: 1px 0 1px 0;
	    padding: 10px 0 10px 15px;
	    border: 1px solid #e4f2fd;
	    border-top: 25px solid #e4f2fd;
	    background: #ffffe0;
	    position: relative;
	}
		#envelope #container1 .buttons {
			position: absolute;
			top: -20px;
			right: 10px;
		}
			#envelope #container1 .buttons a {
				color: #d54e21;
			}
	#envelope #container1 #main_text {
		width: 940px;
		float:right;
		padding:10px;
		min-height:300px;
		position:relative
	}
	#envelope #footer {
		padding: 10px;
		text-align: right;
		background: #464646;
		color: #fff;
		font-size: 10px;
		margin: 3px 0 0 0;
	}
		#envelope #footer a {
			color: #fff;
		}
		#envelope #footer strong {
			color: orange;
		}

p#breadcrumbs {
	margin: 0 0 10px 0;
	padding: 0;
}

/*********** tabs *************/

#navlist {
 padding: 3px 0 3px 0;
 margin: 20px 0 15px 0;
 border-bottom: 1px solid #464646;
 font: bold 12px Verdana, sans-serif;
}

	#navlist li {
	 list-style: none;
	 margin: 0;
	 display: inline;
	}

		#navlist li a {
		 padding: 3px 0.5em;
		 margin-left: 3px;
		 border: 1px solid #464646;
		 border-bottom: none;
		 background: #e4f2fd;
		 text-decoration: none;
		 color: #464646;
		 padding-left: 15px;
		 padding-right: 15px;
		 font-weight: normal;
		}

			#navlist li a:hover {
			 color: #000;
			 background: #FFF;
			 border-color: #227;
			}

			#navlist li a.current {
			 background: #FFF;
			 border-bottom: 1px solid #FFF;
			 color: black
			}


#pageControls {
	border: 1px solid #e4f2fd;
	border-top: 0;
	float: right;
	position: absolute;
	top: -3px;
	right: 0px;
	padding: 5px 10px 5px 0;
	background: #ffffe0;
}
	#pageControls ul {
		text-align: right;
		padding: 0;
		margin: 0;
	}
		#pageControls ul li {
			display: inline;
			padding: 0 0 0 10px;
		}
			#pageControls ul li a {
				color: #d54e21;
				text-decoration: none;
			}
			#pageControls ul li a:hover {
				text-decoration: underline;
			}

#popupEnvelope {
	padding: 10px 20px 0 20px;
}
	#popupEnvelope h1 {
		margin: 0 10px 20px 10px;
		color: #d54e21;
	}


div.flash {
	color: black;
	padding: 1em;
	margin: 0 0 20px 0px;
}
	div.flash.info {
		background: #FFFFDD;
		border: 1px solid #FFD700;
	}
	div.flash.info2 {
		background: #cce5ff;
		border: 1px solid #4987c8;
	}
	div.flash.error {
		background: #ff9966;
		border: 1px solid #993300;
	}
    div.flash.success {
		background: #dff0d8;
		border: 1px solid #7fc365;
	}

ul.submenu {
	background: #ffffe0;
	border: 1px solid #e4f2fd;
	border-top: 2px solid #e4f2fd;
	border-bottom: 2px solid #e4f2fd;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 25px 0px;
}
	ul.submenu li {
		display: inline;
		padding-right: 10px;
	}
	ul.submenu a {
		color: #e34e47;
	}


/* === HELPS TAG === */
.clear {
	clear: both;
}


/******* MAIN TAG ******/

body {
	margin: 0;
	padding: 0;
}
body, td, th {
	font-family: Arial, Georgia, Verdana, Sans-serif;
	font-size: 12px;
}

h1 {
	font-size: 20px;
	margin: 0 0 10px 0;
	padding: 0;
	color: #666666;
	font-family: Georgia, Verdana;
	border-bottom: 1px solid #dadada;
}

h2 {
	font-size: 16px;
	margin: 25px 0 15px 0;
	padding: 0;
	color: #d54e21;
}
p {
	margin: 10px 0 10px 0;
	padding: 0;
}
a {
	color: black;
	text-decoration: underline;
}
	a:hover {
		text-decoration: none;
	}

.ar {
		text-align: right;
}
.submitAction {
	height: 30px !important;
	width: 200px;
}
.pt15 {
	padding-top: 15px;
}

     .loading-image {
         background: url('../imgs/loading.gif') no-repeat scroll left top;
         padding-top:10px;
         width: 300px;
         padding-left: 34px;
         padding-right: 10px;
         padding-bottom: 6px;
     }
.priceRefunded {
	text-decoration: line-through;
}
table.htmltable tr.borderSeparator td {
	border-bottom: 1px solid #000;
}

.payment-via-phone .redmsg{
    margin-left: 10px;
	color:red;
}

.display-none {
    display: none;
}
.htmltable .warning {
	color: #f00;
}

.htmltable .description {
	color: #aaa;
}

.no-border {
    border: 0;
}
.no-background {
	background: none;
}
div.datagrid table.grid tr.archived-cashback td {
	background: #F5F5F5;
	color: #999;
}

table.htmltable tr.archived td {
	background: #F5F5F5;
	color: #999;
}

#cashback-payment-faq ul {
    padding-left: 2em;
}

#cashback-payment-faq h4 {
    padding-bottom: 0.5em;
}

.ml15 {
	margin-left: 15px;
}
.fleft {
	float:left;
}
