/*
  +----------------------------------------------------------------------+
  | html css table                                                	     |
  +----------------------------------------------------------------------+
  | Author: Stan <diviak@gmail.com>		                                 |
  +----------------------------------------------------------------------+

  FILE: datagrid.css
  CREATED: 18.11.2010

*/

div.datagrid {
}

    /* === FILTER === */

    div.datagrid div.filter .submit_button[type="submit"] {
        background-color: #E0DFF7;
        margin: 10px 0 0 0;
        padding: 2px 5px 2px 5px;
        height: 20px;
        padding-top: 0px;
        border-left: 1px solid #EDEDED;
        border-top: 1px solid #EDEDED;
        border-bottom: 1px solid #B4B4B4;
        border-right: 1px solid #B4B4B4;
        color: black;
    }
    div.datagrid div.filter .reset_button[type="submit"] {
        width: 50px;
        height: 20px;
        background: none;
        border: 0;
        text-decoration: underline;
        cursor: pointer;
    }
        div.datagrid div.filter .reset_button[type="submit"]:hover {
            text-decoration: none;
        }
    div.datagrid div.filter label {
        padding: 0 10px 0 0;
        font-weight: normal;
    }

    /* === EXPORT === */


    div.datagrid ul.top-export {
        padding: 0 0 4px 0;
        margin: 3px 0 0 0;
        text-align: right;
        float: left;
    }
        div.datagrid ul.top-export li {
            display: inline;
        }
            div.datagrid ul.top-export li a {
                text-decoration: underline;
                font-weight: normal;
                color: #000;
                padding: 0;
            }
            div.datagrid ul.top-export li a:hover {
                 text-decoration: none;
            }


    /* === TOP ACTIONS === */


    div.datagrid ul.top-action {
        padding: 0;
        margin: 0 0 7px 0;
        list-style: none;
        text-align: right;
        float: right;
	}
        div.datagrid ul.top-action li {
            display: inline;
        }
            div.datagrid ul.top-action li a {
                text-decoration: none;
                -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
                border: 1px solid #d3d3d3;
                background: #F3F3F3;
                font-weight: normal;
                color: #000;
                padding: 3px 8px;
            }
            div.datagrid ul.top-action li a:hover {
                 background: #d3d3d3;
            }


    /* === GRID === */

    div.datagrid table.grid {
        table-layout: fixed;
        font-family: Arial, Verdana, sans-serif;
        border-bottom: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        cursor: default;
        font-size: 12px;
        width: 100%;
        margin: 0 0 0 0px;
		clear: left;
    }
        div.datagrid table.grid tr {
            background-color: #ffffff;
        }
            div.datagrid table.grid tr.even {
                background-color: #ffffff;
            }
            div.datagrid table.grid tr:hover {
                background-color: #f3f3f3;
            }
        div.datagrid table.grid th, table.grid td {
            border-right: 1px solid #e6e6e6;
            border-top: 1px solid #e6e6e6;
        }
        div.datagrid table.grid th {
            color: #3c3c3c;
            font-size: 12px;
            background-color: #f3f3f3;
            padding: 5px 10px 5px 10px;
            text-align: left;
            font-weight: bold;
            font-family: Arial, Verdana, sans-serif;
        }
            div.datagrid table.grid th a {
                color: silver;
                text-decoration: none;
            }
            div.datagrid table.grid th span.order {
                position: relative;
            }
                div.datagrid table.grid th span.order a {
                    font-size: 9px;
                }
                    div.datagrid table.grid th span.order a:hover {
                        color: black;
                    }
                    div.datagrid table.grid th span.order a.active {
                        color: black;
                    }
                    div.datagrid table.grid th span.order a.asc {
                        position: absolute;
                        right: -11px;
                        top: -2px;
                    }
                    div.datagrid table.grid th span.order a.desc {
                        position: absolute;
                        right: -11px;
                        top: 6px;
                    }
        div.datagrid table.grid td {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 4px 10px 4px 10px;
            color: #3c3c3c;
            font-family: Arial, Verdana, sans-serif;
        }
            div.datagrid table.grid td.noOverflow {
                overflow: auto;
                white-space: normal;
            }
            div.datagrid table.grid td.action {
                text-align: center;
            }
        div.datagrid table.grid td a {
            color: #3c3c3c;
        }
        div.datagrid table.grid td img {
            border: 0;
        }
        div.datagrid table.grid th.right, table.grid td.right {
            text-align: right;
        }
        div.datagrid table.grid th.left, table.grid td.left {
            text-align: left;
        }
        div.datagrid table.grid th.center, table.grid td.center {
            text-align: center;
        }
        div.datagrid table.grid .bold {
            font-weight: bold;
        }
        div.datagrid table.grid .disabled {
           color: #8a8a8a;
           background-color: #f0f0f0;
        }


    /* === PAGINATOR === */

	div.datagrid div.paginator p.pager {
	}
        div.datagrid div.paginator p.pager .htmlFirst,
        div.datagrid div.paginator p.pager .html_prev,
        div.datagrid div.paginator p.pager .htmlNext,
        div.datagrid div.paginator p.pager .htmlLast,
        div.datagrid div.paginator p.pager span,
        div.datagrid div.paginator p.pager a {
            border: 1px solid #d3d3d3;
            background: #F3F3F3;
            margin: 0 3px 0 0;
            padding: 2px 8px;
            color: silver;
        }
        div.datagrid div.paginator p.pager a {
            text-decoration: none;
            color: black;
        }
        div.datagrid div.paginator p.pager span.curr {
            color: white;
            border: 1px solid #D54E21;
            background: #D54E21;
        }
        div.datagrid div.paginator p.pager span.result_info {
            color: black;
            border: 0;
            background: none;
            font-weight: bold;
        }
        div.datagrid div.paginator p.pager a.htmlFirst,
        div.datagrid div.paginator p.pager a.html_prev,
        div.datagrid div.paginator p.pager a.htmlNext,
        div.datagrid div.paginator p.pager a.htmlLast {
            color: black;
            padding: 2px 4px;
        }
        div.datagrid div.paginator p.pager span.htmlFirst,
        div.datagrid div.paginator p.pager span.html_prev,
        div.datagrid div.paginator p.pager span.htmlNext,
        div.datagrid div.paginator p.pager span.htmlLast {
            padding: 2px 4px;
        }

		.massDeleteBox, .top-export {
			float:left;
			margin-right:10px;
		}

.single-checkbox-container > input {
    margin-right: 5px;
}

.datagrid .filter .form-table {
    text-align: left;
}







