form {
	margin: 0px;
	padding: 0px;
}

fieldset {
	border: 1px solid #dddddd;
	margin: 10px;
	padding: 10px;
}

legend {
	color: #1B3876;
	font-size: 12px;
	font-weight: bold;
}

span.ff_desc {
	font-size: 12px;
	font-style: italic;
	display: block;
	padding: 1px 0 5px 0;
	color: #000;
}

.ff_err_notice {
	color: #ff8135;
	font-weight: normal;
	font-style: italic;
	margin: 15px 10px 15px 10px;
	padding: 5px 5px 5px 10px;
	font-size: 12px;
	background: #fbf7d2;
	border: 1px dashed #ffb88d;
}
	ul.ff_err_notice {
		padding-left: 25px;
	}

span.ff_control_err {
	color: #ff8135;
	font-style: italic;
	font-weight: normal;
	padding: 1px 10px 1px 10px;
	font-size: 11px;
}

table.ff_table th, table.ff_table td {
	vertical-align: top;
	font-weight: normal;
}
table.ff_table th {
	padding: 0 5px 0 0;
	text-align: right;
	xfont-style: italic;
	width: 120px;
}
	table.ff_table th .btn {
		float: left;
	}

input, textarea {
 background-color: #F9F9F9;
 border-left: 1px solid #B4B4B4;
 border-top: 1px solid #B4B4B4;
 border-bottom: 1px solid #EDEDED;
 border-right: 1px solid #EDEDED;
 color: #020584;
 padding: 2px 3px 2px 3px;
 margin: 0 0 3px 0;
}
input:focus, textarea:focus {
 background: #fcffb7;
 color: black;
}
select {
	margin: 0 3px 0 0;
}
select option {
	padding: 0 5px 0 5px;	
}	

.check, .radio {
 background-color: white;
 border: 0px;
}

.btn {
 background-color: #E0DFF7;
 margin: 0px;
 padding: 2px;
 padding-left: 5px;
 padding-right: 5px;
 height: 20px;
 padding-top: 0px; 
 border-left: 1px solid #EDEDED;
 border-top: 1px solid #EDEDED;
 border-bottom: 1px solid #B4B4B4;
 border-right: 1px solid #B4B4B4;
 color: black;
}

label {
	font-size: 12px;
	padding: 0 0 0 5px;
}
.errormsg1{
    color:red;
    margin: 0px;  
}
.errormsg1 ul {
    list-style-type: none;
	display: inline-block;
}
.errormsg1 ul li{
    padding: 5px 0 5px 5px;
}
.errormsg1 label[id$='-error'] {
	width: 500px;
}
form fieldset div{
    margin: 5px 0;
}
form fieldset div label{
    width: 120px;
    display: inline-block;
    vertical-align: top;
}
.inlineblock{display: inline-block;}
.width60{width: 60px;}

#admin_order_export_form_date_range label {
    min-width: 100px;
    display: inline-block;
}

#admin_order_export_form_date_range button[type="submit"] {
    padding: 5px;
}

form[name="admin_order_export_form"] ul{
    color: red;
    padding: 5px;
    list-style-type: none;
}

label.error {
    color: red;
}
