/*
  +----------------------------------------------------------------------+
  | html css table                                                	     |
  +----------------------------------------------------------------------+
  | Author: Stan <diviak@gmail.com>		                                 |
  +----------------------------------------------------------------------+
 
  FILE: htmltable.css
  LAST CHANGE: 25.06.2006
  CREATED: 25.06.2006
  
*/
table.htmltable {
	table-layout: fixed;
	font-family: Arial, Verdana, Sans-serif;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-collapse: collapse;
	cursor: default;
	font-size: 12px;
	width: 730px;
	margin: 0 0 0 0px;
}

	table.htmltable caption {
		text-align: right;
		padding: 0 0 5px 0;
	}
	table.htmltable tr {
		background-color: #ffffff;
	}
		table.htmltable tr.even {
			background-color: #ffffff;
		}
		table.htmltable tr:hover,table.htmltable tr:hover a {
			background-color: #f3f3f3;
			color: #444;
		}
	table.htmltable th,table.htmltable td {
		border-right: 1px solid #e6e6e6;
		border-top: 1px solid #e6e6e6;
	}
	table.htmltable th {
		color: #3c3c3c;
		font-size: 12px;
		background-color: #f3f3f3;
		padding: 5px 10px 5px 10px;
		text-align: left;
		font-weight: bold;
		font-family: Arial, Verdana, Sans-serif;
	}
		table.htmltable th a {
			color: white;
			text-decoration: underline;
		}
		table.htmltable th img {
			border: 0;
			margin: 1px 0 0 5px;
		}
	table.htmltable td {
		text-overflow: ellipsis;
		overflow: hidden;
		/* white-space: nowrap; */
		padding: 4px 10px 4px 10px;
		color: #3c3c3c;
		font-family: Arial, Verdana, Sans-serif;
	}
		table.htmltable td.noOverflow {
			overflow: auto;
			white-space:normal;
			padding: 3px 10px 3px 10px;
		}
	table.htmltable td a {
		color: #3c3c3c;
	}
	table.htmltable td img {
		border: 0;
	}
	table.htmltable th.right,table.htmltable td.right {
		text-align: right;
	}
	table.htmltable th.left,table.htmltable td.left {
		text-align: left;
	}
	table.htmltable th.center,table.htmltable td.center {
		text-align: center;
	}
	
	table.htmltable th a.buttonMassDelete{
		color: #444;
	}
	
	table.htmltable thead.staticMove {
/*		position: fixed;*/
	}
