/*
  +----------------------------------------------------------------------+
  | fluetable css table                                                  |
  +----------------------------------------------------------------------+
  | Author: flue_ex <flue_ex@bernolak.sk>                                |
  +----------------------------------------------------------------------+
 
  FILE: table.css
  LAST CHANGE: 25.06.2006
  CREATED: 25.06.2006
  
*/

table.htmlgrid {
 table-layout: fixed;
 font-family: Arial, Verdana, Sans-serif;
 border-bottom: 1px solid #d2d2d2;
 border-left: 1px solid #d2d2d2;
 border-collapse: collapse;
 cursor: default;
 font-size: 12px;
 width: 728px;
 margin: 0 0 0 0px;
}
  table.htmlgrid tr {
   background-color: #e4f2fd;
  }
  table.htmlgrid tr.even {
   background-color: #FFFFFF;
  }
  table.htmlgrid td:hover, table.htmlgrid td:hover a {
    background-color: #FFFFFF;
	color: black;
  }
  table.htmlgrid th, table.htmlgrid td {
   border-right: 1px solid #d2d2d2;
   border-top: 1px solid #d2d2d2;
  }
  table.htmlgrid th {
   color: white;
   font-size: 12px;
   font-style: italic;
   background-color: #464646;
   padding: 3px 10px 3px 10px;
  }
  	table.htmlgrid th a {
  	 color: white;
  	 text-decoration: none;
  	}
  		table.htmlgrid th a img {
  			margin: 3px 2px 0 0;
  		}
  		table.htmlgrid th a span {
  			position: relative;
  			top: -3px;
  		}
  table.htmlgrid td {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   padding: 10px 10px 5px 10px;
  }
    table.htmlgrid td a {
	 color: black;
	}
	table.htmlgrid td img {
	 border: 0;
	}
	table.htmlgrid th img {
	 border: 0;
	 margin: 1px 0 0 5px;
	}
    table.htmlgrid th.right, table.htmlgrid td.right {
     text-align: right;
    }
    table.htmlgrid th.left, table.htmlgrid td.left {
     text-align: left;
    }  
    table.htmlgrid th.center, table.htmlgrid td.center {
     text-align: center;
    }

	
/* ============================================= */
/* ==== END FLUETALE CSS TABLE DEFINITION   ==== */
/* ============================================= */   
