{include file="@header.tpl"}

	{literal}
	
	</style>
	{/literal}
    {$form nofilter}
        
    
    
{literal}
<script type="text/javascript">
<!--

$(document).ready(function() {
        /* click trigger on input type */

});

</script>
{/literal}

{include file="@footer.tpl"}