#cfooter{
    background-color:#fff;
    padding:20px;
    font-family: 'Foundry Sterling W01';
    font-weight: 300;
    font-style: normal;
    margin: 30px 0 0 0;
    .container, .holder{
        margin:0 auto;
        width:960px;
		display:table;
        div.left{

        }
        div.right{
            float:right;
        }
        div{
            width:150px;
            display:inline-block;
            padding:10px;
            vertical-align:top;
            h1{
                font-size:15px;
                font-family:inherit;
                color:#009fda;
                font-weight:500;
                margin:0 0 5px 0;
            }
            p{
                font-size:15px;
                font-family:inherit;
                color:#4d4d4d;
                font-weight:300;
                margin:0 0 5px 0;
                padding:0;
                line-height:normal;
                a{
                    text-decoration:none;
                    color:#4d4d4d;
                }
                a:hover
                {
                    text-decoration:none;
                    color:#ff7900;
                }
            }
            p.i-twitter{
                padding:0 0 0 22px;
                background:url('../imgs/i-twitter.png') no-repeat;
            }
            p.i-fb{
                padding:0 0 0 22px;
                background:url('../imgs/i-fb.png') no-repeat;
            }
            p.i-gplus{
                padding:0 0 0 22px;
                background:url('../imgs/i-gplus.png') no-repeat;
            }
        }
        div.contactdts{
            width:230px;
            display:inline-block;
            padding:10px;
            vertical-align:top;
            line-height:2em;
            h1{
                font-size:15.5px;
                color: #4d4d4d;
                span.phbig{
                font-size:1.4em;
                }
            }
            p{
                font-size:13px;
            }
            p.lgrey{
                color:#7c7c7c;
            }
        }
        div.feefo{
            width:100px;
            height:100px;
            clear: both;
            margin:0;
            padding:20px 0;
        }
        div.paymentcards{
            width:244px;
            height:24px;
            background:url('../imgs/paymentcards.png') no-repeat;
            clear: both;
            margin:0;
            padding:0;
        }
    }
    .tabs{
        margin:0 auto;
        width:960px;
        text-align:center;
        span {
            padding:5px 20px;
            margin:0px;
            display:inline-block;
            -moz-border-radius:0px;
            -webkit-border-radius:5px 5px 0px 0px;
            border-radius:5px 5px 0px 0px;
            font-size: 15px;
            width: auto;
            a{
                color:#fff;
                font-weight:500;
                text-decoration:none;
            }
        }
        span.feedback{
            background-color:#009fda;
        }
        span.onlinechat{
            background-color:#ff7900;
        }

    }
}
