#cheader{
    margin:0 auto;
    padding:0 10px 10px 10px;
    width:980px;
    height: 130px;
    font-family: 'Foundry Sterling W01';
    font-weight: 300;
    font-style: normal;
    div{
    }
    div.left-container{
        width:600px;
        height: 130px;
        float:left;
    }
    div.right-container{
        width:350px;
        text-align:right;
        float:right;
        position: relative;
    }
    div.site-logo{
        width:130px;
        height:130px;
        padding:0px;
        float: left;
        img{
            width:130px;
            height:130px;
        }
    }
    div.msg-logo{
        width:250px;
        height:33px;
        background:url("../imgs/msg-logo.png") no-repeat;
        float: left;
    }
    h1{
        font-size:50px;
        font-family:inherit;
        margin:20px 0 5px 0;
        font-weight:100;
        color:#009fda;
        text-shadow: none;
        line-height: 56px;
        a{
            color:inherit;
            text-decoration: none;
        }
    }
    p{
        margin:3px 0px;
        clear: both;
        padding: 0;
        line-height: normal;
    }
    p.contact{
        font-size:15px;
        font-weight:500;
        a{
            color:#009fda;
            text-decoration: none;
        }
        a:hover{
            color:#ff7900;
            text-decoration: none;
        }
    }
    p.telnumber{
        font-size:20px;
        color:#4d4d4d;
        font-weight:500;
    }
    p.openinghrs{
        font-size:14px;
        color:#4d4d4d;
        font-weight:300;
    }
    .menu_container {
        height:45px;
        clear:both;
        float:right;
        padding:0px;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        & > ul {
            list-style:none;
            margin:0 auto;
            padding:0;
            position:relative;
            height:30px;
            z-index:35;
            & > li {
                display:block;
                float:left;
                padding: 0px 5px;
                margin:0;
                height:34px;
                background:none;
                line-height:14px;
                & > a {
                    line-height:14px;
                    padding:5px;
                    text-align: center;
                    display:block;
                    color:#4d4d4d;
                    text-decoration:none;
                    font-size:15px;
                    & > i.fa-caret-up {
                        line-height: 0.5em;
                        padding:0;
                        text-align: center;
                        display:none;
                        color:#009fda;
                        text-decoration:none;
                        font-size:15px;
                    }
                }
                & > form {
                    margin: -1px 0 0px 0;
                }
                & > .menu_dropdown_block {
                    visibility:hidden;
                    position:absolute;
                    border:0px solid #ddd;
                    background:#f2f2f2;
                    top:25px;
                    color:#575757;
                    opacity:0;
                    box-sizing:border-box;
                    -moz-box-sizing:border-box;
                    overflow:hidden;
                    z-index:30;
                    -webkit-box-shadow:0px 4px 5px 0px rgba(50, 50, 50, 0.62);
                    -moz-box-shadow:0px 4px 5px 0px rgba(50, 50, 50, 0.62);
                    box-shadow:0px 4px 5px 0px rgba(50, 50, 50, 0.62);
                    p {
                        padding:5px;
                        margin-bottom:10px;
                        line-height:1.7em;
                    }
                    .container, .holder {
                        padding:5px 0px 5px 0px;
                    }
                }
            }
            & > li.pipe {
                padding:5px;
                font-weight:100;
            }
            & > li.basket {
                padding:0px 0px 5px 5px;
                #basketCount{
                    background: #009fda;
                    border-radius: 0.8em;
                    -moz-border-radius: 0.8em;
                    -webkit-border-radius: 0.8em;
                    color: #fff;
                    display: inline-block;
                    font-weight: normal;
                    line-height: 1.5em;
                    margin: 0px;
                    text-align: center;
                    width: 1.5em;
                    font-size: 0.8em;
                }
            }
            & > li:hover {
                & > a.myaccount {
                    background-color: #f2f2f2;
                    -webkit-box-shadow:0px 4px 5px 0px rgba(50, 50, 50, 0.62);
                    -moz-box-shadow:0px 4px 5px 0px rgba(50, 50, 50, 0.62);
                    box-shadow:0px 4px 5px 0px rgba(50, 50, 50, 0.62);
                    padding:5px;
                    border-radius:5px 5px 0 0;
                }
                & > .menu_dropdown_block {
                    visibility:visible;
                    opacity:1;
                }
            }
        }
    }
    .menu_container.full_width {

}
.menu_container.myaccount {
    border-bottom: 0px solid #009fda;
    & > ul {
        & > li:hover {
            & > a.myaccount {
                color: #009fda;
                & > i.fa-caret-up {
                    display:block;
                }
            }
        }
        & > li.basket {
            & > a{
                padding-right: 0px;
            }
            & > a:hover{
                color:#009fda;
                border-radius:0px;
                padding-right: 0px;
            }
        }
        & > li {
            & > .menu_dropdown_block {
                p.links {
                    a {
                        color:#72aa00;
                    }
                    a:hover {
                        color:#70891f;
                        border-bottom:1px dotted #70891f;
                    }
                }
            }
        }
    }
    ul.menu_submenu {
        list-style:none;
        padding:0;
        margin:0;
        margin-bottom:10px;
        li {
            display:block;
            text-align:left;
            background: none;
            padding: 0;
            line-height: normal;
            a {
                display:block;
                padding:0px 20px;
                text-decoration:none;
                color:#666;
                margin:0px;
                font-size:14px;
                line-height: 22px;
            }
            a:hover {
                background-color:#4d4d4d;
                color:#fff;
            }
        }
    }
    ul.menu_submenu_block {
        li {
            a:hover {
                background:#70891f;
            }
        }
    }
}

}
