#gfooter{
    background-color:#262626;
    padding:40px;
    font-family:'Foundry Sterling W01';
    font-weight:300;
    font-style:normal;
    .container, .holder{
        margin:0 auto;
        width:960px;
        background:url('../imgs/msg-icons-bw.png') no-repeat 0px 30px;
        div.leftblock{
            vertical-align:top;
            width:300px;
            padding:0 0 0 65px;
        }
        div.centerblock{
            vertical-align:top;
            width:280px;
            padding:0 0 0 30px;
            img.msgiconft {
                float: left;
                margin-right: 10px;
                opacity: 0.7;
                filter: alpha(opacity=70);
            }
        }
        div.rightblock{
            vertical-align:bottom;
            text-align:right;
            width:250px;
        }
        div{
            display:inline-block;
            h1{
                font-size:15px;
                font-family:inherit;
                color:#b2b2b2;
                font-weight:500;
                margin:0 0 18px 0;
                text-shadow:none;
                line-height: 19px;
                & > a {
                    color:#b2b2b2;
                    text-decoration:none;
                }
            }
            h2{
                font-size:15px;
                font-family:inherit;
                color:#1aa9de;
                font-weight:500;
                margin:0px;
                & > a {
                    color:#1aa9de;
                    text-decoration:none;
                }
                & > a:hover {
                    color:#ff7900;
                }
            }
            p{
                font-size:15px;
                font-family:inherit;
                color:#b2b2b2;
                font-weight:300;
                margin:0 0 17px 0;
                padding:0;
                line-height: normal;
                & > strong {
                    color:inherit;
                }
                & > a {
                    color:#b2b2b2;
                    text-decoration:none;
                    & > strong {
                    color:inherit;
                    }
                }
                & > a:hover {
                    color:#ff7900;
                }
            }
        }
    }
    .gchat {
    margin: 0;
    position: fixed;
    padding: 8px 0px;
    bottom: 0px;
    right: 5px;
    font-size: 14px;
    z-index: 9999;
    & > a{
        border: 1px solid #4d4d4d;
        border-bottom: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: #eeeeee;
        text-decoration: none;
        color: #4d4d4d;
        padding: 8px 12px;
        }
    & > a:hover{
        border: 1px solid #4d4d4d;
        border-bottom: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        text-decoration: none;
        color: #eeeeee;
        background-color: #4d4d4d;
        padding: 8px 12px;
        }
    }
}
