@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=f711780c-6e6a-4e69-90c7-63c922c18697");
@font-face{
font-family:"Foundry Sterling W01_n5";
src:url("../fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix") format("eot")
}
@font-face{
font-family:"Foundry Sterling W01";
src:url("../fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix");
src:url("../fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix") format("eot"),url("../fonts/811fbecc-62c1-4b3d-8542-db71a661e012.woff") format("woff"),url("../fonts/70189f1b-eed0-4625-992e-f4867c80eb5c.ttf") format("truetype"),url("../fonts/babf4e66-b5fc-48af-a276-77c327d9ac9a.svg#babf4e66-b5fc-48af-a276-77c327d9ac9a") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
font-family:"Foundry Sterling W01_n2";
src:url("../fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix") format("eot")
}
@font-face{
font-family:"Foundry Sterling W01";
src:url("../fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix");
src:url("../fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix") format("eot"),url("../fonts/1c874867-515c-4fdd-9fae-7c37237fba27.woff") format("woff"),url("../fonts/a5c117b0-930c-40ac-b4b7-1fac7ea445f7.ttf") format("truetype"),url("../fonts/7c3bed3a-232e-4f9b-9013-16f12661a829.svg#7c3bed3a-232e-4f9b-9013-16f12661a829") format("svg");
font-weight: 200;
font-style: normal;
}
@font-face{
font-family:"Foundry Sterling W01_n1";
src:url("../fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix") format("eot")
}
@font-face{
font-family:"Foundry Sterling W01";
src:url("../fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix");
src:url("../fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix") format("eot"),url("../fonts/a48c29e8-8de1-4e90-82a1-5e025a284ae5.woff") format("woff"),url("../fonts/cde1f0bd-b628-489b-a95d-2048acf1460a.ttf") format("truetype"),url("../fonts/c5b9070a-700b-425a-84a5-9fd846ba5455.svg#c5b9070a-700b-425a-84a5-9fd846ba5455") format("svg");
font-weight: 100;
font-style: normal;
}
@font-face{
font-family:"Foundry Sterling W01_n3";
src:url("../fonts/8af41afe-9f54-4583-9674-bc1303e3ff13.eot?#iefix") format("eot")
}
@font-face{
font-family:"Foundry Sterling W01";
src:url("../fonts/8af41afe-9f54-4583-9674-bc1303e3ff13.eot?#iefix");
src:url("../fonts/8af41afe-9f54-4583-9674-bc1303e3ff13.eot?#iefix") format("eot"),url("../fonts/13371dca-3ac8-4bab-b52d-4e1d2efa82f9.woff") format("woff"),url("../fonts/0d4f9295-fafe-4a02-ab19-b161494f81e2.ttf") format("truetype"),url("../fonts/db2dcdc1-bbb3-414f-b352-c38fff8db0d7.svg#db2dcdc1-bbb3-414f-b352-c38fff8db0d7") format("svg");
font-weight: 300;
font-style: normal;
}

body {
    margin:0;
    padding:0;
    background: -webkit-linear-gradient(#efecea, #eae4e2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#efecea, #eae4e2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#efecea, #eae4e2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#efecea, #eae4e2); /* Standard syntax */
}
#gheader.menu_container {
    margin-bottom:23px;
    height:40px;
    clear:both;
    float:left;
    padding-left:0px;
    padding-right:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: 'Foundry Sterling W01';
    font-weight: 300;
    font-style: normal;
    & > ul {
        list-style:none;
        margin:0;
        padding:0;
        float:left;
        position:relative;
        width:100%;
        height:inherit;
        & > li {
            display:block;
            float:left;
            padding:0;
            margin:0;
            background:none;
            height:40px;
            & > a {
                line-height: 1em;
                display: block;
                color: #fff;
                text-decoration: none;
                font-weight: 100;
                font-size: 13px;
                padding: 14px 0 0 192px;
                & > .fa {
                    color:#fff;
                }
            }
            & > .menu_dropdown_block {
                visibility:hidden;
                position:absolute;
                background:#009fda;
                top:40px;
                color:#575757;
                opacity:0;
                box-sizing:border-box;
                -moz-box-sizing:border-box;
                overflow:hidden;
                box-shadow:1px 1px 3px rgba(0,0,0,0.2);
                z-index:30;
                p {
                    padding:5px 5px;
                    margin-bottom:10px;
                    line-height:1.7em;
                }
                .container, .holder {
                    padding:0px;
                }
            }
        }
        & > li:hover {
            & > a {
            }
            & > .menu_dropdown_block {
                visibility:visible;
                opacity:1;
            }
        }
    }
}
#gheader.menu_container.full_width {
    width:100%;
}
#gheader.menu_container.global {
    background:#262626 url("../imgs/msg-sites.png") 15px 50% no-repeat;
    & > ul {
        & > li:hover {
            & > a {
            }
        }
        & > li {
            & > .menu_dropdown_block {
                p.links {
                    a {
                        color:#72aa00;
                    }
                    a:hover {
                        color:#70891f;
                        border-bottom:1px dotted #70891f;
                    }
                }
                ul.menu_submenu {
                    list-style:none;
                    padding:0;
                    margin:0;
                    margin-bottom:0;
                    width:auto;
                    li {
                        display:block;
                        border-bottom:1px solid #33b2e1;
                        background:none;
                        padding:0;
                        a {
                            display:block;
                            height:40px;
                            text-decoration:none;
                            color:#fff;
                            font-weight:300;
                            font-size:17px;
                            margin:0px;
                            padding:0px 20px;
                            & > img {
                                float:left;
                                display: inline-block;
                                margin-top: 2px;
                            }
                            & > span {
                                margin:0px 10px;
                                position:relative;
                                top:0;
                                float:left;
                                display:inline-block;
                                line-height:40px;
                            }
                        }
                        a:hover {
                            background-color:#4d4d4d;
                        }
                    }
                }
                ul.menu_submenu_block {
                    list-style:none;
                    padding:0;
                    margin:0;
                    margin:10px 0 10px 0;
                    li {
                        display:block;
                        background: none;
                        padding: 0;
                        a {
                            display:block;
                            padding:8px 15px;
                            text-decoration:none;
                            color:#666;
                            margin:0;
                        }
                        a:hover {
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
    ul.menu_submenu_block {
        li {
            a:hover {
                background:#70891f;
            }
        }
    }
}
