#megamenu {
    min-width:980px;
    width:100%;
    font-family:'Foundry Sterling W01';
    font-weight:300;
    font-style:normal;
}
.container, .holder {
    margin:0 auto;
}
.hidden {
    display:none;
}
.center {
    text-align:center;
}
.overflow {
    overflow:hidden;
}
*.normal {
    font-weight:300;
}
*.bold {
    font-weight:500;
}
*.italic {
    font-style:italic;
}
#megamenu.menu_container {
    height:40px;
    clear:both;
    float:left;
    padding:5px 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    & > ul {
        list-style:none;
        margin:0 auto;
        padding:0;
        position:relative;
        width:1000px;
        height:30px;
        z-index:20;
        border-bottom: 4px solid #009fda;
        & > li {
            display:block;
            float:left;
            padding: 0 7px 0 7px;
            margin:0;
            height: 34px;
            border-right:0px;
            background: none;
            & > a {
                line-height: 1.6em;
                padding:0;
                text-align: center;
                color:#4d4d4d;
                text-decoration:none;
                font-size:15px;
                & > i.fa-caret-up {
                    line-height: 0.5em;
                    padding:0;
                    text-align: center;
                    display:none;
                    color:#009fda;
                    text-decoration:none;
                    font-size:15px;
                }
            }
            & > form {
                margin: -1px 0 0px 0;
            }
            & > .menu_dropdown_block {
                visibility:hidden;
                position:absolute;
                border:0px solid #ddd;
                background:#f2f2f2;
                top:34px;
                color:#575757;
                opacity:0;
                box-sizing:border-box;
                -moz-box-sizing:border-box;
                overflow:hidden;
                z-index:30;
                -webkit-box-shadow:0px 4px 10px 0px rgba(50, 50, 50, 0.62);
                -moz-box-shadow:0px 4px 10px 0px rgba(50, 50, 50, 0.62);
                box-shadow:0px 4px 10px 0px rgba(50, 50, 50, 0.62);
                p {
                    padding:5px 5px;
                    margin-bottom:10px;
                    line-height:1.7em;
                }
                *.small {
                    font-size:11px;
                    color:#666;
                }
                p.links {
                    a {
                        text-decoration:none;
                    }
                }
                .container, .holder {
                    padding:10px 0px 5px 0px;
                    display:table;
                }
                .column {
                    box-sizing:border-box;
                    -moz-box-sizing:border-box;
                    display: table-cell;
                    width: 250px;
                    padding: 0px;
                    margin: 0px;
                    .content {
                        padding:0px;
                    }
                }
                .column + .column {
                    border-left:1px solid #b2b2b2;
                }
                .column.span1 {
                    width:100%;
                }
                .column.span2 {
                    width:50%;
                }
                .column.span3 {
                    width:33%;
                }
                .column.span4 {
                    width:25%;
                }
                .column.span5 {
                    width:20%;
                }
                .column.span6 {
                    width:16%;
                }
                .column.span10per {
                    width:10%;
                }
                .column.span20per {
                    width:20%;
                }
                .column.span30per {
                    width:30%;
                }
                .column.span40per {
                    width:40%;
                }
                .column.span50per {
                    width:50%;
                }
                .column.span60per {
                    width:60%;
                }
                .column.span70per {
                    width:70%;
                }
                .column.span80per {
                    width:80%;
                }
                .column.span90per {
                    width:90%;
                }
                h1 {
                    font-family:inherit;
                    font-size:24px;
                    font-weight:500;
                    margin-bottom:15px;
                    color:#555;
                    border-bottom:2px solid #888;
                    padding:5px 0 5px 5px;
                }
                h2 {
                    font-family:inherit;
                    font-size:15px;
                    font-weight:500;
                    padding:5px 20px 0px 20px;
                    margin:0px;
                    color:#009fda;
                }
            }
            & > .menu_dropdown_block.column-4 {
                left:0;
                width:100%;
                margin-left:0;
            }
            /*& > .menu_dropdown_block.half_width {*/
                /*width:50%;*/
            /*}*/
        }

        & > li + li:before {
            content:"|";
            padding:0 15px 0 0;
        }

        & > li.right:before {
            content: " ";
            padding: 0;
        }

        & > li.right {
            float:right;
            & > .menu_dropdown_block {
                right:0;
            }
        }
        /*& > li.last {*/
            /*box-shadow:none;*/
            /*border-right:0px;*/
            /*& > a {*/
                /*box-shadow:none;*/
                /*border-right:0px;*/
            /*}*/
        /*}*/
        & > li.search {
            box-shadow:none;
            border-right:0px;
            padding:0px;
        }
        & > li:hover {
            & > .menu_dropdown_block {
                visibility:visible;
                opacity:1;
            }
        }
    }
    #mmSearch{
        display: inline-block;
        input[name="q"]{
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid #ccc;
            padding: 0px 3px;
            height: 24px;
        }
    }
}
#megamenu.menu_container.full_width {
    width:100%;
}
#megamenu.menu_container &>ul &>li &>.menu_dropdown_block h1,.menu_container &>ul &>li &>.menu_dropdown_block h2 {

}
#megamenu ul.menu_submenu {
    list-style:none;
    padding:0;
    margin:0;
    margin-bottom:10px;
    li {
        display:block;
        background:none;
        padding:0;
		margin:0;
        a {
            display:block;
            padding:1px 20px;
            text-decoration:none;
            color:#666;
            margin:0px;
            font-size:15px;
            line-height: 23px;
            & > span {
                font-size:10px;
            }
        }
        a:hover {
            background-color:#4d4d4d;
            color:#fff;
        }
    }
}
#megamenu ul.menu_submenu_block {
    list-style:none;
    padding:0;
    margin:0;
    margin:10px 0 10px 0;
    li {
        display:block;
        a {
            display:block;
            padding:8px 15px;
            text-decoration:none;
            color:#666;
            margin:0;
        }
        a:hover {
            color:#fff;
        }
    }
}
#megamenu .mobile_collapser {
    display:none;
    & > label {
        display:block;
        height:22px;
        padding:12px 25px;
        color:#fff;
        font-size:15px;
        line-height:22px;
    }
    .mobile_menu_icon {
        display:block;
        float:left;
        width:22px;
        height:22px;
        margin-right:10px;
    }
}
#hidden_menu_collapser {
    display:none;
}
#hidden_menu_collapser:checked+ul {
    height:auto;
    min-height:40px;
    max-height:2999px;
}
#megamenu.menu_container.topfixed {
    position:fixed;
    width:100%;
    top:0;
    left:0;
}
#megamenu.menu_container.centered {
    & > ul {
        float:none;
        height:inherit;
        margin:0 auto;
        max-width:1000px;
    }
}
#megamenu.menu_container.green_glass {
    border-bottom: 0px solid #009fda;
    & > ul {
        & > li:hover {
            & > a {
                color: #009fda;
                & > i.fa-caret-up {
                display:block;
                padding: 0 0 0 15px;
                }
            }
        }
        & > li {
            & > .menu_dropdown_block {
                p.links {
                    a {
                        color:#72aa00;
                    }
                    a:hover {
                        color:#70891f;
                        border-bottom:1px dotted #70891f;
                    }
                }
            }
        }
    }
    ul.menu_submenu_block {
        li {
            a:hover {
                background:#70891f;
            }
        }
    }
}
