{include file="@header.tpl"}

<ul class="submenu">
	<li><a href="{$this->router->link("create", "keepThis=true", "TB_iframe=true", "width=600", "height=550")}" class="thickbox">Create New</a></li>
	<li><a href="{$this->router->link("report")}">Report</a></li>
</ul>

	{if !empty($affiliates2)}
		{$affiliates2 nofilter}
	{/if}

{include file="@footer.tpl"}