{extends '../@autoRenewalLayout.latte'}

{block content}
    <p>
        Hello {$customer->getFirstName()},
    </p>
    <p>
        We are sorry to report that your renewal payment for the following services was not successful - this could be
        due to your card details changing.
    </p>
    <p>
        To keep your services running please login to your account, go to the
        <a href="{link MyServicesControler::PAGE_SERVICES}" target="_blank">My Services</a>
        page and renew them manually.
    </p>

    <table style="width: 60%;margin: 0 0 20px 0;padding: 0;border-spacing: 0;border-collapse: collapse;font-size: 1em;">
        {foreach $renewalData->getCompanies() as $companyId => $companyData}
            {var $company = $companyData['entity']}
            {var $services = $companyData['services']}
            <tr>
                <td colspan="4" style="border-spacing: 0; border: 1px solid #ccc; padding: 10px; font-size: 1.2em; font-weight: bold;background: #f7f7f7;">
                    {$company->getCompanyName()}
                </td>
            </tr>
            <tr class="heading">
                <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;">
                    SERVICE
                </td>
                <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;">
                    STATUS
                </td>
                <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;text-align: center;">
                    EXPIRES ON
                </td>
                {if $renewalData->getServiceCount() == 1}
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;text-align: center;">
                        RENEW
                    </td>
                {/if}
            </tr>
            {foreach $services as $service}
                {var $serviceId = $service->getServiceId()}
                <tr>
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;">{$service->getServiceName()}</td>
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;" title="Overdue">Overdue</td>
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px; text-align: center;">{$service->getDtExpires()->format('d/m/Y')}</td>
                    {if $renewalData->getServiceCount() == 1}
                        <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px; text-align: center;">
                            <a href="{link MyServicesControler::PAGE_SERVICES, array('serviceId' => $serviceId, 'companyId' => $companyId)}#company={$companyId}">Renew manually</a>
                        </td>
                    {/if}
                </tr>
            {/foreach}
        {/foreach}
    </table>

    <div style="text-align: center; width: 60%">
        <a href="{link MyServicesControler::PAGE_SERVICES}" target="_blank" style="display: inline-block;margin-bottom: 0;font-weight: bold;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;color: #fff;background-color: #428bca;border: 1px solid #357ebd;text-decoration: none;">Go to My Services</a>
    </div>
{/block}
