{extends '../@autoRenewalLayout.latte'}

{block content}
    <p>
        Hello {$customer->getFirstName()},
    </p>

    <p>
        We’re pleased to advise that the following services have been successfully renewed.
    </p>

    <table style="width: 60%;margin: 0;padding: 0;border-spacing: 0;border-collapse: collapse;font-size: 1em;">
        {foreach $renewalData->getCompanies() as $companyId => $companyData}
            {var $company = $companyData['entity']}
            {var $services = $companyData['services']}
            <tr>
                <td colspan="4" style="border-spacing: 0; border: 1px solid #ccc; padding: 10px; font-size: 1.2em; font-weight: bold;background: #f7f7f7;">
                    {$company->getCompanyName()}
                </td>
            </tr>
            <tr class="heading">
                <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;">
                    SERVICE
                </td>
                <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;">
                    STATUS
                </td>
                <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;text-align: center;">
                    EXPIRES ON
                </td>
            </tr>
            {foreach $services as $service}
                <tr>
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;">{$service->getServiceName()}</td>
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;" title="Active">Active</td>
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px; text-align: center;">{$service->getRenewalProductExpiryDate()->format('d/m/Y')}</td>
                </tr>
            {/foreach}
        {/foreach}
    </table>

    <p>
        You can access a full VAT receipt from <a href="{link CustomerOrdersControler::ORDERS_PAGE}">your account</a>.
    </p>
{/block}
