<span style="margin-left: -35px; margin-right: 10px; font-weight: bold">(1)</span>
{if $companyServicesView->hasServicesWithoutEventExpiringIn(28, 'events.service.expires_in_28') || $companyServicesView->hasServicesWithoutEventExpiringIn(15, 'events.service.expires_in_15')}
    Renew the service before the expiration date to prevent your service from being suspended.
{elseif $companyServicesView->hasServicesWithoutEventExpiringIn(1, 'events.service.expires_in_1')}
    Your service will expire in 1 day.<br>
    Please renew to ensure your service remains active.<br>
    If you payment becomes overdue your service will be limited and after 28 days will be suspended.<br>
    No action will be carried out on a suspended service.
{elseif $companyServicesView->hasServicesWithoutEventExpiringIn(0, 'events.service.expired') || $companyServicesView->hasServicesWithoutEventExpiringIn(-15, 'events.service.expired_15')}
    Your payment is overdue and your service has been temporarily limited.<br>
    Please renew to ensure your service remains active.<br>
    If your service remains overdue for 28 days it will be suspended.<br>
    No action will be carried out on a suspended service.
{/if}
