<span style="margin-left: -35px; margin-right: 10px; font-weight: bold">(1)</span>
When you reactivate a suspended service, the activities that occurred during the suspension period will not be performed. The service will re-start afresh from the date of reactivation.

{if $emailView->getNotes()->hasNote2()}
    <br>
    <span style="margin-left: -35px; margin-right: 10px; font-weight: bold">(2)</span>
    As you have opted not to renew this service, your registered office is no longer operative at this address. To avoid your statutory post being returned back to Companies House and HMRC we strongly advise you update your registered office to the new address as soon as possible. Please note, any statutory post we receive at our address will now be returned to sender.
{/if}
{if $emailView->getNotes()->hasNote3()}
    <br>
    <span style="margin-left: -35px; margin-right: 10px; font-weight: bold">(3)</span>
    As you have opted not to renew this service, you will lose the rights to this company name. We reserve the right to either let the company lapse and be struck from the register at Companies House or sell it on as a shelf company to another party.
{/if}
{if $emailView->getNotes()->hasNote4()}
    <br>
    <span style="margin-left: -35px; margin-right: 10px; font-weight: bold">(4)</span>
    As you have opted not to renew this service, your Director' Service Address is no longer operative at this address. In addition we reserve the right to amend the Registered Office address of your company at Companies House to the address of the first named director on our system in accordance with our Terms and Conditions.
{/if}
{if $emailView->getNotes()->hasNote5()}
    <br>
    <span style="margin-left: -35px; margin-right: 10px; font-weight: bold">(5)</span>
    We have sent reminders requesting you to renew and are sorry that you are not interested in continuing with the service. As a result, your company will be struck off from the offshore register in due course. If you do decide to renew before the strike off date there will be penalties incurred for late renewal – please consult us before making payment as the total cost will need to be calculated accordingly.       
{/if}