{if $emailView->getNotes()->hasNote2()}
    <br>
    <span style="margin-left: -35px; margin-right: 10px; font-weight: bold">(2)</span>
    It is important that you renew the service within 7 days of the expiry date; otherwise <strong>your service will become inoperative at this address.</strong>
    <strong>For Registered Address services:</strong> We reserve the right to amend the Registered Office address of your company at Companies House to the address of the first named director on our system in accordance with our Terms and Conditions.
    If you don't want to use your residential address as the new registered office of the Company, you must change the address before the end of the 7 day period.
    You can change the address in your <a parent="_blank" href="{link CUSummaryControler::SUMMARY_PAGE, "company_id={$companyServicesView->getId()}"}">company's details page.</a>
    Alternatively you can fill out <a parent="_blank" href="www.companieshouse.gov.uk/forms/generalForms/AD01_change_of_registered_office_address.pdf">paper form AD01</a> and send it to Companies House.
{/if}
{if $emailView->getNotes()->hasNote3()}
    <br>
    <span style="margin-left: -35px; margin-right: 10px; font-weight: bold">(3)</span>
    Should you want your company to remain tax exempt and on the register, the renewal fee will need to paid. The fee includes the registered agent, registered office and government fees for the year.
{/if}
{if $emailView->getNotes()->hasNote4()}
    <br>
    <span style="margin-left: -35px; margin-right: 10px; font-weight: bold">(4)</span>
    Although this is a renewal request for your Privacy package/Registered Office service, we suggest renewing it with our Comprehensive/Ultimate Package renewal service which will include your current service but will also include the preparation and filing of your annual return by us. We have recently introduced a new service whereby you can collect your statutory mail from our offices in London N1. You will be informed by email when there is mail waiting for you.
{/if}
