{extends '../@layout.latte'}

{block content}
    {var $companyServicesView = $emailView->getCompanyServicesView()}
    {var $companyId = $companyServicesView->getId()}
    Hello {$companyServicesView->getCustomerFullName()},
    <br>
    <br>

    {if $emailView->isStatusExpiresIn15()}
        The service below is due in <strong>15 days</strong>. Please log in to your account to renew it.
    {elseif $emailView->isStatusExpiresIn28()}
        The service below is due in <strong>28 days</strong>. Please log in to your account to renew it.
    {elseif $emailView->isStatusExpiresIn1()}
        The service below is due in <strong>1 day</strong>. If you do not log in to your account and renew the service, <strong>it will be suspended.</strong>
    {elseif $emailView->isStatusExpired()}
        The service below <strong>expires today</strong>. If you do not log in to your account and renew the service, <strong>it will be suspended</strong>.
    {elseif $emailView->isStatusExpired15Days()}
        The service below is <strong>overdue</strong>. If you do not log in to your account and renew the service, <strong>it will be suspended</strong>.
    {elseif $emailView->isStatusExpired28Days()}
        The service below has been suspended because your payment is overdue by more than 28 days.
        No further action will be carried out for this service.
    {/if}
    <br>
    <br>

    <table style="width: 60%;margin: 0;padding: 0;border-spacing: 0;border-collapse: collapse;font-size: 1em;">
        <tr style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;background: #f7f7f7;">
            <td colspan="3" style="border-spacing: 0; border-style: none;padding: 10px;font-size: 1.2em;font-weight: bold;background: #f7f7f7;">
                {$companyServicesView->getCompanyName()}
            </td>
            <td colspan="2" style="border-spacing: 0; border-style: none;padding: 10px;background: #f7f7f7;text-align:right;">
                <a style="text-decoration: none;" href="{$disableRemindersLink}">Stop email reminders for this company</a>
            </td>
        </tr>
        <tr>
            <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;font-size: 0.8em;font-weight: bold;">
                SERVICE
            </td>
            <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;font-size: 0.8em;font-weight: bold;">
                STATUS
            </td>
            <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;font-size: 0.8em;font-weight: bold;text-align: center;">
                EXPIRES ON
            </td>
            <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;font-size: 0.8em;font-weight: bold;text-align: center;">
                NOTES
            </td>
            <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;font-size: 0.8em;font-weight: bold;text-align: center;">
                RENEW?
            </td>
        </tr>
        {foreach $emailView->getServiceViews() as $servicesView}
            <tr>
                <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;">
                    {$servicesView->getServiceName()}
                </td>
                <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;">
                    {if $emailView->isStatusExpiresIn15()}
                        Due in 15 days
                    {elseif $emailView->isStatusExpiresIn28()}
                        Due in 28 days
                    {elseif $emailView->isStatusExpiresIn1()}
                        Due in 1 day
                    {elseif $emailView->isStatusExpired()}
                        Expires today
                    {elseif $emailView->isStatusExpired15Days()}
                        Overdue
                    {elseif $emailView->isStatusExpired28Days()}
                        Suspended
                    {/if}
                </td>
                <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;text-align: center;">
                    {$servicesView->getDtExpires()|datetime}
                </td>
                <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;text-align: center;">
                    {$emailView->getServiceNotes($servicesView)->getNotesString()}
                </td>
                <td style="border-spacing: 0;border-color: #ccc;border-width: 1px;border-style: solid;padding: 10px;text-align: center;">
                    <a href="{link MyServicesControler::PAGE_SERVICES, array('serviceId' => $servicesView->getId(), 'companyId' => $companyId)}#company={$companyId}">Renew</a>
                </td>
            </tr>
        {/foreach}
    </table>

    <br>
    <div style="text-align: center; width: 60%">
        <a href="{link MyServicesControler::PAGE_SERVICES}" target="_blank" style="display: inline-block;margin-bottom: 0;font-weight: bold;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;color: #fff;background-color: #428bca;border: 1px solid #357ebd;text-decoration: none;">Go to My Services</a>
    </div>
    <br>
    <br>

    <strong>NOTES:</strong>
    <br>
    <br>

    <div style="margin-left: 50px; width: 60%">
        {if $emailView->isStatusExpired28Days()}
            {* generate note 1,2,3,4,5 *}
            {include 'emailNotes+28.latte', companyServicesView => $companyServicesView, emailView => $emailView}
        {else}
            {* generate note 1 *}
            {include 'emailNote1ForOther.latte', companyServicesView => $companyServicesView}
            {* generate note 2,3,4 *}
            {include 'emailNotesOther.latte', companyServicesView => $companyServicesView, emailView => $emailView}
        {/if}
    </div>

{/block}
