<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.companiesmadesimple.com&amp;size=L&amp;use_flash=YES&amp;use_transparent=YES&amp;lang=en"></script>
<div style="margin-top: 16px;">
    <a href="https://www.securitymetrics.com/site_certificate.adp?s=94%2e236%2e66%2e34&amp;i=374287" target="_blank">
        <img src="https://www.securitymetrics.com/images/sm_ccsafe_check1.gif" alt="SecurityMetrics for PCI Compliance, QSA, IDS, Penetration Testing, Forensics, and Vulnerability Assessment" border="0"></a>
</div>