#accordion2 {
	width:187px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:10px;
}
.accordion2 {width:187px; color:#000;}
.accordion2 dt {width:167px; padding:5px 10px 0 10px; height:20px; font-weight:bold; cursor:pointer; background:url(../imgs/bg_leftmenu.png) top left repeat-x; color:#000;}
.accordion2 .open {background:#949eb1; color:#ffffff}
.accordion2 dd {overflow:hidden; background:#fff}
.accordion2 div {display:block; width:155px; padding:15px 15px 5px 15px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; font-size:12px;}
.accordion2 div ul {padding:0; margin:0; list-style:none;}
.accordion2 div ul li {padding-bottom:10px;}
.accordion2 div ul li a {color:#000000; text-decoration:none;}
.accordion2 div ul li a:hover {text-decoration:underline;}
.accordion2 div ul li a.selected {text-decoration:underline; color:#006699;}
