     .block{
        width:500px;
        height:60px;
        color:#fff;
        background-color:#123456;
        padding: 30px;
        margin-bottom: 30px;
    }

    label {
        float: left;
        font-weight: bolder;
        width: 10em;
    }
    .input{
        width:300px;
        padding: 6px;
    }
    input[type="submit"] {
        height: 25px;
    }
    #formSubmit{
        width:220px;
        float:right;
        margin-right: 40px;
        margin-top: 15px;
    }
    #formText{
        width:300px;
        float:left;
    }
    #rightPart{
        padding-top: 10px;
        padding-left: 200px;
        width:600px;
    }
    h2{
        color: #000;
        font-size: 18px;
        margin: 5px 0;
        
    }
    p{
        color: #666;  
        padding: 0 0 15px 0;
    }
    em{
        padding-left: 100px;
        color: #666;
    }
    #frameCode{
        width: 560px;
        border-style:solid;
        border-width:7px;
        border-color: #E9E9E9;
        margin-bottom: 5px;
    }
    .linkframeCode{
        float:left;
        width: 360px;
        border-style:solid;
        border-width:7px;
        border-color: #E9E9E9;
        margin-bottom: 5px;
        margin-left: 20px;
    }
    .affImg{
        float:left;
    }
    #affLinksBanners{
        padding-left: 50px;
    }
    #frameForm{
        float: left;
        width: 530px;
        border-style:solid;
        border-width:2px;
        border-color: #ccc;
    }
    #frameText{
        float: right;
        width: 150px;
    }
    #frameDemo{
        width: 710px;
    }
    .dashMainBlock{
        width: 700px;
    }
    .dashBlock{
        padding: 0 30px 0 30px; 
        width: 170px;
        float:left;
    }
    #dashText{
        width: 700px;
        float:left;
    }
    
    #dashText p {
        padding: 40px 0 40px 0;
        font-size: 22px;
        text-align: center;
    }
    
    #demoTitle{
        padding-top: 8px;
    }
    #footer{
        margin-top: 10px;
    }
    /* menu*/
    .urbangreymenu{
        width: 170px; /*width of menu*/
        border: #cccccc 1px;
    }

    .urbangreymenu .headerbar{
        font: bold 13px Verdana;
        color: white;
        background: #606060 no-repeat 8px 6px; /*last 2 values are the x and y coordinates of bullet image*/
        margin-bottom: 0; /*bottom spacing between header and rest of content*/
        text-transform: uppercase;
        padding: 7px 0 7px 10px; /*31px is left indentation of header text*/
    }

.treeview{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.treeview li{
    padding-bottom: 2px; /*bottom spacing between menu items*/
}

.treeview li a{
    font: normal 12px Arial;
    color: black;
    background: #E9E9E9;
    display: block;
    padding: 5px 0;
    line-height: 17px;
    padding-left: 8px; /*link text is indented 8px*/
    text-decoration: none;
}

.treeview li a:visited{
    color: black;
}

.treeview li a:hover{ /*hover state CSS*/
    color: black;
    background: #ccc;
}
.treeview2{
     background: #E9E9E9;
}
    
        
    .affiliateTable{
        border-bottom: 1px solid #D2D2D2;
        border-collapse: collapse;
        border-left: 1px solid #D2D2D2;
        font-family: Arial,Verdana,Sans-serif;
        font-size: 12px;
        width: 730px;
    }
        .affiliateTable th{
            background-color: #606060;
            color: white;
            font: bold 13px Verdana;
            padding: 3px 10px;
            border-right: 2px solid #E9E9E9;
    }
        .affiliateTable tr:hover{
            background-color: #cccccc;
    }
        .affiliateTable tr{
            background-color: #E9E9E9;
    }
        .affiliateTable td {
            padding: 3px 10px;
            border-right: 2px solid white;
            border-top: 1px solid white;
    }
        .affiliateFilter label {
        width: 3em;
    }
    .pager{
        margin: 10px 0;
    }