#envelope {
	margin: 10px;
}

table.htmltable {
	border-top: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
	border-collapse: collapse;
}
	table.htmltable td, table.htmltable th {
		border-bottom: 1px solid #d2d2d2;
		border-right: 1px solid #d2d2d2;
	}
		table.htmltable td.center, table.htmltable th.center {
			text-align: center;
		}
	table.htmltable th {
		padding: 5px 10px 5px 10px;
		text-align: left;
	}
	table.htmltable td {
		padding: 3px 10px 3px 10px;
	}

table.package-action label {
	width: 100%;
}

/* === main tags === */


body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
fieldset {
	margin: 15px 0 0 0 ;
}
	fieldset legend {
		display: none;
	}
	fieldset label {
		color: white;
		width: 100px;
		display: block;
		float: left;
		font-weight: bold;
	}
input[type="submit"] {
	width: 150px;
	height: 30px;
}