/* Ajax Loader styles */
.ajax_overlay_container {
    position: relative;
}
.ajax_overlay {
    position: absolute;
    top: 0;
    left : 0;
    z-index: 99999;
}
.ajax_loader {
    width: 100%;
    height: 100%;
}
    .ajax_loader.circle_loader {
        background: url(../imgs/ajax_circle_loader.gif) no-repeat center center transparent;
    }
    .ajax_loader.square_loader {
        background: url(../imgs/ajax_square_loader.gif) no-repeat center center transparent;
    }