@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
@media (max-width: 767px){
    h1, .h1 {font-size: 30px;}
    h2, .h2 {font-size: 24px;}
    h3, .h3 {font-size: 22px;}
    h4, .h4 {font-size: 18px;}
    h5, .h5 {font-size: 16px;}
    h6, .h6 {font-size: 14px;}
    .lead {font-size: 22px; line-height: 24px;}
}
@media (min-width: 768px){
    h1, .h1 {font-size: 48px; margin-top: 0;}
    h2, .h2 {font-size: 30px;}
    h3, .h3 {font-size: 24px;}
    h4, .h4 {font-size: 18px;}
    h5, .h5 {font-size: 16px;}
    h6, .h6 {font-size: 14px;}
    .lead {font-size: 24px; line-height: 26px;}
}
html{
}
body {
    font-family: "Foundry Sterling W01", sans-serif;
    color: #333;
    background-color: #eae4e2;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {font-weight: 500; letter-spacing: -0.025em; color: #333;}
p {font-weight: 300; line-height: 1.5em; font-size: 16px; letter-spacing: -0.015em; margin: 0 0 12px;}
ul, ol {font-weight: 300; line-height: 1.5em; font-size: 16px; padding-left: 1.2em; margin: 0 0 12px;}
ul.nav.navbar-nav {font-size: 14px;}
a {color: #26ace7; text-decoration: underline;}
a:hover, a:focus {color:#ff7900; text-decoration: underline;}
.alert a.close {text-decoration: none}
a img.feat {border: 3px solid #ddd4d3;}
a img.feat:hover {border: 3px solid #ff7900;}
figcaption {font-weight: 200;}
blockquote {border: 0;}
blockquote footer:before {content: none;}
blockquote footer p {font-size: 100%;}
.small {font-size: 14px; line-height: 15px;}
.xsmall {font-size: 12px; line-height: 13px;}
.clear {clear: both;}

/* Colours*/
.blue {color: #009fda;}
.red {color: #BF0000;}
.white {color: #fff;}
.grey3 {color: #4c4d4d;}
.grey6 {color: #b9b9b9;}
.grey7 {color: #333;}
.orange {color: #FF7900;}
.black20 {color: #dadada;}
.black40 {color: #b2b2b2;}
.black60 {color: #878787;}
.black80 {color: #575756;}
.green {color: #88C444;}
.yellow {color: #eeaf30;}
.yellow2 {color: #f7df09;}
.label-success {background-color: #88C444;}
.bg-blue {background-color: #009fda;}
.bg-white {background-color: #fff;}
.bg-grey1 {background-color: #eae4e2;}
.bg-grey2 {background-color: #ddd4d3;}
.bg-grey3 {background-color: #4c4d4d;}
.bg-grey4 {background-color: #f2f2f2;}
.bg-grey5 {background-color: #262626;}
.bg-grey6 {background-color: #f9f9f9;}
.bg-grey7 {background-color: #999999;}
.bg-grey8 {background-color: #333333;}
.bg-grey-blue {background-color: #44697d;}
.bd-grey6 {border-color: #4d4d4d;}
a.whitelink, a.whitelink:hover{color: #fff;}

/* Font weight*/
.font-100 {font-weight: 100;}
.font-200 {font-weight: 200;}
.font-300 {font-weight: 300;}
.font-500 {font-weight: 500;}
.font07 {font-size: 0.7em;}
.font11 {font-size: 1.1em;}
.font115 {font-size: 1.15em;}
.font13 {font-size: 1.3em;}
.font17 {font-size: 1.7em;}
.font-head {margin: 0; line-height: 1.8em;}
.font-head-15 {margin: 0; line-height: 1.5em;}

/* Margins, paddings and borders*/
.container .jumbotron{padding: 30px; margin: 0px; border-radius: 0px;}
.jumbotron{padding: 30px; margin: 0px; border-radius: 0px;}
.margin0a {margin: 0 auto;}
.margin0 {margin: 0;}
.pad0 {padding: 0px;}
.pad8 {padding: 8px;}
.pad054 { padding:0 54px;}
.top0 {margin-top: 0px;}
.top5 {margin-top: 5px;}
.top10 {margin-top: 10px;}
.top20 {margin-top: 20px;}
.top30 {margin-top: 30px;}
.top45 {margin-top: 45px;}
.top50 {margin-top: 50px;}
.top70 {margin-top: 70px;}
.btm10 {margin-bottom: 10px;}
.btm12 {margin-bottom: 12px;}
.btm20 {margin-bottom: 20px;}
.btm30 {margin-bottom: 30px;}
.minh80 {min-height: 80px;}
.padcard {padding: 2%;}
.pleft12 {padding-left: 1.2em;}
.pad-topdown {padding: 1em 0;}
.left20 {left: 20px;}
.top-20 {top: -20px;}
.brick {border: 2px solid #eae4e2;}
.noborder {border: 0px}
.bordertab {border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.bordercell {border: 1px solid #ddd;}
.borderhead {border-bottom: 2px solid #ddd;}
.blueborder {border: 2px solid #009fda;}
.collapsebd {margin: -1px 0 0 -1px;}
.bdtophidden {border-top: hidden;}
.bdlefthidden {border-left: hidden;}
.bdrighthidden {border-right: hidden;}

/* Positions */
.display-inline {display: inline-block;}

.pos-relative {position: relative;}

.flex-ctr {
    display: flex;
    align-items: center;
}

/* Own classes*/
#content {
    display: inherit;
    background-color: transparent;
    margin: inherit;
    padding: inherit;
    width: inherit;
}
.width100 {
    width: 100%;
}
.height100 {
    height: 100%;
}
.dataTables_info {
    font-size: 14px; line-height: 28px;
}
div.directorCompanyEmbedd table.table.table-bordered {
    background-color: transparent;
    border-left-style: hidden;
    border-right-style: hidden;
}
table#appointments-current td[colspan="5"] {
    padding: 0;
}

/* Buttons */
.btn, .btn-lg {
    border-radius: 3px;
}
.btn-lg1 {
    padding: 10px 16px;
    font-size: 19px;
    border-radius: 3px;
    width: 300px;
    font-weight: 200;
    margin: 2px;
}
.btn-lg2, .btn-lg2:visited, .btn-lg2:active {
    width: 196px;
    height: 186px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0px;
    border: 0px;
}
.btn, .btn:hover, .btn:focus, .btn:active, .btn-default:active:hover, .btn-default:active:focus {color: #FFF; text-decoration: none; font-weight: 300;}

.btn-default, .btn-default:active, .btn-default:focus, .btn-default:active:focus {background-color: #FF7900; border: 0;}
.btn-default:hover, .btn-default:active:hover {background-color: #E56D00; border: 0;}
.btn-default[disabled] {background-color: #ffc999;}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus {background-color: #009FDA;}
.btn-secondary:hover {background-color: #008fc4;}
.btn-secondary[disabled] {background-color: #99d9f0;}

.btn-success, .btn-success:active, .btn-success:focus {background-color: #88C444;}
.btn-success:hover {background-color: #7AB03D;}
.btn-success[disabled] {background-color: #cfe7b4;}

.btn-danger, .btn-danger:active, .btn-danger:focus {background-color: #BF0000;}
.btn-danger:hover {background-color: #AC0000;}
.btn-danger[disabled] {background-color: #e59999;}

.btn-white, .btn-white:active, .btn-white:focus {font-weight: 300; color: #333; border-color: #ccc; background-color: #fff;}
.btn-white:hover {font-weight: 300; color: #333; background-color: #e6e6e6; border-color: #adadad;}
.btn-white[disabled] {background-color: #fff;}

.btn-grey, .btn-grey:active, .btn-grey:focus {color: #fff; background-color: #dddddd;}
.btn-grey:hover {color: #fff; background-color: #dddddd;}
.btn-grey[disabled] {background-color: #dddddd;}

.minwidth {min-width: 200px;}
.minwidth250 {min-width: 250px;}

button.btntolink {
    color: #26ace7;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    background:none!important;
    border:none;
    padding:0!important;
    margin: initial;
}
button.btntolink:hover {color: #ff7900;}

@media (max-width: 767px){
    .btn, button.ladda-button {width: 100%;}
}

/* Forms */
.form-horizontal .control-label {
    padding-top: 4px;
    font-size: 16px;
}

/* Overlays */
.home_overlay {
    display:none;
    background-image:url(../imgs/overlay/white.png);
    width:740px;
    font-size:11px;
    padding: 30px;
}

.home_overlay .close {
    background:url(../imgs/overlay/close.png);
    position:absolute; right:15px; top:8px;
    cursor:pointer;
    height:35px;
    width:35px;
    text-decoration: none;
}

/* TOOLTIPS */

.tooltip-inner {

    background: #f4f2f2;
    color: #333333;
    padding: 10px;
    text-align: left;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    min-width: 220px;
}

.tooltip.in {opacity: 1;}

.tooltip.left .tooltip-arrow {
    border-left-color: #f4f2f2;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #f4f2f2;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #f4f2f2;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #f4f2f2;
}

/* POPOVER */
.popover {
    max-width: 400px;
}

/* Packages */
div.pckg-info-block ul {list-style-type: none;}

/* Header and Megamenu Fix for CMS*/
div.navbar.msg-sites.navbar-static-top ul.dropdown-menu{margin: 0!important;}
@media (max-width: 767px){
    div.navbar.msg-sites a.dropdown-toggle {padding: 10px 15px!important; display: inline-block!important; float: none!important;}
    div.navbar.msg-sites .navbar.navbar-nav {margin: 0!important;}
    div.navbar.msg-sites ul.nav.navbar-nav {margin: 0!important;}
    div.navbar.msg-sites li.dropdown.open {float: none!important;}
    .text-center-xs {text-align: center;}
    .header-top.content h1 {margin-top: 5px;font-size: 2.5em;}
    nav.navbar.meganavbar_msg.dropdown-onhover {border-bottom: 2px solid #009fda;}
}
#megamenu-desktop.menu_container {border-bottom: 4px solid #009fda; height: 53px;}
#megamenu-desktop.menu_container > ul {border: hidden;}
nav.navbar.meganavbar_msg.dropdown-onhover {margin-bottom: 0;background-color: #eae4e2;}
@media (min-width: 768px){
    nav.navbar.meganavbar_msg.dropdown-onhover div.container {border-bottom: 4px solid #009fda;}
}
nav.navbar.meganavbar_msg span.icon-bar {background-color: #aaa;}
nav.navbar.meganavbar_msg button.navbar-toggle {border-color: #aaa;}
.navbar {margin: 0;}
#MegaNavbarID a {text-decoration: none;}
div.header-top.content a, div.header-top.content a:hover{text-decoration: none;}
div.container.marketing a, div.container.marketing a:hover{text-decoration: none;}
.basket-counter-container {font-size: 0.9em;line-height: 3.1em; color: #333;}
.cfooter-paymentcards {
    width: 244px;
    height: 24px;
    background: url('../../components/ui_server/imgs/paymentcards.png') no-repeat;
    clear: both;
    margin: 20px 0 0 0;
    padding: 0;
}

/* Teamdevx global CSS Start */
*{ outline: none;}
.bg-blue2 {background-color: #e1f4fb;}
.bg-green {background-color: #88C444;}
.pad025 { padding:0 25px;}
.pad50 {padding: 5px 0;}
.pad-top13 { padding-top: 13px; }
.pbtm5 {padding-bottom: 5px;}
.bg-transparent { background-color: transparent;}
.border-rl { border-right: 2px solid #eee; border-left: 2px solid #eee; }
.border-b { border-bottom: 2px solid #eee; }
.border-t { border-top: 2px solid #eee; }
textarea { resize: none; }
.pos-absolute {position: absolute;}

.testimonial { padding: 0 30px; position: relative; }
.testimonial::before {
    font-family: FontAwesome;
    font-size: 26px;
    color: #757575;
    content: "\f10d";
    position: absolute;
    top: -12px;
    left: 0;
}
.testimonial::after {
    font-family: FontAwesome;
    font-size: 32px;
    color: #bdbdbd;
    content: "\f10e";
    position: absolute;
    bottom: -12px;
    right: 10px;
}
#faqs .panel-default>.panel-heading {
    color: inherit;
    background-color: transparent;
    border: hidden;
    padding: 0;
}
#faqs .panel-default {
    border: hidden;
    box-shadow: none;
}
#faqs .panel-default a {
    color: #009fda;
}
#faqs h4 {
    font-weight: 300;
    color: #009FDA;
}
#faqs .panel-default .panel-body p {
    font-size: 14px;
}
#faqs .panel-default .panel-body ul {
    font-size: 14px;
    font-weight: 300;
}

/* Teamdevx global CSS End */
