/* company-formation-non-uk-residents page CSS */
.price-box h1 span {
    font-size: 18px;
}
.flag-wrap {
    background: #fcf3d5;
}
.id-tick {
    margin-right: 10px;
}

@media (min-width:300px) and (max-width:480px) {
    .pad025 {
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .img-center {
        margin: 0 auto;
    }
}

/*Progress Wizard*/
.progress-indicator {
    font-size: inherit;
    text-transform: none;
    margin: 1em 0;
    line-height: 19px;
}
.progress-indicator>li .bubble {
    background-color: #b9e5fb;
    border: none;
    width: 12px;
    height: 12px;
    margin: 5px auto .5em;
}
.progress-indicator>li .bubble:after, .progress-indicator>li .bubble:before {
    height: 2px;
    background-color: #b9e5fb;
    top: 29px;
}
.progress-indicator>li:hover {
    color: inherit;
}
.progress-indicator>li.completed {
    color: #444444;
}
.progress-indicator>li.active {
    color: #00aeef;
}
.progress-indicator>li.completed .bubble, .progress-indicator>li.active .bubble {
    background-color: #00aeef;
    border: none;
}
.progress-indicator>li.active .bubble, .progress-indicator>li.active .bubble:after, .progress-indicator>li.active .bubble:before,
.progress-indicator>li.completed .bubble, .progress-indicator>li.completed .bubble:after, .progress-indicator>li.completed .bubble:before{
    background-color: #00aeef;
    border: none;
}
.progress-indicator>li.active .bubble:after {
    background-color: #b9e5fb;
    width: calc(50% - 6px);
}
.progress-indicator>li.active:last-of-type .bubble:after {
    background-color: #00aeef;
}

/* HOME - PROGRESS WIZARD */
#home2016-progress .progress-indicator-bg-left {
    height: 13px;
    width: 50%;
    background-color: #00aeef;
    border: 2px solid #fff;
    border-right: hidden;
    border-left: hidden;
    position: absolute;
    left: 0;
    
}
#home2016-progress .progress-indicator-bg-right {
    height: 13px;
    width: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    border-right: hidden;
    border-left: hidden;
    position: absolute;
    right: 0;
    
}
#home2016-progress .progress-indicator {
    font-size: inherit;
    text-transform: none;
    margin: 0;
    top: -14px;
    position: relative;
}
#home2016-progress .progress-indicator>li .bubble {
    background-color: #fff;
    color: #00aeef;
    font-weight: 500;
    border: 3px solid #fff;
    width: 35px;
    height: 35px;
    margin: 5px auto .5em;
    padding: 5px;
}
#home2016-progress .progress-indicator>li .bubble:after, #home2016-progress .progress-indicator>li .bubble:before {
    height: 13px;
    background-color: #fff;
    top: 14px;
    border: 2px solid #fff;
    border-right: hidden;
    border-left: hidden;
    z-index: -1;
}
#home2016-progress .progress-indicator>li:hover {
    color: #fff;
    font-weight: 300;
    font-size: 1.1em;
}
#home2016-progress .progress-indicator>li {
    color: #fff;
    font-weight: 300;
    font-size: 1.1em;
    z-index: 0;
}
#home2016-progress .progress-indicator>li.completed .bubble, #home2016-progress .progress-indicator>li.active .bubble {
    background-color: #00aeef;
    
}
#home2016-progress .progress-indicator>li.active .bubble, #home2016-progress .progress-indicator>li.active .bubble:after, #home2016-progress .progress-indicator>li.active .bubble:before,
#home2016-progress .progress-indicator>li.completed .bubble, #home2016-progress .progress-indicator>li.completed .bubble:after, #home2016-progress .progress-indicator>li.completed .bubble:before{
    background-color: #00aeef;
    color: #fff;
}

/* Home 2016 */
div.home-banner1 {
    background: url('../imgs/home2016/home-banner1.jpg') no-repeat top; 
    background-size: cover; 
}
div.home-banner2 {
    background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.6)0%, rgba(50, 50, 50, 0.2)100%), url('../imgs/home2016/home-banner2.jpg') no-repeat top; 
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.6)0%, rgba(50, 50, 50, 0.2)100%), url('../imgs/home2016/home-banner2.jpg') no-repeat top; 
    background-size: cover; 
}
div.home-banner3 {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8)0%, rgba(255, 255, 255, 0.8)100%), url('../imgs/home2016/home-banner3.jpg') no-repeat top; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8)0%, rgba(255, 255, 255, 0.8)100%), url('../imgs/home2016/home-banner3.jpg') no-repeat top; 
    background-size: cover; 
}
div.home-banner4 {
    background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.8)0%, rgba(50, 50, 50, 0.8)100%), url('../imgs/home2016/home-banner4.jpg') no-repeat center; 
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.8)0%, rgba(50, 50, 50, 0.8)100%), url('../imgs/home2016/home-banner4.jpg') no-repeat center; 
    background-size: cover; 
}
div.home-banner5 {
    background: url('../imgs/home2016/home-banner5.jpg') no-repeat top; 
    background-size: cover; 
}
div.home-banner6 {
    background-color: #e9eaeb;
}
#home2016-search {
    border: 1px solid #333333;
    background-color: white;
}
#home2016-search form {margin: 0;}
#home2016-search input {
    border: 0;
    height: auto;
    font-size: 22px;
    box-shadow: none;
}
#home2016-search .form-group {margin: 6px;}
#home2016-progress {
    background-color: #2b333b;
}
#home2016-bottomlinks h2 {font-size: 0.9em; color: #333;}
#home2016-bottomlinks h2 a {color: #333; text-decoration: none;}
#home2016-bottomlinks h2 a:hover {color: #333; text-decoration: underline;}
#home2016-bottomlinks h3 {font-size: 0.9em; color: #666666;}
#home2016-bottomlinks ul {list-style: none; padding-left: 0;}
#home2016-bottomlinks ul li {font-size: 0.9em; color: #666666;}
#home2016-bottomlinks ul li a {color: #666666; text-decoration: none;}
#home2016-bottomlinks ul li a:hover {color: #666666; text-decoration: underline;}
#home2016-feefo {
    width: 300px;
    height: 86px;
    border: 3px solid rgba(249, 215, 70, 0.7);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
@media (max-width: 767px){#home2016-feefo{margin: 0 auto;}}
@media (min-width: 768px){#home2016-feefo{float:right; margin-right: 15px;}}
#home2016-feefo .feefo2016-top {background: rgba(249, 215, 70, 0.7);}
#home2016-feefo .feefo2016-top span{color: #333; font-size: 15px; padding-left: 5px;}
#home2016-feefo .feefo2016-central {background: rgba(0, 0, 0, 0.7); padding: 5px; height: 100%;}
#home2016-feefo .feefo2016-left {display:inline-block; width: 115px;}
#home2016-feefo .feefo2016-left img {width: 100px; vertical-align: bottom;}
#home2016-feefo .feefo2016-right {display:inline-block; width: 165px;}
#home2016-feefo .feefo2016-right .fa {padding-right: 4px;}
#home2016-feefo .feefo2016-right p a {color: #FFF; font-size: 13px;}

.white-link a {color: #FFFFFF;}

/* Upgrade Page */
#upgrade .row.narrow {margin-right: -10px; margin-left: -10px;}
#upgrade .blueborder {border: 4px solid #009fda; border-top: hidden;}
#upgrade .greyborder {border: 2px solid #999999; border-top: hidden;}
#upgrade hr {margin-top: 15px; margin-bottom: 15px; border: 0; border-top: 1px solid #999;}
#upgrade .pad-topdown {padding: 1em 0 0;}
#upgrade .padcard {padding: 10px 15px;}
#upgrade a.removeitem {color: #b2b2b2;}
#upgrade a.removeitem:hover {color: #BF0000;}
#upgrade .btn {
    border: 0;
}
#upgrade .left-column {
    padding-right: 25px;
}
#upgrade .basket-special-offer {
    margin-bottom: 40px;
}
#upgrade .voucher-toggle {
    overflow: hidden;
}
#upgrade .voucher-toggle form {
    padding-top: 20px;
}
#upgrade .subtotal-price,
#upgrade .vat-price {
    padding: 5px 0;
}
#upgrade .total-price {
    padding: 6px 0;
}
#upgrade .total-price p {
    font-size: 24px;
    font-weight: bold;
}

/* ROSA Landing page */
.london-bg {
    background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60) ), url('../imgs/london-bg.jpg') no-repeat top;
    background-size: cover;
    padding: 50px 0 50px 0;
}
.button-wide button {
    width: 100%;
}
@media (max-width: 767px){
    .button-wide-mobile button{width: 100%;} 
    .button-wide-mobile a.btn{width: 100%;}
}
.rosa-matrix-block {
    border: 1px solid #ccc;
    padding: 7%;
}
.rosa-faq-block:nth-child(odd) {
    background-color: #eae4e2;
}

/* Company Services */

.companyservices-matrix-block {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #F8F8F8;
    margin: 5px 0;
}
.companyservices-matrix-block form {
    margin: 0;
}

/* Retail Matrix */
.plus-matrix {
    height: 70px;
    width: 100%;
    margin-top: -1px;
    background: linear-gradient(to bottom, #e9eaeb 50%,#ffffff 50%);
}
.matrix-toolkit-wrap {
    min-height: 115px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    padding-bottom: 5px;
}

.matrix-toolkit-in {
    background-color: #45697c;
    color: #ffffff;
}

/* WHOLESALE MATRIX */

.price-box h4, .matrix-price-box h4 {
    width: 100%;
    background-color: #31566d;
    line-height: 1.2em;
    padding: 10px 18px;
    color: #fff;
    margin: 0;
}

.price-box .main-txt {
    padding: 18px;
    background-color: #f5f5f5;
    border: hidden;
}

.matrix-price-box .main-txt {
    padding: 18px 5px;
    background-color: #f5f5f5;
    border: hidden;
}

.matrix-price-box .main-txt.package-featured{
    background-color: #e9eaeb;
    /*padding: 8px 5px;*/
}

.matrix-price-box .moreinfo {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.price-box h2, .matrix-price-box h2 {
        color: #324757;
        font-weight: 500;
}   

.price-box h2 span, .matrix-price-box h2 span {
    font-weight: 300;
}

.matrix-price-box form, .price-box form {
    margin: 0;
}

.lead__company-name {
    color: #88c444;
}

@media (max-width: 767px){
    .padcard-mobile {padding: 6% 2%;}
    .price-box h2 {
        text-align: center;
        font-size: 36px;
    }   

    .price-box h2 span {
        font-size: 16px;
    }
    
    .price-box-strip h3 {
        margin-top: 20px;
    }
    
    .matrix-price-box {
        margin-bottom: 20px;
    }

    .matrix-price-box h2 {
        text-align: center;
        font-size: 36px;
        margin-top: 0;
    }   

    .matrix-price-box h2 span {
        font-size: 16px;
    }
    
    .matrix-price-box .mobile-included-description p {
        width: 90%;
        display: inline-block;
    }
    
    .matrix-price-box .mobile-included-description a {
        display: inline-block;
        color: #999999;
        position: relative;
        top: 0;
    }
    
    .matrix-price-box h6.package-featured {
        background-color: #88c444;
        text-align: center;
        margin: 0;
        padding: 2px 0;
        height: 20px;
        color: #ffffff;
        font-weight: 300;
    }
}

@media (min-width: 768px){
    .padcard-mobile {padding: 2%;}
    .price-box h2 {
        text-align: right;
        font-size: 48px;
    }

    .price-box h2 span {
        font-size: 16px;
    }
    
    h3.price-box-strip {
        margin-top: 0px;
    }
    
    .matrix-price-box {
        padding-left: 1px; 
        padding-right: 1px;
        margin-bottom: 2px;
    }
    
    .matrix-price-box h4.retail-matrix {
        font-size: 14px;
        padding: 10px 5px;
    }
    
    .matrix-price-box h2 {
        text-align: center;
        font-size: 24px;
        margin-top: 0;
    }

    .matrix-price-box h2 span {
        font-size: 12px;
    }
    
    .matrix-price-box h4 {
        text-align: center;
    }
    
    .matrix-description-box {
        margin-bottom: 2px;
        padding-left: 1px; 
        padding-right: 1px;
    }
    
    .matrix-description-box > div {
        background-color: #f5f5f5;
        padding: 0 15px;
        height: 50px;
    }
    
    .matrix-description-box p {
        margin: 0;
        float: left;
        width: 95%;
        padding-right: 10px;
        display: inline-block;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .matrix-description-box a {
        display: inline-block;
        color: #999999;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .matrix-check-box {
        margin-bottom: 2px;
        text-align: center;
        padding-left: 1px; 
        padding-right: 1px;
    }
    
    .matrix-check-box > div.matrix-check-box-bg-check {
        background-color: #e9eaeb;
    }
    
    .matrix-check-box > div.matrix-check-box-bg-check.cashback{
        height: 50px;
        color: #88c444;
    }
    
    .matrix-check-box > div.matrix-check-box-bg-check.cashback > strong{
        font-size: 18px;
    }
    
    .matrix-check-box > div.matrix-check-box-bg-minus {
        background-color: #f5f5f5;
    }
    
    .matrix-check-box .fa-check {
        color: #88c444;
        line-height: 50px;
    }
        
    .matrix-check-box .fa-minus {
        color: #e0e0e0;
        line-height: 50px;
    }
    
    .matrix-price-box h6.package-featured {
        background-color: #88c444;
        text-align: center;
        margin: 0;
        padding: 2px 0;
        height: 20px;
        color: #ffffff;
        font-weight: 300;
        top: -20px;
        position: relative;
        margin-bottom: -20px;
    }
    
    .matrix-price-box h6.package-featured.bottom {
        background-color: #88c444;
        text-align: center;
        margin: 0;
        padding: 2px 0;
        height: 20px;
        color: #ffffff;
        font-weight: 300;
        top: 0;
    }
}

/* TABS NAVIGATION */

div.matrix-tabs ul.nav.nav-tabs {
    bottom: -1px;
    position: relative;
}

div.matrix-tabs ul.nav.nav-tabs li a {
    text-decoration: none;
}

div.matrix-lead-description {
    bottom: -160px;
    position: absolute;
}


/* PAYMENT PAGE */
.order-summary .total-to-pay, .order-summary .total-to-pay h3 {
    background-color: #eae4e2;
    line-height: 2.5em;
}

.order-summary .basket-items {
    border-left: 2px solid #eae4e2;
    border-right: 2px solid #eae4e2;
    padding: 5px 0;
}

.order-summary .basket-items.subtotal {
    border-top: 2px solid #eae4e2;
}

.order-summary .basket-items-group {
    background-color: #eae4e2;
}

#payment_form_expiryDate_month, #payment_form_expiryDate_year, #payment_form_validFrom_month, #payment_form_validFrom_year {
    width: 100%;
}

#paymentOption .cards-icons {
    left: 240px;
    position: absolute;
    top: 0;
}

.disabled-content {
    position: absolute;
    width:100%;
    height:100%;
    background-color: white;
    top: 0;
    filter:alpha(opacity=70); /* IE */
    opacity: 0.7; /* Safari, Opera */
    -moz-opacity:0.70; /* FireFox */
    z-index: 1000;
}

@media (max-width: 767px) {
    .brick-desktop {
        border: 0px solid;
        padding: 0;
    }
    .pad054 {
        padding: 0 15px;   
    }
    .incorporation-text-align{
        text-align: center;
    }
}

@media (min-width: 768px) {
    .banner-tab label {
        text-align: right;   
    }
    .brick-desktop {
        border: 1px solid #ddd;
        padding: 2%;
    }
    .incorporation-text-align{
        text-align: right;
        padding-top: 5px;
    }
}
