
@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=f711780c-6e6a-4e69-90c7-63c922c18697");
@font-face{
font-family:"Foundry Sterling W01_n5";
src:url("../Fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix") format("eot")
}
@font-face{
font-family:"Foundry Sterling W01";
src:url("../Fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix");
src:url("../Fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix") format("eot"),url("../Fonts/811fbecc-62c1-4b3d-8542-db71a661e012.woff") format("woff"),url("../Fonts/70189f1b-eed0-4625-992e-f4867c80eb5c.ttf") format("truetype"),url("../Fonts/babf4e66-b5fc-48af-a276-77c327d9ac9a.svg#babf4e66-b5fc-48af-a276-77c327d9ac9a") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
font-family:"Foundry Sterling W01_n2";
src:url("../Fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix") format("eot")
}
@font-face{
font-family:"Foundry Sterling W01";
src:url("../Fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix");
src:url("../Fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix") format("eot"),url("../Fonts/1c874867-515c-4fdd-9fae-7c37237fba27.woff") format("woff"),url("../Fonts/a5c117b0-930c-40ac-b4b7-1fac7ea445f7.ttf") format("truetype"),url("../Fonts/7c3bed3a-232e-4f9b-9013-16f12661a829.svg#7c3bed3a-232e-4f9b-9013-16f12661a829") format("svg");
font-weight: 200;
font-style: normal;
}
@font-face{
font-family:"Foundry Sterling W01_n1";
src:url("../Fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix") format("eot")
}
@font-face{
font-family:"Foundry Sterling W01";
src:url("../Fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix");
src:url("../Fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix") format("eot"),url("../Fonts/a48c29e8-8de1-4e90-82a1-5e025a284ae5.woff") format("woff"),url("../Fonts/cde1f0bd-b628-489b-a95d-2048acf1460a.ttf") format("truetype"),url("../Fonts/c5b9070a-700b-425a-84a5-9fd846ba5455.svg#c5b9070a-700b-425a-84a5-9fd846ba5455") format("svg");
font-weight: 100;
font-style: normal;
}
@font-face{
font-family:"Foundry Sterling W01_n3";
src:url("../Fonts/8af41afe-9f54-4583-9674-bc1303e3ff13.eot?#iefix") format("eot")
}
@font-face{
font-family:"Foundry Sterling W01";
src:url("../Fonts/8af41afe-9f54-4583-9674-bc1303e3ff13.eot?#iefix");
src:url("../Fonts/8af41afe-9f54-4583-9674-bc1303e3ff13.eot?#iefix") format("eot"),url("../Fonts/13371dca-3ac8-4bab-b52d-4e1d2efa82f9.woff") format("woff"),url("../Fonts/0d4f9295-fafe-4a02-ab19-b161494f81e2.ttf") format("truetype"),url("../Fonts/db2dcdc1-bbb3-414f-b352-c38fff8db0d7.svg#db2dcdc1-bbb3-414f-b352-c38fff8db0d7") format("svg");
font-weight: 300;
font-style: normal;
}
