form {
    margin: 0px;
    padding: 0px;
}
#honeypot {
display:none;
}
/*fieldset {
    border: 1px solid #dddddd;
    margin: 0 0 20px 0;
    padding: 10px;
}*/
.fieldset2 {
    border: 1px solid #cccccc;
    background-color: #f7f8fa;
    margin: 0 0 20px 0;
    padding: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position:relative;
    padding-top:50px;
}

.fieldset3 {
    border: 1px solid #cccccc;
    background-color: #f7f8fa;
    margin: 0 0 20px 0;
    padding: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position:relative;
    padding-top:25px;
}

/*legend {
    color: #1B3876;
    font-size: 12px;
    font-weight: bold;
    width: auto;
    border: 0;
    padding: 0 2px;
    margin: 0;
}
label {
    font-size: 12px;
    padding: 0 0 0 5px;
    font-weight: normal;
    vertical-align: middle;
    margin: 0;
}*/

table.ff_table2 label {
    font-size: 14px;
    color: #434343;
    padding: 0 0 0 40px;
    font-weight: bold;
    margin-top:7px;
    margin-left:2px;
    display:inline-block;
    margin-bottom:5px;
    vertical-align: middle;
}

table.ff_table2 label.error {
    font-size: 11px;
    color: #ff3f3f;
    padding: 0 0 0 20px;
    font-weight: normal;
    margin: 0 0 0 0;
    display:inline-block;
    vertical-align: middle;
}

span.ff_desc {
    font-size: 11px;
    font-style: italic;
    display: block;
    padding: 1px 0 5px 0;
    color: #333333;
}

.ff_errors, .ff_err_notice {
    color: #ff0000;
    background: #F5CBCB;
    border: 1px dashed #ff0000;
    font-weight: normal;
    font-style: italic;
    margin: 15px 0 15px 0;
    padding: 5px 5px 5px 10px;
    font-size: 12px;
}
ul.ff_err_notice {
    padding-left: 25px;
}
ul.ff_errors {
    padding-left: 30px;
}

span.ff_control_err {
    color: #ff0000;
    font-style: italic;
    font-weight: normal;
    padding: 1px 10px 1px 10px;
    font-size: 11px;
}

table.ff_table th, table.ff_table td {
    vertical-align: top;
}
table.ff_table th {
    padding: 0 5px 0 0;
    text-align: left;
    width: 150px;
    font-weight: normal;
}
table.ff_table th .btn {
    float: left;
}

table.ff_table td {
    padding-bottom: 10px;
}

table.ff_table2 th {
    padding-bottom: 5px;
    text-align: left;
    font-weight: normal;
}
table.ff_table2 th .btn {
    float: left;
}

table.ff_table2 td {
    padding-bottom: 5px;
    margin-right:10px;
    display: inline-block;
}

table.ff_table2 tr{


}

table.ff_table2{
    margin-top:-10px;
    margin-bottom:-5px;

}
.captcha_img {
    margin: 0 0 5px 0px;
    display: block;
}

.ff_red_err{
    color: #ff0000;
    background: #F5CBCB;
    border: 1px dashed #ff0000;
}

.fieldset2 select {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:10px;
    margin: 0;
    border-radius:4px;
    -webkit-box-shadow:
        0 0px 0 #ccc,
        0 0px #fff inset;
    background: url('../imgs/309nb74.png') no-repeat right;
    background-color: #FFF;
    color:black;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    cursor:pointer;
    border: 1px solid #ccc;
}

.green-submit {
    border: 0px;
    margin:0px;
    padding:8px 10px;
    background-color: #5cb85c;
    color: #fff;
    border-radius:3px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    height: auto;
    width:auto;
}
.orange-submit {
    border: 0px;
    margin:0px;
    padding:8px 20px;
    background-color:#ff7400;
    color: #fff;
    border-radius:3px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    height: auto;
    width:auto;
    text-decoration: none;
}
.orange-submit:hover {color: #fff;}
.orange-submit input[disabled=disabled], input:disabled{
    background-color:#ccc;
    cursor: default;
}
.white-submit {
    border: 1px solid #bbbbbb;
    margin:0px;
    padding:8px 10px;
    background-color: #f4f4f4;
    color: #000;
    border-radius:3px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    height: auto;
    width:auto;
    text-decoration: none;
}
.remove-link-submit {
    border: 0;
    padding: 8px 10px;
    height: auto;
    width: auto;
    background: none;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
#fsetcard1 {
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 570px;
    color:#333333;
}
.fsetcard2 {
    background-color: #5bc0de;
    border: 0px solid #d9d9d9;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    width: 570px;
    color:#fff;
    font-size: 14px;
    font-weight: bold;
}
.fsetcard2 a{
    color:#fff;
    text-decoration: none;
}
#fsetcard1 span{
    display:inline-block;
    margin:0px;
    padding:0px;
    vertical-align: middle;
}
.card32{
    margin:0 5px 0 0;
    padding:0px;
    width:51px;
    height:32px;
    background: url('../imgs/cards32.png') no-repeat;
    background-position:0px 0px;
}
.card32.visa{
    background-position:0px 0px;
}
.card32.delta{
    background-position:0px 0px;
}
.card32.uke{
    background-position:-51px 0px;
}
.card32.mc{
    background-position:-102px 0px;
}
.card32.maestro{
    background-position:-153px 0px;
}
.card32.amex{
    background-position:-205px 0px;
}
.card32.paypal{
    background: url('../imgs/cards32_paypal.png') no-repeat;
}
.card25{
    margin:0 5px 0 0;
    padding:0px;
    width:40px;
    height:25px;
    background: url('../imgs/cards25.png') no-repeat;
    background-position:0px 0px;
}
.card25.visa{
    background-position:0px 0px;
}
.card25.delta{
    background-position:0px 0px;
}
.card25.uke{
    background-position:-40px 0px;
}
.card25.mc{
    background-position:-80px 0px;
}
.card25.maestro{
    background-position:-119px 0px;
}
.card25.paypal{
    background: url('../imgs/cards25_paypal.png') no-repeat;
}
.card25.generic{
    background: url('../imgs/cards25_generic.png') no-repeat;
}

/* FancyCombo */

.fancy-combo {
    width: 350px;
}

.fancy-combo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fancy-combo li{
    line-height: 25px;
    height: 25px;
    padding: 8px 0 8px 10px;
    border: 1px solid #999;
    border-top: none;
}

.fancy-combo .selected-value {
    border: 1px solid #a9a9a9;
    vertical-align:middle;
    cursor: default;
    background-color: #fff;
}

.fancy-combo .selected-value.disabled{
    background-color: #ccc;
    color: #999;
}

.fancy-combo .selected-value li{
    border: none;
}

.fancy-combo .selected-value .combo-arrow {
    line-height: 40px;
    padding-right: 15px;
    color:#999999;
    text-decoration: none;
}

.fancy-combo li.option{
    font-size: 1.2em;

}
.fancy-combo .combo-options li.option:hover{
    background-color: #3879d9;
    color: white;
    cursor: default;
}

.fancy-combo li.optgroup{
    background-color:#e4e4e4;
    line-height:20px;
    height:20px;
}

.fancy-combo .option span{
    display: inline-block;
}

/**************/

#fsetcard1 .fa-chevron-down, .fa-chevron-up {
    color:#999999;
    text-decoration: none;
}
#address-info{
    background-color: #fff;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 25px;
    width: 550px;
    color:#333333;
}
#card-details{
    background-color: #fff;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 0px 25px 25px 25px;
    width: 548px;
    color:#333333;
}
#card-details fieldset{
    border:0px;
    margin:0px;
    padding:0px;
    background-color: #fff;
}
#card-details legend{
    font-size: 18px;
    font-weight: normal;
    color:#333333;
    line-height: 60px;
    position: initial;
    padding: initial;
    background-color: #fff;
}
#card-details label{
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    width: 160px;
    display: inline-block;
    text-align: right;
}
#card-details input{
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin:0px;
    padding:7px;
    font-size: 14px;
}
#card-details select{
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin:0px;
    padding:7px;
    font-size: 14px;
}
#card-details .has-error{
    color: #A94442;
}
#card-details .has-error input{
    border: 1px solid #A94442;
}
#card-details .has-error select{
    border: 1px solid #A94442;
}
#card-details .save {
    border: 0px;
    margin:0px;
    padding:8px 10px;
    background-color: #5cb85c;
    color: #fff;
    border-radius:3px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    height: auto;
    width:auto;
}
#card-details .cancel {
    border: 0px;
    margin: 0px;
    padding: 8px 10px;
    background: none;
    color: #006699;
    text-decoration: underline;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    height: auto;
    width: auto;
}
#card-details .help-block {
    display: block;
    position: relative;
    left: 168px;
    margin: 5px 0px 15px 0px;
}
#card-details .cv2-ext{
    width: 190px;
    height: 36px;
    background: url('../imgs/cvv.png') no-repeat;
    display: inline-block;
    position: relative;
    top: 15px;
    left: 5px;
}
#address-info h4{
    margin:0px;
    padding:0px;
}
#address-info p{
    margin:0px;
    padding:5px 0px;
    line-height: 19px;
}
#sboxinc input{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 70%;
    padding: 10px;
    border: 1px solid #bbb;
    font-size: 14px;
    height: auto;
    vertical-align: middle;
}
#sboxinc button{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid #bbb;
    font-size: 14px;
    height: auto;
    vertical-align: middle;
    background-color: #f9f9f9;
}
#dateFrom, #dateTo{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #bbb;
    font-size: 12px;
    height: auto;
    vertical-align: middle;
    margin: 5px;
    width: 80px;
}
#dateFilterType{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #bbb;
    font-size: 12px;
    height: auto;
    vertical-align: middle;
    margin: 5px;
    background-color: #fff;
}
.small-overlay {
    background-color: #fff;
    border-radius: 5px;
    background-image: none;
    padding: 20px;
}
.small-overlay p{
    color:#333333;
    font-size: 14px;
}
.small-overlay span{
    color:#333333;
    font-size: 14px;
}
.small-overlay a{
    font-size: 14px;
}
.small-overlay .close{
    right: -17px;
    top: -19px;
}
.redbutton
{
    width: auto;
    height: auto;
    display: block;
    margin: 0px;
    padding: 9px 15px;
    background-color: #d2322d;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}
.bg-warning{
    background-color: #f2dede;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    width: 570px;
    color:#B94A48;
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0px;
}
.col-md-12 {
    width: 100%;
}
.col-md-11 {
    width: 91.66666667%;
}
.col-md-10 {
    width: 83.33333333%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.66666667%;
}
.col-md-7 {
    width: 58.33333333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.66666667%;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-1 {
    width: 8.33333333%;
}

/** id check */
.successbox{
    background-color: #dff0d8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d6e9c6;
    color:#4a885f;
    font-size: 15px;
    line-height: 1em;
    padding: 15px;
    width: 70%;
}
.successbox p{
    line-height: normal;
    padding: 0;
}
.warningbox {
    background-color: #fcf8e3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #fbeed5;
    color:#c09853;
    font-size: 15px;
    line-height: 1em;
    padding: 15px;
}
.warningbox p{
    line-height: normal;
    padding: 0;
}
.failedbox{
    background-color: #f2dede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #eed3d7;
    color:#c54a48;
    font-size: 15px;
    line-height: 1em;
    padding: 15px;
}
.failedbox p{
    line-height: normal;
    padding: 0;
}
/*#idCheck{
    color: #333333;
}
#idCheck label{
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding: 5px 5px 0px 0;
    display: inline-block;
    min-width: 180px;
}
#idCheck label.error{
    font-size: 13px;
    color: red;
    display: block;
    font-weight: normal;
    padding: 0px 0 10px 0;
}*/
/*#idCheck input[type=text], #idCheck select{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding:5px;
    margin: 5px 0 5px 0;
}*/
#passport {
    padding: 1em 0.4em;
}
#idCheck div.has-error input, #idCheck div.has-error select{
    border: 1px solid red;
}
#idCheck #tabs{
    font-family: Arial, Helvetica, sans-serif;
}
#idCheckForm_passport_number_first{
    width: 300px;
}
#idCheckForm_passport_number_second{
    width: 190px;
}
#idCheckForm_passport_number_third{
    width: 30px;
}

/*
.form-group {
    margin: 10px;
}
.form-group input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 230px;
}
.form-group label {
    font-size: 15px;
    color: #000;
}
*/
.form-group label.error{
    font-size: 13px;
    color: red;
    display: block;
}

.form-group label.error ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/** old id check 
.list-unstyled, .list-unstyled li {
    list-style-type: none !important;
}
.has-error, .alert-danger {
    color: red;
}
.error, .error-block{
    display:block !important;
    font-weight: inherit !important;
    min-width: inherit !important;
    padding-top: 0 !important;
    color: red;
}
.error ul, .help-block ul li {
    padding: 0;
    margin: 0;
}
.error-block{
    display:block !important;
    font-weight: inherit !important;
    min-width: inherit !important;
    padding: 5px 0;
    color: red;
}
**/
