html, body {
	margin:0;
 	padding:0;
	font-family: verdana, arial, helvetica;
	font-size: 12px;
	color:#666;
    background:none repeat scroll 0 0 #CCCCCC;
}
#main_container {
	width:980px;
	height:auto;
	margin:auto;
    background:none repeat scroll 0 0 #ffffff;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
	font-size:34px;
	color:#006496;
    background-image: url(../imgs/cosec/line.gif);
    height: 40px;
	font-weight: bold;
    padding: 15px 0 10px 15px;
}
h2 {
	padding:5px 0 5px 0;
	margin:0px;
	font-size:18px;
	color:#006496;
}
h3 {
	padding:5px 0 5px 0;
	margin:0px;
	font-size:16px;
	color:#006496;
}
#header {
	background-image: url(../imgs/cosec/header.gif);
	background-repeat: repeat-x;
	height: 88px;
	width: 980px;
	margin:auto;
}
#header_logo {
	float: left;
	height:61px;
	width:129px;
    padding-left: 10px;
}
#header_logo a{
	display:block;
	background-image: url(../imgs/cosec/logo.gif);
	width:129px;
	height:61px;
	}
#header_text {
	float: left;
	padding-left: 20px;
	padding-top: 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px;
	color:#fff;
}
#header_navigation {
	float: left;
	width: 880px;
}
#bluebox {
	width: 980px;
	background-image: url(../imgs/cosec/line.gif);
	height: 392px;
}
#blue_box_text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#006496;
    background-image: url(../imgs/cosec/line.gif);
    height: 40px;
	font-weight: bold;
	padding: 0 0 0 15px;
}
#right_blue_box {
	float: right;
	width:625px;
	height:327px;
	background-image:url(../imgs/cosec/video1.jpg);
	position: relative;
}
#right_blue_box a {
	display: block;
	text-decoration: none;
	background-repeat: no-repeat;
	width: 110px;
	height: 90px;
	position: absolute;
	top: 120px;
	left: 300px;
}
#left_blue_box {
	float: left;
	padding-top: 10px;
	padding-left: 15px;
	width: 323px;
}
#left_blue_box_text {
	background:#ffffff;
	padding: 15px 10px 15px 10px ;
}
#left_blue_box_text h2 {
	font-size:18px;
	color:#dc5f0f;
	font-family: Georgia, "Times New Roman", Times, serif;
    padding-bottom: 15px;
}
#left_blue_box_text p {
	font-size:14px;
}
#left_blue_box_grey_text p {
    margin-top: 7px;
    text-align: center;
}
#left_blue_box_button a {
	margin-top: 30px;
	padding-left: 10px;
	display:block;
	background-image:url(../imgs/cosec/button_blue.gif);
	width:313px;
	height:86px;
	text-decoration: none;
    float: left;
}
#left_blue_box_button b {
    font-weight: bold;
    color: #ffffff; 
    font-size: 30px;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
   
}
#left_blue_box_button p {
    padding:25px 0px 0px 50px;
	font-size:16px;
	color:#83CCE9;
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	width: 980px;
}
#content_top_part {
	float: left;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background:none repeat scroll 0 0 #ffffff;
}
#content_top_part_left {
	float: left;
	width: 310px;
	background: #f4f4f4;
	padding-top: 10px;
	padding-left: 15px;
}
.image_text a{
    display:block;
	height: 115px;
	color:#000;
	padding-top:10px;
    text-decoration: none;
}

.img1{
	background-image: url(../imgs/cosec/affiliate-programs.jpg);
	background-repeat: no-repeat;
	background-position: left;
	}
	
.img2{
	background-image: url(../imgs/cosec/white-label-company-formations.jpg);
	background-repeat: no-repeat;
	background-position: left;
	}
	
.img3{
	background-image: url(../imgs/cosec/accountants.jpg);
	background-repeat: no-repeat;
	background-position: left;
	}
	
.image_text h4 {
	padding-left:130px;
	padding-right:10px;
	margin-bottom:0;
    font-family:verdana,arial,helvetica;
    font-size:12px;
}
.image_text p {
	padding-left:130px;
	padding-right:20px;
	margin-top:0;
}
#content_top_part_right {
	float: right;
	width: 575px;
	margin-bottom:0;
	margin-left: 50px;
    padding-right: 15px;
}
#content_top_part_right h2+ul {
	margin-top:0;
}
#content_top_part_right h2 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}


/*    */
#content_bottom_part {
	float: left;
	width: 980px;
	background: #effaff;
}
#content_bottom_part h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: lighter;
    padding-left: 15px;
}
#content_bottom_part_left {
	float: left;
	width:463px;
    padding:  10px 0 0 15px ;
}
#content_bottom_part_right {
	float: right;
	width:463px;
    padding: 10px 15px 0 0 ;
}
.custamer_say {
	padding-top:10px;
	background-image: url(../imgs/cosec/bubble_blue_top.gif);
	background-position: top;
	background-repeat: no-repeat;
	background-color: #bee7fc;
}
.custamer_say2 {
	padding-top:10px;
	background-image: url(../imgs/cosec/bubble_yellow_top.gif);
	background-position: top;
	background-repeat: no-repeat;
	background-color: #ffefc7;
}
.example-obtuse{
	background-image: url(../imgs/cosec/bubble_blue_bottom.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	padding-left:10px;
	padding-right:10px;
    padding-bottom: 40px;
	}
.example-obtuse p{
    font-size:11px;
}
.triangle-obtuse{
	background-image: url(../imgs/cosec/bubble_yellow_bottom.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	padding-left:10px;
	padding-right:10px;
    padding-bottom: 40px;
	}
.triangle-obtuse p{
    font-size:11px;
}
.triangle-obtuse p br{
    padding-top:10px;
}

#text_content {
	padding: 10px;
    background:none repeat scroll 0 0 #ffffff;
    float: left;
    width: 960px;
}
#left_doc_part{
    width: 660px;
    float: left;
    background:none repeat scroll 0 0 #ffffff;
}
#left_doc_part h3{
    padding-top: 10px
}
#right_img_part{
	
    float: right;
    background:none repeat scroll 0 0 #ffffff;
}

.fotter {
	float: left;
	background: #000000;
	text-align: center;
	width: 980px;
	padding-top: 10px;
    padding-bottom: 10px;
    color:#cccccc;
}
.fotter a{
    text-decoration: none;
    color: #fff;
}
/* End navigation bar styling. */
img.box_img {
	float:left;
	padding:0 20px 0 0;
}
#content_top_part_right ul {
	list-style-image:url('../imgs/cosec/list.gif');
}

#list_faq{
    padding-left: 20px;

}
#nav {
	width:830px;
	margin:0;
	float: left;
	padding-left:150px;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-image: url(../imgs/cosec/navigation.gif);
	background-repeat: repeat-x;
}
#nav li {
	float: left;

}
#nav li p{
	display: block;
	padding: 5px 25px;
	text-decoration: none;
	font-weight: bold;
    font-size: 14px;
	border-right: 1px solid #ccc;
	color: #fff;
	background-color: #4c4b4c;

}
#nav li a {
	display: block;
	padding: 5px 25px;
	text-decoration: none;
	font-weight: bold;
    font-size: 14px;
	color: #010101;
	border-right: 1px solid #ccc;
}
#nav li a:hover {
	color: #fff;
	background-color: #4c4b4c;
}
div.flash.info {
    background: none repeat scroll 0 0 #FFFFDD;
    border: 1px solid #FFD700;
}
div.flash {
    color: black;
    margin: 0;
    padding: 1em;
}