/*
  +----------------------------------------------------------------------+
  | html css table                                                	     |
  +----------------------------------------------------------------------+
  | Author: Stan <diviak@gmail.com>		                                 |
  +----------------------------------------------------------------------+
 
  FILE: htmltable.css
  LAST CHANGE: 25.06.2006
  CREATED: 25.06.2006
  
*/
table.htmltable {
	table-layout: fixed;
	font-family: Arial, Verdana, Sans-serif;
	border-bottom: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
	border-collapse: collapse;
	cursor: default;
	font-size: 12px;
	width: 730px;
	margin: 0 0 0 0px;
}

	table.htmltable caption {
		text-align: right;
		padding: 0 0 5px 0;
	}
	table.htmltable tr {
		background-color: #e4f2fd;
	}
		table.htmltable tr.even {
			background-color: #FFFFFF;
		}
		table.htmltable tr:hover,table.htmltable tr:hover a {
			background-color: #464646;
			color: white;
		}
	table.htmltable th,table.htmltable td {
		border-right: 1px solid #d2d2d2;
		border-top: 1px solid #d2d2d2;
	}
	table.htmltable th {
		color: white;
		font-size: 12px;
		font-style: italic;
		background-color: #464646;
		padding: 3px 10px 3px 10px;
		text-align: left;
	}
		table.htmltable th a {
			color: white;
			text-decoration: underline;
		}
		table.htmltable th img {
			border: 0;
			margin: 1px 0 0 5px;
		}
	table.htmltable td {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding: 3px 10px 3px 10px;
	}
	table.htmltable td a {
		color: black;
	}
	table.htmltable td img {
		border: 0;
	}
	table.htmltable th.right,table.htmltable td.right {
		text-align: right;
	}
	table.htmltable th.left,table.htmltable td.left {
		text-align: left;
	}
	table.htmltable th.center,table.htmltable td.center {
		text-align: center;
	}
	table.htmltable tr.borderSeparator td {
		border-top: 1px solid #000;
	}