body {
	margin:0;
 	padding:0;
	font-family: verdana, arial, helvetica;
	font-size: 12px;
	color:#666;
    background:none repeat scroll 0 0 #CCCCCC;
}
#main_container {
	width:980px;
	height:auto;
	margin:auto;
    background-image: url(../imgs/icaew/main_background.jpg);
    padding: 0 5px 0
}
h1{
    font-family:Arial, Helvetica, sans-serif;
	font-size:34px;
	color:#006496;
    background-image: url(../imgs/icaew/line.gif);
    height: 40px;
	font-weight: bold;
    padding: 15px 0 10px 15px;
}
h2 {
	padding:5px 0 5px 0;
	margin:0px;
	font-size:18px;
	color:#006496;
}
h3 {
	padding:5px 0 5px 0;
	margin:0px;
	font-size:16px;
	color:#006496;
}
#header {
	background-color: #006599;
	height: 139px;
	width: 980px;
	margin:auto;
}
#header_logo {
	float: left;
    padding-left: 15px;
}
#header_logo a{
	display:block;
	background-image: url(../imgs/icaew/cms-logo.jpg);
	width:223px;
	height:112px;
	}
#header_text {
	padding-left: 255px;
	padding-top: 20px;
	font-family:arial, "Times New Roman", Times, serif;
	color:#fff;
}
#header_bold_text{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#header_big_text{
    font-size:36px;
    text-shadow: 0 1px 3px black;
	text-align: center;
}

#header_navigation {
	width: 880px;
}
#redbox {
	width: 980px;
	background-image: url(../imgs/icaew/red-background.jpg);
	height: 276px;
}
#red_box_text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#006496;
    background-image: url(../imgs/icaew/line.gif);
    height: 40px;
	font-weight: bold;
	padding: 0 0 0 15px;
}
#right_red_box {
	float: right;
	width:558px;
	height:276px;
	background-image:url(../imgs/icaew/video1.jpg);
	position: relative;
}
#right_red_box a, .ic-head-blue-left a {
	display: block;
	text-decoration: none;
	background-repeat: no-repeat;
	width: 110px;
	height: 90px;
	position: absolute;
	top: 100px;
	left: 270px;
}
#left_red_box {
	float: left;
	padding-top: 40px;
	width: 323px;
}
#left_red_box_text {
	background-image:url(../imgs/icaew/icaew_logo.jpg);
    width:409px;
	height:120px;
}
#left_red_box_text h2 {
    font-weight: normal;
	font-size:21px;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
    padding: 20px 50px 20px 30px;
}
#left_red_box_text p {
	font-size:14px;
}
#left_red_box_grey_text p {
    margin-top: 7px;
    text-align: center;
}
#left_red_box_button  {
	margin-top: 40px;
	margin-left: 30px;
    float: left;
}

#left_red_box_button p {
    padding:13px 0px 0px 59px;
	color: #ffffff;
    font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#content {
	width: 980px;
    border-top: 1px solid #cccccc;
}
#content_top_part {
	float: left;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background:none repeat scroll 0 0 #ffffff;
}
#content_left_part {
	float: left;
	width: 310px;
	background: #f4f4f4;
	padding: 10px 10px 20px 15px;
    border-bottom: 3px solid #666666;
}

#content_left_part h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: #000;
}

#content_left_part li {
	padding: 10px 0px 10px 10px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
}
#content_left_part li span {
    color: #656565;
}

#content_left_part ul {
	padding-left:20px;

}

#content_right_part{
	float: right;
	width: 575px;
	margin-bottom:0;
	margin-left: 30px;
    padding-right: 25px;
}
#content_right_part #features{
   padding-left: 20px;
}

#content_right_part #content_text{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#content_right_part h2{
    font-weight: normal;
    padding: 10px 0px 0px 40px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#content_right_part #left_features{
	width: 258px;
    float: left;
    padding-right: 20px;
}

#content_right_part #right_features{
    width:258px;
    float: left;
}

#content_right_part .img{
	display:block;
    background-position: left center;
    background-repeat: no-repeat;
	height:32px;
}
#img1{
	background-image:url(../imgs/icaew/free-icon.jpg);
}
#img2{
	background-image:url(../imgs/icaew/access-anywhere-icon.jpg);
}
#img3{
	background-image:url(../imgs/icaew/annual-return-icon.jpg);
}
#img4{
	background-image:url(../imgs/icaew/up-to-date-icon.jpg);
}
#img5{
	background-image:url(../imgs/icaew/manage-centrally-icon.jpg);
}
#img6{
	background-image:url(../imgs/icaew/simple-import-icon.jpg);
}
#img7{
	background-image:url(../imgs/icaew/stat-filing-dates-icon.jpg);
}
#img8{
	background-image:url(../imgs/icaew/dividends-icon.jpg);
}

#content_right_part p{
    padding-bottom: 20px;
}



/*    */
#content_bottom_part {
	float: left;
	width: 980px;
	background: #effaff;
}
#content_bottom_part h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: lighter;
    padding-left: 15px;
}
#content_bottom_part_left {
	float: left;
	width:463px;
    padding:  10px 0 0 15px ;
}
#content_bottom_part_right {
	float: right;
	width:463px;
    padding: 10px 15px 0 0 ;
}
.custamer_say {
	padding-top:10px;
	background-image: url(../imgs/icaew/bubble_blue_top.gif);
	background-position: top;
	background-repeat: no-repeat;
	background-color: #bee7fc;
}
.custamer_say2 {
	padding-top:10px;
	background-image: url(../imgs/icaew/bubble_yellow_top.gif);
	background-position: top;
	background-repeat: no-repeat;
	background-color: #ffefc7;
}
.example-obtuse{
	background-image: url(../imgs/icaew/bubble_blue_bottom.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	padding-left:10px;
	padding-right:10px;
    padding-bottom: 40px;
	}
.example-obtuse p{
    font-size:11px;
}
.triangle-obtuse{
	background-image: url(../imgs/icaew/bubble_yellow_bottom.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	padding-left:10px;
	padding-right:10px;
    padding-bottom: 40px;
	}
.triangle-obtuse p{
    font-size:11px;
}
.triangle-obtuse p br{
    padding-top:10px;
}

#text_content {
	padding: 10px;
    background:none repeat scroll 0 0 #ffffff;
    float: left;
    width: 960px;
}
#left_doc_part{
    width: 660px;
    float: left;
    background:none repeat scroll 0 0 #ffffff;
}
#left_doc_part h3{
    padding-top: 10px
}
#right_img_part{
	
    float: right;
    background:none repeat scroll 0 0 #ffffff;
}
#content_disclaimer{
    padding:20px; 
    background-color:#f4f4f4; 
    float:left;
}
.fotter {
	background: #000000;
	text-align: center;
	width: 980px;
	padding-top: 10px;
    padding-bottom: 10px;
    color:#cccccc;
}
.fotter a{
    text-decoration: none;
    color: #fff;
}
/* End navigation bar styling. */
img.box_img {
	float:left;
	padding:0 20px 0 0;
}
#content_top_part_right ul {
	list-style-image:url('../imgs/icaew/list.gif');
}

#list_faq{
    padding-left: 20px;

}
#nav {
	width:880px;
	margin:0;
	float: left;
	padding-left:100px;
	list-style: none;
	background-color: #f2f2f2;
	background-image: url(../imgs/icaew/navigation.gif);
	background-repeat: repeat-x;
}
#nav li {
	float: left;

}
#nav li p{
	display: block;
	padding: 5px 35px;
	text-decoration: none;
	font-weight: bold;
    font-size: 14px;
	border-right: 1px solid #ccc;
	color: #cbcbcb;
	background-color: #4c4b4c;

}
#nav li a {
	display: block;
	padding: 5px 35px;
	text-decoration: none;
	font-weight: bold;
    font-size: 14px;
	color: #4b4b4b;
	border-right: 1px solid #ccc;
}
#nav li a:hover {
	color: #cbcbcb;
	background-color: #4c4b4c;
}

div.flash.info {
    background: none repeat scroll 0 0 #FFFFDD;
    border: 1px solid #FFD700;
}

div.flash {
    color: black;
    margin: 0;
    padding: 1em;
}
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.buttonclickable {
    background: transparent url('../imgs/icaew/green-button-a.png') no-repeat scroll top right;
    color: #fff;
    display: block;
    float: left;
    font: bold 18px arial, sans-serif;
    height: 47px;
    margin-right: 6px;
    padding-right: 7px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonclickable span {
    background: transparent url('../imgs/icaew/green-button-span.png') no-repeat;
    display: block;
    line-height: 37px;
    padding: 5px 52px 5px 57px;
}

a.buttonclickable:active {
    background-position: bottom right;
    color: #ddd;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonclickable:active span {
    background-position: bottom left;
    padding: 6px 52px 4px 57px; /* push text down 1px */
}

#content_top_part_blue {
	float: left;
	padding-top: 10px;
    background:none repeat scroll 0 0 #ffffff;
}

#content_left_part_blue {
	float: left;
	width: 340px;
	padding: 0 10px 20px 0;
}

#content_left_part_top_blue {
    padding: 10px 0 10px 15px;
    margin-left: 15px;
    background: #f4f4f4;
    border-bottom: 3px solid #666666;
}
#content_left_part_top_blue li {
	padding: 10px 0px 10px 10px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
}
#content_left_part_top_blue li span {
    color: #656565;
}

#content_left_part_top_blue ul {
	padding-left:20px;

}
#content_left_part_bottom_blue {
    margin:  0 0 20px 0;
    background-image:url(../imgs/icaew/icaew_logo_blue2.jpg);
    width:340px;
	height:120px;
}
#content_left_part_blue h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: #000;
}

#content_left_part_bottom_blue h2 {
    font-weight: normal;
	font-size:18px;
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
    padding: 20px 70px 20px 30px;
}

#bluebox {
	width: 980px;
	background-image: url(../imgs/icaew/blue-background.jpg);
	height: 276px;
}

#right_blue_box {
	float: right;
	width:558px;
	height:276px;
	background-image:url(../imgs/icaew/video1_blue.jpg);
	position: relative;
}

#right_blue_box a {
	display: block;
	text-decoration: none;
	background-repeat: no-repeat;
	width: 110px;
	height: 90px;
	position: absolute;
	top: 100px;
	left: 270px;
}

#left_blue_box_text {
	background-image:url(../imgs/icaew/icaew_logo_blue.jpg);
    width:440px;
	height:120px;
}

#left_blue_box_text h2 {
    font-weight: normal;
	font-size:21px;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px 10px 20px;
}

#left_blue_box_text span {
    font-weight: normal;
	font-size:14px;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

/* wholesale icaew*/
#left_red_box_text_wholesale {
	background-image:url(../imgs/icaew/appointed-partner.jpg);
    width:419px;
	height:119px;
}
#left_red_box_text_wholesale h2 {
    font-weight: normal;
	font-size:18px;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
    padding: 20px 60px 20px 20px;
}
#left_red_box_text_wholesale p {
	font-size:14px;
}

#right_red_box_wholesale {
	float: right;
	width:558px;
	height:276px;
	background-image:url(../imgs/icaew/video_wholesale.jpg);
	position: relative;
}

#content_left_part_wholesale {
	float: left;
	width: 325px;
	padding: 0 10px 20px 0;
}

#content_left_part_wholesale h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color: #000;
}

#content_left_part_top_wholesale {
    padding: 10px 0 10px 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    background: #f4f4f4;
    border-bottom: 3px solid #666666;
}
#content_left_part_top_wholesale li {
	padding: 10px 0px 10px 10px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
}
#content_left_part_top_wholesale li span {
    color: #656565;
}

#content_left_part_top_wholesale ul {
	padding-left:20px;

}
#content_left_part_bottom_wholesale {
    margin:  0 0 20px 0;
    background-image:url(../imgs/icaew/icaew_logo_wholesale.gif);
    width:330px;
	height:120px;
}
#content_left_part_bottom_wholesale h2 {
    font-weight: normal;
	font-size:18px;
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
    padding: 20px 60px 20px 40px;
}
#img1_wholesale{
	background-image:url(../imgs/icaew/acct_sign_pound_128.jpg);
}
#img2_wholesale{
	background-image:url(../imgs/icaew/coinstack_128.jpg);
}
#img3_wholesale{
	background-image:url(../imgs/icaew/piggybank_128.jpg);
}
#img4_wholesale{
	background-image:url(../imgs/icaew/coinstack_up_128.jpg);
}
#img5_wholesale{
	background-image:url(../imgs/icaew/notes_128.jpg);
}
#img6_wholesale{
	background-image:url(../imgs/icaew/preview_128.jpg);
}
#img7_wholesale{
	background-image:url(../imgs/icaew/clock_128.jpg);
}
#img8_wholesale{
	background-image:url(../imgs/icaew/ok_128.jpg);
}

.popup_page { color: #656565; }    /* unvisited link */
.not_popup_page { color: #656565; }    /* unvisited link */
.price_text{ 
	padding-top: 10px;
	font-weight: bold; 
}

table#price-chart { padding:0; margin:0 0 25px 0; border-collapse:collapse; }

table#price-chart th.heading { width: 420px ;}
table#price-chart th.starter { background:url('../imgs/icaew/starter-icaew.jpg') no-repeat; width:174px; height:140px; }
table#price-chart th.executive { background:url('../imgs/icaew/executive-icaew.jpg') no-repeat; width:174px; height:140px; }
table#price-chart th.professional { background:url('../imgs/icaew/professional-icaew.jpg') no-repeat; width:174px; height:140px; }


table#price-chart th,table#price-chart td  { border-right: 1px solid #FFF; text-align:center;  }
table#price-chart td{ padding:10px;}

table#price-chart .even td { background: #e6e6e6;}

table#price-chart .text { text-align:left; font-size: 14px; font-weight: bold; color:#000000;}

.ic-buttons .blue-btn,.ic-buttons .red-btn {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    height: 44px;
    width: 182px;
}
.ic-buttons .blue-btn {
    background: url("../imgs/icaew/blue-button.png") no-repeat scroll left 1px transparent;
}

.ic-buttons .red-btn{
    background: url("../imgs/icaew/red-button.png") no-repeat scroll left 1px transparent;
}

.ic-buttons {
    padding: 10px 10px;
}

/* =========================================  ICEAW COSEC (/icaew/cosec/)  ================================================== */
.ic-head-blue-left{
    float: left;
	width:538px;
	height:275px;
	background-image:url(../imgs/icaew/video1_blue.jpg);
	position: relative;
}

.ic-head-blue-right{
    float: right;
}

.ic-head-blue-right-text {
    margin-top: 50px;
    height: 120px;
    width: 420px;
    background-image:url(../imgs/icaew/quote-right.png);    
}

.content_top_part-left{
    margin: 0;
    float: left;
    width: 325px;
    padding: 0 10px 20px 0;
}

.content_top_part-left h2 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.ip-content_right_part_bottom_wholesale {
    
    background: url(../imgs/icaew/icaew-accreditied-software.png) no-repeat scroll right top transparent;
    height: 120px;
}

.ip-content_right_part_bottom_wholesale h2 {
    border: 0px solid blue;
    height: 90px;
    padding-top: 25px;
    
    padding-left:30px;
    padding-right: 90px;
    background: url(../imgs/icaew/grey-background.png) no-repeat scroll left top transparent;
}



/* =========================================  ICEAW PROFESSIONALS (/professional/icaew/)  ================================================== */

.ip-head-blue-right{
    float: right;
	width:538px;
	height:275px;
	background:url(../imgs/icaew/main-image-formation.png) no-repeat scroll 10px 12px transparent;
	position: relative;
}

.ip-head-blue-left{
    float: left;
}

.ip-head-blue-left-text {
    margin-top: 50px;
    height: 120px;
    width: 433px;
    background-image:url(../imgs/icaew/quote-blue.png);    
}

.ip-content_left_part_bottom_wholesale {
    
    background: url(../imgs/icaew/icaew-accreditied-software.png) no-repeat scroll left top transparent;
    height: 120px;
}

.ip-content_left_part_bottom_wholesale h2 {
    border: 0px solid blue;
    height: 90px;
    padding-top: 25px;
    padding-left: 115px;
    background: url(../imgs/icaew/grey-background-right.png) no-repeat scroll right top transparent;
}

.info-link-ip {
    color: #656565;
}


/* =========================================  COSEC (/cosec/)  ================================================== */

.icc-head-blue-right-text {
    margin-top: 50px;
    height: 120px;
    width: 420px;
    background-image:url(../imgs/cosec/quote-right.png);    
}

/* =========================================  COSEC WHOLESALE ()  ================================================== */

.iccp-head-blue-right-text {
    margin-top: 50px;
    height: 120px;
    width: 420px;
    background: url(../imgs/cosec/quote-left.png) no-repeat scroll left top transparent;
}

#partners-banner {
    margin-top: 5px;
    height: 88px;
    width: 980px;
    background: url(../imgs/partners-image.png) no-repeat scroll left top transparent;
}