
.home-page .video {
    margin:0;
}

.home-page .customer_link{
   left: -158px;
}

.ribbon {
    margin-top: -8px;
}

.matrix-year-text-package{
    position: absolute;
    color: #000;
    margin-top:-10px;
    margin-left: -45px;
    text-align: center;
    font-size:13px;
}