#callback-form-container * {
    box-sizing: border-box;
}

.international-offers {
    text-align: center;
}

.international-offers > div {
    display: inline-block;
    float: none;
}

.international-offers .international-offer > .row:not(:first-child) {
    padding: 1em;
}

.international-offers .international-offer > .row:first-child > [class*="col-"] {
    padding: 0;
}

.international-offers .international-offer > .row:not(:first-child) {
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
}

.international-offers .international-offer > .row:last-child {
    border-bottom: 2px solid #eee;
}

.international-offers .international-offer h2.highlighted {
    box-shadow: 0px 5px 0px #88C444 inset, 0px -5px 0px #88C444 inset;
    background: #395B73;
}

.international-offers .international-offer .internation-offer-price-container {
    color: #009fda;
    font-size: 1.2em;
}

.international-offers .international-offer .internation-offer-price-container .internation-offer-price {
    font-size: 3em;
    font-weight: bolder;
}

.international-offers .international-offer ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.international-offers .international-offer ul li {
    font-weight: 300;
    color: #666;
    font-size: 16px;
}

.international-offers .international-offer h5 {
    margin-top: 0;
}

.international-offers .bottom-info {
    padding: 1em;
}

.international-offers .plus-container {
    text-align: center;
    color: #88C444;
    font-weight: bold;
    padding: 1em 0;
}

/* Use international-offer styles?*/
.international-offers .additional-services {
    border: 2px solid #eee;
}

.international-offers .additional-services .row {
    padding: 1em 0;
}

.callback-form-container {
    background: #009FDA;
    margin: 0 0 20px 0;
    padding: 1em 0;
    box-sizing: border-box;
}

.callback-form-container div{
    box-sizing: border-box;
}

.callback-form-container input, .callback-form-container textarea, .callback-form-container select {
    width: 100%;
}

.callback-form-container textarea {
    height: 5em;
    padding: 0.3em 0.6em;
}

.international-offers-header {
    background: url("/front/imgs/international_header_background.jpg") no-repeat top;
    margin-top: -16px;
    margin-bottom: 3em;
    padding: 5em 3em;
}


.international-offers *, .international-offers-container * {
    box-sizing: border-box;
    /*todo: bootstrap fix sets content-box everywhere, remove and restyle*/
}

.international-offers > div {
    vertical-align: top;
}

a.more-information {
    text-decoration: underline;
}
