/* NORMALIZING */
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td
{margin : 0;padding : 0;}
h1,h2,h3,h4,h5,h6 { font-size : 100%; }
address, caption, cite, code, dfn, th, var{ font-style : normal; font-weight : normal; }
fieldset,img { border : 0; }
caption,th { text-align : left; }
p {padding-top:8px;}
a {color:#006699;outline:none;}
a:hover {text-decoration:none;}
h1 {font-size:26px;color:#666666;font-weight:normal;margin-bottom:15px;}
h2 {font-size:20px;color:#ff6600;margin:10px 0;}
h3 {font-size:16px;color:#ff6600;margin:0 0 5px 0;}
h4 {font-size:14px;font-weight:bold;margin-bottom:10px;}
h5 {font-size:16px;color:#666666;margin-bottom:10px;}
/*input {height:18px;vertical-align: middle;}*/
body {font-family:Arial, Helvetica, sans-serif;font-size:12px;background:#ffffff;}

/* EXISTING DIVS EDUCATION */
#leftCol{margin-bottom:30px;}
#maincontent1{margin-bottom:30px;}

/* OK */
#header2014{width:100%;min-width:980px;height:100px;position:relative;background-color:#1193bf;}
#header2014 #headwrap{width:960px;margin: 0 auto;position: relative;}
#header2014 #headwrap #msglogo{position:absolute;display:block;width:203px;height:66px;background:url('../imgs/home2014/msglogo.png') top left no-repeat;top:17px;left:0px}
#header2014 #headwrap #facebook{position:absolute;display:block;width:82px;height:24px;top:55px;left:235px}
#header2014 #headwrap #googleplus{position:absolute;display:block;width:54px;height:24px;top:55px;left:335px}
#header2014 #headwrap #contact{position:absolute;display:block;width:200px;height:40px;padding:0px 0px 0px 50px;top:27px;left:410px}
#header2014 #headwrap #contact span{color:#fff;display:block;margin:0px;padding:0px}
#header2014 #headwrap #contact span.number{font-size:28px;font-weight:100}
#header2014 #headwrap #contact span.open{font-size:13px}
#header2014 #headwrap ul{position:absolute;display:block;list-style:none;margin:0px;padding:0px;width:250px;top:15px;left:695px}
#header2014 #headwrap ul li{float:left;margin:0px 10px;}
#header2014 #headwrap ul li a{display:block;margin:0px;padding:0px;color:#fefefe;font-size:13px;text-decoration:none;}
#header2014 #headwrap ul li a:hover{text-decoration:underline;}
#header2014 #headwrap .form-left-top{position:absolute;display:block;margin:5px 0 0 0;padding:0px;width:250px;top:55px;left:695px}
#header2014 #headwrap .form-left-top input[type="text"]{height:18px;width: 160px;border: 1px solid #cccccc;}
#main #headerBanner{height:235px;position:relative;margin:30px 0 0 0;background:url('../imgs/home2014/man.png') 638px 0 no-repeat}
#main #headerBanner #starthere{position:absolute;top:215px;left:-115px}
#main #headerBanner #hQuoteStart{position:absolute;top:62px;left:0px}
#main #headerBanner #hQuoteEnd{position:absolute;top:135px;left:170px}
#main #headerBanner h1{color:#272727;font-weight:100;font-size:40px}
#main #headerBanner p{width:570px;color:#666;font-size:19px;line-height:33px;padding:0px 0px 0px 20px}
#main #headerBanner p span{color:#c4c4c4;font-size: 16px;margin:0px;padding:0px 0px 0px 40px}
#main #headerBanner #rating{display:block;position:absolute;bottom:0px;right:5px;height:60px;width:210px;background:url('../imgs/home2014/whiteBack.png') top left repeat}
#main #headerBanner #rating img{margin:5px}
#main #headerBanner #rating span{display:block;color:#666;margin:0px !important;padding:0px 5px !important;font-size:13px;text-align:center}
#main #headerSearch{position:relative;background:#15a3cb;background:-webkit-gradient(linear, left top, left bottom, from(#15a3cb), to(#0573a8));background:-webkit-linear-gradient(top, #15a3cb, #0573a8);background:-moz-linear-gradient(top, #15a3cb, #0573a8);background:-ms-linear-gradient(top, #15a3cb, #0573a8);background:-o-linear-gradient(top, #15a3cb, #0573a8);background:linear-gradient(top, #15a3cb, #0573a8);-pie-background:linear-gradient(top, #15a3cb, #0573a8);behavior:url(PIE.htc);width:800px;padding:25px 80px 0px 80px;margin: 0 0 10px 0;height:180px}
#main #headerSearch img.search{position:absolute;top:30px;right:90px}
#main #headerSearch h2{color:#FFF;font-weight:100;font-size:30px;margin-bottom: 25px;}
#main #headerSearch form{display:block}
#main #headerSearch form input.textInput{display:block;width:430px;height:36px;padding:0px;margin:0px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-opera-border-radius:5px;-o-border-radius:5px;behavior:url(PIE.htc);border:1px solid #CDCDCD;float:left;font-size: 18px;padding-left: 5px;}
#main #headerSearch form input.searchButton{cursor: pointer;float:left;background:url('../imgs/home2014/searchButton.png') top left no-repeat;margin:0px 0px 0px 20px;text-align:center;color:#FFF;height:39px;width:178px;border:0px;font-weight:bold;font-size:15px}
#main #headerSearch p{color:#FFF;font-size:23px;position: absolute;top: 140px;left: 79px;}
#main #headerSearch p a{color:#FFF}
#main{margin-bottom:20px;width: 960px;margin: 0px auto;position: relative;z-index: 1;}
#main #logos{height:130px;width:960px}
#main #logos a.logo{display:block;float:left;margin:0px;padding:0px;height:90px;width:160px}
#main #logos a.logo#google{background:url('../imgs/home2014/google.png') center center no-repeat; background-size: 70%;}
#main #logos a.logo#barclays{background:url('../imgs/home2014/barclays.png') center center no-repeat; background-size: 90%;}
#main #logos a.logo#freeagent{background:url('../imgs/home2014/freeagent.png') center center no-repeat; background-size: 85%;}
#main #logos a.logo#acra{background:url('../imgs/home2014/acra.png') center center no-repeat; background-size: 70%;}
#main #logos a.logo#icaew{background:url('../imgs/home2014/icaew.png') center center no-repeat; background-size: 70%;}
#main #logos a.logo#tsb{background:url('../imgs/home2014/tsb-bw.png') center center no-repeat; background-size: 50%;}
#main #logos span{color:#c4c4c4;margin:0px;padding:0px 0px 0px 10px;font-size: 1.4em;}
#main #leftColumn{float:left;width:700px;margin:0 0 30px 0}
#main #leftColumn #populars{background:#f7f6f5;position:relative;padding: 10px;height: 135px;margin: 0px 0px 10px 0px;}
#main #leftColumn #populars h2{color:#666666;font-size:21px;font-weight: normal;margin: 0;}
#main #leftColumn #populars .pcolumn{float: left;display:inline-block;padding:10px 0 10px 20px;width: 200px;}
#main #leftColumn #populars .pcolumn img{}
#main #leftColumn #populars .pcolumn a{color:#3498d0;font-size:18px;text-decoration:underline;margin: 0 0 0 10px;}
#main #leftColumn #populars .pcolumn a:hover{color:#3498d0;font-size:18px;text-decoration:none;margin: 0 0 0 10px;}
#main #leftColumn #populars .pcolumn p{color:#666666;font-size:14px;line-height: 1.4em;}
#main #leftColumn #whyUs{background:#eaf9ff;position:relative}
#main #leftColumn #whyUs img.whyArrow{position:absolute;top:15px;left:220px}
#main #leftColumn #whyUs h2{display:block;font-size:29px;margin:0px;padding:10px;color:#3a3a3a;font-weight:100}
#main #leftColumn #whyUs div{height:210px;padding:20px 5px 0px 50px}
#main #leftColumn #whyUs div h3{font-weight:normal;color:#3a3a3a;text-align:center;font-size:26px;}
#main #leftColumn #whyUs div div.imgBox{width:135px;height:120px;margin:0 auto;padding:0px;}
#main #leftColumn #whyUs div ul{list-style:none;margin:0px;padding:0px;width:435px;}
#main #leftColumn #whyUs div ul li{padding:0px 15px 0px 45px;margin:0px 0px 10px 0px;background:url('../imgs/home2014/whyUsTick.png') top left no-repeat;color:#666666;font-size: 1.3em;line-height: 1.5em;}
#main #leftColumn #whyUs div ul li h4{color:#2c97cf;margin:0px 0px 8px 0px;padding:0px;font-weight:normal;font-size:22px}
#main #leftColumn #whyUs #service{background:#e1f3fd}
#main #leftColumn #whyUs #service div.imgBox{background:url('../imgs/home2014/service.png') center center no-repeat}
#main #leftColumn #whyUs #value{background:#eaf9ff}
#main #leftColumn #whyUs #value div.imgBox{background:url('../imgs/home2014/value.png') center center no-repeat}
#main #leftColumn #whyUs #safe{background:#e1f3fd}
#main #leftColumn #whyUs #safe div.imgBox{background:url('../imgs/home2014/safe.png') center center no-repeat}
#main #leftColumn #whyUs .whyus-left{float: left;margin: 0;padding: 0;width: 150px;}
#main #leftColumn #whyUs .whyus-right{float: right;margin: 0;padding: 10px 0px;}
#main #leftColumn #whatOurCustomersSay{margin:20px 0 0 0;}
#main #leftColumn #whatOurCustomersSay h2{color:#3a3a3a;font-size:24px;font-weight: normal;}
#main #leftColumn #whatOurCustomersSay #videoHolder{width:420px;float:left;margin: 0 15px 0px 0px;}
#main #leftColumn #whatOurCustomersSay #videoHolder p{color:#666;font-size:14px;padding:10px 10px 0px 10px;line-height:1.4em;}
#main #leftColumn #whatOurCustomersSay #videoHolder p a{color:#666}
#main #leftColumn #whatOurCustomersSay #videoHolder .embed-video{moz-border-radius: 5px;border-radius: 5px;height: 234px;border:2px solid #cecece;}
#main #leftColumn #whatOurCustomersSay #reasons{width:250px;float:right}
#main #leftColumn #whatOurCustomersSay #reasons ul{margin:0px;padding:0px;list-style:none}
#main #leftColumn #whatOurCustomersSay #reasons ul li{line-height:23px;padding:0px 0px 0px 40px;margin:0px 0px 10px 0px;background:url('../imgs/home2014/greenTick.png') 0px 0px no-repeat;color:#666;font-size:15px}
#main #leftColumn #whatOurCustomersSay #reasons #cosec{display:block;height:58px;width:146px;margin:0px 0px 0px 40px;padding:0px;background:url('../imgs/home2014/cosec.png') top left no-repeat}
#main #rightColumn{float:right;width:240px}
#main #rightColumn div{margin:0px 0px 10px 0px;padding:0px;behavior:url(PIE.htc);overflow:hidden}
#main #rightColumn #startToday{line-height: normal;background:#15a3cb;background:-webkit-gradient(linear, left top, left bottom, from(#15a3cb), to(#0573a8));background:-webkit-linear-gradient(top, #15a3cb, #0573a8);background:-moz-linear-gradient(top, #15a3cb, #0573a8);background:-ms-linear-gradient(top, #15a3cb, #0573a8);background:-o-linear-gradient(top, #15a3cb, #0573a8);background:linear-gradient(top, #15a3cb, #0573a8);-pie-background:linear-gradient(top, #15a3cb, #0573a8);behavior:url(PIE.htc);height:155px}
#main #rightColumn #startToday p{color:#FFF;padding:15px;margin:0px;font-size: 1.3em;}
#main #rightColumn #startToday p strong{font-size:56px;clear:both}
#main #rightColumn #startToday p strong span{font-size:11px}
#main #rightColumn #startToday p a{color:#FFF}
#main #rightColumn #CashBack50 {border:1px solid #ff7900;height:auto;padding:0;}
#main #rightColumn #Barclays50 {border:1px solid #00aeea;height:auto;padding:0;}
#main #rightColumn #TSB50 {border:1px solid #25358c;height:auto;padding:0;}
#main #rightColumn #testimonials{border:1px solid #c5c5c5;background:#fff;background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#fcf3d4));background:-webkit-linear-gradient(top, #fff, #fcf3d4);background:-moz-linear-gradient(top, #fff, #fcf3d4);background:-ms-linear-gradient(top, #fff, #fcf3d4);background:-o-linear-gradient(top, #fff, #fcf3d4);background:linear-gradient(top, #fff, #fcf3d4);-pie-background:linear-gradient(top, #fff, #fcf3d4);behavior:url(PIE.htc)}
#main #rightColumn #testimonials h3{font-size: 13px;display:block;background:#15a3cb;background:-webkit-gradient(linear, left top, left bottom, from(#15a3cb), to(#0573a8));background:-webkit-linear-gradient(top, #15a3cb, #0573a8);background:-moz-linear-gradient(top, #15a3cb, #0573a8);background:-ms-linear-gradient(top, #15a3cb, #0573a8);background:-o-linear-gradient(top, #15a3cb, #0573a8);background:linear-gradient(top, #15a3cb, #0573a8);-pie-background:linear-gradient(top, #15a3cb, #0573a8);behavior:url(PIE.htc);color:#FFF;font-weight:normal;padding:0px 10px;margin:0px;height:40px;line-height:40px}
#main #rightColumn #testimonials ul{padding:10px;margin:0px;list-style:none}
#main #rightColumn #testimonials ul li{background:url('../imgs/home2014/QuotationMark2.png') 160px bottom no-repeat;margin:10px 0 30px 0;}
#main #rightColumn #testimonials ul li img{display: block;margin: auto;padding: 0px 0 10px 0}
#main #rightColumn #testimonials ul li p{background:url('../imgs/home2014/QutationMark1.png') top left no-repeat;padding:0px 0px 0px 34px;color:#666;font-size:14px;line-height: 1.5em;}
#main #rightColumn #testimonials ul li span{font-size:11px;text-align:right;clear:both;display:block;margin:0px;padding:0px}
#main #rightColumn #testimonials ul li span.quote{color:#2b7cac}
#main #rightColumn #testimonials ul li span.date{color:#666}
#blogfeed{background:#fbfbfb;display:block;padding:50px;border-top:1px solid #e3e3e3;}
#blogfeed #blogfeedbox{width: 900px;margin: 0 auto;}
#blogfeed #blogfeedbox .reviewsblog{vertical-align: top;width: 400px;padding: 0px 20px;display: inline-block;}
#blogfeed #blogfeedbox .reviewsblog span{margin: 0 0 0 10px;font-size:22px;color:#666666;}
#blogfeed #blogfeedbox .reviewsblog p{font-size:13px;color:#666666;line-height: 1.5em;}
#blogfeed #blogfeedbox .reviewsblog p span{font-size:13px;color:#989797;margin:0;}
#blogfeed #blogfeedbox .reviewsblog p a {font-size:13px;color:#3498d0;}
#bottomlinks{background:#f7f6f5;display:block;padding:50px;border-top:1px solid #c5c5c5;}
#bottomlinks #homemenu{width: 920px;margin: 0 auto;display: table;}
#bottomlinks #homemenu .mcol1{width: 150px;float:left;display: block;padding:0px 40px;}
#bottomlinks #homemenu ul{list-style:none;margin:0;padding:0 20px 10px 0px;line-height: 1.6em;width: 200px;display: inline-block;vertical-align: top;}
#bottomlinks #homemenu ul ul{margin:0;padding:0 0 10px 0;}
#bottomlinks #homemenu ul li{color:#666666;list-style:none;margin:0;padding:0;}
#bottomlinks #homemenu ul li a{color:#666666;font-size:12px;text-decoration:none;margin:0;padding:0;}
#bottomlinks #homemenu ul li a:hover{text-decoration:underline;}
#bottomlinks #homemenu h2{color:#000;font-size:12px;font-weight:bold;margin:0;padding:0;}
#bottomlinks #homemenu h2 a{color:#000;font-size:12px;font-weight:bold;text-decoration:none;}
#bottomlinks #homemenu h2 a:hover{text-decoration:underline;}
#bottomlinks #homemenu h3{color:#666666;font-size:12px;margin:0;padding:0;font-weight:bold;}
#footer2014{width:100%;min-width:980px;clear:both;padding:60px 0 40px 0;border-top:0px;margin:0px;background-color:#666666;}
#footer2014 #fcolwrap{width: 920px;margin:0 auto;display:table;}
#footer2014 .fcolumn{float: left;display:inline-block;width:150px;height:200px;line-height: 2em;vertical-align: top;color:#f7f6f5;font-size:12px;text-align:left;margin:0px 40px 5px 40px}
#footer2014 .fcolumn a{color:#f7f6f5;text-decoration:none;}
#footer2014 .fcolumn a:hover{color:#f7f6f5;text-decoration:underline;}
#footer2014 #fcopyright{width: 950px;display:block;line-height: 1em;color:#f7f6f5;font-size:12px;text-align:center;margin:35px auto;}
#footer2014 #fdisclaimer{display:block;line-height: 1.5em;color:#f7f6f5;font-size:11px;text-align:center;margin:0 auto;width: 950px;}
#footer2014 #fsocialwrap{width: 90px;display: table;border:0px;padding:5px 10px 5px 10px;}
#footer2014 #fsocialwrap #i-fb{float: left;margin:0;}
#footer2014 #fsocialwrap #i-twitter{float: left;margin:0 10px 0 10px;}
#footer2014 #fsocialwrap #i-gplus{float: left;margin:0;}
.overlay {display:none;background-image:url(../imgs/overlay/white.png);width:600px;padding:35px;font-size:11px;}
.overlay .ajax-content{height: 480px;overflow: auto;}
.overlay .close {background:url(../imgs/overlay/close.png);position:absolute; right:10px; top:5px;cursor:pointer;height:35px;width:35px;text-decoration: none;}
