        #footerpop{
            height:24px;
            background:#fcfcfc;
        }

        #contentpop .normal {
            font-size:13px;
            font-weight:normal;
            text-align:center;
            line-height:22px;
            color:#555555;
            width:100%;
            float: left;
            margin:7px 0;
        }
        
        #contentpop ul {
            margin: 0px;
            list-style-image:url('../imgs/cosec/list.gif');
        }

        .smallSilver{
            font-family: Arial,Helvetica,sans-serif;
            font-size: 10px;
            color: #666666;
            text-align: center;
        }

        .middleSilver{
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            color: #666666;
            text-align: center;
        }
        .close{
            float: right;
        }

        div.flash.popup {
            width: 95%;
            margin: 0 0 20px 0;
        }
