#wrapper{width:960px;margin:0px auto;font-family:Arial}#wrapper .clear{clear:both}
#wrapper #header #headerTop{height:80px;position:relative}#wrapper #header #headerTop #msglogo{position:absolute;display:block;width:198px;height:77px;background:url('../imgs/PPC/msglogo.png') top left no-repeat;top:0px;left:0px}
#wrapper #header #headerTop #facebook{position:absolute;display:block;width:82px;height:24px;top:30px;left:220px}
#wrapper #header #headerTop #googleplus{position:absolute;display:block;width:54px;height:24px;top:30px;left:320px}
#wrapper #header #headerTop #contact{position:absolute;display:block;width:200px;height:40px;background:url('../imgs/PPC/ukflag.png') 0 2px no-repeat;padding:0px 0px 0px 50px;top:20px;left:410px}#wrapper #header #headerTop #contact span{color:#c4c4c4;display:block;margin:0px;padding:0px}#wrapper #header #headerTop #contact span.number{font-size:28px;font-weight:100}
#wrapper #header #headerTop #contact span.open{font-size:13px}
#wrapper #header #headerTop ul{position:absolute;display:block;list-style:none;margin:0px;padding:0px;width:320px;top:25px;left:660px}#wrapper #header #headerTop ul li{float:left;margin:0px 15px;font-size:14px}#wrapper #header #headerTop ul li a{display:block;margin:0px;padding:0px;color:#2f98d1;fint-size:14px}
#wrapper #header #headerBanner{height:240px;position:relative;background:url('../imgs/PPC/man.png') 638px 0 no-repeat}#wrapper #header #headerBanner #starthere{position:absolute;bottom:0px;right:330px}
#wrapper #header #headerBanner #hQuoteStart{position:absolute;top:77px;left:0px}
#wrapper #header #headerBanner #hQuoteEnd{position:absolute;top:135px;left:170px}
#wrapper #header #headerBanner h1{color:#272727;font-weight:100;font-size:40px}
#wrapper #header #headerBanner p{width:570px;color:#666;font-size:19px;line-height:33px;padding:0px 0px 0px 20px}
#wrapper #header #headerBanner p span{color:#c4c4c4;font-size: 16px;margin:0px;padding:0px 0px 0px 40px}
#wrapper #header #headerBanner #rating{display:block;position:absolute;bottom:0px;right:20px;height:75px;width:160px;background:url('../imgs/PPC/whiteBack.png') top left repeat}#wrapper #header #headerBanner #rating img{margin:5px 0px 5px 15px}
#wrapper #header #headerBanner #rating span{display:block;color:#666;margin:0px !important;padding:0px 5px !important;font-size:13px;text-align:center}
#wrapper #header #headerSearch{position:relative;background:#15a3cb;background:-webkit-gradient(linear, left top, left bottom, from(#15a3cb), to(#0573a8));background:-webkit-linear-gradient(top, #15a3cb, #0573a8);background:-moz-linear-gradient(top, #15a3cb, #0573a8);background:-ms-linear-gradient(top, #15a3cb, #0573a8);background:-o-linear-gradient(top, #15a3cb, #0573a8);background:linear-gradient(top, #15a3cb, #0573a8);-pie-background:linear-gradient(top, #15a3cb, #0573a8);behavior:url(PIE.htc);width:960px -240px;padding:6px 120px 6px 120px;height:190px}#wrapper #header #headerSearch img.search{position:absolute;top:30px;right:90px}
#wrapper #header #headerSearch h2{color:#FFF;font-weight:100;font-size:30px}
#wrapper #header #headerSearch form{display:block}#wrapper #header #headerSearch form input.textInput{display:block;width:430px;height:36px;padding:0px;margin:0px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-opera-border-radius:5px;-o-border-radius:5px;behavior:url(PIE.htc);border:1px solid #CDCDCD;float:left;font-size: 18px;padding-left: 5px;}
#wrapper #header #headerSearch form input.searchButton{cursor: pointer;float:left;background:url('../imgs/PPC/searchButton.png') top left no-repeat;margin:0px 0px 0px 20px;text-align:center;color:#FFF;height:39px;width:178px;border:0px;font-weight:bold;font-size:15px}
#wrapper #header #headerSearch p{color:#FFF;clear:both;padding:15px 0px 0px 0px;font-size:23px}#wrapper #header #headerSearch p a{color:#FFF}
#wrapper #main{margin-bottom:20px}#wrapper #main #logos{height:160px;width:960px}#wrapper #main #logos a.logo{display:block;float:left;margin:0px;padding:0px;height:135px;width:192px}#wrapper #main #logos a.logo#google{background:url('../imgs/PPC/google.png') center center no-repeat}
#wrapper #main #logos a.logo#barclays{background:url('../imgs/PPC/barclays.png') center center no-repeat}
#wrapper #main #logos a.logo#freeagent{background:url('../imgs/PPC/freeagent.png') center center no-repeat}
#wrapper #main #logos a.logo#acra{background:url('../imgs/PPC/acra.png') center center no-repeat}
#wrapper #main #logos a.logo#icaew{background:url('../imgs/PPC/icaew.png') center center no-repeat}
#wrapper #main #logos span{color:#c4c4c4;margin:0px;padding:0px 0px 0px 10px}
#wrapper #main #leftColumn{float:left;width:700px}#wrapper #main #leftColumn #whyUs{background:#eaf9ff;position:relative}#wrapper #main #leftColumn #whyUs img.whyArrow{position:absolute;top:15px;left:220px}
#wrapper #main #leftColumn #whyUs h2{display:block;font-size:29px;margin:0px;padding:10px;color:#3a3a3a;font-weight:100}
#wrapper #main #leftColumn #whyUs div{height:210px;padding:20px 0px 0px 50px}#wrapper #main #leftColumn #whyUs div h3{display:block;font-weight:normal;color:#3a3a3a;width:135px;text-align:center;font-size:23px;margin:0px;padding:0px;float:left}
#wrapper #main #leftColumn #whyUs div div.imgBox{width:135px;height:120px;margin:0px;padding:0px;float:left;clear:both}
#wrapper #main #leftColumn #whyUs div ul{display:block;list-style:none;margin:0px;padding:0px;width:440px;float:right}#wrapper #main #leftColumn #whyUs div ul li{padding:0px 15px 0px 30px;margin:0px 0px 10px 0px;background:url('../imgs/PPC/whyUsTick.png') top left no-repeat;color:#3a3a3a}#wrapper #main #leftColumn #whyUs div ul li h4{color:#2c97cf;margin:0px 0px 10px 0px;padding:0px;font-weight:normal;font-size:22px}
#wrapper #main #leftColumn #whyUs #service{background:#e1f3fd}#wrapper #main #leftColumn #whyUs #service div.imgBox{background:url('../imgs/PPC/service.png') center center no-repeat}
#wrapper #main #leftColumn #whyUs #value{background:#eaf9ff}#wrapper #main #leftColumn #whyUs #value div.imgBox{background:url('../imgs/PPC/value.png') center center no-repeat}
#wrapper #main #leftColumn #whyUs #safe{background:#e1f3fd}#wrapper #main #leftColumn #whyUs #safe div.imgBox{background:url('../imgs/PPC/safe.png') center center no-repeat}
#wrapper #main #leftColumn #whatOurCustomersSay #videoHolder{width:420px;float:left}
#wrapper #main #leftColumn #whatOurCustomersSay #videoHolder p{color:#666;font-size:14px}#wrapper #main #leftColumn #whatOurCustomersSay #videoHolder p a{color:#666}
#wrapper #main #leftColumn #whatOurCustomersSay #videoHolder .embed-video{moz-border-radius: 5px;border-radius: 5px;height: 234px;border:2px solid #cecece;}
#wrapper #main #leftColumn #whatOurCustomersSay #reasons{width:250px;float:right}#wrapper #main #leftColumn #whatOurCustomersSay #reasons ul{margin:0px;padding:0px;list-style:none}#wrapper #main #leftColumn #whatOurCustomersSay #reasons ul li{line-height:23px;padding:0px 0px 0px 40px;margin:0px 0px 10px 0px;background:url('../imgs/PPC/greenTick.png') 0px 0px no-repeat;color:#666;font-size:15px}
#wrapper #main #leftColumn #whatOurCustomersSay #reasons #cosec{display:block;height:58px;width:146px;margin:0px 0px 0px 40px;padding:0px;background:url('../imgs/PPC/cosec.png') top left no-repeat}
#wrapper #main #rightColumn{float:right;width:240px}#wrapper #main #rightColumn div{margin:0px 0px 10px 0px;padding:0px;behavior:url(PIE.htc);overflow:hidden}
#wrapper #main #rightColumn #startToday{background:#15a3cb;background:-webkit-gradient(linear, left top, left bottom, from(#15a3cb), to(#0573a8));background:-webkit-linear-gradient(top, #15a3cb, #0573a8);background:-moz-linear-gradient(top, #15a3cb, #0573a8);background:-ms-linear-gradient(top, #15a3cb, #0573a8);background:-o-linear-gradient(top, #15a3cb, #0573a8);background:linear-gradient(top, #15a3cb, #0573a8);-pie-background:linear-gradient(top, #15a3cb, #0573a8);behavior:url(PIE.htc);height:155px}#wrapper #main #rightColumn #startToday p{color:#FFF;padding:15px;margin:0px}#wrapper #main #rightColumn #startToday p strong{font-size:56px;clear:both}#wrapper #main #rightColumn #startToday p strong span{font-size:11px}
#wrapper #main #rightColumn #startToday p a{color:#FFF}
#wrapper #main #rightColumn #barclaysCashBack{border:1px solid #c5c5c5;background:#fff;height:auto;padding: 0 0 10px 0;}
#wrapper #main #rightColumn #barclaysCashBack p{line-height: 18px;color:#666666;font-size:13.5px;padding:15px 15px 0 15px;text-align:left;margin:0px;}
#wrapper #main #rightColumn #barclaysCashBack p span{line-height: 1em;display:block;color:#2c97cf;font-size:23px;font-weight:bold;text-align:center;margin:0;padding:0;}
#wrapper #main #rightColumn #barclaysCashBack img{margin: 10px auto 0 auto;display: block;}
#wrapper #main #rightColumn #barclaysCashBack p a{color:#2c97cf;}
#wrapper #main #rightColumn #testimonials{border:1px solid #c5c5c5;background:#fff;background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#fcf3d4));background:-webkit-linear-gradient(top, #fff, #fcf3d4);background:-moz-linear-gradient(top, #fff, #fcf3d4);background:-ms-linear-gradient(top, #fff, #fcf3d4);background:-o-linear-gradient(top, #fff, #fcf3d4);background:linear-gradient(top, #fff, #fcf3d4);-pie-background:linear-gradient(top, #fff, #fcf3d4);behavior:url(PIE.htc)}#wrapper #main #rightColumn #testimonials h3{font-size: 13px;display:block;background:#15a3cb;background:-webkit-gradient(linear, left top, left bottom, from(#15a3cb), to(#0573a8));background:-webkit-linear-gradient(top, #15a3cb, #0573a8);background:-moz-linear-gradient(top, #15a3cb, #0573a8);background:-ms-linear-gradient(top, #15a3cb, #0573a8);background:-o-linear-gradient(top, #15a3cb, #0573a8);background:linear-gradient(top, #15a3cb, #0573a8);-pie-background:linear-gradient(top, #15a3cb, #0573a8);behavior:url(PIE.htc);color:#FFF;font-weight:normal;padding:0px 10px;margin:0px;height:40px;line-height:40px}
#wrapper #main #rightColumn #testimonials ul{padding:10px;margin:0px;list-style:none}#wrapper #main #rightColumn #testimonials ul li{background:url('../imgs/PPC/QuotationMark2.png') 160px bottom no-repeat;margin-bottom:30px;margin-top:10px}
#wrapper #main #rightColumn #testimonials ul li img{display: block;margin: auto;}
#wrapper #main #rightColumn #testimonials ul li p{background:url('../imgs/PPC/QutationMark1.png') top left no-repeat;padding:0px 0px 0px 34px;color:#666;font-size:15px}
#wrapper #main #rightColumn #testimonials ul li span{font-size:11px;text-align:right;clear:both;display:block;margin:0px;padding:0px}#wrapper #main #rightColumn #testimonials ul li span.quote{color:#2b7cac}
#wrapper #main #rightColumn #testimonials ul li span.date{color:#666}
#footer{width:960px;clear:both;padding:30px 0px;border-top:1px solid #CDCDCD;text-align:center;margin-top:20px}#footer p{color:#888;font-size:13px;text-align:center;margin:5px 0px 5px 0px}#footer p a{text-decoration:underline;color:#000}
.overlay {display:none;background-image:url(../imgs/overlay/white.png);width:600px;padding:35px;font-size:11px;}
.overlay .ajax-content{height: 480px;overflow: auto;}
.overlay .close {background:url(../imgs/overlay/close.png);position:absolute; right:10px; top:5px;cursor:pointer;height:35px;width:35px;text-decoration: none;}