/* the overlayed element */
.overlay {
    display:none;
    background-image:url(../imgs/overlay/white.png);
    width:600px;
    padding:35px;
    font-size:11px;
}
.overlay .ajax-content{
    height: 480px;
    overflow: auto;
}

/* default close button positioned on upper right corner */
.overlay .close {
    background:url(../imgs/overlay/close.png);
    position:absolute; right:10px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
    text-decoration: none;
    opacity: 1;
}

.home_overlay {
    display:none;
    background-image:url(../imgs/overlay/white.png);
    width:800px;
    font-size:11px;
    padding: 20px;
}

.home_overlay .close {
    background:url(../imgs/overlay/close.png);
    position:absolute; right:10px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
    text-decoration: none;
}



.payment_overlay {
    display:none;
    background-image:url(../imgs/overlay/white.png);
    width:600px;
    font-size:11px;
    padding: 20px;
}

.payment_overlay .close {
    background:url(../imgs/overlay/close.png);
    position:absolute; right:10px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
    text-decoration: none;
}

.payment_register_office {
    display:none;
    background-image:url(../imgs/overlay/white.png);
    width:540px;
    font-size:11px;
    padding: 20px;
}

.payment_register_office .close {
    background:url(../imgs/overlay/close.png);
    position:absolute; right:0px; top:0px;
    cursor:pointer;
    height:35px;
    width:35px;
    text-decoration: none;
}

.virtual_office_mail_answering {
    display:none;
    background-image:url(../imgs/overlay/white.png);
    width:600px;
    font-size:11px;
    padding: 20px;
}

.virtual_office_mail_answering .close {
    background:url(../imgs/overlay/close.png);
    position:absolute; right:0px; top:0px;
    cursor:pointer;
    height:35px;
    width:35px;
    text-decoration: none;
}
.virtual_office_meeting_room {
    width:810px;
}
.virtual_office_meeting_room .close {
    position:absolute; top: 5px; left: 810px;
}

.payment_virtual_office{
    width:750px;
}

.overlayjs {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
}

.overlayjs .close {
    background:url(../imgs/overlay/close.png);
    position:absolute; right:-15px; top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
    text-decoration: none;
}

p#breadcrumbs{margin:0 0 10px 0;padding:0;}div.flash{color:black;padding:1em;margin:0 0 20px 200px;width:550px;}div.flash.info{background:#FFD;border:1px solid #FFD700;}div.flash.success{background:#FFD;border:1px solid #FFD700;}div.flash.error{background:#f96;border:1px solid #930;}div.flash.info2{background:#cce5ff;border:1px solid #4987c8;}#navlist{padding:3px 0 3px 0;margin:20px 0 15px 0;border-bottom:1px solid #464646;font:bold 10px Verdana,sans-serif;}#navlist li{list-style:none;margin:0;display:inline;}#navlist li{padding:3px .5em;margin-left:3px;border:1px solid #464646;border-bottom:none;background:#e4f2fd;text-decoration:none;color:#464646;padding-left:15px;padding-right:15px;font-weight:normal;}#navlist li:hover{color:#000;background:#FFF;border-color:#227;}#navlist li.current{background:#FFF;border-bottom:1px solid #FFF;color:black;}table.grid{padding:0;margin:0;border-collapse:collapse;}table.grid td,table.grid th{color:#666666;background:#fff;border:1px solid #bbbbbb;padding:6px 6px 6px 12px;}table.grid td.left,table.grid th.left{text-align:left;}table.grid td.center,table.grid th.center{text-align:center;}table.grid td.right,table.grid th.right{text-align:right;}table.grid th{color:#505767;background:#dddddd;text-align:left;}table.grid .alt td{background:#f8f8f0;}.linkButton{border:0;background:none;color:#069;padding:0;margin:0;text-decoration:underline;cursor:pointer;}.linkButton:hover{text-decoration:none;}.readonlyInput{border:0;}.readonlyInput.bold{font-weight:bold;}table.grid2{padding:0;margin:0;border-collapse:collapse;}table.grid2 td,table.grid2 th{color:#666666;background:#fff;border-top:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;padding:6px 6px 6px 12px;}table.grid2 td.left,table.grid2 th.left{text-align:left;}table.grid2 td.center,table.grid2 th.center{text-align:center;}table.grid2 td.right,table.grid2 th.right{text-align:right;}table.grid2 th{color:#000;background:#EBEBEB;text-align:left;}table.grid2 .alt td{background:#f8f8f0;}.linkButton{border:0;background:none;color:#069;padding:0;margin:0;text-decoration:underline;cursor:pointer;}.linkButton:hover{text-decoration:none;}.readonlyInput{border:0;}.readonlyInput.bold{font-weight:bold;}#feedContainer{font-size:13px;height:20px;padding:10px 0;width:600px;}#feedContainer img{float:left;margin-right:5px;}#feed{height:24px;line-height:24px;overflow:hidden;position:relative;width:570px;}#feed a{color:#333;display:block;position:absolute;text-decoration:none;}

div.nwflash.nwerror{
    background:#f2dede;
    border:1px solid #a94442;
    color:#a94442;
    padding: 15px;
    font-size: 14px;
    border-bottom: 0px;
}

.greenflash{
    background:#dff0d8;
    border:1px solid #d6e9c6;
    color:#46885F;
    padding: 15px;
    font-size: 14px;
    border-bottom: 0px;
    border-radius: 3px;
}

.update_page_h1 {
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.updateaddbasket{
    float:right;
    padding-right:20px;
}
.update_info_page{
    border: 1px solid #C9C9C9;
    margin: 5px 5px;
    padding: 10px 10px;
    overflow: hidden;
    height:auto;
    margin:auto;
    width:550px;
}

.upgrade_special_offers{
    border-bottom: 1px solid #C9C9C9;
    margin: auto;
    width: 550px;
    text-align: center;
    border-left: 1px solid #C9C9C9;
    border-right: 1px solid #C9C9C9;
    padding: 5px 0;
    margin-bottom: 10px;
    font-style: italic;
    background: url("../imgs/down-arrow.png")  no-repeat scroll 3px 4px #f1f9fc;
}

.upgrade-page-button{
    background: url("../imgs/orange-button.png")  no-repeat scroll top center #f1f9fc;
    height: 26px;
    padding-top: 5px;
    margin: 7px 0px;
}

.upgrade-page-button a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}

.upgradeBasket th{
    background: url("../imgs/basket.png")  no-repeat scroll 240px 4px #cdcdcd;
}
.big-arrow-upgrade-page{
    position:  relative;
    background: url("../imgs/arrow-black.png")  no-repeat scroll center center transparent;
    height:35px;
    width:67px;
    top: -55px;
    left: 420px;
    z-index: 10;
}

.active_offers {
    background: url("../imgs/up-arrow.png")  no-repeat scroll 3px 4px #f1f9fc;

}
.more-pakage-popup-info{

    color: #afafaf;
    font-weight: bold;
    font-size: 11px;
    font-style: italic;
}

.more-pakage-popup-info-em{
    background: url("../imgs/more.png")  no-repeat scroll 1px 4px #f7f7f7;
}

.loading-image {
    background: url('../imgs/loading.gif') no-repeat scroll left top;
    padding-top:10px;
    width: 300px;
    padding-left: 34px;
    padding-right: 10px;
    padding-bottom: 6px;
}

.new-matrix td{
    border:1px solid white;
    padding:5px;
    text-align: center;
}

.new-matrix .th-left-head {
    vertical-align: top;
    background:url(../imgs/click-for-more-info.png) bottom left no-repeat;
}

.new-matrix .top-up-head{
    color: #fff;
    text-align: center;
}

.new-matrix .top-up-head a{
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    text-shadow: 1px 1px #000;

}

.new-matrix .top-midd-head{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 1px 0px #000;

}

.new-matrix .white-row td{
    background-color: white;
}

.new-matrix .tdleft{
    text-align: left;
}

.new-matrix .p-bronze-up, .new-matrix .p-bronze-plus-up, .new-matrix .p-silver, .new-matrix .p-gold, .new-matrix .p-platinum, .new-matrix .p-diamond{
    width: 68px;
    height: 20px;
    line-height: 20px;
}

.new-matrix .p-bronze-midd, .new-matrix .p-bronze-plus-midd, .new-matrix .p-silver-midd, .new-matrix .p-gold-midd, .new-matrix .p-platinum-mid, .new-matrix .p-diamond-midd{
    width: 68px;
    height: 36px;
    line-height: 36px;
}

.new-matrix .p-bronze-up {
    background:url(../imgs/boxes/top/bronze-top.png) top left no-repeat;
}
.new-matrix .p-bronze-plus-up{
    background:url(../imgs/boxes/top/bronze-plus-top.png) top left no-repeat;
}
.new-matrix .p-silver{
    background:url(../imgs/boxes/top/silver-top.png) top left no-repeat;
}
.new-matrix .p-gold{
    background:url(../imgs/boxes/top/gold-top.png) top left no-repeat;
}
.new-matrix .p-platinum{
    background:url(../imgs/boxes/top/platinum-top.png) top left no-repeat;
}
.new-matrix .p-diamond{
    background:url(../imgs/boxes/top/diamond-top.png) top left no-repeat;
}


.new-matrix .p-bronze-midd {
    background:url(../imgs/boxes/bottom/bronze-bottom.png) top left no-repeat #fff;
}
.new-matrix .p-bronze-plus-midd{
    background:url(../imgs/boxes/bottom/bronze-plus-bottom.png) top left no-repeat #fff;
}
.new-matrix .p-silver-midd{
    background:url(../imgs/boxes/bottom/silver-bottom.png) top left no-repeat #fff;
}
.new-matrix .p-gold-midd{
    background:url(../imgs/boxes/bottom/gold-bottom.png) top left no-repeat #fff;
}
.new-matrix .p-platinum-midd{
    background:url(../imgs/boxes/bottom/platinum-bottom.png) top left no-repeat #fff;
}
.new-matrix .p-diamond-midd{
    background:url(../imgs/boxes/bottom/diamond-bottom.png) top left no-repeat #fff;
}

.new-matrix .even td.check {
    background:url(../imgs/check1.png) center center no-repeat transparent;
}

.new-matrix td.check {
    background:url(../imgs/check2.png) center center no-repeat transparent;
}
.new-matrix .even{
    background-color: #EBEBEB;
}

.new-matrix .free-domain-name td{
    background-color: #d4f2fd;
}

.new-matrix .free-domain-name .check5{
    background:url(../imgs/check3.png) center center no-repeat #d4f2fd;

}

.bb td {
    border-bottom: 1px solid #ccc;
}
.priceRefunded {
    text-decoration: line-through;
}
table.grid2 tr.borderSeparator td {
    border-bottom: 1px solid #000;
}


.home-page .big-grey-box h2 {
    font-size:24px;
    margin-top:0px;
}
.home-page .customer_link{
    position: absolute;
    left: 0px;
}
.home-page .why-us li {
    font-size:14px;
    margin-top:5px;
    color:#333333;
}
.home-page .video {
    moz-border-radius: 5px;
    border-radius: 5px;
    border:0px solid #cecece;
    margin-left:161px;
    padding-left: 0px;
}

.home-page .embed-video{
    moz-border-radius: 5px;
    border-radius: 5px;
    height: 234px;
    border:2px solid #cecece;
}

.home-page .video-module {
    border: 0px solid blue;
    height: auto;
    margin-bottom: 7px;
}

.home-page .left-video, .home-page .right-video {
    float: left;
}

.home-page .right-video {
    margin-left: 2px;
    width: 420px;
}

.home-page .gray-box-new{
    background:url(../imgs/why-choose-us.png) center center no-repeat transparent;
    height: 196px;
    width: 581px;
    margin-bottom: 5px;
}

.home-page .gray-box-new h2 {
    color: #666666;
    font-weight: normal;
    line-height: 20px;
    font-size: 24px;
    margin-bottom: 15px;
    padding-top: 20px;
    margin-left: 17px;
}

.home-page .gray-box-new ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    margin-left: 35px;
}

.home-page .gray-box-new li {
    color: #333333;
    font-size: 14px;
    margin-top: 4px;
    font-weight: bold;
    line-height: 17px;
    height: 17px;
}

.free-support-homepage{
    background:url(../imgs/unlimited-support.png) center center no-repeat transparent;
    height: 97px;
    width: 187px;
    font-size: 15px;
    text-align: center;
}
.free-support-homepage p {
    margin-bottom: 11px;
    line-height: 19px;
}

.free-support-homepage a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.need-help-home-new {
    background:url(../imgs/need-help.png) center center no-repeat transparent;
    height: 280px;
    width: 187px;
}

.need-help-home-new div{
    padding-top: 10px;
    margin-left: 55px;
}

.need-help-home-new div p{
    line-height: 30px;
    height: 30px;
}
.need-help-home-new h3 {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    width: 187px;
    text-align: center;
    padding-top: 6px;
}

.barclays-home-sprite{
    background:url(../imgs/barclays.png) center center no-repeat transparent;
    height: 180px;
    width: 190px;
    text-align: center;
    padding-top: 15px;
}

.main-nav-new{
    background:url(../imgs/main-menu.png) center center no-repeat transparent;
    height: 38px;
    margin-top: 5px;
}

div#matrix1-page-top{
    width: 978px;
    margin-bottom: 15px;
    background: url("../imgs/matrix-new/top-bg.png") no-repeat scroll left bottom transparent;
    font-family: arial, helvetica, sans-serif;
    padding-left: 1px;
    color: #3a3a3a;

}
div#matrix1-page-top div.matrix1-page-top-left{
    float: left;
    width: 720px;
}
div#matrix1-page-top div.matrix1-page-top-right{
    height: 300px;
    float: right;
    width: 245px;
    background: url("../imgs/matrix-new/testimonial2.png") no-repeat scroll center right transparent;
}

div.matrix1-page-left-headers ul {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 30px;
}

div.matrix1-page-left-headers ul li {
    vertical-align: middle;
    list-style-type: none;
    line-height: 27px;
    padding-left: 5px;
    font-size: 14px;
}

div.matrix1-page-left-headers ul li .span1 {
    background: url("../imgs/matrix-new/bullet1.png") no-repeat scroll  left center transparent;
    width: 17px;
    display: inline-block;
    margin-right: 10px;
}

div.matrix1-page-left-headers ul li .span2 {
    background: url("../imgs/matrix-new/bullet2.png") no-repeat scroll  left center transparent;
    width: 17px;
    display: inline-block;
    margin-right: 10px;
}
div.matrix1-page-left-headers ul li .span3 {
    background: url("../imgs/matrix-new/bullet3.png") no-repeat scroll  left center transparent;
    width: 17px;
    display: inline-block;
    margin-right: 10px;
}
div.matrix1-page-left-headers ul li .span4 {
    background: url("../imgs/matrix-new/bullet4.png") no-repeat scroll  left center transparent;
    width: 17px;
    display: inline-block;
    margin-right: 10px;
}

div.matrix1-table-top{
    background: url("../imgs/matrix-new/top-table.png") no-repeat scroll  right top transparent;
    height: 5px;
}

div.matrix1-table1-top{
    background: url("../imgs/matrix-new/table-up1.png") no-repeat scroll  right top transparent;
    height: 4px;
}

div.matrix1-table1-bottom{
    background: url("../imgs/matrix-new/bottom-gradient.png") no-repeat scroll  right top transparent;
    height: 1px;
}

div.matrix1-top-table-middle {
    background: url("../imgs/matrix-new/top-table-middle.png") no-repeat scroll  right top transparent;
    height: 3px;
}

div.matrix1-top-up-sandcastle {
    background: url("../imgs/matrix-new/table-up-janoffer.png") no-repeat scroll  right top transparent;
    height: 151px;
    bottom: -24px;
    position: relative;
}

div.matrix1-top-up-header {
    background: url("../imgs/matrix-new/table-up-header.png") no-repeat scroll  right top transparent;
    height: 85px;
}

div.matrix1-top-up-header1 {
    background: url("../imgs/matrix-new/bottom-table1.png") no-repeat scroll  right top transparent;
    height: 82px;
}


div.matrix1-top-table-gradient{
    background: url("../imgs/matrix-new/top-table-gradient1.png") repeat-y scroll  right top transparent;
    height: 150px;
}

div.matrix1-top-table-gradient2{
    background: url("../imgs/matrix-new/top-table-gradient2.png") repeat-y scroll  right top transparent;
    height: 115px;
}

div.matrix1-table-gradient{
    background: url("../imgs/matrix-new/table-gradient.png") repeat-y scroll  right top transparent;
    height: 65px;
}
div.matrix1-table-gradient1{
    background: url("../imgs/matrix-new/table-gradient1.png") repeat-y scroll  right top transparent;
    height: 65px;
}
div.matrix1-table-bottom{
    background: url("../imgs/matrix-new/bottom-table.png") no-repeat scroll  right top transparent;
    height: 5px;
}

.border-mark{
    border-bottom: 1px solid #d4d4d4;
}

.first-matrix1-column, .matrix1-package-column {
    float: left; height: 64px;
}

.first-matrix1-column {
    width: 252px;
}

.matrix1-package-column{
    width: 143px;
    margin-right: 2px;
    height: 64px;
}

.matrix1-package-column-top{
    width: 144px;
    margin-right: 2px;
    float: left;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}

.matrix1-package-column-middle{
    width: 129px;
    margin-right: 2px;
    float: left;
    text-align: left;
    color: #666;
    font-size: 12px;
    height: 100px;
    padding-left: 15px;
    padding-top: 10px;
    font-style: italic;
    background: url("../imgs/matrix-new/quotes.png") no-repeat scroll  100px bottom transparent;
}

.matrix1-package-column-price{
    width: 129px;
    margin-right: 2px;
    float: left;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}

.matrix1-cash-back-value {
    color: #55C24A;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    line-height: 64px;
    font-style: italic;
}

.matrix1-diff{
    margin-left: 2px;
}

.matrix1-diff1{
    margin-left: 1px;
}

.matrix1-diff3{
    margin-left: 4px;
}

div.matrix1-column-left {
    width: 30px;
    float: left;
    margin-left: 2px;
    height: 60px;
    border: 0px solid blue;
}

div.matrix1-column-right {
    width: 25px; float: left;  border: 0px solid blue; padding-top: 24px;
    background: url("../imgs/matrix-new/question-image.png") no-repeat scroll  right bottom transparent;
}

div.matrix1-column-center{
    width: 180px;
    float: left;
    padding-left: 10px;
    display:table-cell;
    vertical-align: middle;
}
div.column-inner {
    position:absolute; top:50%;
}

div.matrix-email-image {
    background: url("../imgs/matrix-new/email-pic.png") no-repeat scroll  right center transparent;
}

div.matrix-acrobat-image {
    background: url("../imgs/matrix-new/acrobat.png") no-repeat scroll  right center transparent;
}

div.matrix-print-image {
    background: url("../imgs/matrix-new/print-img.png") no-repeat scroll  right center transparent;
}

div.matrix-book-image {
    background: url("../imgs/matrix-new/book-img.png") no-repeat scroll  right center transparent;
}

div.matrix-ec1-image {
    background: url("../imgs/matrix-new/ec1-img.png") no-repeat scroll  right center transparent;
}

div.matrix-freeTr-image {
    background: url("../imgs/matrix-new/freeTr-img.png") no-repeat scroll  right center transparent;
}

div.matrix-ar-image {
    background: url("../imgs/matrix-new/ar-img.png") no-repeat scroll  right center transparent;
}

div.matrix-sa-image {
    background: url("../imgs/matrix-new/sa-small.png") no-repeat scroll  right center transparent;
}

div.matrix-tax-image {
    background: url("../imgs/matrix-new/tax_img.png") no-repeat scroll  right center transparent;
}

div.matrix-ma-image {
    background: url("../imgs/matrix-new//boundma.png") no-repeat scroll  right center transparent;
}

div.matrix-cr-image {
    background: url("../imgs/matrix-new/cr-img.png") no-repeat scroll  right center transparent;
}

div.matrix-vo-image {
    background: url("../imgs/matrix-new/vo-img.png") no-repeat scroll  right center transparent;
}
div.matrix-hr-image {
    background: url("../imgs/matrix-new/hr-img.png") no-repeat scroll  right center transparent;
}

div.matrix-rim-image {
    background: url("../imgs/matrix-new/rim-img.png") no-repeat scroll  right center transparent;
}

div.matrix-bank-image {
    background: url("../imgs/matrix-new/bank.png") no-repeat scroll  right center transparent;
}

div.matrix-monitor-image {
    background: url("../imgs/matrix-new/monitor-img.png") no-repeat scroll  right center transparent;
}

div.matrix-note-image {
    background: url("../imgs/matrix-new/note-img.png") no-repeat scroll  right center transparent;
}

div.matrix-clock-image {
    background: url("../imgs/matrix-new/clock-img.png") no-repeat scroll  right center transparent;
}

div.matrix-open-image {
    background: url("../imgs/matrix-new/open-img.png") no-repeat scroll  right center transparent;
}

div.matrix-gold-image {
    background: url("../imgs/matrix-new/gold-img.png") no-repeat scroll  right center transparent;
}

div.matrix-star-image {
    background: url("../imgs/matrix-new/star-img.png") no-repeat scroll  right center transparent;
}

div.matrix-pound-image {
    background: url("../imgs/matrix-new/pound.png") no-repeat scroll  right center transparent;
}

div.matrix1-column-right a{
    text-decoration: none;
}

div.matrix1-tick-img {
    background: url("../imgs/matrix-new/tick-img.png") no-repeat scroll  center center transparent;
}

div.matrix1-tick-img1 {
    background: url("../imgs/matrix-new/tick-img1.png") no-repeat scroll  center center transparent;
}

div.matrix1-cross-img {
    background: url("../imgs/matrix-new/cross.png") no-repeat scroll  center center transparent;
}

div.matrix1-cross-img1 {
    background: url("../imgs/matrix-new/cross1.png") no-repeat scroll  center center transparent;
}

div.matrix1-arrow-inf{
    height: 135px;
    margin-bottom: 190px;
    background: url("../imgs/matrix-new/arrow.png") no-repeat scroll  center bottom transparent;
}

div.matrix1-top-table-text{
    text-align: left;
}

.matrix1-btn, .matrix1-btn1 {
    display:block;
    width:118px;
    color:#ffffff;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    height: 31px;
    line-height: 31px;
    text-shadow: 0 -1px 1px #af7040;
}

.matrix1-btn{
    font-size: 14px;
    background: url("../imgs/matrix-new/btn.png") no-repeat scroll  center bottom transparent;
}

.matrix1-btn1 {
    background: url("../imgs/matrix-new/btn-white.png") no-repeat scroll  center bottom transparent;
}

.matrix1-btn:hover, .matrix1-btn:focus, .matrix1-normal-btn:hover, .matrix1-normal-btn:focus{
    color:#ffffff;
    text-decoration:none;
}

span.matrix1-price-up, span.matrix1-vat, span.matrix1-real-price-up, span.matrix1-real-price-vat, span.matrix1-save-text-up, span.matrix1-save-text-tooltip , span.matrix1-save-text-tooltip1{
    float:left;
}

span.matrix1-price-up{
    width: 90px;
    font-size: 24px;
    font-weight: bold;
    color: #2996ce;
}

span.matrix1-vat, span.matrix1-real-price-vat{
    font-size: 12px;
    color: #000;
    display: block;
    font-weight: bold;
}

span.matrix1-vat {
    margin-top: 10px;
}

div.matrix1-real-price {
    margin-top: 5px;
}
div.matrix1-save-text {
    margin-top: 8px;
}

span.matrix1-real-price-up{
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    color: #d82828;
    text-decoration: line-through;
}

span.matrix1-real-price-vat {
    margin-top: 4px;
}


span.matrix1-save-text-tooltip{
    background: url("../imgs/matrix-new/price-question.png") no-repeat scroll  right bottom transparent;
}

span.matrix1-save-text-tooltip1{
    background: url("../imgs/matrix-new/price-question1.png") no-repeat scroll  right bottom transparent;
}


span.matrix1-save-text-tooltip a, span.matrix1-save-text-tooltip1 a {
    text-decoration: none;
}

span.matrix1-save-text-up{
    width: 105px;
    color: #00a113;
    font-size: 11px;
    font-weight: bold;
}

div.matrix1-button-link{
    margin-top: 10px;
}


.matrix1-normal-btn {
    display:block;
    width:134px;
    color:#ffffff;
    text-decoration:none;
    font-size:13px;
    font-weight:bold;
    text-align:center;
    height: 38px;
    line-height: 38px;
}

.matrix1-normal-btn {
    background: url("../imgs/matrix-new/normal-btn.png") no-repeat scroll  center bottom transparent;
}

.matrix1-more-info-link {
    text-align: center;
    font-weight: bold;
    padding: 5px 15px 0 0;
}

.matrix1-more-info-link a {
    color: #21a6cb;
}

.margin-right-10 {
    margin-right: 10px;
}
.margin-right-20 {
    margin-right: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.pull-right {
    float: right;
}

/*  Companies Customer   */

.filter-label label{
    padding-right:10px;
    font-weight:bold;
}
.filter-label label[for=active]{
    padding-right: 0px;
}
.my-companies td span.order {
    position: relative;
}
.my-companies td span.order a {
    font-size: 9px;
}
.my-companies td span.order a:hover {
    color: black;
}
.my-companies td span.order a.active {
    color: black;
}
.my-companies td  span.order a.asc {
    position: absolute;
    right: -11px;
    top: -2px;
    color: silver;
    text-decoration: none;
}
.my-companies td span.order a.desc {
    position: absolute;
    right: -11px;
    top: 6px;
    color: silver;
    text-decoration: none;
}
.buttons{
    font-size: 12px;
    padding: 1px 3px 4px 3px;
    text-decoration: none;
}
.btn {
    height: 22px;
}

/* Wholesale Microsite */
#wholemicro #wrapper {
    width:  960px;
    background: #fff;
}
#wholemicro .barclays-feat {
    background: url('/front/imgs/barclays-feat.png') no-repeat;
}
#wholemicro #wrapper #box2,#box3,#box5,#box6{
    border-bottom: 1px solid #9d9d9c;
    margin: 0px;
    padding: 40px 15px;
}
#wholemicro #wrapper #box4{
    margin: 0px;
    padding: 40px 15px;
}
#wholemicro #wrapper #box7{
    margin: 0px;
    padding: 40px 15px;
}
#wholemicro #wrapper #box2 h2, #box3 h2, #box4 h2, #box5 h2, #box6 h2, #box7 h2{
    color: #272727;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px 0;
}
#wholemicro #wrapper #box1{
    background: url("../imgs/partners-icaew.png") no-repeat right center;
    height:352px;
    margin: 0px;
    border-bottom: 1px solid #9d9d9c;
    padding: 0px 15px;
}
#wholemicro #wrapper #box1 h1{
    padding: 20px 0 10px 0;
    width: 520px;
}
#wholemicro #wrapper #box1 ul {
    margin: 0 0 30px 0;
}
#wholemicro #wrapper #box1 ul li{
    color: #444444;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
}
#wholemicro #wrapper #box1 span {
    color: #c4c4c4;
    font-size:14px;
}
#wholemicro #wrapper #box2{
    background: url("../imgs/partners-greylogos.png") no-repeat right center;
    height:61px;
}
#wholemicro #wrapper #box2 span {
    color: #c4c4c4;
    font-size:16px;
    line-height: 55px;
}
#wholemicro #wrapper #box3{
    background-color: #fbfbfb;
}
#wholemicro #wrapper #box3 #box3container {
    height: 340px;
    margin: 0px;
    padding: 10px 0 0 0;
}
#wholemicro #wrapper #box3 #box3container h3{
    color: #444444;
    font-size: 18px;
    margin:0px;
    padding: 0 0 0 45px;
    font-weight: normal;
    margin: 0px 0 15px 0;
    line-height: 35px;
    height: 35px;
    display: inline-block;
}
#wholemicro #wrapper #box3 #box3container p{
    color: #444444;
    font-size: 13px;
    margin:0px;
    text-align: left;
    line-height: normal;
    padding-top:0px;
}
#wholemicro #wrapper #box4 p, #box5 p{
    color: #444444;
    font-size:18px;
    text-align: center;
    line-height: 25px;
    margin: 0px;
    padding: 0px 30px;
}
#wholemicro #wrapper #box4acontainer {
    background: url("../imgs/ws/wsalers-blue.png") no-repeat;
    height: 236px;
    border-bottom: 1px solid #9d9d9c;
    margin: 0px;
    padding: 20px 0px;
    color: #e3e3e3;
    text-align: center;
}
#wholemicro #wrapper #box4acontainer h4 {
    font-size: 22px;
    font-weight: bold;
}
#wholemicro #wrapper #box4acontainer p {
    font-size: 13px;
    font-weight: normal;
}
#wholemicro #wrapper #box5{
    background-color: #eaf8ff;
}
#wholemicro #wrapper #box5 span{
    display: block;
    text-align: center;
}
#wholemicro #wrapper #box5 #box5container {
    height: 450px;
    margin: 0px;
    padding: 0px;
}
#wholemicro #wrapper #box5 #box5container h3{
    color: #444444;
    font-size: 18px;
    margin:0px;
    padding: 0 0 0 45px;
    font-weight: normal;
    margin: 30px 0 15px 0;
    line-height: 35px;
    height: 35px;
}
#wholemicro #wrapper #box5 #box5container p{
    color: #444444;
    font-size: 13px;
    margin:0px;
    padding: 0 25px 0 0;
    text-align: left;
    line-height: normal;
    height: 25px;
}
#wholemicro #wrapper #box6 #box6container {
    height: 100px;
    margin: 0px;
    padding: 0px;
}
#wholemicro #wrapper #box6 p{
    color: #666666;
    font-size: 18px;
    font-style: italic;
    vertical-align: top;
    margin:0px;
    padding:0px;
}
#wholemicro #wrapper #box6 p span{
    font-size: 13px;
    font-style: normal;
    display: block;
    margin: 10px 0;
}
#wholemicro #wrapper #box7{
    background-color: #fbfbfb;
}
#wholemicro #wrapper #box7 #box7container{
    height: 1550px;
    margin: 0px;
    padding: 0px;
}
#wholemicro #wrapper #box7 h3{
    color: #272727;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}
#wholemicro #wrapper #box7 p {
    color: #666666;
    font-size: 13px;
    line-height: 20px;
    margin: 0px;
    padding: 10px 0 25px 0;
}
#wholemicro #wrapper #box7 ol {
    color: #666666;
    font-size: 13px;
    line-height: 20px;
    margin: 0px;
    padding: 10px 0 25px 20px;
}
#wholemicro #wrapper #campaign50{
    border-top: 1px solid #9d9d9c;
    margin: 0px;
    padding: 40px 15px;
}
#wholemicro #wrapper #campaign50 #box8container{
    height: 250px;
    margin: 0px;
    padding: 0px;
}
#wholemicro .fwdbutton a {
    background: url("../imgs/signup.png") no-repeat;
    width:  178px;
    height:  37px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}
#wholemicro .tinyButton input {
    background: url("../imgs/ws/tinyButton.png") no-repeat;
    width:  120px;
    height:  26px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    position: relative;
    border: 0px;
    cursor:pointer;
}
#wholemicro .w-left {
    float:left;
    width: 49%;
}
#wholemicro .w-right {
    float:right;
    width: 49%;
}
#wholemicro .colborder {
    border-right: 1px solid #9d9d9c;
}
#wholemicro .w-qmark {
    float: right;
    display: inline-block;
    padding: 8px 20px 8px 0px;
}
#wholemicro .ball1 {
    width: 200px;
    height: 225px;
    display: inline-block;
    vertical-align: top;
    left: -60px;
    top: 30px;
    position: relative;
}
#wholemicro .ball2 {
    width: 200px;
    height: 225px;
    display: inline-block;
    vertical-align: top;
    left: -20px;
    top: 30px;
    position: relative;
}
#wholemicro .ball3 {
    width: 200px;
    height: 225px;
    display: inline-block;
    vertical-align: top;
    left: 20px;
    top: 30px;
    position: relative;
}
#wholemicro .ball4 {
    width: 200px;
    height: 225px;
    display: inline-block;
    vertical-align: top;
    left: 60px;
    top: 30px;
    position: relative;
}
#wholemicro .w-greybox {
    background-color: #f7f6f5;
    border: 1px solid #e4e4e4;
    margin: 0px;
    padding: 10px;
    color: #666666;
    width: 940px;
    font-size: 16px;
    height: 35px;
}
#wholemicro .w-greybox1 {
    margin: 20px 0px;
    padding: 0px;
    width: 100%;
    height: 70px;
    display: inline-block;
}
#wholemicro .w-flash {
    color: #000;
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
}
#wholemicro .w-leftspan {
    background-color: #f7f6f5;
    border: 1px solid #e4e4e4;
    border-right: 0px;
    margin: 0px;
    padding: 10px;
    color: #666666;
    width: 466px;
    height: 70px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}
#wholemicro .w-rightspan {
    background-color: #fcf3d4;
    border: 1px solid #e4e4e4;
    margin: 0px;
    padding: 10px;
    width: 178px;
    height: 70px;
    display: inline-block;
    color: #2996ce;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
#wholemicro .img1550 {
    background: url("../imgs/ws/tag.png") no-repeat;
}
#wholemicro .img1551 {
    background: url("../imgs/ws/clock.png") no-repeat;
}
#wholemicro .img1552 {
    background: url("../imgs/ws/heart.png") no-repeat;
}
#wholemicro .img1553 {
    background: url("../imgs/ws/barclays.png") no-repeat;
}
#wholemicro .img1554 {
    background: url("../imgs/ws/folders.png") no-repeat;
}
#wholemicro .img1555 {
    background: url("../imgs/ws/pen.png") no-repeat;
}
#wholemicro .img1556 {
    background: url("../imgs/ws/free.png") no-repeat;
}
#wholemicro .img1557 {
    background: url("../imgs/ws/cogs.png") no-repeat;
}
#wholemicro .img1558 {
    background: url("../imgs/ws/deadline.png") no-repeat;
}
#wholemicro .img1559 {
    background: url("../imgs/ws/icaew.png") no-repeat;
}
#wholemicro .img1560 {
    background: url("../imgs/ws/wifi.png") no-repeat;
}
#wholemicro .img1561 {
    background: url("../imgs/ws/file.png") no-repeat;
}
#wholemicro .img1562 {
    background: url("../imgs/ws/uptodate.png") no-repeat;
}
#wholemicro .img1563 {
    background: url("../imgs/ws/dividends.png") no-repeat;
}
#wholemicro .campaign50 {
    background: url("../imgs/ws/campaign50.png") no-repeat;
    margin-bottom: 10px;
    padding: 15px;
}

/*  Wholesale Microsite Products Matrix  */
.w-matrix-wrap {
    margin: 30px auto;
    width: 690px;
}
.w-matrix-row {
    height: 61px;
}
.w-matrix1 {
    width: 253px;
    display:inline-block;
    border-bottom: 1px solid #d4d4d4;
    float: left;
}
.w-matrix2 {
    width: 141px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    border: 1px solid #d4d4d4;
    border-top: 0px;
    height: 60px;

}
.w-matrix3 {
    width: 141px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
    border-top: 0px;
    height: 60px;


}
.w-matrix-e {
    display: inline-block;
    width: 249px;
}
.w-matrix-descr1 {
    position: relative;
    display: inline-block;
    left: 15px;
    top: 15px;
    float: left;
    font-size: 13px;
}
.w-matrix-qmark {
    top: 15px;
    position: relative;
    right: -10px;
}
.w-matrix-packname {
    background: url("../imgs/ws/matrix-tab1.png") no-repeat;
    height: 60px;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border: 1px solid #fff;
    width: 143px;
    display:inline-block;
    margin: -1px;
    padding: 0px;
}
.w-matrix-price {
    color: #2996ce;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #fcf3d4;
    border: 1px solid #d4d4d4;
    width: 141px;
    display: inline-block;
    margin: 0px;
    padding:10px 0;
}
.w-matrix-price-cross {
    color: #d82828;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 141px;
    margin:0px;
    padding:0;
}
.w-matrix-pcross {
    text-decoration:line-through;
}
.w-matrix-vat {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
}
.w-matrix-tick {
    background-image: url("../imgs/ws/w-tick.png");
    background-repeat: no-repeat;
    background-position: center;
}
.w-matrix-cross {
    background-image: url("../imgs/ws/w-cross.png");
    background-repeat: no-repeat;
    background-position: center;
}
.w-matrix-widebox {
    width: 433px;
    display:inline-block;
    margin: 0px;
    padding: 0px;
}
.w-matrix-widebutton {
    background: #ffa102; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa102 0%, #ff7401 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa102), color-stop(100%,#ff7401)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa102 0%,#ff7401 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa102 0%,#ff7401 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa102 0%,#ff7401 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffa102 0%,#ff7401 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa102', endColorstr='#ff7401',GradientType=0 ); /* IE6-9 */
    height: 60px;
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border: 1px solid #d4d4d4;
}
.w-matrix-widelogin {
    height: auto;
    color:#000;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 40px;
    border: 0px solid #d4d4d4;
}
.padding-top-10 {
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

.popover-title i.close {
    font-size: 1em;
    text-align: right;
}

h3.popover-title {
    color: #555;
}

a.toggle-link {
    text-decoration: underline;
    padding-left: 1em;
}

h3.popover-title .loading {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    width: 14px;
    height: 0.7em;
    margin-left: 5px;
}

.popover-content .fa {
    text-align: right;
}

.toggle-company-show, .toggle-company-hide {
    white-space: nowrap;
    padding: 8px 15px;
}

#cf-toolkit-actions {
    background: #ffd1b2;
    border-radius: 5px;
    padding: 10px;
}

#cf-toolkit-actions .btn_submit {
    background: url(../imgs/btn-forward2.png) center center no-repeat;
    margin: 0;
    padding: 0;
    width: 140px;
    height: 29px;
}

.reminders-disabled-flash {
    margin-top: 20px;
}

#newprod #five-pound-formation-questionnaire {
    width: 100%;
}

#newprod #five-pound-formation-questionnaire .form-group div.radio {
    padding: 0.3em;
    margin: 0;
}

#newprod #five-pound-formation-questionnaire, #newprod #five-pound-formation-questionnaire div {
    float: none;
}

#exclusive-offers input.form-control,
#exclusive-offers select.form-control {
    width: 275px;
}
#exclusive-offers .offer {
    padding:10px 20px 20px 200px;
    background: #e6e7e9 no-repeat;
    height: 135px;
}
#exclusive-offers .offer.digitalrisks {
    background-image: url("../imgs/journeypage/digitalrisks.png");
}
#exclusive-offers .offer.taxassist {
    background-image: url("../imgs/journeypage/taxassist.png");
}
#exclusive-offers .offer.worldpay {
    background-image: url("../imgs/journeypage/worldpay.png");
}
#exclusive-offers .offer.business-centre {
    background-image: url("../imgs/journeypage/businesscentre.png");
}
#exclusive-offers .offer.virgin-start-up {
    background-image: url("../imgs/journeypage/virgin-startup.jpg");
}
#exclusive-offers .checkbox label {
    min-height:15px !important; padding-left:25px !important;
}
#exclusive-offers div.checkbox {
    margin:0 !important;
}
#exclusive-offers label:hover {
    cursor: pointer;
}

.completion-address-data, .completion-address-details, .completion-address-prefiller
{
    margin: 25px 0 25px 0;
}

.nature-of-control-container .nature-of-control-indicator {
    font-size: 10px;
    line-height: 19px;
}
.nature-of-control-container label {
    font-weight: normal;
    display: inline;
    cursor: pointer;
}
.nature-of-control-container .nature-of-control-title {
    font-weight: bold;
    cursor: pointer;
    color: #009FDA;
    text-decoration: underline;
    line-height: 35px;
}
.nature-of-control-container .nature-of-control-title:hover {
    color: #ff7900;
}
.nature-of-control-container .nature-of-control-group-title {
    cursor: pointer;
    color: #009FDA;
    text-decoration: underline;
    line-height: 25px;
}
.nature-of-control-container .nature-of-control-group-title:hover {
    color: #ff7900;
}
.nature-of-control-container .nature-of-group-description {
    font-style: italic;
}
