@charset "utf-8";
/* CSS Document */

/* =========================================  NORMALIZING  ================================================== */


/* Normalizes margin, padding */
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td
{
    margin : 0;
    padding : 0;
}

/* Normalizes font-size for headers */
h1,h2,h3,h4,h5,h6 { font-size : 100%; }

/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, th, var
{ font-style : normal; font-weight : normal; }

/* Removes list-style from lists */
table { border-collapse : collapse; border-spacing : 0; }

/* Removes border from fieldset and img */
fieldset,img { border : 0; }

/* Left-aligns text in caption and th */
caption,th { text-align : left; }

p {
    padding-top:8px;
}
a {
    color:#006699;
    outline:none;
    text-decoration:underline;
}
a:hover {
    text-decoration:none;
}
a:focus {
    text-decoration:none;
}
h1 {
    font-size:26px;
    color:#666666;
    font-weight:normal;
    margin-bottom:15px;
}
h2 {
    font-size:20px;
    color:#ff6600;
    margin:10px 0;
}
h3 {
    font-size:16px;
    color:#ff6600;
    margin:0 0 5px 0;
}
h4 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:10px;
}
h5 {
    font-size:16px;
    color:#666666;
    margin-bottom:10px;
}
/*input {
    height:18px;
    vertical-align: middle;
}
input[type=checkbox], input[type=radio] {
    margin:0;
}*/
/*body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    background:#ffffff;
}*/
div#wrapper {
    width:980px;
    padding:0px 10px 10px 10px;
    margin:0 auto;
    background-color:#fff;
    overflow:hidden;
}
/* ==================================== HEADER ============================================== */

div#header {
    height:114px;
    background: #eeebe9 url(../imgs/top-banner4.png) top left no-repeat;
    color:#ffffff;
    font-size:13px;
    text-align:right;
    padding:15px 25px;
}
div#header a {
    color:#4d4d4d;
    text-decoration:none;
}
div#header a:hover {
    text-decoration:underline;
}
div#rss {
    height:24px;
    background:url(../imgs/rss.gif) 0px 4px no-repeat;
    padding:8px 0 0 32px;
}
div#headertext{
    font-size: 26px;
    padding-top: 13px;
}
div#headertext h1{
    color: white;
    padding: 17px 160px 17px 0px;
    margin-bottom: 0px;
}
div#headertext .header_test{
    background: url("../imgs/icaew-logo.png") no-repeat scroll right top transparent;
}
.flogin {
    display:block;
    height:32px;
    float:right;
    padding:0;
    position:relative;
}
.flogin input {
    height:18px;
    width:120px;
    float:left;
    margin:6px 0 0 5px;

}
input.login {
    width:48px;
    height:16px;
    margin-top:8px;
}
.fieldset2 input[type="text"]{
    height:27px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    padding:0 10px;
    font-size:14px;
}
.fieldset2 input[type="password"]{
    height:27px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    padding:0 10px;
    font-size:14px;
}
.fieldset2 input.error{
    height:27px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ff3f3f;
    padding:0 10px;
    font-size:14px;
}
.fieldset2 input.valid{
    height:27px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #84c700;
    padding:0 10px;
    font-size:14px;
}
.fielderror{
    background:url(../imgs/mistake.png) no-repeat;
}

.fieldvalid{
    background:url(../imgs/email-valid.png) no-repeat;
}

.redfield{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ff3f3f;
}
.flogin a {
    display:block;
    margin:5px 0 0 5px;
    float:left;
    font-size:10px;
    line-height:11px;
    color:#000000;
    height:24px;
}

/* ==================================== MAIN MENU ============================================== */

ul#mainnav {
    display:block;
    list-style:none;
    padding:0;
    margin:0;
    height:37px;
}

ul#mainnav li {
    padding:0;
    margin:0;
    float:left;
}
ul#mainnav li a {
    display:block;
    height:37px;
    text-indent:-9999px;
}
ul#mainnav li a.btn_44 {
    background:url(../imgs/btn_home.gif) top left no-repeat;
    width:123px;
}
ul#mainnav li a.btn_home2 {
    background:url(../imgs/btn_home2.gif) top left no-repeat;
    width:123px;
}
ul#mainnav li a.btn_66 {
    background:url(../imgs/btn_why-choose-us.gif) top left no-repeat;
    width:187px;
}
ul#mainnav li a.btn_67 {
    background:url(../imgs/btn_how-it-works.gif) top left no-repeat;
    width:163px;
}
ul#mainnav li a.btn_68 {
    background:url(../imgs/btn_packages.gif) top left no-repeat;
    width:157px;
}
ul#mainnav li a.btn_236 {
    background:url(../imgs/btn_business-library.gif) top left no-repeat;
    width:184px;
}
ul#mainnav li a.btn_65 {
    background:url(../imgs/btn_my-account.gif) top left no-repeat;
    width:166px;
}

ul#mainnav li a.btnnew_44 {
    width:123px;
}
ul#mainnav li a.btnbtnnew_home2 {
    width:123px;
}
ul#mainnav li a.btnnew_66 {
    width:187px;
}
ul#mainnav li a.btnnew_67 {
    width:163px;
}
ul#mainnav li a.btnnew_68 {
    width:157px;
}
ul#mainnav li a.btnnew_236 {
    width:184px;
}
ul#mainnav li a.btnnew_65 {
    width:166px;
}


ul#mainnav li a.selected {
    background:url(../imgs/btn_my-account.gif) bottom left no-repeat;
}

ul#subnav {
    padding:0 40px 0 40px;
    margin:0;
    list-style:none;
    display:block;
    width:900px;
    height:23px;
    background:url(../imgs/bg_submenu.png) top left no-repeat;
    overflow:hidden;
}
ul#subnav li {
    float:left;
    padding:0;
    margin:0;
    margin-right:10px;
    display:block;
    background:url(../imgs/subnav_off_left.png) top left no-repeat;
    height:23px;
}
ul#subnav li a {
    display:block;
    float:left;
    height:18px;
    padding:5px 10px 0 10px;
    color:#000000;
    text-decoration:none;
    background:url(../imgs/subnav_off_right.png) top right no-repeat;
}
ul#subnav li.selected {
    background:url(../imgs/subnav_on_left.png) top left no-repeat;
}
ul#subnav li.selected a {
    background:url(../imgs/subnav_on_right.png) top right no-repeat;
}
/* ================================ MAIN CONTENT =========================================== */

div#content {
    padding:12px 0 0 0;
}
div#home-search {
    background:url(../imgs/home-search.png) top left no-repeat;
    width:541px;
    height:56px;
    padding:164px 0 0 40px;
    margin-bottom:10px;
}
div.search {
    background:url(../imgs/bg_search.png) top left no-repeat;
    width:316px;
    height:32px;
    padding:7px 0 0 13px;
    margin:10px 0;
}
input.searchbox2 {
    width:240px;
}
div#leftCol {
    width:187px;
    float:left;
}

div#maincontent1 {
    width:581px;
    float:left;
    margin-left:12px;
}
div#maincontent2 {
    width:780px;
    float:right;
}
div#maincontent4 {
    width:585px;
    float:left;
}
div#maincontent5 {
    width:781px;
    float:left;
}
div#maincontent-full {
    width: 970px;
    margin-left: 5px;
}

.tab-orange,
.tab {
    background:url(../imgs/tab-left.png) top left no-repeat;
    height:31px;
    font-size:15px;
    font-weight:bold;
    float:left;
    display:inline;
    margin-left:10px;
}
.tab-orange {
    background:url(../imgs/tab-orange-left.png) top left no-repeat;
}
.tab-orange span,
.tab span {
    display:block;
    height:24px;
    background:url(../imgs/tab-right.png) top right no-repeat;
    padding:7px 20px 0 20px;
}
.tab-orange span {
    background:url(../imgs/tab-orange-right.png) top right no-repeat;
}
.services {
    height:90px;
    border-bottom:1px solid #cccccc;
    padding:12px 70px 0 17px;
}
.services .leftpart {
    width:590px;
    float:left;
}
.services img {
    border:1px solid #cccccc;
    margin-right:20px;
    float:left;
}
.services h3 {
    margin-bottom:0;
}
.services p {
    padding-top:0px;
}
.description {
    margin:15px 0;
    border-bottom:1px solid #cccccc;
    border-top:1px solid #cccccc;
    padding:7px 0 15px 0;
}
.description ul {
    padding:10px;
    margin:10px;
}
.description ul li {
    padding-top:10px;
}
.items {
    clear:left;
}
.item-head,
.item-desc {
    width:250px;
    float:left;
    height:92px;
    padding:0px 10px 0px 10px;
    border-bottom:1px solid #cccccc;
}
.item-head {
    height:45px;
    font-size:14px;
}
.item-desc img {
    border:1px solid #cccccc;
    margin:5px 15px 5px 10px;
    float:left;
}
.item-desc h3 {
    margin-top:5px;
}
.item-desc p {
    padding-top:0;
}
.item-headprice,
.item-price {
    width:69px;
    float:left;
    border-bottom:1px solid #cccccc;
    height:52px;
    text-align:center;
    font-size:14px;
    padding-top:40px;
}
.item-headprice {
    height:45px;
    padding:0;
    font-size:11px;
}
.pck {
    display:block;
    width:88px;
    height:28px;
    float:left;
    margin-right:4px;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    padding-top:13px;
    color:#000000;
}
.bronze {background:url(../imgs/bronze.png) center center no-repeat;}
.bronzeplus {background:url(../imgs/bronze-plus.png) center center no-repeat;}
.silver {background:url(../imgs/silver.png) center center no-repeat;}
.gold {background:url(../imgs/gold.png) center center no-repeat;}
.platinum {background:url(../imgs/platinum.png) center center no-repeat;}
.diamond {background:url(../imgs/diamond.png) center center no-repeat;}

div#rightCol {
    width:187px;
    float:right;
}

div#footer {
    font-size:14px;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
    border-top:1px solid #cccccc;
    color:#999999;
}
div#footer a {
    color:#000000;
    text-decoration:none;
}
div#footer a:hover {
    text-decoration:underline;
}
/* ================================ BOXES ================================================= */

.box-grey,
.box1 {
    width: 260px;
    margin-bottom:10px;
    border: 1px solid #ddd;
}
#leftCol .box1 {
    width: 100%;
    margin-bottom:10px;
    border: 1px solid #ddd;
}
.boxn {
    width:209px;
    border: 1px solid #cccccc;
    margin-bottom:10px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.box-grey_foot,
.box1-foot {
    padding:10px;
    font-size:13px;
}
.box-grey_foot {
    font-size:15px;
    text-align:center;
    padding:5px 5px 15px 5px;
}
.box1 h3 {
    display:block;
    background-color: #1b8bbc;
    height:24px;
    color:#ffffff;
    font-size:14px;
    text-align:center;
    padding-top:7px;
}
.boxn h3 {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #1AA7CD 0%, #0672A7 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #1AA7CD 0%, #0672A7 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #1AA7CD 0%, #0672A7 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1AA7CD), color-stop(1, #0672A7));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #1AA7CD 0%, #0672A7 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #1AA7CD 0%, #0672A7 100%);
    display:block;
    overflow:hidden;
    width:209px;
    height:24px;
    color:#ffffff;
    font-size:14px;
    font-weight: normal;
    text-align:center;
    padding-top:7px;
    background-color: #0672A7;
}
.box1 h4 {
    font-size:13px;
    margin-top:5px;
}
.boxn h4 {
    font-size:13px;
    margin-top:5px;
}
.boxn_gradient {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E8E8E8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E8E8E8 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E8E8E8 100%);
}
.box-grey_top {
    background:url(../imgs/box2-top.png) top left no-repeat;
}
.chat {
    background:url(../imgs/chat.jpg) top left no-repeat;
    width:133px;
    height:119px;
    margin-bottom:10px;
    font-size:15px;
    padding:4px 27px;
}
.chat p {
    display:block;
    margin-top:3px;
}
.big-grey-box {
    width:581px;
    background:#e7e7e7 url(../imgs/box-grey-large-top.png) top left no-repeat;
    margin-bottom:10px;
}
.big-grey-box_in {
    background:url(../imgs/box-grey-large-bottom.png) bottom left no-repeat;
    padding:20px;
}
.big-grey-box h2 {
    font-size:28px;
    color:#666666;
    font-weight:normal;
    margin-bottom:15px;
    line-height:20px;
}
.box-grey2 {
    background:url(../imgs/box-grey2-mid.png) top left repeat-y;
    width:780px;
    clear:left;
    margin-bottom:15px;
}
.box-grey2-top {
    background:url(../imgs/box-grey2-top.png) top left no-repeat;
}
.box-grey2-bottom{
    background:url(../imgs/box-grey2-bottom.png) bottom left no-repeat;
    padding:10px 0;
}
.box-grey2 .head {
    padding:0 15px 20px 15px;
    border-bottom:1px solid #cccccc;
}
.box-2grey {
    background:url(../imgs/box-2grey-mid.png) top left repeat-y;
    width:780px;
    clear:left;
    margin-bottom:15px;
}
.box-2grey-top {
    background:url(../imgs/box-2grey-top.png) top left no-repeat;
}
.box-2grey-bottom {
    background:url(../imgs/box-2grey-bottom.png) bottom left no-repeat;
    padding:10px 0;
}
.box-white,
.box-white2 {
    background:url(../imgs/box-white-middle.png) top left repeat-y;
    width:581px;
    font-size:12px;
    margin-bottom:10px;
}
.box-white2 {
    background:url(../imgs/box-white2-middle.png) top left repeat-y;
}
.box-white-top,
.box-white2-top {
    background:url(../imgs/box-white-top.png) top left no-repeat;
}
.box-white-bottom,
.box-white2-bottom {
    background:url(../imgs/box-white-bottom.png) bottom left no-repeat;
    padding:5px 10px 15px 10px;
}
.box-white3 {
    width:362px;
    margin-bottom:10px;
    background:url(../imgs/box-white3-mid.png) top left repeat-y;
}
.box-white3-top {
    background:url(../imgs/box-white3-top.png) top left no-repeat;
}
.box-white3-bottom {
    background:url(../imgs/box-white3-bottom.png) bottom left no-repeat;
    padding:10px;
}

/* ================================ Matthew Journey page boxes - 10th Nov 2009 ================================================= */
.box-whitej {
    width:362px;
    margin-bottom:2px;
    background:url(../imgs/box-white3-mid.png) top left repeat-y;
}
.box-whitej-top {
    background:url(../imgs/box-white3-top.png) top left no-repeat;
}
.box-whitej-bottom {
    background:url(../imgs/box-white3-bottom.png) bottom left no-repeat;
    padding:5px;
}
/* ================================ Matthew Journey page boxes - 10th Nov 2009 ================================================= */



.box-white-bottom ul {
    padding:0;
    margin:0;
    list-style:none;
    color:#999999;
}
.box-white-bottom .col1 {
    width:178px;
    float:left;
    padding-left:10px
}
.box-white-bottom .col2 {
    width:190px;
    padding-left:20px;
    float:left;
}
.box-white-bottom .col3 {
    width:143px;
    float:left;
    padding-left:20px;
}
.box-dblwhite {
    background:url(../imgs/box-dblwhite-mid.png) top left repeat-y;
}
.box-dblwhite-top {
    background:url(../imgs/box-dblwhite-top.png) top left no-repeat;
}
.box-dblwhite-bottom {
    background:url(../imgs/box-dblwhite-bottom.png) bottom left no-repeat;
    padding:15px;
}
.box-lrgwhite {
    background:url(../imgs/box-whitelrg-middle.png) top left repeat-y;
    margin-bottom:10px;
    clear:left;
    width:780px;
}
.box-lrgwhite-top {
    background:url(../imgs/box-whitelrg-top.png) top left no-repeat;
}
.box-lrgwhite-bottom {
    background:url(../imgs/box-whitelrg-bottom.png) bottom left no-repeat;
    padding:15px;
}
.box-yellow {
    background:url(../imgs/box-yellow-mid.png) top left repeat-y;
    width:380px;
    margin-bottom:10px;
}
.box-yellow-top {
    background:url(../imgs/box-yellow-top.png) top left no-repeat;
}
.box-yellow-bottom {
    background:url(../imgs/box-yellow-bottom.png) bottom left no-repeat;
    padding:15px;
}
.lefthalf {
    width:250px;
    float:left;
}
.righthalf {
    width:250px;
    float:right;
}
.progressbar {
    width:580px;
    height:85px;
    margin-bottom:10px;
    color:#666666;
    font-size:28px;
    text-align:center;
    padding-top:5px;
}
.step1 {background:url(../imgs/progress-1.png) top left no-repeat;}
.step1a {background:url(../imgs/progress-1a.png) top left no-repeat; height:38px;}
.step2 {background:url(../imgs/progress-2.png) top left no-repeat; height:38px;}
.step3 {background:url(../imgs/progress-3.png) top left no-repeat; height:38px;}
.step4 {background:url(../imgs/progress-4.png) top left no-repeat; height:38px;}

.progressbar2 {
    width:980px;
    height:21px;
    margin-bottom:5px;
}
.dash-step4 {background:url(../imgs/dash-step4.png) top left no-repeat;}
.dash-step5 {background:url(../imgs/dash-step5.png) top left no-repeat;}
.dash-step8 {background:url(../imgs/dash-step8.png) top left no-repeat;}

.message {
    padding: 0.5em;
    border-radius: 5px;
    background-color: #DFF0D8;
    font-size: 1.1em;
    color: #46885F;
    margin-bottom: 1em;
}

.message-green {
    background-color: #DFF0D8;
    color: #46885F;
}

.message-blue {
    background-color: #cce5ff;
    color: #000;
}

.box-blue {
    background:#cce5ff url(../imgs/box-blue-top.png) top left no-repeat;
    width:681px;
    margin-bottom:15px;
}
.box-blue-bottom {
    background:url(../imgs/box-blue-bottom.png) bottom left no-repeat;
    padding:15px;
}
.box-pink {
    background:#ffd1b2 url(../imgs/box-ping-top.png) top left no-repeat;
    width:681px;
    margin-bottom:15px;
}
.box-pink-bottom {
    background:url(../imgs/box-pink-bottom.png) bottom left no-repeat;
    padding:15px;
}
.pinkbox,
.yellowbox,
.bluebox {
    background:url(../imgs/blue-box.png) top left no-repeat;
    width:756px;
    height:19px;
    margin-bottom:10px;
    font-size:16px;
    padding:12px;
}
.pinkbox {
    background:url(../imgs/pink-box.png) top left no-repeat;
}
.yellowbox {
    background:url(../imgs/yellow-box.png) top left no-repeat;
}
.box-shaded {
    background:url(../imgs/box-shaded.png) top left no-repeat;
    display:block;
    width:209px;
    height:153px;
    float:left;
    margin:0 20px 20px 0;
    padding:15px;
    font-size:13px;
    color:#000000;
    text-decoration:none;
}
/* ================================ Nick Senkevich new action backgrounds - 10th Nov 2009 ================================================= */

.box-shaded2 {
    background:url(../imgs/dashboard-box.png) top left no-repeat;
    display:block;
    width:209px;
    height:80px;
    float:left;
    margin:0 20px 20px 0;
    padding: 15px 15px 3px 15px;
    font-size:13px;
    color:#000000;
    text-decoration:none;
}

.dashbd {
    text-align: justify;
}

.dashbd:after {
	content: "";
	width: 100%;
	display: inline-block;
    }

.dashbd a {
    background-color: #f2f3f5;
    text-decoration: none;
    width: 270px;
    padding: 15px;
}

.dashbd a h3{
    color: #009fd9;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

.dashbd a p{
    color: #676769;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    padding: 0;
    text-align: left;
}

.dashbd a:hover {
    background-color: #009fd9;
    text-decoration: none;
}

.dashbd a:hover h3{
    color: #fff;
    text-decoration: none;
}

.dashbd a:hover p{
    color: #fff;
    text-decoration: none;
}

.dashbd-banner{
    background: url(../imgs/dashbd-banner.png) bottom left no-repeat;
    height: 250px;
    width: 740px;
    padding-left: 200px;
    text-decoration: none !important;
}

.dashbd-banner a:hover {
    text-decoration: none;
}

.dashbd-banner a:hover p{
    text-decoration: none;
}

.dashbd-banner a:hover h2{
    text-decoration: none;
}

.dashbd-moreinfo a:hover {
    text-decoration: none;
}

.action_box_size{
    width:170px;
}

/*  ================================ End ================================================= */

.box-shaded-small {
    background:url(../imgs/box-small-shaded.png) top left no-repeat;
    width:295px;
    height:73px;
    margin-bottom:10px;
    padding:10px;
}
.box-mid-gradient {
    background:url(../imgs/box-mid-gradient.png) center center no-repeat;
    width:311px;
    height:101px;
    float:right;
    margin-right:20px;
    padding:15px;
}
.box-orange {
    background:#ff6600 url(../imgs/box-orange-top.png) top left no-repeat;
    width:581px;
    margin-bottom:10px;
}
.box-orange-bottom {
    background:url(../imgs/box-orange-bottom.png) bottom left no-repeat;
    padding:15px;
    font-size:14px;
    color:#ffffff;
}

.tick-upgr {
    clear:left;
    font-size:16px;
    display:block;
    width:250px;
}

/* ============================ LISTS ====================================================== */

.special-list {
    padding:0;
    margin:0;
    list-style:none;
    font-size:15px;
    display:block;
}
.special-list li {
    border-bottom:1px solid #cccccc;
    padding:6px 0;
}
.special-list li.last {
    border:0;
}
.special-list li a {
    text-decoration:none;
    color:#000000;
    display:block;
    margin:0 8px 0 8px;
    background:url(../imgs/arrow-left.gif) right center no-repeat;
}
.special-list li a:hover {
    color:#666666;
}
.why-us {
    padding:0;
    margin:0;
    list-style:none;
}
.why-us li {
    display:block;
    font-size:15px;
    font-weight:bold;
    margin-top:15px;
    padding-left:15px;
    background:url(../imgs/bullet-orange.png) left center no-repeat;
}
/* ============================ BUTTONS ============================================ */

.btn_more,
.btn_submit,
.btn_submit.btn,
.btn_submit.btn:active,
.btn_back2,
.btn_forward2,
.btn_back {
    display:block;
    background:url(../imgs/btn_more.gif) center center no-repeat;
    width:155px;
    height:24px;
    margin:auto;
    color:#ffffff;
    text-decoration:none;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    padding:5px 5px 0 0;
}
.btn_more:hover,
.btn_submit:hover,
.btn_submit.btn:hover,
.btn_back2:hover,
.btn_forward2:hover,
.btn_back:hover {
    color:#ffffff;
    text-decoration:none;
}

.btn_more:focus,
.btn_submit.btn:focus,
.btn_submit:focus,
.btn_back2:focus,
.btn_forward2:focus,
.btn_back:focus {
    color:#ffffff;
    text-decoration:none;
}

input[id="payment"]:disabled {
    display:block;
    background:url(../imgs/btn_more_grey.gif) center center no-repeat !important;
    width:160px;
    height:29px;
    margin:0;
    border:0;
    padding:0;
    line-height:13px;
    cursor:default;
    color:#aaaaaa;
    text-decoration:none;
    font-size:15px;
    font-weight:normal;
    text-align:center;
    padding:0px 5px 0 0;
}

.btn_disabled {
    background:url(../imgs/btn_more_grey.gif) center center no-repeat !important;
}
.btn_paynow{
    display:block;
    background:url(../imgs/make-payment.png) no-repeat;
    width:236px;
    height:49px !important;
    color:#ffffff;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    margin:0;
    border:0;
    padding-right:20px;
    line-height:13px;
    cursor:pointer;
}
.btn_submitnew {
    display:block;
    background:url(../imgs/postcode.png) center center no-repeat;
    width:118px;
    height:29px;
    color:#ffffff;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    margin:0;
    border:0;
    padding:0;
    line-height:13px;
    cursor:pointer;
}

.btn_postcode {
    display:block;
    background:url(../imgs/postcode.png) center center no-repeat;
    width:118px;
    height:29px;
    color:#ffffff;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    margin:0;
    border:0;
    padding:0;
    line-height:13px;
    cursor:pointer;
}
.email-login {
    display:block;
    background:url(../imgs/email-login.png) center center no-repeat;
    width:150px;
    height:29px;
    color:#ffffff;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    margin:0;
    border:0;
    padding:0;
    line-height:13px;
    cursor:pointer;
}
.btn_back2 {
    background:url(../imgs/btn_back2.png) center center no-repeat;
    margin: 0 0 28px 0;
    padding:5px 0 0 5px;
    width:135px;
}
.btn_forward2 {
    background:url(../imgs/btn-forward2.png) center center no-repeat;
    padding:5px 5px 0 0;
    width:135px;
}
.btn_back {
    background:url(../imgs/btn_back.png) center center no-repeat;
    padding:5px 0 0 5px;
    width:135px;
}
.btn_submit {
    width:160px;
    height:29px;
    margin:0;
    border:0;
    padding:0;
    line-height:13px;
    cursor:pointer;
}
.btn_go {
    background:url(../imgs/btn_go.png) top left no-repeat;
    width:39px;
    height:23px;
    display:block;
    text-indent:-9999px;
}

/* ============================ FORMS ============================================ */

#company-search {
    display:block;
    width:380px;
}
#company-search div.inputbox {
    background:url(../imgs/searchbox.png) top left no-repeat;
    width:305px;
    height:20px;
    padding:5px 0 0 3px;
}
div.inputbox2 {
    background:url(../imgs/searchbox2.png) top left no-repeat;
    width:244px;
    height:20px;
    padding:5px 0 0 3px;
}
#company-search input.searchbox {
    width:300px;
    background:transparent;
    border:none transparent;
}
input.searchbox2 {
    width:240px;
    background:transparent;
    border:none transparent;
}
.customer input {
    float:left;
    margin-bottom:15px;
}
.customer label {
    float:left;
    margin-bottom:5px;
    clear:left;
    display:block;
    width:200px;
}
.field220 {
    width:220px;
}
.field110 {width:110px;}
.field180 {width:180px;}
.field45 {width:45px;}
.field60 {width:60px;}
.field150 {width:150px;}
.field240 {width:240px;}

/* ============================ TABLES ============================================ */

/*============================= Added by Matthew 10th Nov 2009===================== */
.formtablejourney {
    margin:1px 0;
}
.formtablejourney td {
    padding:1px;
}
/*============================= Added by Matthew 10th Nov 2009===================== */

.formtable {
    margin:10px 0;
}
.formtable td {
    padding:5px;
}
.classictable {
    margin-bottom:10px;
}
.classictable th {
    border-bottom:1px solid #cccccc;
    padding:2px;
}
.classictable td {
    padding:2px;
}
.formtable th {
    font-size:14px;
    font-weight:bold;
    padding:5px;
    border-bottom:1px solid #cccccc;
}
.matrix {
    margin:10px 0;
    border-top:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}
.matrix td {
    padding:5px;
    border-right:1px solid #cccccc;
}
.matrix td.noborder {
    border:0px;
}
.matrix tr.odd td.check {
    background:#ebebeb url(../imgs/check1.png) center center no-repeat;
}
.matrix tr td.check {
    background:url(../imgs/check2.png) center center no-repeat;
}
.odd {
    background-color:#ebebeb;
}
.bbottom {
    border-bottom:1px solid #cccccc;
}
.b-bronze {background:#83705d url(../imgs/b_bronze.png) top left repeat-x;}
.b-bronze-plus {background:#a28971 url(../imgs/b_bronze-plus.png) top left repeat-x;}
.b-silver {background:#8f8e8f url(../imgs/b_silver.png) top left repeat-x;}
.b-gold {background:#a9915a url(../imgs/b_gold.png) top left repeat-x;}
.b-platinum {background:#a6a5a6 url(../imgs/b_platinum.png) top left repeat-x;}
.b-diamant {background:#f2f2f2 url(../imgs/b_diamond.png) top left repeat-x;}

.bbottom a {
    color:#000000;
    outline:medium none;
    text-decoration:none;
}
.strike {
    color:#666666;
    text-decoration:line-through;
}
.my-companies {
    border:1px solid #cccccc;
    margin-bottom:15px;
}
.my-companies th {
    font-size:16px;
    font-weight:bold;
    color:#ff6600;
}
.my-companies td,
.my-companies th {
    padding:5px;
}
.dashtable {
    margin-bottom:20px;
    text-align:center;
}
.dashtable a {
    color:#000000;
    text-decoration:none;
}
.dashtable a:hover {
    text-decoration:underline;
}

#sstatusgrid table {
    font-family: 'Arial', 'Helvetica', sans-serif;
    width:100%;
    border-collapse:collapse;
    margin: 20px 0px;
}
#sstatusgrid table i {
    width: 22px;
}
#sstatusgrid table td, #sstatusgrid table th {
    font-size: 14px;
    color:#333333;
    line-height: 20px;
    border:1px solid #cccccc;
    padding:15px;
    vertical-align: middle;
}
#sstatusgrid table th {
    font-family: 'Arial Bold', 'Arial';
    font-size:1.5em;
    padding: 8px 15px;
    background-color:#f7f7f7;
}
#sstatusgrid table th a{
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size:14px;
    text-decoration: none;
}
#sstatusgrid table th a i{
    width: 15px;
}
#sstatusgrid table tr.heading td {
    font-size: 11px;
    font-weight: bold;
    padding: 5px 15px;
}
#sstatusgrid table tr.alt table td {
    color:#000000;
    background-color:#EAF2D3;
}
#sstatusgrid label {
    font-weight: normal;
    font-size: small;
    margin: 0;
}
#sstatusgrid input[type=checkbox] {
    margin: 0;
}
#summary {
    float: right;
    background-color: #f7f7f7;
    font-size: 1.3em;
    padding: 0px;
}
#summary input[type="submit"] {
    border: 0px;
    background-color: #f0ad4e;
    color: #fff;
    width: 150px;
    font-size: 0.9em;
    font-weight: bold;
    height: 30px;
    margin: 5px 0px;
    cursor: pointer;
    border-radius: 4px;
}
#summary input[type="submit"]:hover {
    background-color: #d9a04f;
}
#summary input.disabled[type="submit"] {
    border: 0px;
    background-color: #dddddd;
    color: #fff;
    width: 150px;
    font-size: 0.9em;
    font-weight: bold;
    height: 30px;
    margin: 5px 0px;
    cursor: pointer;
    border-radius: 4px;
}
#summary input.loading[type="submit"] {
    border: 0px;
    background: #dddddd url('../imgs/ajax-loader.gif') no-repeat center;
    width: 150px;
    font-size: 0px;
    height: 30px;
    margin: 5px 0px;
    border-radius: 4px;
}
#summarybasket {
    float: left;
    background-color: #f7f7f7;
    color: #444444;
    font-size: 1.2em;
    padding: 20px 35px;
    margin: 0 30px 0 0;
}
/* ============================ GENERAL CLASSES ============================================ */

.clear {clear:both;}
.clearl {clear:left;}
.clearr {clear:right;}
div.clear {clear:both; height:0px;}
.h0 {height:0px;}
.h25 {height:25px;}
.h45 {height:45px;}
.h180 {height:180px;}
.auto-over {overflow:auto;}
div.hr {height:1px; background:#cccccc; margin:10px 0;}
.center {margin: 0 auto;}
.posabsolute {position:absolute;}
.posrelative {position:relative;}
.bottom5 {bottom: 5px;}
.width0 {width: 0px;}
.width30 {width:30px;}
.width35 {width: 35px;}
.width60 {width: 60px;}
.width70 {width: 70px;}
.width83 {width: 83px;}
.width90 {width: 90px;}
.width100 {width: 100px;}
.width121 {width: 121px;}
.width130 {width: 130px;}
.width150 {width: 150px;}
.width210 {width: 210px;}
.width300 {width: 300px;}
.width330 {width: 330px;}
.width350 {width: 350px;}
.width380 {width: 380px;}
.width400 {width: 400px;}
.width450 {width: 450px;}
.width550 {width: 550px;}
.width660 {width: 660px;}
.width690 {width: 690px;}
.width720 {width: 720px;}
.width1000 {width: 1000px;}
.width90pc {width: 90%;}
.widththird {width: 33.33%;}
.widthfifth {width: 20%;}
.minwidth100 {min-width: 100px;}
.height30 {height:30px;}
.height120 {height:120px;}
.mbottom20 {margin-bottom:20px;}
.mtop-55 {margin-top:-55px;}
.mtop-30 {margin-top:-30px;}
.mtop-15 {margin-top:-15px;}
.mtop-5 {margin-top:-5px;}
.mtop0 {margin-top:0;}
.mtop {margin-top:10px;}
.mtop15 {margin-top: 15px;}
.mtop16 {margin-top: 16px;}
.mtop20 {margin-top:20px;}
.mtop25 {margin-top:25px;}
.mtop30 {margin-top:30px;}
.mtop100 {margin-top:100px;}
.mright3 {margin-right:3px;}
.mright5 {margin-right:5px;}
.mright8 {margin-right:8px;}
.mright20 {margin-right:20px;}
.mright-30 {margin-right:-30px;}
.mright50 {margin-right:50px;}
.mleft3 {margin-left:3px;}
.mleft10 {margin-left:10px;}
.mleft20 {margin-left:20px;}
.mleft30 {margin-left:30px;}
.mleft-30 {margin-left:-30px;}
.mleft40 {margin-left:40px;}
.mleft50 {margin-left:50px;}
.mleft100 {margin-left:100px;}
.mright {margin-right:10px;}
.mleft {margin-left:10px;}
.mbottom0 {margin-bottom:0;}
.mbottom {margin-bottom:10px;}
.mbottom30 {margin-bottom:30px;}
.mbottom_small {margin-bottom:5px;}
.mtop_small {margin-top:5px;}
.mnone {margin:0px;}
.m10 {margin:10px;}
.m20 {margin:20px;}
.mflash {margin: -10px 0 10px 0;}
.top-15 {top:-15px;}
.top-12 {top:-12px;}
.top10 {top:10px;}
.top20 {top:20px;}
.left-10 {left:-10px;}
.left18 {left:18px;}
.left50p {left:50%;}
.valign-10 {vertical-align:-10px;}
.valign-top {vertical-align:top;}
.valign-middle {vertical-align:middle;}
.valign-btm {vertical-align:bottom;}
.vertical-center {min-height: 100%; display: flex; align-items: center;}

.noborder {border:0;}
.bordertopsolid{border-top-style:solid;}
.bordersolid{border-style:solid;}
.border1{border-width:1px;}
.border2{border-width:2px;}
.border3{border-width:3px;}
.bordergrey{border-color: #c0c7ca}
.borderblue1{border-color: #009fda;}

.fleft {float:left;}
.fright {float:right;}

.inlineblock{display: inline-block;}
.displayblock{display: block;}
.displaynone{display: none;}
.displaytable{display: table;}
.displayflex{display: flex;}
.borderbox {box-sizing: border-box;}

.nopleft {padding-left:0px;}
.nopright {padding-right:0px;}
.noptop {padding-top:0px;}
.ptop5 {padding-top:5px;}
.ptop15 {padding-top:15px;}
.ptop20 {padding-top:20px;}
.pleft20 {padding-left: 20px;}
.pleft40 {padding-left: 40px;}
.pleft60 {padding-left: 60px;}
.pleft65 {padding-left: 65px;}
.pleft70 {padding-left: 70px;}
.padding0 {padding:0px;}
.padding5 {padding:5px;}
.padding10 {padding:10px;}
.padding15 {padding:15px;}
.padding20 {padding:20px;}
.padding30 {padding:30px;}
.padding40 {padding:40px;}
.pright5 {padding-right:5px;}
.pright30 {padding-right:30px;}
.ptop5 {padding-top: 5px;}
.ptop10 {padding-top: 10px;}
.pright0 {padding-right: 0px;}
.pbtm10 {padding-bottom: 10px;}
.pbottom15 {padding-bottom:15px;}
.pbtm20 {padding-bottom: 20px;}
.pbtm30 {padding-bottom: 30px;}
.pbtm40 {padding-bottom: 40px;}
.pleft10 {padding-left: 10px;}
.txtcenter {text-align:center;}
.txtleft {text-align:left;}
.txtright {text-align:right;}
.txtcrossed{text-decoration:line-through;}
.txtunderline{text-decoration:underline;}
.txtdnone{text-decoration:none;}
.fweight100 {font-weight:100;}
.fweight200 {font-weight:200;}
.fweight300 {font-weight:300;}
.txtbold {font-weight:bold;}
.txtnormal {font-weight:normal;}
.txtitalic {font-style:italic;}
.lheight15 {line-height:15px;}
.lheight17 {line-height:17px;}
.lheight20 {line-height:20px;}
.lheight28 {line-height:28px;}
.lheight50 {line-height:50px;}
.lheight60 {line-height:60px;}
.em13 {font-size:1.3em;}
.em15 {font-size:1.5em;}
.disclosure {font-size:10px;}
.littlefont {font-size:11px;}
.normalfont {font-size:12px;}
.font13 {font-size:13px;}
.midfont {font-size:14px;}
.font15 {font-size:15px;}
.largefont {font-size:16px;}
.bigfont {font-size:18px;}
.font20 {font-size:20px;}
.hugefont {font-size:22px;}
.massivefont {font-size:24px;}
.font28 {font-size:28px;}
.extrafont {font-size:30px;}
.font34 {font-size:34px;}
.font40 {font-size:40px;}
.font48 {font-size:48px;}
/*.required {font-size:11px; color:#666666;}*/
.black {color:#000;}
.red {color:#E74C3C;}
.red2 {color:#d82828;}
.red3 {color:red;}
.orange {color:#ff6600;}
.orange2 {color:#ff7400;}
.orange3 {color:#ffa128;}
.yellow {color:#ffcc00;}
.green {color:#71a902;}
.green1 {color:#27AE60;}
.green2 {color:#55c24a;}
.green3 {color:#88c444;}
.blue {color:#0982B3;}
.blue2 {color:#19a1c7;}
.blue3 {color:#2996ce;}
.blue4 {color:#009fda;}
.blue5 {color:#8dd7f7;}
.pink {color:#cd1543;}
.pink2 {color:#cd1f4e;}
.yellow {color:#F0C40F;}
.yellow2 {color: #ffde00}
.grey {color:#cccccc;}
.grey2 {color:#999999;}
.grey3 {color:#373737;}
.grey4 {color:#565656;}
.grey5 {color:#B5B5B5;}
.grey6 {color:#767676;}
.grey7 {color:#323131;}
.grey8 {color:#424242;}
.grey9 {color:#6a6a6a;}
.grey10 {color:#434343;}
.grey11 {color:#a1a1a1;}
.grey12 {color:#272727;}
.grey13 {color:#e7e7e7;}
.grey14 {color:#666666;}
.bg-grey1 {background-color: #f2f3f5;}
.bg-grey2 {background-color: #e6e7e9;}
.bg-grey3 {background-color: #658092;}
.bg-blue1 {background-color: #009fda;}
.bg-blue2 {background-color: #e1f4fb;}
.bg-blue3 {background-color: #c5eafa;}
.bg-blue4 {background-color: #00aeea;}
.bg-blue5 {background-color: #25358c;}
.bg-blue6 {background-color: #395b73;}
.bg-green1 {background-color: #88C444;}
.bg-orange2 {background-color:#ff7400;}
.white {color:#ffffff;}
.package {font-size:28px; font-weight:bold;}

.hiddendiv>div {display:none;}
.visiblediv>div {display:block;}

.blackBorder{background: #f2f2f2 url(../imgs/blackborder.png) top left repeat-x;height:12px;}
.orangeBorder{background: #f2f2f2 url(../imgs/orangeborder.png) top left repeat-x;height:12px;}
.greyBorder{background-color: #ccc;height:12px;}
.emptyhr{height:9px;}
.orangetriangle{background: #fff url(../imgs/orangetriangle.png) top center no-repeat;height:9px;}
.greenbgr {background-color:#ccff9a;}
.cspointer {cursor:pointer;}

#continueprocess {
    background:url(../imgs/btn-forward2.png) center center no-repeat;
    padding:0 0 5px 0;
    width:155px;
}

div.help-button {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    width: 25px;
}

div.help-button em {
    position: absolute;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding: 5px;
    width: 300px;
    z-index: 2;
    display: none;
}

div.help-button2 {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    width: 25px;
}

div.help-button2 em {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    width: 240px;
    z-index: 2;
    display: none;
}

div.help-button-cvv {
    float: none;
    display: inline-block;
}

a.help-icon {
    width: 24px;
    height: 24px;
    background: url(../imgs/help_24.gif) no-repeat 0 0;
    text-indent: -9999px;
    display: block;
}
a.help-icon2 {
    width: 24px;
    height: 24px;
    background: url(../imgs/question.gif) no-repeat 0 -5px;
    text-indent: -9999px;
    display: block;
}
a.help-icon3 {
    height:19px;
    width: 19px;
    margin-left:-25px;
    background: url('../imgs/icon-help.png') no-repeat 0 0;
    text-indent: -9999px;
    display: inline-block;
}
div.help-button-matrix {
    float: right;
    width: 22px;
}
div.help-button-matrix em {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    width: 240px;
    z-index: 2;
    display: none;
}
a.help-icon-grey-bg {
    width: 22px;
    height: 16px;
    background: url(../imgs/matrixq_greybg.gif) no-repeat 0 -5px;
    text-indent: -9999px;
    display: block;
}
a.help-icon-white-bg {
    width: 22px;
    height: 16px;
    background: url(../imgs/matrixq_whitebg.jpg) no-repeat 0 -5px;
    text-indent: -9999px;
    display: block;
}
span.help-icon-grey-bg2 {
    width: 22px;
    height: 16px;
    background: url(../imgs/matrixq_greybg.gif) no-repeat 0 -5px;
    text-indent: -9999px;
    display: block;
    cursor: pointer;
}
span.help-icon-white-bg2 {
    width: 22px;
    height: 16px;
    background: url(../imgs/matrixq_whitebg.jpg) no-repeat 0 -5px;
    text-indent: -9999px;
    display: block;
    cursor: pointer;
}
#custom{
    height: 24px;
}
#support{
    height: 24px;
}
#paypal{
    height: 24px;
}
#google{
    height: 24px;
}

.livesuprt{
    float:right;
    position:relative;
}
.redmsg{
    color:red;
}
.errormsg {
    color: #ff3f3f;
}
.formprocesstitle{
    position:relative;
    float: left;
}

input.link {
    background: none;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: inline;
    color: #006699;
}
input.link:hover {
    text-decoration: none;
}

.loading {
    border: 0;
    background: transparent url('../imgs/ajax-loader-transparent.gif') no-repeat center;
    font-size: 0;
}

/** CREDIT CARD **/
.cards{
    overflow:hidden;
    display:inline-block;
    margin: 0px;
    list-style-type: none;
}
.cards li{-webkit-transition:all .2s;
          -moz-transition:all .2s;
          -ms-transition:all .2s;
          -o-transition:all .2s;
          transition:all .2s;
          background-image:url('../imgs/payviacard.png');
          background-position:0 0;
          float:left;
          height:32px;
          margin-right:8px;
          text-indent:-9999px;
          width:51px}
.cards li:last-child{margin-right:0}
.cards .UKE{background-position:204px 0}
.cards .MC{background-position:153px 0}
.cards .MAESTRO{background-position:102px 0}
.cards .discover{background-position:51px 0}
.cards .VISA.off{background-position:0 32px}
.cards .UKE.off{background-position:204px 32px}
.cards .MC.off{background-position:153px 32px}
.cards .MAESTRO.off{background-position:102px 32px}
.cards .discover.off{background-position:51px 32px}


.paypalCards{
    margin: 0px;
    overflow:hidden;
    display:inline-block;
    padding-right: 20px;
    list-style-type: none;
}
.paypalCards li{-webkit-transition:all .2s;
                -moz-transition:all .2s;
                -ms-transition:all .2s;
                -o-transition:all .2s;
                transition:all .2s;
                background-image:url('../imgs/payviapaypal.png');
                background-position:0 0;
                float:left;
                height:32px;
                margin-right:8px;
                text-indent:-9999px;
                width:51px}
.paypalCards li:last-child{margin-right:0}
.paypalCards .PAYPAL{background-position:204px 0}
.paypalCards .AMEX{background-position:153px 0}
.paypalCards .PAYPAL.off{background-position:204px 32px}
.paypalCards .AMEX.off{background-position:153px 32px}


/** BARCLAYS BANKING ON UPGRADE PAGE **/

.barclays-box {
    border: 1px solid #cdcdcd;
    margin: 0 0 15px 0;
    padding: 10px 50px 10px 10px;
    background: url('../imgs/barclays_logo_small.jpg') no-repeat 232px 53px #f2fafd;
    line-height: 160%
}
.barclays-box span {
    font-size: 11px;
}

/** BARCLAYS BANKING ON CU SUMMARY PAGE **/

.cu-summary-barclays {
    position: absolute; top: 0; right: 0;
    border: 1px solid #cbcbcb;
    width: 180px;
}
.cu-summary-barclays .header {
    background: #ebebeb;
    border-bottom: 1px solid #cbcbcb;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}
.cu-summary-barclays .content {
    background: #f2fafd url('../imgs/barclays_44x48.gif') no-repeat 130px 5px;
    padding: 5px 5px 10px 5px;
}
.cu-summary-barclays .content input.link {
    color: #fe6e15;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    left: 30px;
    bottom: 5px;
}

.barclays-banner{
    background: #ffffff url('../imgs/barclays_banner.png') no-repeat;
    width:426px;
    height:63px;
    float:right;
    position:relative;
    margin:-12px 0;
}
.barclays-banner p{
    color:#666666;
    padding: 40px 0 8px 10px;
    margin-bottom:10px;
}
.barclays-banner a{
    text-decoration:none;
}
.barclays-hp-banner{
    background: #ffffff url('../imgs/barclays_hp_banner.png') no-repeat;
    width:187px;
    height:148px;
    margin-top:10px;
}
.barclays-hp-banner span {
    display: block;
    color:#666666;
    padding: 76px 4px 8px 10px;
}
.barclays-hp-banner a{
    text-decoration:none;
}
.need-help{
    width:187px;
    background:url(../imgs/help-box_middle.gif) top center repeat-y;
    margin-bottom:10px;
}
.need-help-foot {
    background:url(../imgs/help-box_bottom.gif) bottom left no-repeat;
    padding:5px;
    font-size:11px;
}
.need-help h3 {
    display:block;
    overflow:hidden;
    background:url(../imgs/box1_top.gif) top left no-repeat;
    width:187px;
    height:24px;
    color:#ffffff;
    font-size:14px;
    text-align:center;
    padding-top:7px;
}
.need-help-list{
    padding:0;
    margin:0;
    list-style:none;
    font-size:12px;
    display:block;
}
.need-help a{
    text-decoration:none;
}
.need-help img{
    padding:2px 10px 2px 5px;
    vertical-align:middle;
    height:35px;
    width:35px;
}


/*=== CU summary page ===*/

.cu-summary-page .cu-summary-container {
    position: relative;
}
.cu-summary-page .cu-summary-container h1 {
    width: 530px;
}
.cu-summary-page .cu-summary-container .menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.cu-summary-page .cu-summary-container .menu .buttons {
    text-align: right;
    display: none;
}
.cu-summary-page .cu-summary-container .menu .buttons .text {
    color: black;
    font-weight: normal;
}
.cu-summary-page .cu-summary-container .menu ul {
    list-style-type: none;
    padding: 5px 10px 5px 10px;
    margin: 0px 4px 0 0;
    display: none;
}
.cu-summary-page .cu-summary-container .menu ul li {
    line-height: 25px;
}
.cu-summary-page .cu-summary-container .menu ul li a {
    text-decoration: none;
    font-weight: bold;
}
.cu-summary-page .cu-summary-container .menu ul li a:hover {
    text-decoration: underline;
}
.cu-summary-page .flash.info2.barclays {
    background: #F2FAFD url('../imgs/barclays_44x48.gif')  730px 3px no-repeat;
    border: 1px solid #CDCDCD;
    margin-left: 0;
    width: 515px;
    padding-right: 250px;
    padding-top: 10px;
    position: relative;
}
.cu-summary-page .flash.info2.barclays a.apply {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 120px;
    top: 15px;
}
.cu-summary-page .flash.info2.auth-code-flash {
    background: #FCF8E2 no-repeat;
    border: 1px solid #FBEDD4;
    color: #AC8E47;
    width: inherit;
    padding: 15px;
    margin: 0 0 20px 0;
}
.cu-summary-page .flash.info2.auth-code-flash p:last-child {
    margin-bottom: 0;
}
.cu-summary-page .flash.info2.auth-code-flash a {
    display: inline-block;
    margin-right: 20px;
}
.cu-summary-page a.ui-widget-content {
    padding: 1px 3px 1px 3px;
    text-decoration: none;
    font-size: 12px;
}
.cu-summary-page h2 {
    position: relative;
    padding-right: 0;
}
.cu-summary-page h2 a.ui-widget-content {
    position: absolute;
    font-size: 12px;
    font-weight: normal;
    top: 4px;
    margin: 0 0 0 5px;
}
.cu-summary-page .barclays-explanation {
    margin: 20px 0 20px 0;
    color: #444;
    font-size: 11px;
}

.cu-change-auth-code-page form {
    margin: 20px 0 0 0;
}

.cu-change-auth-code-page label {
    font-size: 13px;
    font-weight:normal;
    line-height:30px;
    width: 160px;
    display: inline-block;
    text-align: right;
}
.cu-change-auth-code-page input {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin:0px;
    padding:7px;
    font-size: 14px;
    width: 100px;
}


.cu-change-auth-code-page #auth-code-problems {
    border: 1px solid #CCCCCC;
    background: #F2F2F2;
    padding: 20px;
}

/* === SEARCH DEFAULT PAGE === */

.search-default-page .new-search {
    margin: 0 0 20px 0;
}
.search-default-page .new-search h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.search-default-page .new-search .left {
    float: left;
    width: 446px;
    height: 66px;
    background: url('../imgs/matrix-search-box.jpg') no-repeat;
    padding: 10px;
    margin: 0;
    position: relative;
}
.search-default-page .new-search .left input.searchbox2 {
    border: 1px solid #abadb3;
    position: absolute;
    left: 10px;
    top: 55px;
    width: 300px;
}
.search-default-page .new-search .left input.go_search {
    position: absolute;
    left: 325px;
    top: 56px;
}
.search-default-page .new-search .right {
    float: right;
    width: 281px;
    height: 66px;
    background: url('../imgs/matrix-search-step2.jpg') no-repeat;
    padding: 10px;
    margin: 0 0 0 0;
}


/* === SPECIAL JARED'S TABLE === */

table.ginger-ninja-table {
    background-color: white;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}
table.ginger-ninja-table td {
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}


/* === HOME LEFT COLUMN BLOG ARTICLES === */

h4.blog {
    font-size: 12px;
    padding: 0;
    margin: 0 0 3px 0;
}
p.blog {
    padding: 0;
    margin: 0 0 10px 0;
}

/* === REVIEWS TESTIMONIALS PAGE === */

.reviews-testimonials-page {
    padding-bottom: 25px;
}
.reviews-testimonials-page .text-box {

}
.reviews-testimonials-page .text-box .text {
    float: left;
    width: 690px;
}
.reviews-testimonials-page .text-box .image {
    float: right;
    width: 200px;
    text-align: right;
    margin-top: -45px;
    position: relative;
}
.reviews-testimonials-page .text-box .image .value {
    position: absolute;
    color: white;
    font-size: 100px;
    top: 5px;
    left: 45px;
}
.reviews-testimonials-page .text-box a {
    text-decoration: none;
}
.reviews-testimonials-page table.my-companies {
    margin-top: 20px;
}

/* === REVIEWS SATISFACTION PAGE === */

.reviews-satisfaction-page {
    padding-bottom: 25px;
}
.reviews-satisfaction-page .text-box {
    width: 775px;
}
.reviews-satisfaction-page .text-box .text {
    float: left;
    width: 570px;
}
.reviews-satisfaction-page .text-box .image {
    float: right;
    width: 200px;
    text-align: right;
    margin-top: -45px;
    position: relative;
}
.reviews-satisfaction-page .text-box .image .value {
    position: absolute;
    color: white;
    font-size: 100px;
    top: 5px;
    left: 45px;
}
.reviews-satisfaction-page .text-box a {
    text-decoration: none;
}
.reviews-satisfaction-page .box-chart {
    width: 775px;
}
.reviews-satisfaction-page .box-chart .left {
    float: left;
    width: 450px;
}
.reviews-satisfaction-page .grid2 td {
    color: #666;
}

/* === FEEDBACK PAGE === */
.feedback{
    margin:auto;
    width:450px;
    border:0px solid blue;
    overflow: visible;
}
.feedback .number_format {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-right:12px;
}
.feedback .lbl_format {
    padding-top: 1px;
    font-weight: bold;
    font-size: 13px;
    color:#686868;
}
.feedback .lbl_format label {
    font-size: 13px;
    font-weight: bold;
    color:#686868;
}
.feedback h1 {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top:15px;
    font-size: 22px;
    color: #080808;
}

.feedback .fright{
    float: left;
    padding: 0 8px 0px 0;
}
.feedback .td_format{
    padding-bottom: 0px;
}
.feedback .feeddback_radio{
    float:left;
}
.feedback_text{
    padding-top: 30px;
    text-align: center;
    font-size: 12px;
    font-style: italic
}
.feedback_text p{
    margin:0;
    padding:0;
}
.feedback h1 .heart{
    color:#fd6000;
    font-size: 24px;
}
.feedback .radioSet {
    padding-top:20px;
    padding-bottom:15px;
    padding-left:25px;
}

.feedback .radioSet label {
    color: #686868;
    font-size: 17px;
    font-weight: bold;
    padding-right: 25px;
}

.feedback .radioSet input{
    vertical-align: top;
    height: 19px;
}

.feedback label[for="radioPositive"]{
    color: #686868;

}
.feedback label[for="radioNeutral"]{
    color: #686868;
}
.feedback label[for="radioNegative"]{
    color: #686868;
}
.feedback .radioSet .selected {
    color:#FF6600
}

.popup div.flash.info{
    margin:auto;
    width:550px;
}
/* === Jorney PAGE === */

.Financial_Services .moreInfo a{
    color: #a62335;
}
.Financial_Services .header{
    color: #a62335;
    background-image:url('../imgs/financial-services.png');
}

.Marketing .moreInfo a{
    color: #3aa323;
}
.Marketing .header  {
    color: #3aa323;
    background-image:url('../imgs/marketing.png');
}

.Online_Technology .moreInfo a{
    color: #2322aa;
}
.Online_Technology .header {
    color: #2322aa;
    background-image:url('../imgs/online-tech.png');
}

.Business_Services .moreInfo a{
    color: #227ba7;
}
.Business_Services .header {
    color: #227ba7;
    background-image:url('../imgs/business-services.png');
}

.cf-choose-bank-account {
    font-size: 14px;
    color: #666
}

.cf-choose-bank-account .cf-barcklays-account,.cf-choose-bank-account .cf-hsbc-account {
    border: 1px solid #CCCCCC;
    padding: 15px;
}

.cf-choose-bank-account p.cf-p {
    margin-bottom: 20px;
    color: #000;
}
.cf-choose-bank-account .product-img {
    width: 78px;
    height: 78px;
    float: left;
    margin-right: 30px;
}

.cf-choose-bank-account .product {
    float: left;
    margin-right: 30px;
    padding-top: 10px;
    width: 430px;
}
.cf-choose-bank-account .product h4 {
    font-size: 26px;
    color: #000;
}
.cf-choose-bank-account .product .silver_text {
    color: #666;
    padding-top: 12px;
}
.cf-choose-bank-account .cf-more-info a{
    float: right;
}
.cf-choose-bank-account .select{
    float: left;
    padding-top:25px;
}
.cf-choose-bank-account .no-top-border {
    border-top: 0;
}

.cf-choose-bank-account .btn-choose {
    background:url(../imgs/orangebtn-greybg.png) center center no-repeat;

}

/* === Matrix PAGE === */

.new-matrix-search{
    border:1px solid #b7b7b7;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-result-name{
    padding-left: 50px;
}

.search-result-name .result-name-text {
    float:left;
    width: 410px;
    height:auto;
}

.search-result-name .result-name-time {
    float:right;
    width:297px;
    height: 64px;
    margin-left:10px;
    margin-right: 30px;
    background:url(../imgs/matrix/timmer.jpg) center center no-repeat;
}

.search-result-name .result-name-text p {
    font-size: 20px;
    color:#000;
}
.search-result-name .result-name-text p  span{}

.search-result-name .result-name-tick{
    width: 24px;
    height: 24px;
    float: left;
    margin-top:4px;
    margin-left:5px;
    margin-right: 40px;
    background:url(../imgs/matrix/silver-odd-tick.jpg) center center no-repeat;
}


.matrix-pakages-table{
    width: 895px;background-color: white;margin: auto;margin-top:20px;
    height: auto;
}
.matrix-pakages-table-head{
    height: 21px;
    background:url(../imgs/matrix/headertop.jpg) left 2px no-repeat;
}


.matrix-package-head-last{
    border-right: 1px solid blue;
}

.matrix-silver-body{
    background:url(../imgs/matrix/mid-silver-td.jpg) top center repeat-y;
}

.no-left-border{
    border-left: none;
}


.matrix-column-top{
    width: 147px;
    height: auto;
    float: left;
}

.matrix-column-top-silver {
    float: left;
    width: 156px;
}

.matrix-package-head, .matrix-package-bottom{

    border-left: 1px solid #b0d8ec;
}

.matrix-package-head{
    background:url(../imgs/matrix/toptablegradient.jpg) top center repeat-x #f0eee5;
    border-top: 1px solid #b0d8ec;
}

.matrix-package-bottom {
    background-color: #f0eee5;
    border-bottom: 1px solid #b0d8ec;
}


.matrix-silver-head{
    background:url(../imgs/matrix/silver-top.jpg) bottom center repeat-x;
    height: 19px;
}

.matrix-package-name{
    font-family: arial, Helvetica,sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #004e75;
    text-shadow: 1px 1px 1px #C1D9E5;
    padding-bottom: 10px;
    padding-top: 10px;

}

.matrix-package-text{
    font-family: arial, Helvetica,sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #464646;
    height: 30px;
    padding-bottom: 19px;
    vertical-align: central;
}
.matrix-package-text-price{
    font-family: arial, Helvetica,sans-serif;
    text-align: center;
    line-height: 15px;
    height: 15px;
    margin-bottom: 8px;
    color: #000;

}

.matrix-last-top{
    padding-bottom: 12px;
}

.silver-black-color{
    color: #000;
}
.package-separator{
    background:url(../imgs/matrix/separator-gradient.jpg) top center repeat-x;
    height: 2px;
    width: 130px;
    margin: auto;
    margin-top:0px;
    margin-bottom: 15px;
}
.matrix-package-head p {
    padding-top: 3px;
}

.matrix-package-price{
    text-align: left;
    padding-left:8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #818283;
}

.matrix-btn {
    display:block;
    background:url(../imgs/matrix/btn.jpg) -1px -1px no-repeat;
    width:124px;
    height:27px;
    line-height: 15px;
    margin:auto;
    color:#ffffff;
    text-decoration:none;
    font-size:13px;
    font-weight:bold;
    text-align:center;
    padding:5px 5px 0 0;
}

.matrix-btn-silver {
    display:block;
    background:url(../imgs/matrix/silver-btn.jpg) -1px -1px no-repeat;
    width:124px;
    height:27px;
    line-height: 15px;
    margin:auto;
    color:#000;
    text-decoration:none;
    font-size:13px;
    font-weight:bold;
    text-align:center;
    padding:5px 5px 0 0;
}


.matrix-btn-silver-small-up {
    display:block;
    background:url(../imgs/matrix/btn-silver-small.jpg) bottom left no-repeat;
    width:89px;
    height:20px;
    line-height: 20px;
    margin:auto;
    color:#000;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    padding:5px 5px 0 0;
    margin-left:9px;
}

.matrix-btn-small-up {
    display:block;
    background:url(../imgs/matrix/btn-small.jpg) bottom left no-repeat;
    width:89px;
    height:20px;
    line-height: 20px;
    margin:auto;
    color:#fff;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    padding:5px 5px 0 0;
}

.padding-bottom {
    padding-bottom: 10px;
}

.matrix-last-pakage{
    border-right: 1px solid #b0d8ec;
}


.matrix-silver-bottom{
    background:url(../imgs/matrix/silver-bottom.jpg) bottom left no-repeat;
    height: 19px;
}

.matrix-middle-table {
    float:left;
    background-color: #f0eee5;
    width: 147px;
}

.matrix-middle-table-silver {
    background:url(../imgs/matrix/silver-gradient.jpg) top center repeat-y;
    float:left;
    width: 157px;
}

.matrix-last-pakage-midd{

}

.midd-matrix-gradient{
    background:url(../imgs/matrix/middle-gradient.jpg) top left repeat-y;
}


.matrx-table-offers{
    border-collapse: collapse;
    width: 911px;
}
.matrx-table{
    border-collapse: collapse;
    width: 886px;
}


.matrx-table tr, .matrx-table td, .matrx-table th {
    padding: 0;
}

.matrix-table-head-up, .matrix-table-bottom-down {
    width: 147px;
    height: 19px;
}

.matrix-table-head {
    height: auto;
    width: 146px;
    background:#cfebf9 url(../imgs/matrix/pakage-top-gradient.jpg) top center repeat-x;
    border-top: 1px solid #bce2f6;
    border-left:1px solid #bce2f6;

}

.matrix-table-head-up-silver{
    background:url(../imgs/matrix/silver-top.jpg) bottom left no-repeat;
    height: 19px;
    width: 156px;
}

.matrix-table-head-silver, .matrix-table-bottom-silver {
    background:url(../imgs/matrix/silver-gradient.jpg) top left repeat-y;
}

.matrix-table-midd-silver{
    background:url(../imgs/matrix/silver-offer-gradient.jpg) -1px top repeat-y;
}

.matrix-table-bottom {
    background-color: #f4f2f2;
    border-bottom: 1px solid #bce2f6;
    border-left:1px solid #bce2f6;
}

.matrix-table-bottom-down-silver{
    background:url(../imgs/matrix/silver-bottom.jpg) top left no-repeat;
}

.matrix-head-info-pakages{
    background: #f4f2f2;
    border-left:1px solid #bce2f6;
    padding-bottom: 20px;
}

.pakage-info-p{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 146px;
    padding-top: 20px;
}

.pakage-info-p-silver{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 156px;
    padding-top: 20px;
}

.matrix-year-package{
    background:url(../imgs/matrix/year.jpg) top left no-repeat;
    color: #fff;
    width: 53px;
    height: 15px;
    line-height: 15px;
    margin: auto;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 0px;

}

.matrix-year-text-package{
    display:block;
    color: #000;
    margin-top:-3px;
    margin-left: 0px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    font-size:13px;

}

.matrix-price-size{
    font-size: 14px;
    font-weight: bold;
}

.pakage-line-separator{
    background: #34A0EB;
    border-left: 1px solid #34A0EB;
    border-right: 1px solid #34A0EB;
}

.pakage-line-separator p{
    text-align: left;
    color: white;
    font-size: 17px;
    padding: 4px;
    font-weight: normal;
    margin-left: 12px;
}

.pakage-line-separator p span{
    font-size: 12px;
}

.matrx-table-offers-info-head, .matrx-table-offers-silver-head, .matrx-table-offers-head{height: 13px;}
.matrx-table-offers-info-head, .matrx-table-offers-info-body, .matrx-offers-info-bottom-body, .matrx-offers-info-bottom, .matrx-table-offers-info-content{width: 300px;}
.matrx-table-offers-info-head{background-color: #fff}
.matrx-table-offers-info-body, .matrx-table-offers-body,.matrx-table-offers-body-silver{
    height: 69px;
}

.matrx-table-offers-info-body{
    border-top: 1px solid #c3bea9;
    border-left: 1px solid #c3bea9;
    border-bottom: 1px solid #c3bea9;
    background-color: white;
    text-align: center;
    font-size: 22px;
    color: #000;
    font-weight: bold;
}

.matrx-table-offers-head{
    width: 100px;
    background-color: #fff;

}
.matrx-table-offers-body{
    width: 100px;
    border-top: 1px solid #cad9d9;
    border-left: 1px solid #b8d4e0;
    border-bottom: 1px solid #c3bea9;
    background:url(../imgs/matrix/package-details-gradient-top.jpg) top left repeat-x;
}

.matrx-table-offers-silver-head{
    width:107px;
    background:#fff url(../imgs/matrix/silver-top-offer.jpg) bottom left no-repeat;
}
.matrx-table-offers-body-silver{
    width:107px;
    border-bottom: 1px solid #c3bea9;
    background:url(../imgs/matrix/silver-top-gradient.jpg) top left repeat-y;
}

/* === Matrix Offers bottom === */

.matrx-offers-info-bottom-body{border: 0px solid black;}
.matrx-table-offers-body-bottom{width: 100px;border-left: 1px solid #b8d4e0;border-bottom: 1px solid #b8d4e0;background-color: #f4f2f2;padding-top: 12px;}
.matrx-table-offers-body-bottom-silver{
    width: 100px;border: 0px solid black;
    padding-top: 8px;
    background:url(../imgs/matrix/silver-top-gradient.jpg) top left repeat-y;

}

.matrx-offers-info-bottom{height: 20px;}
.matrx-offers-bottom{width: 100px;height: 20px;}
.matrx-offers-bottom-silver{
    width: 100px;
    height: 13px;
    background:url(../imgs/matrix/silver-bottom-offer.jpg) top left no-repeat;
}


/* offer content */
.matrx-table-offers-info-content{border-left: 1px solid #c3bea9;height: auto;border-bottom: 1px solid #c3bea9;}
.matrx-table-offers-content{width: 100px;border-left: 1px solid #B8D4E0;height: auto; border-bottom: 1px solid #c3bea9;}
.matrx-table-offers-content-silver{
    background:url(../imgs/matrix/silver-midd-gradient.jpg) top left repeat-y;
    border-bottom: 1px solid #c3bea9;
}
.matrx-table-offers-content-silver-odd{
    background:url(../imgs/matrix/silver-odd-gradient.jpg) top left repeat-y;
    border-bottom: 1px solid #c3bea9;
}

.matrx-table-offers .oddRow{
    background: #f4f2f2;
}
.matrx-table-offers .evenRow{
    background: #e3e1e1;
}

.matrx-table-offers .oddRowColumn{
    background: #fefefe;
}
.matrx-table-offers .evenRowColumn{
    background: #ececec;
}

.matrix-pakage-tick, .matrix-pakage-tick-odd, .matrix-pakage-tick-silver, .matrix-pakage-tick-silver-odd{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: auto;
}

.matrix-pakage-tick{
    background: transparent url(../imgs/matrix/tick-lightbrown.png) top left no-repeat;

}

.matrix-pakage-tick-odd {
    background: transparent url(../imgs/matrix/tick-brown.png) top left no-repeat;
}

.matrix-pakage-tick-silver{
    background: transparent url(../imgs/matrix/silver-odd-tick.jpg) top left no-repeat;
}

.matrix-pakage-tick-silver-odd {
    background: transparent url(../imgs/matrix/silver-even-tick.jpg) top left no-repeat;
}


.matrix-package-name-offer{
    font-family: arial, Helvetica,sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #004e75;
    padding-top: 1px;
    text-shadow: 1px 1px 1px #C1D9E5;
}

.matrix-price-small,.matrix-value-small,.matrix-save-small{padding-left:8px;font-size: 12px;font-weight: bold;color: #726c5e; padding-top:4px;}
.matrix-value-silver-small,.matrix-price-silver-small,.matrix-save-silver-small{padding-left:13px;font-size: 12px;font-weight: bold;color: #000;}
.matrix-price-silver-small{padding-top: 6px;}
.matrix-value-silver-small{padding-top: 0px;}
.go-to-top{
    padding-top:7px;
    padding-left: 10px;
}

.matrix-table-head-up-silver .ribbon {
    background: url(../imgs/matrix/ribbon.png) no-repeat scroll center top transparent;
    height: 80px;
    margin-left: 90px;
    margin-top: -17px;
    margin-right: 7px;
    position: absolute;
    width: 80px;
    z-index: 100;
    display:inline;

}


/*.tooltip {
    display:none;
    padding: 4px;
    background:#f4f2f2 ;
    border:1px solid #a3c3cd;
    padding:3px;
    color: #464646;
    margin-left: 10px;
    padding: 10px;
    width: 170px;
    font-size:13px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    opacity: 1;
}

.tooltip .img-arrow{
    background:transparent url(../imgs/matrix/tickbox-arrow.jpg) left center no-repeat;
    position: absolute ;
    top:50%;
    margin-top: -8px;
    left: -10px;
    width: 10px;
    height: 17px;
}*/


.result-name-time{
    overflow: hidden;
}
.result-name-time .same-day-txt{
    padding-left: 63px;
    font-weight: bold;
    font-size: 13px;
    padding-top: 15px;
}

.result-name-time .same-day-time{
    padding-top: 0;
    padding-left: 70px;
    font-weight: bold;
    font-size: 12px;
    padding-right: 30px;
    text-align: right;
}

.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
}

.matrix-separator{
    width: 850px;
    margin-left: 35px;
}
.matrix-left-separator, .matrix-separator-text,.matrix-right-separator{
    float: left;
}

.matrix-right-separator,.matrix-left-separator{width: 115px;}
.matrix-left-separator{
    height: 10px;
    border-left: 1px solid #a0caf9;
    border-top: 1px solid #a0caf9;
    margin-top: 10px;
}
.matrix-right-separator{
    height: 10px;
    border-right: 1px solid #a0caf9;
    border-top: 1px solid #a0caf9;
    margin-top: 10px;
}
.matrix-separator-text{color: white;padding-left: 5px;padding-right: 5px;padding-top: 3px;}
.matrix-package-name-silver, .matrix-package-name-offer-silver{color: #000;text-shadow: -1px 1px 1px #E9E9E9;}
.result-name-time-off
{
    width:460px;
    margin-left:10px;
    float: left;
}
.result-name-time-off p {font-size: 18px;font-weight: bold;}
.result-name-time-off ul{ width: 425px; padding: 0px; margin-left: 20px;}
.result-name-time-off ul li { color: #464646; font-size: 12px; padding-left: 0px;}
.result-name-time-off .separator-li {border-top:1px solid #dbdada;height: 1px;line-height: 1px;margin-top: 5px;margin-bottom: 5px;width: 434px;margin-left: 10px;}
.why-use-cms-text{background:transparent url(../imgs/matrix/bullet-image.png) left center no-repeat;padding-left: 10px;margin-left: 10px;}
.text-separator-up
{
    margin-left: 40px;
    width: 450px;
    color:#434343;
    padding-left: 25px;
    background:transparent url(../imgs/matrix/exclamation.png) left top no-repeat;
}

.info-z-index{
    height: 61px;
    width: 323px;
    position: absolute; bottom: -10px; left: 41%;
    margin: auto;
    background:transparent url(../imgs/matrix/scroll-down.png) center top no-repeat;
}

.silver-top-shadow{
    text-shadow: -1px 1px 1px #E9E9E9;
}

.ribbon{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/front/imgs/matrix/ribbon.png, sizingMethod='scale');}



.payment-imgs {
    background: url("../imgs/pay-via-credit.png") no-repeat scroll left -2px transparent;
    border: 0 solid blue;
    float: right;
    height: 33px;
    width: 250px;
    margin-left: 10px;
}

.paypal-payment-imgs {
    background: url("../imgs/pay-via-paypal.png") no-repeat scroll left -2px transparent;
    border: 0 solid blue;
    float: right;
    height: 33px;
    width: 250px;
}

.sage-payment-form .pRadioLabelSpan {

    font-size: 15px;
    text-align: left;
    vertical-align: top;
    padding-top: 10px;
}

.payment-imgs_n {
    background: url("../imgs/visa.png") no-repeat scroll left -2px transparent;
    border: 0 solid blue;
    display:inline-block;
    height: 40px;
    width: 240px;
    margin-left: 10px;
}

.paypal-payment-imgs_n {
    background: url("../imgs/paypal.png") no-repeat scroll left -2px transparent;
    border: 0 solid blue;
    display:inline-block;
    height: 38px;
    width: 125px;
    margin-left: 125px;
    vertical-align:middle;
}

.pRadioLabelSpan_n {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    margin-left:-30px;
    width:180px;
}

.onaccount-payment-text {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    vertical-align: top;
    padding-top: 10px;
    margin-left: 20px;
    font-weight:normal;
}
.onaccount-payment-text_n {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    font-weight:normal;
    padding-left: 45px;
}

.text250 {
    width: 250px;
}

.new-payment-setps{
    height: 43px;
    line-height: 43px;
}

#amex-cvv-hint {
    display: none;
}

#amex-cvv-hint > img {
    width: 100%;
}

div#home-page-top{
    width: 978px;
    margin-bottom: 15px;
    background: url("../imgs/home-page/home-page-top-bg3.png") no-repeat scroll left bottom transparent;
    height: auto;
    font-family: arial, helvetica, sans-serif;
    padding-left: 1px;
    color: #3a3a3a;

}
div#home-page-top div.home-page-top-left{
    float: left;
    width: 650px;
}
div#home-page-top div.home-page-top-right{
    height: 380px;
    float: right;
    width: 245px;
    background: url("../imgs/home-page/hpme-page-top-satisfied.png") no-repeat scroll center right transparent;
}


div#home-page-left-side {
    width: 690px;
    float: left;
    padding: 2px;
    color: #3a3a3a;
}

div#home-page-top h1, div#home-page-top h2{
    color: #000;
}

div#home-page-top h1{
    font-size: 30px;
    font-weight: bold;
}

div#home-page-right-side, div.home-page p.bottom-home-page-info, div#home-page-left-side
{
    margin-bottom: 10px;
}

div#home-page-right-side {
    width: 245px;
    float: right;
    color: #3a3a3a;
}

div.home-page-right-side-partners {
    margin-bottom: 20px;
    height: 500px;
    text-align: right;
}

div.home-page p.bottom-home-page-info {
    text-align: right;
}

div.home-page-top-left-headers {
    width: 570px;
}

div.home-page-top-left-headers h2 {
    margin-top:30px;
}

div.home-page div.home-page-search-top-form {
    margin-top:25px;
    height: 30px;
    padding-left: 23px;
}

div.home-page-search-top-form input#q {
    border: none;
    font-size: 22px;
    color: #000;
    line-height: 52px;
    height: 52px;
    vertical-align: middle;
    width: 462px;
    padding-left: 5px;
    outline: none;
    background: url("../imgs/home-page/home-page-input-bg.png") no-repeat scroll -1px center transparent;
}

div.home-page-search-top-form input#q::-webkit-input-placeholder {
    color: #969696;
}
div.home-page-search-top-form input#q:-moz-placeholder {
    color: #969696;
}
div.home-page-search-top-form input#q:-ms-input-placeholder {
    color: #969696;
}


div.home-page input.home-page-search-top-form-submit {
    width: 127px;
    height: auto;
}
div.home-page div.home-page-search-top-text {
    padding-left: 27px;
    margin-top: 45px;
    color: #fff;
    font-size: 18px;
}

div.home-page div.home-page-top-right-info {
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 5px;
    line-height: 23px;
    font-size: 14px;
    background: url("../imgs/home-page/home-page-satisfied-quotes-ip.png") no-repeat scroll 185px bottom transparent;
}

div.home-page div.home-page-top-right-author{
    margin-left: 30px;
    margin-top: 30px;
}
div.home-page div.home-page-top-right-author div.home-page-top-author-left {
    float:left;
    width: 80px;
    background: url("../imgs/home-page/events-protocols-logo.png") no-repeat scroll top left transparent;
    height: 63px;
    margin-right: 10px;
}

div.home-page div.home-page-top-right-author div.home-page-top-author-left1 {
    float:left;
    width: 50px;
    background: url("../imgs/matrix-new/everfx.png") no-repeat scroll top left transparent;
    height: 63px;
    margin-right: 4px;
}

div.home-page div.home-page-top-right-author div.home-page-top-author-left2 {
    float:left;
    width: 50px;
    background: url("../imgs/matrix-new/hex.png") no-repeat scroll top left transparent;
    height: 63px;
    margin-right: 1px;
}

div.home-page div.home-page-top-right-author div.home-page-top-author-left3 {
    float:left;
    width: 50px;
    background: url("../imgs/matrix-new/rak.png") no-repeat scroll top left transparent;
    height: 63px;
    margin-right: 10px;
}



div.home-page div.home-page-top-right-author div.home-page-top-author-right{ float:left; }

div.home-page div.home-page-bottom-form {
    background: url("../imgs/home-page/home-page-bottom-form-bg.png") no-repeat scroll left bottom transparent;
    height: 171px;
    width: 647px;
}

div.home-page div#home-page-left-side h3 {
    font-size: 30px;
    color: #000;
    font-weight: normal;
}

div.home-page div#home-page-left-side h4 {
    font-size: 25px;
    color: #000;
}

div.home-page-compare-packages{
    width: 555px;margin: auto;
    height: 153px;
    margin-bottom: 20px;
    margin-top: 20px;
}

div.home-page-why-choose-us-left{
    float: left;
    width: 45px;
    height: 305px;
    background: url("../imgs/home-page/home-page-why-choose.png") no-repeat scroll left top transparent;
}
div.home-page-why-choose-us-right{
    float: left;
    width: 600px;
    padding-left: 10px;
    line-height: 20px;
    font-size: 14px;
}

div.home-page-why-choose-us-right p {
    margin-bottom: 16px;
}

div.home-page-pakages-include  ul{
    padding-left: 0;
    margin-left: 0;

}

div.home-page-pakages-include  ul li {
    background: url("../imgs/home-page/home-page-list-tick.png") left top no-repeat;
    vertical-align: middle;
    list-style-type: none;
    line-height: 29px;
    padding-left: 30px;
    font-size: 15px;
}

a.home-page-tooltip-image {
    background: url("../imgs/home-page/home-page-tooltip.png") left center no-repeat;
    text-decoration: none;
    width: 30px;
    font-size: 17px;
}

div.home-page-about-us-left {
    float: left;
    width: 420px;
    height: 244px;
    margin-top:30px;
}
div.home-page-about-us-right {
    float: left;
    width: 100px;
    height: 264px;
    margin-left: 20px;
    background: url("../imgs/home-page/home-page-video-arrow.png") left top no-repeat;
}

div.home-page-about-us p {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 25px;
}

div.home-page-right-side-testimonials {
    width: 243px;
    float: right;
}
div.home-page-right-side-testimonials-top {
    background: url("../imgs/home-page/home-page-clients-top.png") left top no-repeat;
    color: #fff;
    padding-left: 20px;
    padding-top: 4px;
    font-size: 17px;
    height: 37px;
}

div.home-page-right-side-testimonials-midd {
    border-left: 1px solid #cdcdcd;
    border-right: 2px solid #cdcdcd;
    background-color: #e0e0e0;
    height: auto;
    width: 220px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 23px;
}

div.home-page-right-side-testimonials-bottom {
    width: 243px;
    height: 7px;
    background: url("../imgs/home-page/home-page-testimonials-bottom.png") left top no-repeat;
}

div.left-home-page-testimonial {
    background: url("../imgs/home-page/t-quotes-up.png") left bottom no-repeat;
    width: 26px;
    height: 30px;
    float: left;

}

div.right-home-page-testimonial {
    float: left;
    width: 180px;
    height: auto;
    padding-left: 5px;
    background: url("../imgs/home-page/t-quotes-down.png") scroll 130px bottom transparent no-repeat;
}

div.home-page-testimonial {
    margin-bottom: 15px;
}

/* ====================== 404 Page ====================== */
#body404{
    margin: 0;
    background: url("../imgs/404/wally.jpg") 70px 25px no-repeat;
}

#body404 p.h1 {color: #000; font-size: 85px; font-family: Arial; font-weight:bold; text-align:left; line-height:80px; letter-spacing: -5px;}
#body404 p.h2 {color: #666; font-size: 36px; font-family: Arial; font-weight:bold; text-align:left;}
#body404 p.h3 {color: #666; font-size: 16px; font-family: Arial; text-align:left; }
#body404 p.link1 {font-weight:bold; text-align:center;}
#body404 p.parah {color: #666; font-size: 18px; font-family: Arial; text-align:left; font-weight:bold;}
#body404 p.para {color: #666; font-size: 16px; font-family: Arial; text-align:left; line-height:22px; }

/* Cashback */
.cashback{
    margin:0px;
    padding:0px;
}
h1.cashback {
    font-size:24px;
    color:#000;
    font-weight:normal;
    line-height:1.5em;
    padding:0 0 10px 0;
}
h2.cashback {
    font-size:18px;
    color:#000;
    font-weight:normal;
    line-height:1.5em;
    border-bottom:1px solid #ccc;
    margin:0 0 10px 0;
}
h3.cashback {
    font-size:14px;
    color:#000;
    font-weight:bold;
    line-height:1.5em;
    padding:0 0 0 0;
}
p.cashback {
    font-size:13px;
    color:#000;
    font-weight:normal;
    line-height:1.5em;
    padding:0 0 10px 0;
}
span.cashback {
    font-size:13px;
    color:#aaa;
    font-weight:normal;
    line-height:30px;
    padding:0 0 0 5px;
}
.cashback label{
    font-size: 13px;
    font-weight:normal;
    line-height:30px;
    width: 160px;
    display: inline-block;
    text-align: right;
}
.cashback input{
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin:0px;
    padding:7px;
    font-size: 14px;
    width: 100px;
}
.cashbackTypeDescription{
    color:#aaa;
    margin-left:10px;
}
/* ====================== Regus Virtual Office ====================== */
#regwrap {
    border:1px solid #b5b5b5;
    width:970px;
    margin:0 0 20px 0;
    padding:0;
    display: inline-block;
}
#regtitle h2{
    color:#2f4363;
    font-size: 2.5em;
    font-weight: normal;
    margin:10px 5px 15px 10px;
    padding:0;
}
.topskip {
    background-color: #f1f1f2;
    color: #59595b;
    margin:0;
    padding:15px;
    display: inline-block;
    width:940px;
}
#skipleft {
    float: left;
    width: 550px;
}
.skipright {
    float: right;
    width: 150px;
    text-align: right;
}
.skipright a {
    color: #59595b;
    font-size: 1.3em;
}
#regmain {
    float:left;
    margin:0;
    padding:5px;
}
#regleft {
    float:left;
    margin:0;
    padding:10px;
    width:690px;
}
#regimg {
    background: url("../imgs/reg-build.png") no-repeat;
    width:690px;
    height:190px;
    margin:0;
    padding:0;
}
#reglist ul, #reglist li {
    margin:25px 25px 25px 15px;
    padding:0;
    color:#59595b;
    font-size:1.5em;
    line-height:1em;
}
#regtestim {
    float: left;
    margin: 10px 0 20px 20px;
    padding: 20px;
    width: 525px;
    background-color: #f2f2f2;
    color:#5e5e5e;
    font-size:1.5em;
}

#regqleft {
    font-size: 3em;
    position: relative;
    left: 0px;
    top: -5px;
}
#regqright {
    font-size: 3em;
    position: relative;
    top: 23px;
}
#regright {
    float:left;
    margin:0;
    padding:10px;
    width:230px;
}
#reg50off {
    background-color: #cd1f4e;
    color: #fff;
    margin: 0px;
    padding: 20px 10px;
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
}
#reglogo {
    background-color: #e7e7e7;
    margin:0;
    padding:10px;
    color:#2f4363;
    font-size: 1.2em;
}
#reglogo img {
    margin: 10px 0px;
}
#regformtable{
    background-color: #e7e7e7;
    color:#2f4363;
    padding:10px;
}
#regformtable input {
    height: auto;
    border: 1px solid #cccccc;
    padding: 3px;
    margin: 0px;
    width:205px;
}
#regformtable input[id="phone"]{
    margin: 0px;
    width:125px;
}
#regformtable select {
    height: auto;
    width: 50px !important;
    border: 1px solid #cccccc;
    padding: 2px;
    margin: 0px;
    vertical-align: middle;
}
#regformtable input[type="submit"] {
    border: 0px;
    background-color: #cd1543;
    color: #fff;
    width: 130px;
}
#regformtable label {
    padding: 0px;
}
#regformnote{
    color: #616163;
    font-size: 0.8em;
    margin-top: 5px;
}

#order-summary-page .summary-container {
    padding: 0;
}

#order-summary-page .summary-container h4 {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 0;
    border-left: 1px solid #e0e0e0;
    margin: 0;
    padding: 20px;
    color: #ff7c00;
}

#order-summary-page .summary-container .ff_control_err {
    display: inline-block;
    padding: 10px 0 0 0;
}

#order-summary-page .summary-service {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 0;
    border-left: 1px solid #e0e0e0;
    background: rgb(255, 255, 219);
    padding: 20px;
}

#order-summary-page .summary-service:last-child {
    border-bottom: 1px solid #e0e0e0;
}

#order-summary-page .summary-service h6 {
    font-size: 14px;
    margin-bottom: 10px;
}

#order-summary-page .summary-service .company-radio-container {
    margin-bottom: 10px;
}

#order-summary-page .summary-service .company-radio-container .company-radio-description {
    color: rgb(153, 153, 153);
}

#order-summary-page .summary-service .company-existing-container,
#order-summary-page .summary-service .company-import-container,
#order-summary-page .summary-imported .company-import-text,
#order-summary-page .summary-imported .company-import-edit {
    display: none;
}

#order-summary-page .summary-service .company-existing-container .company-existing-header,
#order-summary-page .summary-service .company-import-container .company-import-header {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

#order-summary-page .summary-service .company-existing-container .company-number-select-status {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

#order-summary-page .summary-service .company-import-container .company-import-info .company-name {
    color: #ff6600;
    font-size: 14px;
    font-weight: bold;
}

#order-summary-page .summary-service .company-import-container .company-import-info .company-edit {
    display: inline-block;
    margin-left: 10px;
}

#order-summary-page .summary-service .company-import-container .company-import-info .edit-import,
#order-summary-page .summary-service .company-import-container .company-import-info .edit-import[disabled=disabled] {
    outline: none;
    border: 0;
    display: inline-block;
    font-size: 12px;
    margin: -6px 0 0 0;
    padding: 0;
    background: transparent;
}

#order-summary-page .summary-service .company-import-container .company-import-info .edit-import[disabled=disabled] {
    text-decoration: none;
    color: #000;
}

#order-summary-page .summary-service .company-import-container .company-import-error {
    margin-top: 10px;
    color: #ff0000;
    font-style: italic;
    display: none;
}

#order-summary-page .summary-service .company-import-container .company-import-edit {
    display: none;
}

#order-summary-page .summary-service .company-import-container .company-import-text .forgot-link {
    margin-top: 10px;
    display: inline-block;
    width: 200px;
}

#order-summary-page .summary-service .company-import-container input {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin: 0 10px 0 0;
    padding: 7px;
    font-size: 14px;
}

#order-summary-page .container-msg .left-block {
    width: 480px;
    float: left;
}
#order-summary-page .container-msg .left-block .box {
    border: 1px solid #cccccc;
    padding: 10px;
}
#order-summary-page .container-msg .formtable td.voucher span {
    background: #ebebeb;
    padding: 0px 2px 1px 2px;
}
#order-summary-page .container-msg .formtable td.voucher .linkButton {
    font-size: 11px;
    color: black;
    text-decoration: none;
}

#order-summary-page .container-msg .left-block .barclays-box {
    margin: 30px 0 0 0;
    padding-right: 100px;
    background-position: 410px 30px;
}
#order-summary-page .container-msg .right-block {
    width: 470px;
    float: right;
}
#order-summary-page .container-msg .right-block table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #f8f8f8;
}
#order-summary-page .container-msg .right-block table th {
    padding: 5px 0 5px 0;
}
#order-summary-page .container-msg .right-block table th, #order-summary-page .container-msg .right-block table td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#order-summary-page .container-msg .right-block table th.first, #order-summary-page .container-msg .right-block table td.first {
    padding-left: 10px;
}
#order-summary-page .container-msg .right-block table th.dark, #order-summary-page .container-msg .right-block table td.dark {
    background: #ebebeb;
}
#order-summary-page .container-msg .right-block table th.center, #order-summary-page .container-msg .right-block table td.center {
    text-align: center;
}
#order-summary-page .container-msg .right-block table td {
    padding: 5px 0 5px 0px;
}

/* ====================== International ====================== */

#interp-matrix ul{
    list-style-type:none;
    padding: 0;
}
#interp-matrix ul li{
    background: url('../imgs/green-tick.png') no-repeat;
    margin:0px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 0;
}
#interp-matrix .padcard{
    padding: 20px;
}
#interp-matrix .left{
    float: left;
    width: 460px;
}
#interp-matrix .right{
    float: right;
    width: 460px;
}
#interp-matrix .team{
    background: url("../imgs/3people.png") no-repeat;
}
#interp-matrix .heart{
    background: url("../imgs/heart-icon.png") no-repeat;
}
#interp-matrix .idtick{
    background: url("../imgs/ID-tick.png") no-repeat 0px 10px;
}
#interp-matrix .flags{
    background: #fcf3d5 url("../imgs/int-flags.png") no-repeat bottom;
    height: 130px;
}
#interp-matrix .flags p{
    text-align: center;
    font-size: 12px;
    padding: 10px 30px 0 30px;
}
#interp-matrix .quote{
    height: 130px;
}
#interp-matrix .quote .lquote{
    color: #757575;
    position: relative;
    top: -15px;
    left: 10px;
    font-size: 80px;
}
#interp-matrix .quote .rquote{
    color: #bdbdbd;
    position: relative;
    top: -170px;
    left: 235px;
    font-size: 110px;
}
#interp-matrix .quote .fquote{
    position: relative;
    top: -255px;
    left: 45px;
    line-height: 20px;
    display: block;
    font-size: 12px;
    color: #666666;
}
#interp-matrix .quote p{
    position: relative;
    top: -105px;
    left: 45px;
    line-height: 22px;
    width:  400px;
}
#interp-matrix .team h3,
#interp-matrix .team p,
#interp-matrix .heart h3,
#interp-matrix .heart p{
    padding: 0 0 0 60px;
}
#interp-matrix .intmatrix{
    width: 795px;
    margin: 0 auto;
}
#interp-matrix .intmatrix .intmatrixcl{
    width: 265px;
    display: block;
    float: left;
}
#interp-matrix .intmatrix .intmatrixcl .borderwhitelr{
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
}
#interp-matrix .intmatrix .intmatrixcl .bordergreyl{
    border-left: 4px solid #f2f3f5;
}
#interp-matrix .intmatrix .intmatrixcl .bordergreyr{
    border-right: 4px solid #f2f3f5;
}
#interp-matrix .intmatrix .intmatrixcl .bordergreytb{
    border-top: 4px solid #f2f3f5;
    border-bottom: 4px solid #f2f3f5;
}
.int-tooltip{
    background: url('/front/imgs/matrix-new/price-question1.png') no-repeat;
}
.int-tooltip a{
    text-decoration: none;
}
#international-banner{
    background: url("../imgs/international-banner.png") no-repeat;
    width:950px;
    height:139px;
    margin:30px auto;
    padding:10px 15px;
    border: 1px solid #c4c4c4;
}
#international-banner h2{
    color:#000;
    font-size:24px;
    margin:0px;
    padding:0px;
    line-height: 35px;
}
#international-banner .matrix1-btn1{
    background: url("../imgs/matrix-new/btn-transp.png") no-repeat scroll center bottom transparent;
}
#interp-matrix .col10 {width: 10%;}
#interp-matrix .col90 {width: 90%;}
#interp-matrix .col100 {width: 100%;}

/* ------ New Packages Pages ------ */
#newprod {
    font-family: Arial, Helvetica, sans-serif;
}
#newprod h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 50px;
    color: #272727;
}
#newprod h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 42px;
    color: #272727;
}
#newprod h3 {
    font-size: 28px;
    font-weight: normal;
    line-height: 38px;
    color: #272727;
}
#newprod h4 {
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    color: #272727;
}
#newprod h5 {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: #272727;
    margin-bottom: 5px;
}
#newprod h6 {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #272727;
}
#newprod p{
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    color: #666666;
    padding: 0;
    margin-bottom: 2.4em;
}
#newprod ul li {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    color: #666666;
    padding: 0;
}
#newprod ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 2.4em;
}
#newprod .btn-orange {
    background: #ff7b00;
    background-image: -webkit-linear-gradient(top, #ff7b00, #ff4e00);
    background-image: -moz-linear-gradient(top, #ff7b00, #ff4e00);
    background-image: -ms-linear-gradient(top, #ff7b00, #ff4e00);
    background-image: -o-linear-gradient(top, #ff7b00, #ff4e00);
    background-image: linear-gradient(to bottom, #ff7b00, #ff4e00);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 32px 12px 32px;
    text-decoration: none;
    display: inline-block;
}
#newprod .btn-blue {
    background: #ff7b00;
    background-image: -webkit-linear-gradient(top, #21a6cb, #0b7bac);
    background-image: -moz-linear-gradient(top, #21a6cb, #0b7bac);
    background-image: -ms-linear-gradient(top, #21a6cb, #0b7bac);
    background-image: -o-linear-gradient(top, #21a6cb, #0b7bac);
    background-image: linear-gradient(to bottom, #21a6cb, #0b7bac);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    padding: 12px 32px 12px 32px;
    text-decoration: none;
    display: inline-block;
}
#newprod .bggrey1 {
    background-color: #f9f9f9;
}
#newprod .bgblue1 {
    background-color: #e8f7ff;
}
#newprod .blueprice {
    font-size: 42px;
    font-weight: bold;
    color: #2996ce;
}
#newprod .toolkit {
    float: right;
    top: -40px;
    right: 15px;
    position: relative;
    height: 183px;
    width: 226px;
}
#newprod div {float: left;}
#newprod .col10 {width: 10%;}
#newprod .col20 {width: 20%;}
#newprod .col40 {width: 40%;}
#newprod .col50 {width: 50%;}
#newprod .col60 {width: 60%;}
#newprod .col80 {width: 80%;}
#newprod .col90 {width: 90%;}
#newprod .col100 {width: 100%;}

/* ------ My Services page ------ */

.my-services-page .flash.info2.payment-method-flash {
    background: #FCF8E2 no-repeat;
    border: 1px solid #FBEDD4;
    color: #AC8E47;
    width: 96%;
    padding: 15px;
    margin: 15px 0 0 0;
}

.tooltip-link {
    display: inline-block;
}

.tooltip-link .tooltip {
    line-height: 14px;
    font-weight: normal;
    text-align: left;
    z-index: 21;
}

.my-services-page .autorenewal-popover-link {
    font-size: 12px;
    margin-left: 5px;
}

.my-services-page .renewal-price.disabled label {
    color: #999;
}

.my-services-page .autorenewal-popover-flash {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px;
    text-align: center;
}

.my-services-page .service-row .popover {
    max-width: 206px;
}

/* New Journey Offers */
.bgjourney1 {background: url("../imgs/journey_bg1.png") no-repeat 0px center;}
.bgjourney2 {background: url("../imgs/journey_bg2.png") no-repeat 0px center;}
.bgjourney3 {background: url("../imgs/journey_bg3.png") no-repeat 0px center;}

ul.bluetick2 {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.bluetick2 li {
    background: url("../imgs/bluetick2.png") no-repeat 0px center;
    padding: 10px 0 10px 60px;
    line-height: 20px;
}

#tracy-debug {
    z-index: 16000002;
}

.toolkit-offers-form .checkbox {
    display: inline-block;
}

.purchase-confirmation-form .checkbox {
    display: inline-block;
    margin-bottom: 0;
}

.purchase-confirmation-form .tooltip-link {
    vertical-align: middle;
}

.purchase-confirmation-form .purchase-confirmation-renewal-info {
    padding-left: 20px;
}

.purchase-confirmation-form .purchase-confirmation-renewal-info p {
    padding-top: 2px;
}

.purchase-confirmation-summary {
    padding: 20px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* PPC PAGES 2015 */
.f-sterling{
    font-family: "Foundry Sterling W01";
    font-weight: 300;
}
.hp-f-sterling{
    font-family: "Foundry Sterling W01";
    font-weight: 200;
}
.hp-girl-laptop{
    background-image: url('/front/imgs/ppc2015/hp-girl-laptop.png');
    background-repeat: no-repeat;
    width: 1000px;
    height: 627px;
    top: -12px;
    left: -10px;
}
.hp-grey-overlay{
    background-color:rgba(87, 88, 90, 0.8);
    bottom: 0px;
}
.hp-search-bg{
    padding: 40px 30px;
    top: 5px;
    left: 30px;
}
.hp-search-bg form{
    background-color: #fff;
    padding: 2px;
    border-radius: 2px;
}
.hp-search-bg input[type="text"]{
    border: 0px;
    padding: 5px;
    font-size: 19px;
    font-weight: 100;
    width: 320px;
}
.hp-search-bg input[type="submit"]{
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
}
.hp-feefo-bg{
    background-image: url('/front/imgs/ppc2015/feefo-background-box.png');
    background-repeat: no-repeat;
    padding: 40px 20px 10px 30px;
    width: 311px;
    height: 138px;
    top: 110px;
    right: 10px;
}
.hp-pro-choice{
    background-image: url('/front/imgs/ppc2015/professionals-background.png');
    background-repeat: no-repeat;
    width: 1000px;
    height: 231px;
    left: -10px;
}
.hp-overseas-res{
    background-image: url('/front/imgs/ppc2015/international-globe-background.png');
    background-repeat: no-repeat;
    width: 1000px;
    height: 231px;
    left: -10px;
}
.hp-lower-icons{
    width: 1000px;
    left: -10px;
    padding: 20px 0;
    margin-bottom: -10px;
}

/* MAIL FWD OFFER 2015 */
.hp-mfoffer{
    background-image: url('/front/imgs/mf_offer.png');
    background-repeat: no-repeat;
    background-position: top right;
    width: 1000px;
    top: -12px;
    left: -10px;
}

.hp-mfquote{
    width: 940px;
    left: -10px;
}

/* Font awesome bullet point */
ul.facheck {padding: 0; list-style:none; }
li.facheck {margin-bottom:10px; }
li.facheck:before {
    font-family: 'FontAwesome';
    content: '\f058';
    color: #009fda;
    margin:0 15px 0 0px;
    font-size: 35px;
    vertical-align: middle;
}

/* ======================================== ID DOCS BOX =================================== */
#iddocs-left{
     float:left;
     width:30%;
     margin:10px 0 30px 0;
     padding:0 20px 0 0;
}
#iddocs-left h2,h3{
    margin:0 0 10px 0;
    color:#333333;
}
#iddocs-right{
    float:left;
    width:auto;
    margin:10px 0 0 0;
    padding:0 0 0 20px;
    border-left: 1px solid #ccc;
    width: 65%;
    color:#333333;
    font-size: 13px;
}
#iddocs-right h3{
    font-size:17px;
}
#iddocs-right .iddocs-header {
    font-size: 18px;
    border-bottom: 1px dotted #999;
    margin-top: 25px;
}

.idcontent ul{
    padding: 0;
}
.idcontent ul ul{
    padding: 0;
}
.idcontent ul p{
    color:#333333;
    font-size: 13px;
    line-height: 19px;
}
.idcontent h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#333333;
    font-size: 15px;
    line-height: 19px;
}
.idcontent ul li{
    background: none;
    list-style-type: disc;
    padding: 0px;
    margin: 0px 20px;
    line-height: 19px;
}
.idcontent ul li.cbox{
    background: url(../imgs/cbox.png) 0px 0px no-repeat;
    list-style: none;
    margin: 0px;
    padding: 0 0 20px 20px;
}
.toggle-btn-grp.cssonly * {
    width:240px;
    height:40px;
}
.toggle-btn-grp.cssonly div {
    display:inline-block;
    position:relative;
    margin:0 0 20px 0;
}

.toggle-btn-grp.cssonly div a {
    position:absolute;
    z-index:0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0 0 0 10px;
    line-height: 40px;
    color: #000;
    text-decoration: none;
}

.toggle-btn-grp.cssonly div:hover a {
    text-decoration:none;
    background:#ebebeb;
}

.toggle-btn-on  {
    text-decoration:none;
    background:#ebebeb;
}

#passport input:read-only {
    background-color: #ccc;
}

.single-checkbox-input {
    vertical-align: top;
}

.single-checkbox-label {
    padding-left: 5px;
    width: 90%;
}

/* FAQ COLLAPSIBLE*/
#faqs .panel-default>.panel-heading {
    color: inherit;
    background-color: transparent;
    border: hidden;
    padding: 0;
}
#faqs .panel-default {
    border: hidden;
    box-shadow: none;
}
#faqs h4 {
    font-weight: 300;
    color: #009FDA;
}
