
/*============TEXT==============*/

/*============MISC ELEMENTS==========*/
.closebutton {
         position:absolute;
         top:-8px;
         left:-8px;
         display:none;
}
#helpbutton {
         float:left;
}
.closebutton:hover {
         cursor:pointer;
}
#helpbutton:hover {
         cursor:pointer;
}
#slider {
         position:absolute;
         right:-359px;
         width:400px;
         z-index:1000;
         height: 146px;
         background-color: #fff;
         display:block;
         margin-top:15px;
         -moz-box-shadow: 0 0 20px 2px #777;
         -webkit-box-shadow: 0 0 20px 2px #777;
         box-shadow: 0 0 20px 2px #777;       
}
 
#slidercontainer {
         font-family:Helvetica, Arial, sans-serif;
	 color: #004566;
         font-size:16px;
         /*overflow-x: hidden;*/
         position:fixed;
         height:200px;
         top:200px;
         right: 0;
         z-index: 9999;
}
#slidercontainer .qnumber {
         position:absolute;
         font-size:12px;
         left:60px;
         top:125px;
}

#startagain {
	color:#157EAE;
        font-weight: bolder;
}
#startagain:hover{
        cursor:pointer;
	color:#1da9e5;
}
#clearselect{
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#f88300;
	padding:4px 18px;
         width: 100px;
         margin-left: -135px;
         display: none;
         position: fixed; 
         margin: auto;
         width: 100%; 
         top: 0;
         text-align: center;
         -moz-box-shadow: 0 0 20px 2px #777;
         -webkit-box-shadow: 0 0 20px 2px #777;
         box-shadow: 0 0 20px 2px #777;
         font-size: 24px;
}
#clearselect:hover{
         cursor:pointer;
}


/*============QUESTIONS==========*/
#slidercontainer .question {
         position: relative;
         display:none
}

#slidercontainer .question_text {
         width:320px;
         float:left;
         padding: 10px 0 0 10px;
         font-family:Helvetica,Arial, sans-serif;
         font-size:16px;
         font-weight: bolder;
}

/*============YES/NO BOXES==========*/

.real_check{
    
}

#slidercontainer .check_yes{          
          padding: 7px 10px 4px 10px;
          margin:10px;
          float: left;
          background-color:#1893CC;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;

}
#slidercontainer .check_no{
          padding: 7px 10px 4px 10px;
          margin:10px 0;
          float: left;
          background-color:#1893CC;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
}
#slidercontainer .yesno_container{      
          float:left;
		  /*position:absolute;
          left:50px;
          top:45px;*/
          width:180px;
		  color:#000000;
		  margin-left: 10px;
}




/*============ BACK / NEXT ==========*/

#slidercontainer #back{
          height:25px;
          /*width:60px;*/
          position:absolute;
          bottom:8px;
          right:80px;
          text-align:center;
          line-height:25px;
          /*background-color:#1993cb;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;*/
		  color:#157EAE;
		  font-size:13px;
}
#slidercontainer #next{
          height:25px;
          width:60px;
          position:absolute;
          bottom:8px;
          right:10px;
          text-align:center;
          line-height:25px;
          background-color:#1993cb;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
}
#slidercontainer #next:hover{
          cursor:pointer;
		  background-color:#1da9e5;
}
#slidercontainer #back:hover{
          cursor:pointer;
		  color:#1da9e5;
}

/*============ PACKAGE RECOMMENDATION ==========*/

#package_title {   
          float:left;
          padding: 8px 0 0px 10px;
          width:620px;
}
#package_name {
          color: #f88300;
          text-shadow: 1px 1px 1px #C1D9E5;
          font-size:19px;
          font-weight: bolder;
}
#package_text {
          width:720px;
          float:left;
          padding: 0 10px 10px 0px;
          font-size:15px;
}
#package_price {
          color: #726C5E;
          font-weight: bold;
          font-size:13px;
}

#slidercontainer #back{
          height:25px;
          /*width:60px;*/
          position:absolute;
          bottom:8px;
          right:80px;
          text-align:center;
          line-height:25px;
          /*background-color:#1993cb;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;*/
		  color:#157EAE;
		  font-size:13px;
}

#buy_now{ 
          position:absolute;
          height:25px;
          width:110px;
          bottom:8px;
          right:130px;
          text-align:center;
          line-height:25px;
          background-color:#f78300;
          border-radius: 10px;
          font-weight: bolder;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
		  color:#fff;
}
#buy_now:hover {
		cursor:pointer;
}
#package_value{
}
#package_price{
          float:left;
          padding:0 5px;
}
#package_saving{
}

.check_yes span,  .check_no span {
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    line-height: 18px;
    height: 18px;
    
}

.help-to-choose:hover{
    cursor:pointer;
}

.openContainer {
    width: 430px;
}

.closeContainer {
    width: 55px;
}

#slidercontainer input {
    line-height: 13px;
    float:left;
}

#package_text ul{
    padding: 0;
    margin: 0;
    margin-top:11px;
    
}

#package_text ul li{
    font-size: 13px;
    padding-bottom: 3px;
    margin-left: 25px;
}

#slidercontainer #next span {
    font-weight: bolder;
}

#package_text ul li b {
    font-size: 14px;
}


