{extends '../@autoRenewalLayout.latte'}

{block content}
    <p>
        Hello {$customer->getFirstName()},
    </p>

    <p>
        We just wanted to remind you that the following services will automatically renew
        on {$earliestServiceExpiryDate|datetime}.<br>
        <strong>No action is required on your part.</strong>
    </p>

    <table style="width: 60%;margin: 0;padding: 0;border-spacing: 0;border-collapse: collapse;font-size: 1em;">
        {foreach $renewalData->getCompanies() as $companyId => $companyData}
            {var $company = $companyData['entity']}
            {var $services = $companyData['services']}
            <tr>
                <td colspan="5" style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 1.2em;font-weight: bold;background: #f7f7f7;">
                    {$company->getCompanyName()}
                </td>
            </tr>
            <tr>
                <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;">
                    SERVICE
                </td>
                <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;">
                    STATUS
                </td>
                <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;font-size: 0.8em;font-weight: bold;text-align: center;">
                    EXPIRES ON
                </td>
            </tr>
            {foreach $services as $service}
                <tr>
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;">
                        {$service->getServiceName()}
                    </td>
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;">
                        Due in {$service->getDaysToExpire()} days
                    </td>
                    <td style="border-spacing: 0;border: 1px solid #ccc;padding: 10px;text-align: center;">
                        {$service->getDtExpires()|datetime}
                    </td>
                </tr>
            {/foreach}
        {/foreach}
    </table>

    <p>
        Payment method to be used: <strong>{$token->getCardTypeText()} card ending in {$token->getCardNumber()}.</strong>
    </p>

    <p>
        If you do not wish to renew your subscription you can cancel it by going to <a href="{link MyServicesControler::PAGE_SERVICES}">My Services</a> and disabling the auto-renew option.
    </p>
{/block}
