{include file="@header.tpl"}
<noscript>
<h2>Javascript is not enablesd</h2>
   <meta http-equiv="refresh" content="0; URL={$this->router->link("BasketControler::PAGE_SUMMARY")}">
</noscript>
{include file="@footer.tpl"}
