{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    {% if form.parent %}<label id="{{ id }}-error" for="{{ id }}" class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
    <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {% if form.parent %}</label>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block widget_attributes -%}
    {% if errors|length > 0 -%}
        {% set attr = attr|merge({'aria-describedby': (id ~ '-error')|trim}) %}
    {%- endif %}
    {{- parent() -}}
{%- endblock widget_attributes %}