{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{# Widgets #}

{# Labels #}

{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
    {% set label_attr = label_attr|merge({'for': id}) %}
    {%- endif %}
    {% if required -%}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {%- endif %}
    {% if label is empty -%}
    {%- if label_format is not empty -%}
        {% set label = label_format|replace({
        '%name%': name,
        '%id%': id,
        }) %}
    {%- else -%}
        {% set label = name|humanize %}
    {%- endif -%}
{%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}{%if required -%}<span class="red">*</span>{%- endif %}</label>
    {%- endif %}
{%- endblock form_label %}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    {% if form.parent %}<label id="{{ id }}-error" for="{{ id }}" class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
    <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {% if form.parent %}</label>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block widget_attributes -%}
    {% if errors|length > 0 -%}
        {% set attr = attr|merge({'aria-describedby': (id ~ '-error')|trim}) %}
    {%- endif %}
    {{- parent() -}}
{%- endblock widget_attributes %}
